﻿@model ViolationForm

@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.PermitId)
@Html.HiddenFor(m => m.FileNumber)

<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 175px; text-align: right;">Violation Type</span>
    @Html.DropDownListFor(model => model.ViolationTypeId, new SelectList(ViewBag.ConditionTypes, "Id", "Description"), "Select")<span style="margin-left: 32px;">*</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 175px; text-align: right;">Violation Date</span>
    @Html.DatePickerFor(model => model.ViolationDate, new { style = "width: 50px;" })<span style="margin-left: 32px;">*</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 175px; text-align: right; vertical-align: top;">Description</span>
    @Html.TextAreaFor(model => model.Description, new { style="width: 300px; height: 75px;" } )
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 175px; text-align: right; vertical-align: top;">Comments</span>
    @Html.TextAreaFor(model => model.Status, new { style="width: 300px; height: 75px;" } )
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 175px; text-align: right;">Case Resolved</span>
    @Html.CheckBoxFor(model => model.Resolved, new { id = "Resolved", name="Resolved", @class="yesNo" })
</div>
<div id="DateResolvedDiv">
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 175px; text-align: right;">Date Resolved</span>
        @Html.DatePickerFor(form => form.ResolutionDate, new { style = "width: 50px;" })
    </div>
</div>
<div>
    @Html.ValidationSummary("", new { style="margin-left:175px;position:relative;"})
</div>

<div style="float:right">
    @if (Model == null)
    {
        <button id="Add">Create</button>
    }
    else
    {
        <button id="Save">Save</button>
    }
    <button class="cancel">Cancel</button>
</div>

<script>
    $(function() {
        @if (Model != null)
        {
            if (Model.Resolved)
            {
                <text>
        $('#DateResolvedDiv').show();
                </text>
            }
            else
            {
                <text>
        $('#DateResolvedDiv').hide();
                </text>
            }
        }
        else
        {
            <text>
        $('#DateResolvedDiv').hide();
            </text>
        }
        
        $('#Resolved').change(function () {
            if ($(this).is(':checked')) {
                $('#DateResolvedDiv').show();
            } else {
                $('#DateResolvedDiv').hide();
                $('#ResolutionDate').val('');
            }
        });
        
        $('.date').attr("readonly", false).mask("99/99/9999");
        $('.date').datepicker({
            changeMonth: true,
            changeYear: true
        });
        if ($('#Id').val() === '0') {
            $("#ViolationDate").datepicker('setDate', new Date());
        }
        
        $('.cancel').click(function() {
            $(this).closest('.ui-dialog-content').dialog("close");
        });

        $('#Save').click(function() {

            var data = loadData();

            $.ajax({
                url: '@Url.Action(MVC.Permitting.Enforcement.EditViolation())',
                type: 'POST',
                data: JSON.stringify(data),
                cache: false,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                error: function(jqXhr, textStatus, errorThrown) {
                    HandleError(errorThrown);
                },
                success: function(result) {
                    var container = $("div[data-valmsg-summary=true]"),
                        list = container.find("ul");

                    if (list && list.length) list.empty();

                    if (!result.IsSuccess) {
                        for (var i = 0; i < result.Errors.length; i++) {
                            HandleError(result.Errors[i]);
                        }
                    } else {
                        $("input[id=Id]").closest('.ui-dialog-content').dialog("close");
                        $("#violationResults").trigger("reloadGrid");
                    }
                }
            });
        });

        $('#Add').click(function () {

            var data = loadData();
            data.Active = true;

            $.ajax({
                url: '@Url.Action(MVC.Permitting.Enforcement.CreateViolation())',
                type: 'POST',
                data: JSON.stringify(data),
                cache: false,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                error: function(jqXhr, textStatus, errorThrown) {
                    alert(errorThrown);
                },
                success: function(result) {
                    var container = $("div[data-valmsg-summary=true]"),
                        list = container.find("ul");

                    if (list && list.length) list.empty();

                    if (!result.IsSuccess) {
                        for (var i = 0; i < result.Errors.length; i++) {
                            HandleError(result.Errors[i]);
                        }
                    } else {
                        $("input[id=Id]").closest('.ui-dialog-content').dialog("close");
                        $("#violationResults").trigger("reloadGrid");
                    }
                }
            });
        });
    });
    
    // Load model data from the form
    function loadData() {
        var data = {
            Id: $('#Id').val(),
            PermitId: $('#PermitId').val(),
            FileNumber: $('#FileNumber').val(),
            Description: $('#Description').val(),
            ViolationTypeId: $('#ViolationTypeId').val(),
            ViolationDate: $('#ViolationDate').val(),
            Status: $('#Status').val(),
            Resolved: $('#Resolved').is(':checked'),
            ResolutionDate: $('#ResolutionDate').val()
        };
        return data;
    }

    // Handle server error
    function HandleError(err) {
        var container = $("div[data-valmsg-summary=true]"),
            list = container.find("ul");

        if (list && list.length) {
            container.addClass("validation-summary-errors").removeClass("validation-summary-valid");
            $("<li />").html(err).appendTo(list);
        }
    }
    
</script>