﻿@model PenaltyForm

@Html.HiddenFor(m => m.Id)

@{
    object amount;
    if (Model.Amount != null)
    {
        amount = Model.Amount;
        amount = Math.Round((decimal)amount, 2);
    }
    else
    {
        amount = "0.00";
    }    
}

<style>
    #ProductId {
        width: 300px;
    }
</style>

<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 220px;">@Html.LabelFor(form => form.ProductId)</span>
    @Html.DropDownListFor(form => form.ProductId, Model.ProductList)<span style="margin-left: 32px;">*</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 220px;">@Html.LabelFor(form => form.Amount)</span>
    <span id="ovverrideFeeDiv" style="display: inline-block;">
        <input type="text" id="overrideAmount" value="@amount" /><span style="margin-left: 32px;">*</span>
    </span>
</div>
<div class="divVerticalBottomSpacer">
    <div class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 220px;">@Html.LabelFor(form => form.ViolationIds)</div>
    <div id="violationsDiv" class="spanRightInlineBlock" style="vertical-align: middle;">
        @if (ViewBag.PermitViolations.Count > 0)
        {
            foreach (var violation in ViewBag.PermitViolations)
            {
                var sChecked = String.Empty;
                if (Model != null && Model.ViolationIds != null)
                {
                    foreach (var id in Model.ViolationIds)
                    {
                        if (id == violation.Id)
                        {
                            sChecked = "checked";
                            break;
                        }
                        sChecked = String.Empty;
                    }
                }
            <div>
                <input type="checkbox" data-violationid="@violation.Id" id="violation_@violation.Id" @sChecked/>
                <label for="violation_@violation.Id" style="font-weight: normal;">@violation.FileNumber</label>
            </div>
            }
        }
        else
        {
            <div>No unresolved violations found</div>
        }
    </div>
</div>
<div>
    @Html.ValidationSummary("", new { style = "margin-left:175px; position:relative;" })
</div>

<div style="float: right">
    @if (Model.Id == 0)
    {
        <button id="Add">Create</button>
    }
    else
    {
        <button id="Save">Save</button>
    }
    <button class="cancel">Cancel</button>
</div>
<script>
    $.requireScript('@Url.Content("~/Scripts/jquery.maskMoney.js")');
    $(function () {
        $('#violationsDiv input[type=checkbox]').checkbox();

        $('.cancel').click(function () {
            $(this).closest('.ui-dialog-content').dialog("close");
        });
        
        $("#ProductId").change(function () {
            $('#overrideAmount').val($(this).find("option[value='" + $(this).val() + "']").attr('data-amount')).maskMoney('mask');
        });

        $('#Save').click(function () {
            var data = loadActionData();

            $.ajax({
                url: '@Url.Action(MVC.Permitting.Enforcement.EditPenalty())',
                type: 'POST',
                data: JSON.stringify(data),
                cache: false,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                error: function (jqXhr, textStatus, errorThrown) {
                    HandleError(errorThrown);
                },
                success: function (result) {
                    var container = $("div[data-valmsg-summary=true]"),
                        list = container.find("ul");

                    if (list && list.length) list.empty();

                    if (!result.IsSuccess) {
                        for (var i = 0; i < result.Errors.length; i++) {
                            HandleError(result.Errors[i]);
                        }
                    } else {
                        $("input[id=Id]").closest('.ui-dialog-content').dialog("close");
                        $("#penaltyResults").trigger("reloadGrid");
                    }
                }
            });
        });

        $('#Add').click(function () {
            var data = loadActionData();

            $.ajax({
                url: '@Url.Action(MVC.Permitting.Enforcement.CreatePenalty())',
                type: 'POST',
                data: JSON.stringify(data),
                cache: false,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                error: function (jqXhr, textStatus, errorThrown) {
                    alert(errorThrown);
                },
                success: function (result) {
                    var container = $("div[data-valmsg-summary=true]"),
                        list = container.find("ul");

                    if (list && list.length) list.empty();

                    if (!result.IsSuccess) {
                        for (var i = 0; i < result.Errors.length; i++) {
                            HandleError(result.Errors[i]);
                        }
                    } else {
                        $("input[id=Id]").closest('.ui-dialog-content').dialog("close");
                        $("#penaltyResults").trigger("reloadGrid");
                    }
                }
            });
        });
    });

    // Load model data from the form
    function loadActionData() {
        var violations = [];

        $('#violationsDiv input[type=checkbox]:checked').each(function () {
            violations.push($(this).attr('data-violationid'));
        });

        var data = {
            Id: $('#Id').val(),
            ProductId: $('#ProductId').val(),
            Amount: $('#overrideAmount').val(),
            PermitId: $('#PermitId').val(),
            ViolationIds: violations
        };

        return data;
    }

    // Handle server error
    function HandleError(err) {
        var container = $("div[data-valmsg-summary=true]"),
            list = container.find("ul");

        if (list && list.length) {
            container.addClass("validation-summary-errors").removeClass("validation-summary-valid");
            $("<li />").html(err).appendTo(list);
        }
    }
</script>