﻿@model EnforcementForm

@Html.HiddenFor(m => m.Id)

<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px; text-align: right;">Action</span>
    @Html.DropDownListFor(model => model.EnforcementActionId, new SelectList(ViewBag.ActionTypes, "Id", "Description"), "Select")<span style="margin-left: 32px;">*</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px; text-align: right;">Action Date</span>
    @Html.DatePickerFor(model => model.ActionDate, new { style = "width: 50px;" })
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px; text-align: right; vertical-align: top;">Comments</span>
    @Html.TextAreaFor(model => model.Comments, new { id = "EnforcementComments", style = "width: 300px; height: 75px;" })
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px; text-align: right;">Response Required</span>
    @Html.CheckBoxFor(model => model.ResponseRequired, new { @class = "yesNo" })
</div>
<div id="ResponseDatesDiv" style="@(Model.ResponseRequired ? null : "display: none;")">
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px; text-align: right;">Response Due Date</span>
        @Html.DatePickerFor(model => model.ResponseDueDate, new { style = "width: 50px;" })
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px; text-align: right;">Response Received Date</span>
        @Html.DatePickerFor(model => model.ResponseReceivedDate, new { style = "width: 50px;" })
    </div>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px;">Assigned To</span>
    @Html.DropDownListFor(model => model.ContactId, new SelectList(ViewBag.Contacts, "ContactId", "Name"), "Select")<span style="margin-left: 32px;">*</span>
</div>
<div class="divVerticalBottomSpacer">
    <div class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px;">Select Applicable Violations</div>
    <div id="violationsDiv" class="spanRightInlineBlock" style="vertical-align: middle;">
        @if (ViewBag.PermitViolations.Count > 0)
        {
            foreach (var violation in ViewBag.PermitViolations)
            {
                var sChecked = String.Empty;
                if (Model != null && Model.ViolationIds != null)
                {
                    foreach (var id in Model.ViolationIds)
                    {
                        if (id == violation.Id)
                        {
                            sChecked = "checked";
                            break;
                        }
                        sChecked = String.Empty;
                    }
                }
            <div>
                <input type="checkbox" data-violationid="@violation.Id" id="violation_@violation.Id" @sChecked/>
                <label for="violation_@violation.Id" style="font-weight: normal;">@violation.FileNumber</label>
            </div>
            }
        }
        else
        {
            <div>No unresolved violations found</div>
        }
    </div>
</div>
<div>
    @Html.ValidationSummary("", new { style = "margin-left:175px;position:relative;" })
</div>

<div style="float: right">
    @if (Model.Id == 0)
    {
        <button id="Add">Create</button>
    }
    else
    {
        <button id="Save">Save</button>
    }
    <button class="cancel">Cancel</button>
</div>

<script>
    $(function () {
        $('#ContactId').val('@Model.ContactId');

        $('.date').attr("readonly", false).mask("99/99/9999");
        $('.date').datepicker({
            changeMonth: true,
            changeYear: true
        });

        $('#violationsDiv input[type=checkbox]').checkbox();

        $('.cancel').click(function () {
            $(this).closest('.ui-dialog-content').dialog("close");
        });

        $('#ResponseRequired').change(function () {
            if ($(this).is(':checked')) {
                $('#ResponseDatesDiv').show();
            } else {
                $('#ResponseDatesDiv').hide();
                $('#ResponseDueDate').val('');
                $('#ResponseReceivedDate').val('');
            }
        });

        $('#Save').click(function () {
            var data = loadActionData();

            $.ajax({
                url: '@Url.Action(MVC.Permitting.Enforcement.EditEnforcementAction())',
                type: 'POST',
                data: JSON.stringify(data),
                cache: false,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                error: function (jqXhr, textStatus, errorThrown) {
                    HandleError(errorThrown);
                },
                success: function (result) {
                    var container = $("div[data-valmsg-summary=true]"),
                        list = container.find("ul");

                    if (list && list.length) list.empty();

                    if (!result.IsSuccess) {
                        for (var i = 0; i < result.Errors.length; i++) {
                            HandleError(result.Errors[i]);
                        }
                    } else {
                        $("input[id=Id]").closest('.ui-dialog-content').dialog("close");
                        $("#enforcementActionsResults").trigger("reloadGrid");
                    }
                }
            });
        });

        $('#Add').click(function () {
            var data = loadActionData();

            $.ajax({
                url: '@Url.Action(MVC.Permitting.Enforcement.CreateEnforcementAction())',
                type: 'POST',
                data: JSON.stringify(data),
                cache: false,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                error: function (jqXhr, textStatus, errorThrown) {
                    alert(errorThrown);
                },
                success: function (result) {
                    var container = $("div[data-valmsg-summary=true]"),
                        list = container.find("ul");

                    if (list && list.length) list.empty();

                    if (!result.IsSuccess) {
                        for (var i = 0; i < result.Errors.length; i++) {
                            HandleError(result.Errors[i]);
                        }
                    } else {
                        $("input[id=Id]").closest('.ui-dialog-content').dialog("close");
                        $("#enforcementActionsResults").trigger("reloadGrid");
                    }
                }
            });
        });
    });

    // Load model data from the form
    function loadActionData() {
        var violations = [];

        $('#violationsDiv input[type=checkbox]:checked').each(function () {
            violations.push($(this).attr('data-violationid'));
        });

        var data = {
            Id: $('#Id').val(),
            EnforcementActionId: $('#EnforcementActionId').val(),
            Comments: $('#EnforcementComments').val(),
            ActionDate: $('#ActionDate').val(),
            ResponseRequired: $('#ResponseRequired').is(':checked'),
            ResponseDueDate: $('#ResponseDueDate').val(),
            ResponseReceivedDate: $('#ResponseReceivedDate').val(),
            ContactId: $('#ContactId').val(),
            ViolationIds: violations
        };

        return data;
    }

    // Handle server error
    function HandleError(err) {
        var container = $("div[data-valmsg-summary=true]"),
            list = container.find("ul");

        if (list && list.length) {
            container.addClass("validation-summary-errors").removeClass("validation-summary-valid");
            $("<li />").html(err).appendTo(list);
        }
    }

</script>
