﻿@{
    ViewBag.Title = "Assign Project Manager to Counties";
}
@using MDGov.MDE.WSIPS.Portal.InternalWeb.Areas.Administration.Models
@model List<ListProjectManager>
@helper ProjectManagersDropdown(string elemName, int countyId)
{
    var selected = "";
    <select name="@elemName">
        <option value="">Select</option>
        @foreach (var manager in ViewData.Model)
        {
            selected = (manager.Counties.Contains(countyId)) ? "selected=\"selected\"" : string.Empty;
            <option value="@manager.ProjectManagerId" @selected>@manager.Name</option>                 
        }
    </select>
}
<h2>Assign Project Managers to Counties</h2>

@section featured {
}

@section sectionSpecificLink {
}

<style>
    .left
    {
        float: left;
    }

    .right
    {
        float: right;
        margin-right: 30px;
        margin-bottom: 5px;
    }
</style>
<div class="renderbodyRight scrollcontainer" style="left: 0;">
    <h3>Assign Project Manager to Counties</h3>

    <div class="divVerticalBottomSpacerDouble" style="left: 0; right: 0; top: 0; bottom: 0">
        Select the default project manager for each County. Only users assigned a role of project manager and which have an assigned Supervisor will appear in the drop down lists.
    </div>

    <div style="display: table; margin: 20px auto 0px auto">
        @Html.ValidationSummary(false)

        @{var count = 0;}
        <div class="left">
            @foreach (var county in ViewBag.Counties)
            {
                if (count <= 11)
                {
                <div style="padding-bottom:5px;">
                    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 170px!important;">
                        @county.Description
                    </span>
                    <span style="" id="@county.Id">
                        @ProjectManagersDropdown("projectManager", county.Id)
                    </span>
                </div>
                }
                count++;
            }
        </div>

        @{ count = 0;}
        <div class="right">
            @foreach (var county in ViewBag.Counties)
            {
                if (count > 11)
                {
                <div style="padding-bottom:5px;">
                    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 170px!important;">
                        @county.Description
                    </span>
                    <span style="" id="@county.Id">
                        @ProjectManagersDropdown("projectManager", county.Id)
                    </span>
                </div>
                }
                count++;
            }
        </div>

        <div style="text-align: center; clear: both; padding-top: 10px;">
            <button type="submit" id="submit" value="Save" class="button Save">Save</button>
            <button type="button" id="cancel" value="Cancel" class="button Cancel">Cancel</button>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/ViewScripts/Administration/UserPermissions.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#submit").click(function () {
                Save();
            });
            $("#cancel").click(function () {
                history.back();
            });

            //set scrollwidth to 100%
            $.jmttgCustomBrowser.setRenderbodyRightScrollWrap100Percent();
        });

        function localResize() {
            //set scrollwidth to 100%
            $.jmttgCustomBrowser.setRenderbodyRightScrollWrap100Percent();
        }
        function Save(result) {
            var data = [],
                redirect = '@Url.Action(MVC.Home.Index())';

            var valid = true;
            $('select[name=projectManager]').each(function (index) {
                if ($(this).val() == "") {
                    valid = false;
                }
                else {
                    data.push({
                        ProjectManagerId: $(this).val(),
                        CountyId: $(this).parent().attr('id')
                    });
                }
            });

            if (!valid) {
                alert("Please assign a project manager to every county before proceeding");
                return;
            }

            $.ajax({
                url: '@Url.Action(MVC.Administration.Users.AssignToCounty())',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status != 200) {
                        var container = $("div[data-valmsg-summary=true]"),
                            list = container.find("ul");

                        if (list && list.length) {
                            list.empty();
                            container.addClass("validation-summary-errors").removeClass("validation-summary-valid");
                            $("<li />").html("An error occurred while processing your request.").appendTo(list);
                        }
                    } else {
                        location.pathname = redirect;
                    }
                },
                success: function () {
                    location.pathname = redirect;
                }
            });
        }

    </script>
}
