﻿@{
    ViewBag.Title = "Assign Staff to Supervisors";
}

<h2>Assign Staff to Supervisors</h2>

@section featured {
}

@section sectionSpecificLink {
}

<div class="renderbodyRight scrollcontainer" style="left:0;">
    <div style="margin-left:30px;">
       <h3>Assign Staff to Supervisors</h3>

        @Html.ValidationSummary(false)

        @using (Ajax.BeginForm(MVC.Administration.Users.AssignToSupervisor(), new AjaxOptions { OnSuccess = "onSuccess" }, new { id = "formAssignStaff", @class = "form" }))
        {
        <div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">Role:</span>
                @Html.DropDownList("role", new SelectList(ViewBag.SupervisorRoles, Model, Model), new { @autocomplete = "off" })
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">Assign To:</span>
                @Html.DropDownList("assignTo", new SelectList(ViewBag.DivisionChiefs, "ContactId", "Name"), new { @autocomplete = "off" })
            </div>
            <div style="display:table;margin:0px auto;">
                <table style="margin:0px auto">
                    <tr>
                        <td>
                            Available<br />
                            <select name="available" id="available" size="10" style="width:300px;" multiple="multiple"></select>
                        </td>
                        <td>
                            <button type="button" id="btnAssign" style="margin-left:0px!important"> &raquo; </button><br /><br />
                            <button type="button" id="btnUnassign" style="margin-left:0px!important"> &laquo; </button>
                        </td>
                        <td>
                            Assigned<br />
                            <select name="assigned" id="assigned" size="10" style="width:300px;" multiple="multiple"></select>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="text-align:center" class="divVerticalTopSpacer">
                <button type="submit" id="submit" value="Save" class="button Save">Save</button><button type="button" id="cancel" value="Cancel" class="button Cancel">Cancel</button>
            </div>
        
        </div>
        }
    </div>
</div>

@section scripts { 
    <script type="text/javascript">

        function localResize() {
            //set scrollwidth to 100%
            $.jmttgCustomBrowser.setRenderbodyRightScrollWrap100Percent();
        }
        
        function onSuccess(result) {
            if (result.IsSuccess) {
                alert("Assignment complete");
            } else {
                alert("Errors saving assignments");
            }
        }

        $(function ($) {

            //set scrollwidth to 100%
            $.jmttgCustomBrowser.setRenderbodyRightScrollWrap100Percent();

            // On load
            var role = $('#role').val(),
                id = $('#assignTo').val();
            LoadStaff(role);
            LoadAvailable(role, id);
            LoadAssigned(role, id);

            // Step 1
            $('#role').change(function () {
                var role = $(this).val();
                LoadStaff(role);

                var id = $('#assignTo').val();
                LoadAvailable(role, id);
                LoadAssigned(role, id);
            });

            // Step 2
            $('#assignTo').change(function () {
                var role = $('#role').val(),
                    id = $(this).val();
                LoadAvailable(role, id);
                LoadAssigned(role, id);
            });

            // On form submit
            $('#formAssignStaff').submit(function () {
                var available = $(this).data('#available'),
                    assigned = $(this).data('#assigned');
                $('#' + available + ' option').attr('selected', 'selected');
                $('#' + assigned + ' option').attr('selected', 'selected');
            });

            // Buttons for moving items between two selects
            $('#btnAssign').click(function () {
                return !$('#available option:selected').remove().appendTo('#assigned')
            });
            $('#btnUnassign').click(function () {
                return !$('#assigned option:selected').remove().appendTo('#available')
            });

            $("#cancel").click(function () {
                history.back();
            });

            // Select both available and assigned values so they carry over to controller for processing
            $("#formAssignStaff").submit(function (e) {
                $("#available option").each(function () {
                    $(this).attr('selected', true);
                });
                $("#assigned option").each(function () {
                    $(this).attr('selected', true);
                });
            });
        });
        
        function LoadStaff(role) {
            $.ajax({
                url: '@Url.Action(MVC.Administration.Users.GetStaffForRoleData())?role=' + role,
                type: 'GET',
                cache: false,
                ajax: false,
                error: function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status != 200) {
                        HandleError();
                    }
                },
                success: function (data) {
                    $('#assignTo').empty();
                    for (var i = 0, len = data.length; i < len; i++) {
                        $('#assignTo')
                            .append($("<option></option>")
                            .attr("value", data[i].ContactId)
                            .text(data[i].Name));
                    }

                    $("#assignTo").val(0).change();
                }
            });
        }

        function LoadAvailable(role, id) {
            if (id == null) {
                $("#available").empty();
                return;
            }
            $.ajax({
                url: '@Url.Action(MVC.Administration.Users.GetAvailableStaff())?role=' + role + '&id=' + id,
                type: 'GET',
                cache: false,
                ajax: false,
                error: function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status != 200) {
                        HandleError();
                    }
                },
                success: function (data) {
                    $("#available").empty();
                    for (var i = 0, len = data.length; i < len; i++) {
                        $('#available')
                            .append($("<option></option>")
                            .attr("value", data[i].ContactId)
                            .text(data[i].Name));
                    }
                }
            });
        }

        function LoadAssigned(role, id) {
            if (id == null) {
                $("#available").empty();
                return;
            }
            $.ajax({
                url: '@Url.Action(MVC.Administration.Users.GetAssignedStaff())?role=' + role + '&id=' + id,
                type: 'GET',
                cache: false,
                ajax: false,
                error: function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status != 200) {
                        HandleError();
                    }
                },
                success: function (data) {
                    $("#assigned").empty();
                    for (var i = 0, len = data.length; i < len; i++) {
                        $('#assigned')
                            .append($("<option></option>")
                            .attr("value", data[i].ContactId)
                            .text(data[i].Name));
                    }
                }
            });
        }

        function HandleError() {
            var container = $("div[data-valmsg-summary=true]"),
                list = container.find("ul");

            if (list && list.length) {
                list.empty();
                container.addClass("validation-summary-errors").removeClass("validation-summary-valid");
                $("<li />").html("An error occurred while processing your request.").appendTo(list);
            }
        }

    </script>
}
