﻿@{
    ViewBag.Title = "Create External User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create External User</h2>

@section sectionSpecificLink {
    @Html.Partial(MVC.Administration.Shared.Views._BackToSearchLink)
}
<div class="renderbodyLeft">
    @Html.Partial(MVC.Administration.Shared.Views._CreateUserLinks)
</div>
<div class="renderbodyRight scrollcontainer">
    <h3>Create External Authority</h3>
    <div style="display: table; margin: 0px auto;">
        @using (Html.BeginForm(MVC.Administration.Users.CreateExternal(), FormMethod.Post, new { id = "formCreateExternal", @class = "form" }))
        {
            <div>
                <div style="display: none">
                    <input name="userRoles" type="checkbox" value="@ViewBag.ExternalAuthorityRole" checked="checked" />
                </div>
                @Html.Partial(MVC.Administration.Shared.Views._CreateOrEditExternal)
            </div>
            <div class="divVerticalTopSpacerDouble" style="text-align: center">
                <button type="submit" value="Create" class="button Create">Create</button>
                <button type="button" id="cancel" value="Cancel" class="button Cancel">Cancel</button>
            </div>
        }
    </div>
</div>
@section scripts {
    <script type="text/javascript" src="~/Scripts/CustomValidation.js"></script>
    <script type="text/javascript" src="~/Scripts/ViewScripts/Administration/ExternalUserValidation.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.maskedinput-1.3.1.js"></script>
    <script type="text/javascript">
        $(function ($) {
            $("#DaytimePhone").mask("999-999-9999");
            $("form").data("validator").settings.ignore = "";
            $('#cancel').click(function () {
                location.pathname = '@Url.Action(@MVC.Administration.Users.Index())';
            });

            //set active link in renderbodyLeft
            setActiveLink("external");

            $('#UserTypeId').change(function () {
                if ($(this).val() == 9) {
                    $('#countyOuter').show();
                }
                else {
                    $('#countyOuter').hide();
                }
            });

            //set scrollwrap to 100% width
            $.jmttgCustomBrowser.setRenderbodyRightScrollWrap100Percent();
        });

        function localResize() {
            //reset size of the scrolling area on right
            $.jmttgCustomBrowser.setRenderbodyRightScrollWrap100Percent();
        }
    </script>
}