﻿@using MDGov.MDE.WSIPS.Portal.InternalWeb.Areas.Administration.Models
@model InternalContact
@{
    ViewBag.Title = "Create Internal User";
}

<style>
    /*make inputs smaller than normal*/
    .renderbodyRight input[type="text"]
    {
        width: 200px;
    }
</style>

@section featured {
}

@section sectionSpecificLink {
    @{Html.RenderPartial("_BackToSearchLink");}
}

<div class="renderbodyLeft scrollcontainer">
    @{Html.RenderPartial("_LastLoggedInLeftNav");}

    <div>
        <h2>Team Assignments</h2>
        <a href="@Url.Action(MVC.Administration.Users.AssignToSupervisor())">Edit Team Assignments</a>
    </div>

    <div>
        <h2>County Assignments</h2>
        <a href="@Url.Action(MVC.Administration.Users.AssignToCounty())">Edit County Assignments</a>
    </div>

</div>

<div class="renderbodyRight scrollcontainer">
    @using (Html.BeginForm(MVC.Administration.Users.CreateInternal(), FormMethod.Post, new { @id = "formCreateInternal", @class = "form" }))
    {
        <div style="margin: 0px auto; display: table;">
            <div class="internalUserInformation columnPaddingRight" style="vertical-align: top">
                <h3 style="margin-left: 103px">Create Internal User</h3>
                <div>
                    @Html.HiddenFor(model => model.ContactId)
                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model => model.UserName)
                    @{Html.RenderPartial("_CreateOrEditInternal");}
                </div>
            </div>

            @{Html.RenderPartial(MVC.Administration.Shared.Views._UserPermissions);}

            <div class="divVerticalTopSpacer" style="text-align: center">
                <button type="submit" value="Create" class="button Create">Create</button>
                <button type="button" value="Cancel" id="cancel" class="button Cancel">Cancel</button>
            </div>
        </div>
    }
</div>

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/ViewScripts/Administration/UserPermissions.js")"></script>
    <script type="text/javascript">
        $(function () {
            $("form").data("validator").settings.ignore = "";
            $('#cancel').click(function () {
                location.pathname = '@Url.Action(@MVC.Administration.Users.Index())';
            });

            //set scrollwrap to 100% width
            $.jmttgCustomBrowser.setRenderbodyRightScrollWrap100Percent();
        });

        function localResize() {
            //reset size of the scrolling area on right
            $.jmttgCustomBrowser.setRenderbodyRightScrollWrap100Percent();
        }
    </script>
}
