﻿@{
    ViewBag.Title = "Create Public User";
}

<h2>Create Public User</h2>

@section featured {
}

@section sectionSpecificLink {
    @{Html.RenderPartial("_BackToSearchLink");}
}

<div class="renderbodyLeft">

    @{Html.RenderPartial("_CreateUserLinks");}

</div>

<div class="renderbodyRight scrollcontainer">
   <h3>Create Applicant/Permittee</h3>
    <div style="display: table; margin: 0 auto;">
        @using (Html.BeginForm("CreatePublic", "Users", FormMethod.Post, new { @id = "formCreatePublic", @class = "form" }))
        {
            <div>
                <div style="display: none;">
                    <input name="userRoles" type="checkbox" value="@ViewBag.ApplicantRole" checked="checked" /></div>
                @{Html.RenderPartial("_CreateOrEditPublic");}
            </div>
            <div class="divVerticalTopSpacerDouble" style="text-align:center">
                <button type="submit" value="Create" class="button Create">Create</button><button type="button" id="cancel" value="Cancel" class="button Cancel">Cancel</button>
            </div>
    }
    </div>
</div>
@section scripts { 
    <script type="text/javascript" src="~/Scripts/jquery.maskedinput-1.3.1.js"></script>
    <script type="text/javascript">
        $(function ($) {
            $("#DaytimePhone").mask("999-999-9999");
            $("form").data("validator").settings.ignore = "";
            //set active link in renderbodyLeft
            setActiveLink("public");

            //set scrollwrap to 100% width
            $.jmttgCustomBrowser.setRenderbodyRightScrollWrap100Percent();
        });
        $('#cancel').click(function () {
            location.pathname = '@Url.Action(@MVC.Administration.Users.Index())';
        });

        function localResize() {
            //reset size of the scrolling area on right
            $.jmttgCustomBrowser.setRenderbodyRightScrollWrap100Percent();
        }
    </script>
}