﻿@using MDGov.MDE.WSIPS.Portal.InternalWeb.Areas.Administration.Models
@model PublicContact
@{
    ViewBag.Title = "Edit Public";
}

<h2>Edit public</h2>

@section featured {
}

@section sectionSpecificLink {
    @{Html.RenderPartial("_BackToSearchLink");}
}

<div class="renderbodyLeft scrollcontainer">
    @{Html.RenderPartial("_LastLoggedInLeftNav");}
</div>

<div class="renderbodyRight scrollcontainer">
    <h3>Edit Applicant/Permittee</h3><br />

    @using (Html.BeginForm("EditPublic", "Users", FormMethod.Post, new { @id = "formEditPublic", @class = "form" }))
    {
        <div style="display: table; margin: 0px auto;">
            @Html.HiddenFor(model => model.ContactId)
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.UserNameHashCode)
            @Html.HiddenFor(model => model.LastNameHashCode)
            @{Html.RenderPartial("_CreateOrEditPublic");}
            <div class="divVerticalTopSpacerDouble" style="text-align:center">
                <button type="submit" value="Save" class="button Save">Save</button><button type="button" value="Cancel" id="cancel" class="button Cancel">Cancel</button>
            </div>
        </div>

    }

</div>

@section scripts { 
     <script type="text/javascript" src="~/Scripts/jquery.maskedinput-1.3.1.js"></script>
    <script type="text/javascript">
        $(function () {

            $("#DaytimePhone").mask("999-999-9999");

            $('#cancel').click(function () {
                location.pathname = '@Url.Action(@MVC.Administration.Users.Index())';
            });

            //set scrollwrap to 100% width
            $.jmttgCustomBrowser.setRenderbodyRightScrollWrap100Percent();
        });

        function localResize() {
            //reset size of the scrolling area on right
            $.jmttgCustomBrowser.setRenderbodyRightScrollWrap100Percent();
        }
    </script>
}