﻿@using MDGov.MDE.WSIPS.Portal.InternalWeb.Areas.Administration.Models
@model ExternalContact
@{
    ViewBag.Title = "EditExternal";
}

<h2>Edit External</h2>

@section featured {
}

@section sectionSpecificLink {
    @{Html.RenderPartial("_BackToSearchLink");}
}

<div class="renderbodyLeft scrollcontainer">
    @{Html.RenderPartial("_LastLoggedInLeftNav");}
</div>

<div class="renderbodyRight scrollcontainer">
    <h3>Edit External Authority</h3><br />

    @using (Html.BeginForm("EditExternal", "Users", FormMethod.Post, new { @id = "formEditExternal", @class = "form" }))
    {
        <div style="display: table; margin: 0px auto;">
            @Html.HiddenFor(model => model.ContactId)
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.UserNameHashCode)
            @Html.HiddenFor(model => model.LastNameHashCode)
            @{Html.RenderPartial("_CreateOrEditExternal");}
        </div>
        <div class="divVerticalTopSpacerDouble" style="text-align:center">
            <button type="submit" value="Save" class="button Save">Save</button><button type="button" value="Cancel" id="cancel" class="button Cancel">Cancel</button>
        </div>
    }

</div>

@section scripts { 
    <script type="text/javascript" src="~/Scripts/CustomValidation.js"></script>
    <script type="text/javascript" src="~/Scripts/ViewScripts/Administration/ExternalUserValidation.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.maskedinput-1.3.1.js"></script>
    <script type="text/javascript">
        $(function () {

            $("#DaytimePhone").mask("999-999-9999");
            $("form").data("validator").settings.ignore = "";
            $('#cancel').click(function () {
                location.pathname = '@Url.Action(@MVC.Administration.Users.Index())';
            });
            //set scrollwrap to 100% width
            $.jmttgCustomBrowser.setRenderbodyRightScrollWrap100Percent();

        });


        function localResize() {
            //reset size of the scrolling area on right
            $.jmttgCustomBrowser.setRenderbodyRightScrollWrap100Percent();
        }
    </script>
}