﻿@using MDGov.MDE.WSIPS.Portal.InternalWeb.Areas.Administration.Models
@model InternalContact
@{
    ViewBag.Title = "Edit Internal User";
}

<style>
    /*make inputs smaller than normal*/
    .renderbodyRight input[type="text"]
    {
        width: 200px;
    }
</style>
<h2>Edit Internal User</h2>

@section featured {
}

@section sectionSpecificLink {
    @{Html.RenderPartial("_BackToSearchLink");}
}

<div class="renderbodyLeft scrollcontainer">
    @{Html.RenderPartial("_LastLoggedInLeftNav");}

    <div>
        <h2>Team Assignments</h2>
        <a href="@Url.Action(MVC.Administration.Users.AssignToSupervisor())">Edit Team Assignments</a>
    </div>

    <div>
        <h2>County Assignments</h2>
        <a href="@Url.Action(MVC.Administration.Users.AssignToCounty())">Edit County Assignments</a>
    </div>

</div>

<div class="renderbodyRight scrollcontainer">
    @using (Html.BeginForm("EditInternal", "Users", FormMethod.Post, new { @id = "formEditInternal", @class = "form" }))
    {
        <div style="margin-left: auto; margin-right: auto; display: table;">
            <div>
                <div class="internalUserInformation columnPaddingRight" style="vertical-align: top">
                    <h3 style="margin-left: 103px">Edit Internal User</h3>
                    <div>
                        @Html.HiddenFor(model => model.ContactId)
                        @Html.HiddenFor(model => model.UserId)
                        @Html.HiddenFor(model => model.UserName)
                        @Html.HiddenFor(model => model.LastNameHashCode)
                        @{Html.RenderPartial("_CreateOrEditInternal");}
                    </div>
                </div>

                @{Html.RenderPartial(MVC.Administration.Shared.Views._UserPermissions);}

                <div>
                    @Html.ValidationSummary(true)
                </div>
                <div class="divVerticalTopSpacer" style="text-align: center">
                    <button type="submit" value="Save" class="button Save">Save</button>
                    <button type="button" value="Cancel" id="cancel" class="button Cancel">Cancel</button>
                </div>
            </div>
        </div>
    }
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/ViewScripts/Administration/UserPermissions.js"></script>
    <script type="text/javascript">

        $(function () {
            $('#cancel').click(function () {
                location.pathname = '@Url.Action(@MVC.Administration.Users.Index())';
            });
            //set scrollwrap to 100% width
            $.jmttgCustomBrowser.setRenderbodyRightScrollWrap100Percent();

        });
        function localResize() {
            //set scrollwrap to 100% width
            $.jmttgCustomBrowser.setRenderbodyRightScrollWrap100Percent();
        }
    </script>
}