﻿@{
    ViewBag.Title = "Index";
}

@section css {
    @Styles.Render("~/Content/jqgrid")
}

<h2>Index</h2>

@section featured {
}

@{
    var active = "checked=\"checked\"";
    if (ViewBag.SearchActive != null) {
        active = (ViewBag.SearchActive) ? "checked=\"checked\"" : String.Empty;
    }
}

<style>
    .renderbodyLeft input[type="text"] 
    {
    width: 252px;
    }

</style>
<div class="renderbodyLeft">
    <div class="paddedRenderbody ">
        <div class="scrollcontainer" preservescrollbarspace="y">
        <h3>Search for a User</h3>

        @using (Ajax.BeginForm(MVC.Administration.Users.SearchFilter(), new AjaxOptions { OnSuccess = "onSuccess" }, new { id = "SearchForm" }))
        {
            <div class="divVerticalBottomSpacer">
                <input type="text" title="Enter First Name" name="FirstName" id="FirstName" value="@ViewBag.SearchFirstName" />
            </div>
            <div class="divVerticalBottomSpacer">
                <input type="text" title="Enter Last Name" name="LastName" id="LastName" value="@ViewBag.SearchLastName" />
            </div>
            <div class="divVerticalBottomSpacer">
                <input type="text" title="Enter Username" name="UserName" id="UserName" value="@ViewBag.SearchUserName" />
            </div>
    
            <div class="divVerticalBottomSpacer">
                @Html.DropDownList("UserTypeId", new SelectList(ViewBag.MemberTypes, "Id", "Description", ViewBag.SearchUserTypeId), "Select a User Type")
            </div>
            <div class="divVerticalBottomSpacer">
                @Html.DropDownList("UserRole", new SelectList(ViewBag.Roles, ViewBag.SearchRole), "Select a Role", new { title="Select a Role" })
            </div>
            <div class="divVerticalBottomSpacerDouble">
                <span class="spanSetWidthAlignRightPadded">Active?</span>
                <input type="checkbox" id="Active" name="Active" class="yesNo" value="True" @active />
            </div>
        <div>

        </div>            
        <div style="text-align: center">
            <button type="submit" id="searchUsers" value="Search">Search</button><button type="button" id="cancel" value="Cancel">Clear</button>
        </div>
    }
            </div>
    </div>
</div>

<div class="renderbodyRight">
    <div class="scrollcontainer">
        <div><a class="searchNavigationSpanLink" href="@Url.Action(MVC.Administration.Users.SearchInternal())">Create New User</a></div>
        <br />
        <div>@Html.ValidationSummary(true)</div><br/>
        <table id="searchResults"></table>
        <div id="pager"></div>
    </div>
    <div id="dialog" style="display: none;" title="Deactivation Confirmation">
        Are you sure you want to deactivate this user?
    </div>

</div>
@section scripts {
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/Scripts/jmtExtensions/jquery.jmttg-extension-jqGrid.js")

    <script type="text/javascript">
        $(function () {
            var combos = $('#SearchForm .ui-combobox input');
            $(combos[0]).attr("title", "Select a User Type");
            $(combos[1]).attr("title", "Select a Role");

            $("#SearchForm input").labelify({ labelledClass: "labelHighlight" });

            $("#searchResults").jqGrid({
                colModel: [
                    { name: 'LastName', index: 'LastName', width: 110 },
                    { name: 'FirstName', index: 'FirstName', width: 110, sortable: false },
                    { name: 'UserName', index: 'UserName', width: 200, sortable: false },
                    { name: 'ContactType', index: 'ContactType', width: 110, sortable: false },
                    { name: 'EditLink', index: 'EditLink', width: 100, formatter: editLinkFormatter, sortable: false },
                    { name: 'DeactivateLink', index: 'DeactivateLink', width: 100, formatter: deactivateLinkFormatter, sortable: false }
                ],
                colNames: ['Last Name', 'First Name', 'Username', 'Type', '', ''],
                height: 460,
                scrollOffset: 0,
                gridComplete: onGridComplete,
                url: '@Url.Action(MVC.Administration.Users.Data())'
            });

            $("#searchResults").on('click', 'a.deactivateLink', function (e) {
                e.preventDefault();
                var targetUrl = $(this).attr("href");

                $("#dialog").dialog({
                    resizable: false,
                    draggable: false,
                    modal: true,
                    buttons: {
                        "Yes": function () {
                            window.location.href = targetUrl;
                        },
                        "No": function () {
                            $(this).dialog("close");
                        }
                    }
                });

                $("#dialog").dialog("open");
            });

            // Clear button
            $("#cancel").click(function () {

                // Clear traditional form elements
                $("#SearchForm input[type=text]").val('');
                $("#SearchForm select").val('');
                $("#SearchForm input[type=checkbox]").prop("checked", true).val('true');

                // Clear UI Combo-box
                var combos = $('#SearchForm .ui-combobox input');
                combos.val('');
                $(combos[0]).attr("title", "Select a User Type");
                $(combos[1]).attr("title", "Select a Role");

                // Reset YesNo Control
                $("#SearchForm .ynYesGreen").click();

                // Re-apply .labelify
                $("#SearchForm input").labelify({ labelledClass: "labelHighlight" });

                ClearGridSession();
            });
        });

        function onGridComplete() {
            $(this).jqGrid("fixGridWidth");
        }

        function localResize() {
            $("#searchResults").jqGrid("fixGridWidth");
        }

        function onSuccess() {
            doSearch();
        }

        function ClearGridSession() {
            $.ajax({
                url: '@Url.Action(MVC.Administration.Users.ClearGridSession())',
                type: 'GET',
                cache: false,
                error: function () {
                    // Handle error
                },
                success: function () {
                    doSearch();
                }
            });
        }

        function doSearch() {
            $("#SearchForm input").labelify({ labelledClass: "labelHighlight" });
            $("#searchResults").jqGrid("setGridParam", {
                url: '@Url.Action(MVC.Administration.Users.Data())',
                page: 1
            });
            $("#searchResults").trigger("reloadGrid");
        }

        function editLinkFormatter(cellvalue, options, rowObject) {
            var sLink = "";

            switch (rowObject.ContactType) {
                case "Internal":
                    sLink = '<a href="@Url.Action(MVC.Administration.Users.EditInternal())/' + rowObject.ContactId + '">Edit</a>';
                    break;
                case "External Authority":
                    sLink = '<a href="@Url.Action(MVC.Administration.Users.EditExternal())/' + rowObject.ContactId + '">Edit</a>';
                    break;
                case "Public":
                    sLink = '<a href="@Url.Action(MVC.Administration.Users.EditPublic())/' + rowObject.ContactId + '">Edit</a>';
            }
            return sLink;
        }

        function deactivateLinkFormatter(cellvalue, options, rowObject) {
            if (rowObject.Active) {
                return '<a href="@Url.Action(MVC.Administration.Users.Deactivate())/' + rowObject.ContactId + '" class="deactivateLink">Deactivate</a>';
            } else {
                return '<a href="@Url.Action(MVC.Administration.Users.Activate())/' + rowObject.ContactId + '">Activate</a>';
            }
        }

    </script>
}

