﻿@{
    ViewBag.Title = "Create Internal User";
}

@section css {
    @Styles.Render("~/Content/jqgrid")
}

<h2>Create Internal User</h2>

@section featured {
}

@section sectionSpecificLink {
    @{Html.RenderPartial("_BackToSearchLink");}
}

<div class="renderbodyLeft">

    @{Html.RenderPartial("_CreateUserLinks");}

</div>

<div class="renderbodyRight">
    <div class="scrollcontainer">

    <h3>Locate Internal User in Directory</h3><br />

    <input class="search-large" style="width:300px;" id="searchFilter" type="text" title="Enter part or all of a user's name or usernname" />
    <button class="buttonNextToTextbox" id="btnSearchAD" type="button">Search</button>
    <br /><br />

    <table id="searchResults"></table>
    <div id="pager"></div>
  </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqgrid")

    @Scripts.Render("~/Scripts/jmtExtensions/jquery.jmttg-extension-jqGrid.js")
    <script type="text/javascript">
        function localResize() {
            //set grid to 100% width
            $("#searchResults").fixGridWidth();
        }


        $(function () {
            $("#btnSearchAD").click(function () {
                doSearch($("#searchFilter").val());
            });

            $("#searchResults").jqGrid({
                colNames: ['Last Name', 'First Name', 'Username', ''],
                colModel: [
                    { name: 'LastName', index: 'LastName', width: 210 },
                    { name: 'FirstName', index: 'FirstName', width: 210 },
                    { name: 'UserName', index: 'UserName', width: 210 },
                    { name: 'createEditLink', index: 'createEditLink', width: 100, formatter: createEditLinkFormatter },
                ],
                height: 460,
                scrollOffset: 0,
                gridComplete: onGridComplete
            });

            //set active link in renderbodyLeft
            setActiveLink("internal");
        });

        function onGridComplete() {
            //set grid to 100% width
            $(this).jqGrid("fixGridWidth");
        }

        // Search Active Directory users
        function doSearch(searchFilter) {
            $("#searchResults").jqGrid("setGridParam", {
                url: '@Url.Action(MVC.Administration.Users.ActiveDirData())?filter=' + searchFilter,
                page: 1
            });

            $("#searchResults").trigger("reloadGrid");
        }

        // Formats link for editing or creating a user
        function createEditLinkFormatter(cellvalue, options, rowObject) {
            var sLinkText,
                qs = '?userName=' + rowObject.UserName +
                     '&firstName=' + rowObject.FirstName +
                     '&lastName=' + rowObject.LastName;

            if (rowObject.ContactId > 0) {
                return '<a href="@Url.Action(MVC.Administration.Users.EditInternal())/' + rowObject.ContactId + qs + '">Edit</a>';
            } else {
                return '<a href="@Url.Action(MVC.Administration.Users.CreateInternal())/' + qs + '">Create</a>';
            }
            
        }
    </script> 
}

