.infowindow
{
    position: absolute;
}

    .infowindow .window
    {
        color: #000000;
        font-family: verdana,sans-serif;
        position: absolute;
    }

        .infowindow .window .top .left
        {
            overflow: hidden;
            position: absolute;
            width: 15px;
        }

            .infowindow .window .top .left .sprite
            {
                margin-left: -987px;
                margin-top: 0;
            }

        .infowindow .window .top .right
        {
            overflow: hidden;
            padding-right: 5px;
            position: absolute;
        }

            .infowindow .window .top .right .sprite
            {
                margin-top: 0;
                position: absolute;
            }

            .infowindow .window .top .right .user
            {
                padding: 7px 0 0 10px;
                position: absolute;
            }

                .infowindow .window .top .right .user .titlebar .hide
                {
                    height: 8px;
                    margin-top: 5px;
                    overflow: hidden;
                    position: absolute;
                    width: 12px;
                }

                    .infowindow .window .top .right .user .titlebar .hide .sprite
                    {
                        cursor: pointer;
                        display: block;
                        margin-left: -752px;
                        margin-top: -900px;
                    }

                        .infowindow .window .top .right .user .titlebar .hide .sprite:hover
                        {
                            margin-top: -908px;
                        }

                .infowindow .window .top .right .user .titlebar .title
                {
                    font-size: 10pt;
                    font-weight: bold;
                }

                .infowindow .window .top .right .user .border
                {
                    border-bottom: 1px solid #FFFFFF;
                    border-top: 1px solid #000000;
                    font-size: 0;
                    height: 0;
                    margin-top: 5px;
                    opacity: 0.25;
                }

                .infowindow .window .top .right .user .layout
                {
                    margin: 5px 0 0;
                    padding-right: 5px;
                    overflow: auto;
                    overflow-x: auto;
                    overflow-y: auto;
                }

                .infowindow .window .top .right .user .content
                {
                    font-size: 9pt;
                }

.dj_ie .infowindow .window .top .right .user .content
{
    position: relative;
}

.infowindow .window .bottom .left
{
    height: 10px;
    overflow: hidden;
    position: absolute;
    width: 15px;
}

    .infowindow .window .bottom .left .sprite
    {
        margin-left: -987px;
        margin-top: -990px;
    }

.infowindow .window .bottom .right
{
    height: 10px;
    overflow: hidden;
    position: absolute;
}

    .infowindow .window .bottom .right .sprite
    {
        margin-top: -990px;
        position: absolute;
    }

.infowindow .pointer
{
    height: 44px;
    overflow: hidden;
    position: absolute;
    width: 53px;
}

.infowindow .upperleft
{
    bottom: 0;
    right: 0;
}

.infowindow .upperright
{
    bottom: 0;
    left: 0;
}

.infowindow .lowerright
{
    left: 0;
    top: 0;
}

.infowindow .lowerleft
{
    right: 0;
    top: 0;
}

.infowindow .upperleft .sprite
{
    margin-left: -800px;
    margin-top: -800px;
}

.infowindow .upperright .sprite
{
    margin-left: -902px;
    margin-top: -800px;
}

.infowindow .lowerright .sprite
{
    margin-left: -902px;
    margin-top: -924px;
}

.infowindow .lowerleft .sprite
{
    margin-left: -800px;
    margin-top: -924px;
}

.infowindow .sprite
{
    height: 1000px;
    width: 1000px;
    background-image: url("../dijit/images/infowindowGray.png");
}

.simpleInfoWindow
{
    background-color: #FFFFFF;
    border: 1px solid #666666;
    border-radius: 5px 5px 5px 5px;
    color: #666666;
    font-family: Arial Unicode MS,Arial,sans-serif;
    font-size: small;
    padding: 5px;
    position: absolute;
}

    .simpleInfoWindow .title
    {
        border-bottom: 1px solid #666666;
        padding: 2px;
    }

    .simpleInfoWindow .content
    {
        overflow: auto;
        padding: 2px;
    }

.dj_ie .simpleInfoWindow .content
{
    position: relative;
}
