﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <title>@ViewBag.Title - Water Supply Information & Permitting</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")

    @Styles.Render("~/Content/ArcGISJSAPI/bundle")

    @Styles.Render("~/Content/themes/base/bundle")

    @Styles.Render("~/Content/scrollbars")
    @Styles.Render("~/Content/themes/gray/bundle")
    @RenderSection("css", required: false)

    <!--[if IE]>
        <link href="~/Content/ie.css" rel="stylesheet" />
    <![endif]-->
    <!--[if IE 8 ]>  
        <link href="~/Content/ie8.css" rel="stylesheet" />
    <![endif]-->

</head>
<body>
    <header>
        <div class="headerParent">
            <!--<div class="sprite WSIPISLogo"></div>
            <div class="sprite MDEHeaderLogo"></div>
            <div class="sprite MDEHeaderText"></div>
            <div id="lighthouseParent" class="sprite lighthouse"></div>-->
			<img id="MDEHeaderLogo" src="../Content/Images/md_crown_logo.png" height="65" />
			<img id="MDEHeaderText" src="../Content/Images/wsips_text.png" height="65" />
			<img id="lighthouseParent" src="../Content/Images/lighthouse.png" height="65" style="float: right"/>
            <div id="loggedIn">
                @if (ViewBag.Username != null)
                {
                    <span>Welcome @ViewBag.Username</span>
                }
            </div>
        </div>
    </header>
    <div id="localNavigation" class="localNavigationParent">
        @Html.ActionLink("Home", MVC.Home.Index(), new { @class = "mainNavLink" })
        <span class="localNavigationSeparator" style="">|</span>
        @Html.ActionLink("Search", MVC.Permitting.Dashboard.Index(DashboardMode.Tabular), new { @class = "mainNavLink" })

        @*  Use this section for the additional link(s) that may differ from section to section *@
        @RenderSection("sectionSpecificLink", required: false)

        @*  Use this section for positioning the top navigation components *@
        <div style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 300px; display: inline-block;">
            @RenderSection("topNav", required: false)
        </div>
    </div>
    <div id="body">
        @RenderSection("featured", required: false)
        <section>
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="footer">
            <span class="footerText" style="float: left">@ViewBag.ProductVersion</span>
            <span class="footerText">1800 Washington Boulevard, Baltimore, MD 21230</span><span class="footerText footerSeparator">|</span><span class="footerText">(410) 537-3714</span>
			<!--<div style="display: inline-block; height: 27px; width: 27px; background-image: url(../Content/Images/Sprite/MDELogo_Symbol_sm.png); background-position: 0px 0px; background-size: 100%;"></div>-->
			<img id="MDELogo" src="../Content/Images/MDELogo_Symbol_sm.png" height="27" width="27" style="float: right"/>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/jquery.labelify.js")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/scrollbars")
    @Scripts.Render("~/bundles/jmtCustom")
    @RenderSection("scripts", required: false)
</body>
</html>
