﻿@model GroundwaterAllocationForm
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.DailyAverage)</span>
    <span>@Html.TextBoxFor(form => form.DailyAverage, new {@class="commaInserted"}) gallons</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.DailyAverageForMonthOfMaximumUse)</span>
    <span>@Html.TextBoxFor(form => form.DailyAverageForMonthOfMaximumUse, new {@class="commaInserted"}) gallons</span>
</div>
