﻿@model PermitGeneralInformationForm
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.ProjectName)</span>
    <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.ProjectName)</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.RequiresAdvertising)</span>
    <span class="spanRightInlineBlock">@Html.CheckBoxFor(form => form.RequiresAdvertising, new { @class = "yesNo" })</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.PWSID)</span>
    <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.PWSID)</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.IsExemptFromFees)</span>
    <span class="spanRightInlineBlock">@Html.CheckBoxFor(form => form.IsExemptFromFees, new { @class = "yesNo" })</span>
</div>