﻿@model PermitLocationInformationForm
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.IsInWaterManagementStrategyArea)</span>
    <span class="spanRightInlineBlock">@Html.CheckBoxFor(form => form.IsInWaterManagementStrategyArea, new { @class = "yesNo" })</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.IsInTier2Watershed)</span>
    <span class="spanRightInlineBlock">@Html.CheckBoxFor(form => form.IsInTier2Watershed, new { @class = "yesNo" })</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.SelectedAquiferId)</span>
    <span class="spanRightInlineBlock">@Html.DropDownListFor(form => form.SelectedAquiferId, Model.AquiferList)</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.AquiferTestRequired)</span>
    <span class="spanRightInlineBlock">@Html.CheckBoxFor(form => form.AquiferTestRequired, new { @class = "yesNo" })</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.SelectedWaterTypeId)</span>
    <span class="spanRightInlineBlock">@Html.DropDownListFor(form => form.SelectedWaterTypeId, Model.WaterTypeList)</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.SelectedTidalTypeId)</span>
    <span class="spanRightInlineBlock">@Html.DropDownListFor(form => form.SelectedTidalTypeId, Model.TidalTypeList)</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.SourceDescription)</span>
    <span class="spanRightInlineBlock" style="vertical-align: text-top;">@Html.TextAreaFor(form => form.SourceDescription, new { style = "resize: none; width: 400px;", title = "Enter Source Description to Display on Permit" })</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.Location)</span>
    <span class="spanRightInlineBlock" style="vertical-align: text-top;">@Html.TextAreaFor(form => form.Location, new { style = "resize: none; width: 400px;", title = "Enter Location Description to Display on Permit" })</span>
    @foreach (var address in (List<string>)ViewBag.PermitAddresses)
    {
        <div style="color: #888888">
            <span class="spanSetWidth spanSetWidthAlignRightPadded"></span>
            <span class="spanRightInlineBlock">@address</span>
        </div>
    }
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.Remarks)</span>
    <span class="spanRightInlineBlock" style="vertical-align: text-top;">@Html.TextAreaFor(form => form.Remarks, new { style = "resize: none; width: 400px;" })</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.ADCPageLetterGrid)</span>
    <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.ADCPageLetterGrid, new { style = "width:100px;" })</span>
    <span class="spanRightInlineBlock">@Html.LabelFor(form => form.ADCXCoord)</span>
    <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.ADCXCoord, new { style = "width:100px;" })</span>
    <span class="spanRightInlineBlock">@Html.LabelFor(form => form.ADCYCoord)</span>
    <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.ADCYCoord, new { style = "width:100px;" })</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.CountyHydroGeoMap)</span>
    <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.CountyHydroGeoMap)</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.USGSTopoMap)</span>
    <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.USGSTopoMap)</span>
</div>
