﻿@if ((bool)ViewBag.IsSuccess)
{
    <div style="padding: 20px;">
        <h2>Thank you.  Your payment has been received.</h2>
        <p>A confirmation email has been sent to the email address associated with your account.</p>
        <p>@Html.ActionLink("Return to Home Page", MVC.Home.Index(), new { style = "padding: 0;" })</p>
    </div>
}
else
{
    <div style="padding: 20px;">
        <h2>An error has occurred processing your payment.</h2>
        <p>@Html.ActionLink("Return to Home Page", MVC.Home.Index(), new { style = "padding: 0;" })</p>
    </div>
}