﻿@model MDGov.MDE.WSIPS.Portal.ExternalWeb.Areas.Permitting.Models.Forms.ContactForm
<style>
    .contact input[type=text] {
        width: 245px;
    }

    .communicationMethodDropdown .ui-combobox-input {
        width: 75px;
    }

    .communicationMethodDropdown select {
        width: 85px;
    }
</style>
<div id="Contact_@Model.Id" class="contact">
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ContactType)
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.IsBusiness)
    @Html.HiddenFor(model => model.Active)

    <!-- make sure the validation lines up with the controls -->
    <div class="validationIndent45aligned" style="margin-bottom: 10px; margin-top: 10px;">
        @Html.ValidationSummary()
        <div class="stateValidationMessage" style="display: none;"></div>
        <div class="primaryPhoneNumberValidationMessage" style="display: none;"></div>
    </div>
    <div id="NameInformationContainer">
        <div id="FmlNameContainer">
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.FirstName)</span>
                <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.FirstName)</span>
                <span>*</span>
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.MiddleInitial)</span>
                <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.MiddleInitial)</span>
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.LastName)</span>
                <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.LastName)</span>
                <span>*</span>
            </div>
        </div>
        <!--<div id="SecondaryNameContainer">
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.SecondaryName)</span>
                <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.SecondaryName)</span>
            </div>
        </div>-->
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.BusinessName)</span>
        <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.BusinessName)</span>
        <span id="businessNameAsterisks" style="display: none;">*</span>
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.Address1)</span>
        <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.Address1)</span>
        <span>*</span>
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.Address2)</span>
        <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.Address2)</span>
    </div>
    <div class="autoPopulateFields">
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.ZipCode)</span>
            <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.ZipCode, new { data_autopopulateurl = Url.Action(MVC.Contact.GetZipCodeAutoPopulateValues()) })</span>
            <span>*</span>
        </div>
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.City)</span>
            <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.City)</span>
            <span>*</span>
        </div>
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.StateId)</span>
            <span class="spanRightInlineBlock">@Html.DropDownListFor(form => form.StateId, Model.StateList)</span>
            <span>*</span>
        </div>
    </div>
    <div id="BusinessContactContainer" style="display: none;">
        <div class="subSectionTitle divVerticalTopSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">Business Contact Information</span>
        </div>
    </div>
    <div id="PersonalContactContainer" style="display: none;">
        <div class="subSectionTitle divVerticalTopSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">Your Contact Information</span>
        </div>
    </div>
    <div id="ContactCommunicationMethods">
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.PrimaryTelephoneNumber)</span>
            <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.PrimaryTelephoneNumber.CommunicationValue, new { style = "width: 155px;" }) <span class="communicationMethodDropdown">@Html.DropDownListFor(form => form.PrimaryTelephoneNumber.SelectedCommunicationMethodId, Model.CommunicationMethodList.Where(t => t.Text.ToLower() != "email"))</span></span>
            <span id="TelephoneNumberValidation">*</span>
        </div>
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.AltTelephoneNumber)</span>
            <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.AltTelephoneNumber.CommunicationValue, new { style = "width: 155px;" }) <span class="communicationMethodDropdown">@Html.DropDownListFor(form => form.AltTelephoneNumber.SelectedCommunicationMethodId, Model.CommunicationMethodList.Where(t => t.Text.ToLower() != "email"))</span></span>
        </div>
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.EmailAddress)</span>
            <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.EmailAddress.CommunicationValue)</span>
        </div>
    </div>
</div>
