﻿@model DashboardSearchForm
<div class="renderbodyLeft unpadded">
    <div class="scrollcontainer" preservescrollbarspace="y">
        <form id="FilterForm">
            <div id="FilterControlContainer">
                @Html.Partial(Model.FilterForm.GetType().Name, Model.FilterForm)
            </div>
            <div style="text-align: center;">
                <input type="button" id="resetButton" value="Reset Filter" style="width: auto;" />
            </div>
        </form>
    </div>
</div>
<div class="renderbodyRight unpadded">
    <div class="gridheader" style="line-height: 30px; padding-left: 10px;">
        <span id="recordCount">0</span> Record(s) Selected
        @Html.Partial(MVC.Permitting.Dashboard.Views.DashboardSpatialFilterForm, Model.SpatialFilterForm)
    </div>
    <div id="tabular" style="position: absolute; top: 30px; right: 10px; bottom: 10px; left: 10px; overflow: hidden; display: none;">
        <table id="dashboardGrid"></table>
        <div id="pager"></div>
    </div>
    <div id="spatial" style="position: absolute; top: 30px; right: 10px; bottom: 10px; left: 10px; overflow: hidden;">
        <div id="mapContainer" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0">
            <div id="map">
            </div>
            <div id="searchcontrols">
                <select id="searchtype">
                    <option value="1">Address</option>
                    <option value="2">Lat/Long</option>
                    <option value="3">Parcel</option>
                </select>
                <input id="search" type="text" title="e.g. 2345 Glen Arm Rd. 21234" />
                <input id="searchbutton" type="button" value="Go" style="margin-left: 0px;" />
            </div>
            <div id="overlaycontrols">
                <select id="overlay">
                    <option value="-1">Select an Overlay</option>
                    <option value="5">12 Digit Watersheds</option>
                    <option value="3">2011 Tier II Catchments</option>
                    <option value="0">Areas of No Groundwater Use</option>
                    <option value="1">Recharge Easements</option>
                    <option value="2">Water Management Strategy Areas</option>
                </select>
            </div>
            <div id="basemapswitcher">
                <select id="basemaptype">
                    <option id="street" value="1">Street Map</option>
                    <option id="imagery" value="2">Imagery</option>
                    <option id="topo" value="3">Topographic Map</option>
                </select>
            </div>
            <div id="printcontrol">
                <div id="printbutton"></div>
                <input id="printtemplates" type="button" value="Layout" style="margin-right: 0px;" />
                <input type="hidden" value="" class="mehidden" />
                <ol class="selectBox">
                    <li title="Landscape">Landscape</li>
                    <li title="Portrait">Portrait</li>
                    <li title="Map Only">Map Only</li>
                </ol>
            </div>
            <div id="mapMessages">
            </div>
        </div>
    </div>
</div>
