﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - Water Supply Information & Permitting</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")

    @Styles.Render("~/Content/esri")

    @Styles.Render("~/Content/themes/base/bundle")

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/scrollbars")
    @Styles.Render("~/Content/themes/gray/bundle")
    @RenderSection("css", required: false)


    <!--[if IE]>
        <link href="~/Content/ie.css" rel="stylesheet" />
    <![endif]-->
    <!--[if IE 8 ]>  
        <link href="~/Content/ie8.css" rel="stylesheet" />
    <![endif]-->
</head>
<body>
    <header>
        <div class="headerParent">
            <div class="sprite WSIPISLogo"></div>
            <div class="sprite MDEHeaderLogo"></div>
            <div class="sprite MDEHeaderText"></div>
            <div id="lighthouseParent" class="sprite lighthouse"></div>
        </div>
    </header>
    <div id="localNavigation" class="localNavigationParent">
        @Html.ActionLink("Home", MVC.Home.Index(), new { @class = "mainNavLink" })
        <span class="localNavigationSeparator" style="">|</span>
        @Html.ActionLink("Search", Request.IsAuthenticated ? MVC.Permitting.Dashboard.Index(DashboardMode.Tabular) : MVC.Permitting.Dashboard.PublicSearch(DashboardMode.Tabular), new { @class = "mainNavLink" })
        @RenderSection("pageHeader", required: false)

        @*  Use this section for positioning the top navigation components *@
        <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 300px; display: inline-block;">
            @RenderSection("topNav", required: false)
        </div>

        <div style="right: 10px; top: 0px; position: absolute;">
            <section>
                @Html.Partial("_LoginPartial")
            </section>
        </div>
    </div>
    <div id="body">
        @RenderSection("featured", required: false)
        <section>
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="footer">
            <span class="footerText">1800 Washington Boulevard, Baltimore, MD 21230</span><span class="footerText footerSeparator">|</span><span class="footerText">(410) 537-3714</span><div style="display: inline-block; height: 33px; width: 27px; background-position: -453px -33px;" class="sprite "></div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/jquery.labelify.js")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/scrollbars")
    @Scripts.Render("~/bundles/jmtCustom")
    @RenderSection("scripts", required: false)
</body>
</html>
