﻿@if (Request.IsAuthenticated)
{
    <div style="right: 10px; top: 10px;">
        @{
    var userName = User.Identity.Name;
        }

        <span class="mainNavLink" style="cursor: default;">Welcome @userName</span>
        <span class="localNavigationSeparator">|</span>
        <a href="@Url.Action(MVC.Security.Account.EditAccount())" class="mainNavLink">Update Account</a>
        <span class="localNavigationSeparator">|</span>
        <a href="@Url.Action(MVC.Security.Account.ChangePassword())" class="mainNavLink">Change Password</a>
        <span class="localNavigationSeparator">|</span>
        @using (Html.BeginForm(MVC.Security.Account.LogOff(), FormMethod.Post, new { id = "logoutForm" }))
        {
            <a href="javascript:document.getElementById('logoutForm').submit()" class="mainNavLink">Logout</a>
        }
    </div>
}