﻿@model InvoiceForm
@using (Ajax.BeginForm(MVC.Ecommerce.Invoice.Edit(), new AjaxOptions { OnSuccess = "onEditInvoiceSuccess" }, new { Id = "EditInvoiceForm" }))
{
    @Html.HiddenFor(form => form.Id)
    <style>
        #EditInvoiceForm .spanSetWidth {
            width: 40%;
        }

        #EditInvoiceForm input[type=text], #EditInvoiceForm input[type=date] {
            width: 197px;
        }
    </style>
    <div style="width: 450px; margin-top: 15px;">
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.Amount)</span>
            <span class="spanRightInlineBlock">
                @Html.TextBoxFor(form => form.Amount, Model.SelectedInvoiceStatusId == 2 ? new { disabled = "disabled" } : null)
            </span>
        </div>
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.SelectedInvoiceStatusId)</span>
            <span class="spanRightInlineBlock">
                @Html.DropDownListFor(form => form.SelectedInvoiceStatusId, Model.InvoiceStatusList)
            </span>
        </div>
        <div id="CheckInformationContainer" style="@(Model.SelectedInvoiceStatusId == 2 ? null : "display: none;")">
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.CheckNumber)</span>
                <span class="spanRightInlineBlock">
                    @Html.TextBoxFor(form => form.CheckNumber)
                </span>
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.DepositDate)</span>
                <span class="spanRightInlineBlock">
                    @Html.TextBoxFor(form => form.DepositDate)
                </span>
            </div>
        </div>
        @Html.ValidationSummary()
    </div>
}