﻿@model ManageInvoicesForm
@{
    ViewBag.Title = "Manage Invoices";
}
@Styles.Render("~/Content/jqgrid")
<div style="padding: 20px;">
    <h3>Invoices</h3>
    <div id="gridcontainer">
        <div style="position: relative; margin-bottom: 20px;">
            <span>@Html.LabelFor(form => form.PermitNumber)</span>
            <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.PermitNumber)</span>
            <input type="button" value="Search" id="PermitNumberSearchButton" style="height: 28px; vertical-align: middle;" />
            <input type="button" value="Clear" id="PermitNumberClearButton" style="height: 28px; vertical-align: middle;" />
        </div>
        <table id="invoicesGrid"></table>
        <div id="invoicesGridPager"></div>
    </div>
    <div id="Modal" style="display: none;">
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/Scripts/jmtExtensions/jquery.jmttg-extension-jqGrid.js")
    @Scripts.Render("~/Scripts/jquery.formatCurrency-1.4.0.min.js")
    @Scripts.Render("~/Scripts/jquery.maskedinput-1.3.1.js")
    <script type="text/javascript">
        var invoiceGridDataAction = '@Url.Action(MVC.Ecommerce.Invoice.Data())';
        var editInvoiceAction = '@Url.Action(MVC.Ecommerce.Invoice.Edit())';
        var deleteInvoiceAction = '@Url.Action(MVC.Ecommerce.Invoice.Delete())';
        var printInvoiceAction = '@Url.Action(MVC.Ecommerce.Invoice.Print())';

        $('#PermitNumber').keypress(function (e) {
            if (e.which == 13) {
                $('#invoicesGrid').jqGrid('setGridParam', {
                    postData: { permitNumber: $(this).val() }
                }).trigger('reloadGrid');
            }
        });

        $('#PermitNumberSearchButton').click(function () {
            $('#invoicesGrid').jqGrid('setGridParam', {
                postData: { permitNumber: $('#PermitNumber').val() }
            }).trigger('reloadGrid');
        });

        $('#PermitNumberClearButton').click(function () {
            $('#PermitNumber').val('');
            var myPostData = $('#invoicesGrid').jqGrid("getGridParam", "postData");
            delete myPostData.permitNumber;
            $('#invoicesGrid').trigger('reloadGrid');
        });

        function localResize() {
            $("#invoicesGrid").jqGrid("fixGridWidthWithoutParentScroll");
        }

        $('#invoicesGrid').jqGrid({
            colModel: [
                { name: 'Id', index: 'invoicenumber', width: 80, resizable: false },
                { name: 'PermitNumber', index: 'permitnumber', width: 80, resizable: false },
                { name: 'Description', index: 'description', width: 200, resizable: false },
                { name: 'Amount', index: 'invoiceamount', width: 80, resizable: false, formatter: 'currency', formatoptions: { prefix: '$', thousandsSeparator: ',' } },
                { name: 'InvoiceDate', index: 'invoicedate', width: 80, resizable: false },
                { name: 'Status', index: 'status', width: 100, resizable: false },
                { name: 'PaidDate', index: 'paiddate', width: 80, resizable: false },
                { name: 'EditLink', width: 30, align: 'center', resizable: false, sortable: false, formatter: editLinkFormatter },
                { name: 'DeleteLink', width: 30, align: 'center', resizable: false, sortable: false, formatter: deleteLinkFormatter },
                { name: 'PrintLink', width: 30, align: 'center', resizable: false, sortable: false, formatter: printLinkFormatter }
            ],
            colNames: ['Invoice Number', 'Permit Number', 'Description', 'Invoice Amount', 'Invoice Date', 'Status', 'Paid Date', '', '', ''],
            height: 400,
            pager: '#invoicesGridPager',
            rowNum: 50,
            sortname: 'invoicedate',
            sortorder: 'desc',
            url: invoiceGridDataAction
        });

        function editLinkFormatter(cellvalue, options, rowObject) {
            return '<span class="spanLink editLink" data-invoiceid="' + rowObject.Id + '">Edit</span>';
        }

        function deleteLinkFormatter(cellvalue, options, rowObject) {
            if (rowObject.HasRelatedPenalty || rowObject.PaidDate) {
                return '';
            }
            else {
                return '<span class="spanLink deleteLink" data-invoiceid="' + rowObject.Id + '">Delete</span>';
            }
        }

        function printLinkFormatter(cellvalue, options, rowObject) {
            return '<span class="spanLink printLink" data-invoiceid="' + rowObject.Id + '">Print</span>';
        }

        $('#invoicesGrid').on('click', '.editLink', function () {
            $.ajax({
                url: editInvoiceAction,
                type: 'GET',
                data: { id: $(this).attr('data-invoiceid') },
                success: function (result) {
                    $('#Modal').html(result);

                    $.validator.unobtrusive.parse($('#Modal form'));

                    $('#Modal #Amount').formatCurrency().blur(function () {
                        $(this).formatCurrency();
                    });

                    $('#Modal #DepositDate').datepicker({
                        dateFormat: 'm/d/yy'
                    });

                    $('#Modal #SelectedInvoiceStatusId').change(function () {
                        if ($(this).val() == 2) {
                            $('#CheckInformationContainer').show();
                        }
                        else {
                            $('#CheckInformationContainer').hide();
                        }
                    });

                    $('#Modal').dialog({
                        modal: true,
                        width: 'auto',
                        position: 'center',
                        draggable: false,
                        resizable: false,
                        title: 'Edit Invoice',
                        close: function () {
                            $(this).dialog('destroy');
                        },
                        buttons: [
                            {
                                text: 'Save',
                                click: function () {
                                    $(this).find('form').submit();
                                }
                            },
                            {
                                text: 'Cancel',
                                click: function () {
                                    $(this).dialog("close");
                                }
                            }
                        ]
                    });
                }
            });
        });

        $('#invoicesGrid').on('click', '.deleteLink', function () {
            if (confirm('Are you sure you want to delete this invoice?')) {
                $.ajax({
                    url: deleteInvoiceAction,
                    type: 'DELETE',
                    data: { id: $(this).attr('data-invoiceid') },
                    success: function (result) {
                        $('#invoicesGrid').trigger('reloadGrid');
                    }
                });
            }
        });

        $('#invoicesGrid').on('click', '.printLink', function () {
            window.open(printInvoiceAction + '/' + $(this).attr('data-invoiceid'));
        });

        function onEditInvoiceSuccess() {
            $('#Modal').dialog('close');
            $('#invoicesGrid').trigger('reloadGrid');
        }
    </script>
}