.scrollable {
	overflow: hidden !important;
	/*position: relative;*/
}

.scrollable .scrollcontent {
	position: absolute;
	top: 0px;
	right: 20px;
	bottom: 20px;
	left: 0px;
	overflow: hidden;
	line-height: 0px;
}

.scrollable .scrollwrap {
    position: absolute;
	overflow: hidden;
	/*display: inline-block;*/
	line-height: 1.3em;
    padding:10px 5px 5px 10px;
}

.scrollable.no_scroll_v:not(.no_scroll_v_preserve) .scrollwrap {
    padding-right: 10px;
}

.scrollable.no_scroll_h:not(.no_scroll_h_preserve) .scrollwrap {
    padding-bottom: 10px;
}

.scrollable .scrollwrap:after {
	display: none;
}

.scrollable.no_scroll_v .scrollcontent {
	/*left: auto;*/
	right: 0px;
}

/* Added By Jon Lauer */
.scrollable.no_scroll_v_preserve .scrollcontent {
    left: 0px;
    right: 20px;
}

.scrollable.no_scroll_h .scrollcontent {
	/*top: auto;*/
	bottom: 0px;
}

/* Added By Jon Lauer */
.scrollable.no_scroll_h_preserve .scrollcontent {
    bottom: 20px;
}

.scrollable .scroller {
	position: absolute;
}

.scrollable .vscroller {
	top: 0px;
	left: auto;
	right: 0px;
	width: 20px;
	bottom: 20px;
}

.scrollable.no_scroll_v .vscroller {
	display: none;
}

.scrollable.no_scroll_h .vscroller {
	bottom: 0px;
}

.scrollable.no_scroll_h_preserve .vscroller{
    bottom: 20px;
}

.scrollable .hscroller {
	left: 0px;
	top: auto;
	right: 20px;
	height: 20px;
	bottom: 0px;
}

.scrollable.no_scroll_v .hscroller {
	right: 0px;
}

.scrollable.no_scroll_v_preserve .hscroller{
    right: 20px;
}

.scrollable.no_scroll_h .hscroller {
	display: none;
}
		
.scrollable .scrollarea {
	position: absolute;
}

.scrollable .vscroller .scrollarea {
	top: 20px;
	bottom: 20px;
	left: 0px;
	right: 0px;
}

.scrollable .hscroller .scrollarea {
	top: 0px;
	bottom: 0px;
	left: 20px;
	right: 20px;
}

.scrollable .scrollblock {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: black;
	
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}



.scrollable .vscroller .scrollblock {
	top: 20px;
	height: 60px;
	left: 4px;
	right: 4px;
}

.scrollable .hscroller .scrollblock {
	left: 70px;
	width: 20px;
	top: 4px;
	bottom: 4px;
}

.scrollable .scrollbtn {
	position: absolute;
	width: 20px;
	height: 20px;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	color: black;
	font-weight: bold;
	
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	
	-moz-box-sizing: border-box;
	
	cursor: default;
}

.scrollable .scrollbtn:hover {
	color: #666;
}

.scrollable .scrolltop {
	top: 0px;
	left: 0px;
}

.scrollable .scrolldown {
	left: 0px;
	bottom: 0px;
	top: auto;
}

.scrollable .scrollleft {
	left: 0px;
	top: 0px;
}

.scrollable .scrollright {
	top: 0px;
	right: 0px;
	left: auto;
}

.scrollable .filler {
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 20px;
	width: 20px;
	left: auto;
	top: auto;
}

.scrollable.no_scroll_v .filler,
.scrollable.no_scroll_h .filler {
	display: none;
}