﻿<div id="uploadDialog" title="Upload File" style="display: none; overflow: hidden;">
    <form enctype="multipart/form-data" method="post" name="fileinfo" id="form1">
        <div id="fileSpan">
            <input id="fileUploadInput" type="file" name="file1" accept='.jpg,.pdf,.gif,.png,.doc,.docx,.xls,.xlsx,.txt' required />
        </div>
    </form>
    <div id="output"></div>
    <div id="fileNameDiv"></div>
    <div style="text-align: center" class='divVerticalTopSpacer'>
        <button type="button" id="uploadLink" onclick="javascript:UploadDocument.upload(@ViewBag.RefId, @ViewBag.RefTableId, @(ViewBag.PermitStatusId ?? -1))">Upload File</button>
        <button type="button" onclick="$('#uploadDialog').dialog('close');">Cancel</button>
    </div>
</div>

<div id="uploadDialog2" title="Delete" style="display: none;">
    Are you sure you want to delete this item?
</div>

<div id="uploadDialogError" title="Delete" style="display: none;">
    There was an error trying to delete your file.
</div>

<div id="uploadReplaceDialog" title="Replace Existing Item" style="display: none;">
    A file by the same name has already been uploaded. Replace existing document?
</div>

@if (ViewBag.PermissionLevel != 1)
{
    <div id="uploadButtonParent">
        @if((bool)ViewBag.IsAuthenticated){
        <input id="uploadButton" type="button" class="uploadButtons" value="Add a File to Your Attachments" />
        }
    </div>
}
<div id="uploadDashboardGridContainer">
    <table id="uploadDashboardGrid"></table>
</div>
<div style="margin: 10px 0px" class="smallItalicText" id="uploadExamples">
    Examples of documents to upload include maps, photographs, well completion reports, calculations, letters, hydrogeologic reports, drillers' logs, drillers' notes, engineering drawings, and any other documents that support the withdrawal request.
</div>

<script src='@Url.Content("~/Scripts/ViewScripts/Permit/UploadDocument.js")'></script>
<script src='@Url.Content("~/Scripts/DateFormatter.js")'></script>
<script>
    UploadDocument.Initialize('@ViewBag.RefId', '@ViewBag.RefTableId', '@(ViewBag.PermitStatusId ?? -1)', '@ViewBag.IncludeRefIdDocs');
</script>
