﻿@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ReportServer = System.Configuration.ConfigurationManager.AppSettings["ReportsServer"].ToString();
}
<style>
    td {
        vertical-align: top;
    }
</style>
<div class="renderbodyRight scrollcontainer" style="left: 0">
    <table>
        <tr>
            <td style="width: 300px;padding-right:20px;">
                <h3>Administrative Reports</h3>
                <div style="padding-bottom: 30px">
                    <div><a target="_blank" href='http://@(ReportServer)/ReportServer/Pages/ReportViewer.aspx?%2fWSIPS%2fMonthlyReport&rs:Command=Render'>Monthly Report</a></div>
                    <div><a target="_blank" href="http://@(ReportServer)/ReportServer/Pages/ReportViewer.aspx?%2fWSIPS%2fSummaryOfPermitsOnFile&rs:Command=Render">Summary of Permits On File</a></div>
                    <div><a target="_blank" href="http://@(ReportServer)/ReportServer/Pages/ReportViewer.aspx?%2fWSIPS%2fSummaryOfPermitsIssuedByStaff&rs:Command=Render">Summary of Permits Issued By Staff</a></div>
                    <div><a target="_blank" href="http://@(ReportServer)/ReportServer/Pages/ReportViewer.aspx?%2fWSIPS%2fPermitsIssuedByStaff&rs:Command=Render">Permits Issued By Staff</a></div>
                </div>
            </td>
            <td style="width: 200px;padding-right:20px;">
                <h3>IPL</h3>
                <div style="padding-bottom: 30px">
                    <div><a target="_blank" href="http://@(ReportServer)/ReportServer?%2fWSIPS%2fInterestedPartyList&rc:Zoom=Page+Width">IPL</a></div>
                </div>
            </td>
            <td style="width: 350px;padding-right:20px;">
                <h3>Compliance Reports</h3>
                <div style="padding-bottom: 30px">
                    <div><a target="_blank" href="http://@(ReportServer)/ReportServer/Pages/ReportViewer.aspx?%2fWSIPS%2fFailedToReportWithdraw&rs:Command=Render">Failed to Report - Previous 2 Reporting Periods</a></div>
                    <div><a target="_blank" href="http://@(ReportServer)/ReportServer/Pages/ReportViewer.aspx?%2fWSIPS%2fRequiresComplianceReporting&rs:Command=Render">Requires Compliance Reporting</a></div>
                    <div><a target="_blank" href="http://@(ReportServer)/ReportServer/Pages/ReportViewer.aspx?%2fWSIPS%2fFailedToReport&rs:Command=Render">Failed to Report</a></div>
                    <div><a target="_blank" href="http://@(ReportServer)/ReportServer/Pages/ReportViewer.aspx?%2fWSIPS%2fEnforcement&rs:Command=Render">Enforcement Report</a></div>
                    <div><a target="_blank" href="http://@(ReportServer)/ReportServer/Pages/ReportViewer.aspx?%2fWSIPS%2fOverAppropriation&rs:Command=Render">Over Appropriation Report</a></div>
                    <div><a target="_blank" href="http://@(ReportServer)/ReportServer/Pages/ReportViewer.aspx?%2fWSIPS%2fNoticeOfExemptionProcessing&rs:Command=Render">Exemption Report</a></div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-right:20px;">
                <h3>Permit Reports</h3>
                <div style="padding-bottom: 30px">
                    <div><a target="_blank" href="http://@(ReportServer)/ReportServer/Pages/ReportViewer.aspx?%2fWSIPS%2fSummaryApplicationsListingByStaff&rs:Command=Render">Summary of Pending Applications by Staff</a></div>
                    <div><a target="_blank" href="http://@(ReportServer)/ReportServer/Pages/ReportViewer.aspx?%2fWSIPS%2fApplicationsReceivedByCounty&rs:Command=Render">Summary of Applications Received by County</a></div>
                    <div><a target="_blank" href="http://@(ReportServer)/ReportServer/Pages/ReportViewer.aspx?%2fWSIPS%2fExpiredActivePermitsWithoutPendingApplications&rs:Command=Render">Expired Active Permits without Pending Applications Report</a></div>
                </div>
            </td>
            <td style="padding-right:20px;">
                <h3>Subscription List</h3>
                <div style="padding-bottom: 30px">
                    <div><a target="_blank" href="http://@(ReportServer)/ReportServer/Pages/ReportViewer.aspx?%2fWSIPS%2fSubscriptionList&rs:Command=Render">Subscription List</a></div>
                </div>
            </td>
            <td style="padding-right:20px;">
                <h3>Pumpage Reports</h3>
                <div style="padding-bottom: 30px">
                    <div><a target="_blank" href="http://@(ReportServer)/ReportServer/Pages/ReportViewer.aspx?%2fWSIPS%2fPumpageReportSummaryByPermit&rs:Command=Render">Pumpage Report Summary By Permit</a></div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-right:20px;">
                <h3>Application Reports</h3>
                <div style="padding-bottom: 30px">
                    <div><a target="_blank" href="http://@(ReportServer)/ReportServer/Pages/ReportViewer.aspx?%2fWSIPS%2fApplicationsListingByCounty&rs:Command=Render">Applications Listing By County</a></div>
                    <div><a target="_blank" href="http://@(ReportServer)/ReportServer/Pages/ReportViewer.aspx?%2fWSIPS%2fApplicationsListingByStaff&rs:Command=Render">Applications Listing By Staff</a></div>
                </div>
            </td>
            <td style="padding-right:20px;">
                <h3>Financial Reports</h3>
                <div style="padding-bottom: 30px">
                    <div><a target="_blank" href="http://@(ReportServer)/ReportServer/Pages/ReportViewer.aspx?%2fWSIPS%2fOnlinePayments&rs:Command=Render">Online Payment Report</a></div>
                    <div><a target="_blank" href="http://@(ReportServer)/ReportServer/Pages/ReportViewer.aspx?%2fWSIPS%2fMailInPayments&rs:Command=Render">Mail In Payment Report</a></div>
                </div>
            </td>
            <td style="padding-right:20px;">
                <table>
                    <tr>
                        <td style ="width: 325px;">
                            <h3 style=" padding-bottom:0px;margin-bottom:8px;">Generate Pumpage Letters</h3>
                        </td>
                        <td style="padding-bottom:8px;vertical-align:bottom;width: 25px;">
                            <a href="javascript:void(0)" id="pumpageLettersHelp" style="color: blue;">Help</a>
                        </td>
                    </tr>
                </table>
                <div style="padding-bottom: 30px">
                    <div><a href="javascript:void(0)" id="pumpageAnnual">Generate Annual Letters</a></div>
                    <div><a href="javascript:void(0)" id="pumpageAnnualReminder">Generate Reminder Annual Letters</a></div>
                    <div><a href="javascript:void(0)" id="generateSemiFirst">Generate Semi-Annual Letters - First Period</a></div>
                    <div><a href="javascript:void(0)" id="generateSemiFirstReminder">Generate Reminder Semi-Annual Letters - First Period</a></div>
                    <div><a href="javascript:void(0)" id="generateSemiSecond">Generate Semi-Annual Letters - Second Period</a></div>
                    <div><a href="javascript:void(0)" id="generateSemiSecondReminder">Generate Reminder Semi-Annual Letters - Second Period</a></div>
                    <div><a target="_blank" href="http://@(ReportServer)/ReportServer/Pages/ReportViewer.aspx?%2fWSIPS%2fPumpageLetterList&rs:Command=Render">Generate Withdrawal Report Recipient List</a></div>
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="contactSearch" style="display: none;">
    <p>Under Generate Pumpage Letters, click on the report that needs to be prepared.  A message will display indicating an email will be sent 
       to the user.</p>
    <p>Permits must be an Existing Active permit with a Withdrawal Report Condition.</p>
    <p>The Annual, Semi-Annual Period 1, Semi-Annual Period 2, and Period 1 Reminder reports must be generated in the same calendar year as 
       the period for which the report is generated. This means these reports must be generated no later than December 31 of a given year.</p>
    <p>The Annual Reminder and Period 2 Reminder reports must be generated in the calendar year following the report year. This means these 
       reports must be generated after December 31 of the report year.</p>
    <p>When you receive the email, right click &ldquo;here&rdquo;; click &ldquo;save link as...&rdquo; and add &ldquo;.zip&rdquo; to the end of 
       the file name. Navigate to the location you want to save the file. Open file.</p>
    <p>The batch file generates .docx files in groups of 100. The reports are alphabetized by Business Name, if filled in. If there is no 
       business name, reports are sorted by last name/first name. The reasoning is that we mail all reports to the same Permittee in the same 
       envelope. This serves to group the same Permittees&rsquo; reports together.</p>
</div>

@section scripts {
    @Scripts.Render("~/bundles/blockUI")
    <script>
    $(function () {
        $("#pumpageLettersHelp").click(function () {
            PumpageLetterHelpDialogBox.Show($('#contactSearch'), 410, 755, "How to Generate Water Withdrawal Reports for Permittees that are Required to Report");
        });
        $("#pumpageAnnual").click(function () {
            GeneratePumpageReports(34);
        });
        $("#pumpageAnnualReminder").click(function () {
            GeneratePumpageReports(55);
        });
        $("#generateSemiFirst").click(function () {
            GeneratePumpageReports(35);
        });
        $("#generateSemiFirstReminder").click(function () {
            GeneratePumpageReports(56);
        });
        $("#generateSemiSecond").click(function () {
            GeneratePumpageReports(36);
        });
        $("#generateSemiSecondReminder").click(function () {
            GeneratePumpageReports(57);
        });
    });

    function GeneratePumpageReports(templateId) {
        $.ajax({
            url: '/Permitting/Document/GeneratePumpageLetters?templateId=' + templateId,
            type: 'GET',
            beforeSend: function () {
                $.blockUI({ message: '<h4>Please wait...</h4>' });
            },
            complete: function () {
                $.unblockUI();
            },
            success: function (response) {
                if (response.IsSuccess) {
                    alert(response.Message);
                    //window.open('@Url.Action(MVC.Upload.GetFileData())?' + 'id=' + response.FileId + '&title=' + response.FileTitle, "_blank");
                    } else {
                        alert(response.Error);
                    }
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    $.unblockUI();
                    alert(errorThrown);
                },
            });
        }

        var PumpageLetterHelpDialogBox = {
            Show: function ($this, $height, $width, $title) {
                $this.dialog({
                    title: $title,
                    modal: true,
                    height: $height,
                    width: $width,
                    draggable: false,
                    resizable: false,
                    open: function () {
                        window.styleDialogInputs();
                    },
                    close: function () {
                        $(this).dialog('destroy');
                    }
                });
            }
        };
    </script>
}