﻿@model FeeForm
@Html.HiddenFor(form => form.Id)
<style>
    .spanSetWidth
    {
        width: 35%;
    }
</style>
<div style="margin-top: 10px;">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.FeeTypeId)</span>
    <span class="spanRightInlineBlock">@Html.DropDownListFor(form => form.FeeTypeId, Model.FeeTypeList)</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded"></span>
    <span class="spanRightInlineBlock">@Html.ValidationMessageFor(form => form.FeeTypeId)</span>
</div>
<div id="ApplicationFee" @if(Model.FeeTypeId != 1) { <text>style="display: none;"</text> }>
    <div>
        <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.ApplicationTypeId)</span>
        <span class="spanRightInlineBlock">@Html.DropDownListFor(form => form.ApplicationTypeId, Model.ApplicationTypeList)</span>
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded"></span>
        <span class="spanRightInlineBlock">@Html.ValidationMessageFor(form => form.ApplicationTypeId)</span>
    </div>
</div>
<div id="AnnualWaterUsageFee" @if(Model.FeeTypeId != 2) { <text>style="display: none;"</text> }>
    <div>
        <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.PermitTypeId)</span>
        <span class="spanRightInlineBlock">@Html.DropDownListFor(form => form.PermitTypeId, Model.PermitTypeList)</span>
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded"></span>
        <span class="spanRightInlineBlock">@Html.ValidationMessageFor(form => form.PermitTypeId)</span>
    </div>
</div>
<div>
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.FeeAmount)</span>
    <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.FeeAmount)</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded"></span>
    <span class="spanRightInlineBlock">@Html.ValidationMessageFor(form => form.FeeAmount)</span>
</div>
<div>
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.Description)</span>
    <span class="spanRightInlineBlock" style="vertical-align: top;">@Html.TextAreaFor(form => form.Description, new { style = "resize: none; width: 197px;" })</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded"></span>
    <span class="spanRightInlineBlock">@Html.ValidationMessageFor(form => form.Description)</span>
</div>
<div>
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.EffectiveDate)</span>
    <span class="spanRightInlineBlock">@Html.DatePickerFor(form => form.EffectiveDate)</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded"></span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.Active)</span>
    <span class="spanRightInlineBlock">@Html.CheckBoxFor(form => form.Active, new { @class = "yesNo" })</span>
</div>
<script type="text/javascript">
    $('#FeeTypeId').change(function () {
        $('#ApplicationFee').hide();
        $('#AnnualWaterUsageFee').hide();

        switch ($(this).val()) {
            case '1':
                $('#ApplicationFee').show();
                break;
            case '2':
                $('#AnnualWaterUsageFee').show();
                break;
            default:
                break;
        }
    });
</script>