﻿@model FeeRuleForm
@Html.HiddenFor(form => form.Id)
@Html.HiddenFor(form => form.GraduatedFeeId)
<style>
    .spanSetWidth
    {
        width: 35%;
    }
</style>
<div style="margin-top: 10px;">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.OperatorId)</span>
    <span class="spanRightInlineBlock">@Html.DropDownListFor(form => form.OperatorId, Model.OperatorList)</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded"></span>
    <span class="spanRightInlineBlock">@Html.ValidationMessageFor(form => form.OperatorId)</span>
</div>
<div>
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.Operand)</span>
    <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.Operand)</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded"></span>
    <span class="spanRightInlineBlock">@Html.ValidationMessageFor(form => form.Operand)</span>
</div>
<div>
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.FeeAmount)</span>
    <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.FeeAmount)</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded"></span>
    <span class="spanRightInlineBlock">@Html.ValidationMessageFor(form => form.FeeAmount)</span>
</div>