﻿@model GraduatedFeeForm
<div id="GraduatedFeeForm">
    @Html.HiddenFor(form => form.Id)
    <style>
        .spanSetWidth
        {
            width: 35%;
        }
    </style>
    <div style="margin-top: 10px;">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.FeeTypeId)</span>
        <span class="spanRightInlineBlock">@Html.DropDownListFor(form => form.FeeTypeId, Model.FeeTypeList)</span>
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded"></span>
        <span class="spanRightInlineBlock">@Html.ValidationMessageFor(form => form.FeeTypeId)</span>
    </div>
    <div id="ApplicationFee" @if (Model.FeeTypeId != 1)
                             { <text>style="display: none;"</text> }>
        <div>
            <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.ApplicationTypeId)</span>
            <span class="spanRightInlineBlock">@Html.DropDownListFor(form => form.ApplicationTypeId, Model.ApplicationTypeList)</span>
        </div>
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded"></span>
            <span class="spanRightInlineBlock">@Html.ValidationMessageFor(form => form.ApplicationTypeId)</span>
        </div>
    </div>
    <div id="AnnualWaterUsageFee" @if (Model.FeeTypeId != 2)
                                  { <text>style="display: none;"</text> }>
        <div>
            <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.PermitTypeId)</span>
            <span class="spanRightInlineBlock">@Html.DropDownListFor(form => form.PermitTypeId, Model.PermitTypeList)</span>
        </div>
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded"></span>
            <span class="spanRightInlineBlock">@Html.ValidationMessageFor(form => form.PermitTypeId)</span>
        </div>
    </div>
    <div>
        <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.Description)</span>
        <span class="spanRightInlineBlock" style="vertical-align: top;">@Html.TextAreaFor(form => form.Description, new { style = "resize: none; width: 197px;" })</span>
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded"></span>
        <span class="spanRightInlineBlock">@Html.ValidationMessageFor(form => form.Description)</span>
    </div>
    <div>
        <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.EffectiveDate)</span>
        <span class="spanRightInlineBlock">@Html.DatePickerFor(form => form.EffectiveDate)</span>
    </div>
    <div id="GraduatedFeeRuleContainer" @if (Model.Id == 0)
                                        { <text>style="display: none;"</text> }>
        <div class="divVerticalBottomSpacer" style="border-bottom: 1px solid #AAAAAA">
            <span class="spanSetWidth spanSetWidthAlignRightPadded"></span>
        </div>
        <div class="divVerticalBottomSpacer" style="margin-top: 20px;">
            <div style="margin-bottom: 10px; margin-left: 3px;">
                <input id="AddGraduatedFeeRuleButton" data-refid="@Model.Id" type="button" value="Add Rule" />
            </div>
            <table id="graduatedFeeRulesGrid"></table>
        </div>
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded"></span>
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.Active)</span>
        <span class="spanRightInlineBlock">
            @if (Model.HasAssociatedRules)
            {
                @Html.CheckBoxFor(form => form.Active, new { @class = "yesNo" })
            }
            else
            {
                @Html.CheckBoxFor(form => form.Active, new { @class = "yesNo", disabled = "disabled" })            
            }
        </span>
    </div>
    <div id="GraduatedFeeRuleModal" style="display: none;"></div>
    <script type="text/javascript">
        (function ($) {
            var graduatedFeeRuleGridDataAction = '@Url.Action(MVC.Ecommerce.FeeRule.Data())';
            var createGraduatedFeeRuleAction = '@Url.Action(MVC.Ecommerce.FeeRule.Create())';
            var editGraduatedFeeRuleAction = '@Url.Action(MVC.Ecommerce.FeeRule.Edit())';
            var deleteGraduatedFeeRuleAction = '@Url.Action(MVC.Ecommerce.FeeRule.Delete())';

            $('#GraduatedFeeForm #FeeTypeId').change(function () {
                $('#GraduatedFeeForm #ApplicationFee').hide();
                $('#GraduatedFeeForm #AnnualWaterUsageFee').hide();

                switch ($(this).val()) {
                    case '1':
                        $('#GraduatedFeeForm #ApplicationFee').show();
                        break;
                    case '2':
                        $('#GraduatedFeeForm #AnnualWaterUsageFee').show();
                        break;
                    default:
                        break;
                }
            });

            $('#GraduatedFeeRuleModal').dialog({
                modal: true,
                height: 'auto',
                width: 'auto',
                position: 'center',
                draggable: false,
                resizable: false,
                autoOpen: false
            });

            $('#GraduatedFeeForm #AddGraduatedFeeRuleButton').click(function () {
                var graduatedFeeId = $('#GraduatedFeeForm #Id').val();
                $.ajax({
                    url: createGraduatedFeeRuleAction,
                    type: 'GET',
                    data: { id: $(this).attr('data-feeid') },
                    success: function (result) {
                        BindModalContent(result);

                        $('#GraduatedFeeRuleModal #FeeAmount').formatCurrency().blur(function () {
                            $(this).formatCurrency();
                        });

                        $('#GraduatedFeeRuleModal #GraduatedFeeId').val(graduatedFeeId);

                        $('#CreateGraduatedFeeRuleCancelButton').unbind();
                        $('#CreateGraduatedFeeRuleCancelButton').click(function () {
                            $('#GraduatedFeeRuleModal').dialog('close');
                        });

                        $('#GraduatedFeeRuleModal').dialog('option',
                            {
                                title: 'Create New Graduated Fee Rule',
                                width: 400,
                                close: function () {
                                    $('#graduatedFeeRulesGrid').trigger('reloadGrid');
                                }
                            }).dialog('open');
                    }
                });
            });

            $('#GraduatedFeeForm #graduatedFeeRulesGrid').jqGrid({
                colModel: [
                    { name: 'Rule', index: 'rule', width: 150, resizable: false },
                    { name: 'Amount', index: 'amount', width: 80, resizable: false, formatter: 'currency', formatoptions: { prefix: '$', thousandsSeparator: ',' } },
                    { name: 'EditLink', width: 50, align: 'center', resizable: false, sortable: false, formatter: feeRuleEditLinkFormatter },
                    { name: 'DeleteLink', width: 70, align: 'center', resizable: false, sortable: false, formatter: feeRuleDeleteLinkFormatter }
                ],
                colNames: ['Rule', 'Amount', '', ''],
                gridComplete: function () {
                    if ($(this).jqGrid('getGridParam', 'records') > 0) {
                        $('#Active').attr('disabled', null).change();
                    }
                    else {
                        $('#Active').attr('disabled', 'disabled').change();
                    }
                },
                postData: { graduatedProductId: $('#GraduatedFeeForm #Id').val() },
                url: graduatedFeeRuleGridDataAction
            });

            function feeRuleEditLinkFormatter(cellvalue, options, rowObject) {
                return '<span class="spanLink feeRuleEditLink" data-feeruleid="' + rowObject.Id + '">Edit</span>';
            }

            function feeRuleDeleteLinkFormatter(cellvalue, options, rowObject) {
                return '<span class="spanLink feeRuleDeleteLink" data-feeruleid="' + rowObject.Id + '">Delete</span>';
            }

            $('#GraduatedFeeForm #graduatedFeeRulesGrid').on('click', '.feeRuleEditLink', function () {
                $.ajax({
                    url: editGraduatedFeeRuleAction,
                    type: 'GET',
                    data: { id: $(this).attr('data-feeruleid') },
                    success: function (result) {
                        BindModalContent(result);

                        $('#GraduatedFeeRuleModal #FeeAmount').formatCurrency().blur(function () {
                            $(this).formatCurrency();
                        });

                        $('#EditGraduatedFeeRuleCancelButton').unbind();
                        $('#EditGraduatedFeeRuleCancelButton').click(function () {
                            $('#GraduatedFeeRuleModal').dialog('close');
                        });

                        $('#GraduatedFeeRuleModal').dialog('option',
                            {
                                title: 'Edit Graduated Fee Rule',
                                width: 400,
                                close: function () {
                                    $('#GraduatedFeeForm #graduatedFeeRulesGrid').trigger('reloadGrid');
                                }
                            }).dialog('open');
                    }
                });
            });

            $('#GraduatedFeeForm #graduatedFeeRulesGrid').on('click', '.feeRuleDeleteLink', function () {
                $.ajax({
                    url: deleteGraduatedFeeRuleAction,
                    type: 'POST',
                    data: { id: $(this).attr('data-feeruleid') },
                    success: function () {
                        $('#GraduatedFeeForm #graduatedFeeRulesGrid').trigger('reloadGrid');
                    }
                });
            });

            function BindModalContent(content) {
                $('#GraduatedFeeRuleModal').html(content);

                $.validator.unobtrusive.parse($('#GraduatedFeeRuleModal'));

                $('#GraduatedFeeRuleModal input[type="checkbox"]').checkbox();
                $('#GraduatedFeeRuleModal input[type=button],input[type=submit],button').button();

                $('#GraduatedFeeRuleModal .date').datepicker({ changeYear: true, changeMonth: true });
                $('#GraduatedFeeRuleModal .date').mask("99/99/9999");
            }
        })(jQuery)

        function onCreateGraduatedFeeRuleSuccess() {
            $('#GraduatedFeeRuleModal').dialog('close');
        }

        function onEditFeeRuleSuccess() {
            $('#GraduatedFeeRuleModal').dialog('close');
        }
    </script>
</div>
