﻿.renderbodyLeft input.date {
    width: 108px;
}

.renderbodyRight .scrollwrap {
    padding-top: 0px;
    min-width: 0px;
}

.ui-autocomplete {
    min-width: 258px;
}

.filtercontainer {
    margin-bottom: 5px;
}

.filterheader {
    cursor: pointer;
    padding: 2px 3px 3px 5px;
    min-width: 254px;
}

    .filterheader label {
        cursor: pointer;
        font-weight: normal;
    }

#dashboardGrid tr.greenHighlight {
    color: #5E8423;
}
