﻿
/* compensate for IE width calc difference with js scroller */
.renderbodyLeft, .leftColumn
{

    /*max-width:283px;*/

}
/*ie does not need scroll padding!*/
.scrollContentPadding
{
    /*padding:0px;*/
}
/* IE 8 puts border & white background around radio button inputs*/
input[type="radio"]
{
    border:none;
    background-color:transparent;
}


/* HEAVY UP LINKS, don't show well in IE */
.nav-section a
{
    font-weight:bold;
}

.nav-section h2
{
    font-weight:bold!important;
}

