﻿/* ADDED > */

.clear {
    clear: both;
}

.headerParent {
    background-color: #04296f;
    height: 96px;
    overflow: hidden;
}

.localNavigationParent {
    position: absolute;
    top: 96px;
    height: 40px;
    line-height: 40px;
    background-color: #7ba13e;
    left: 0px;
    right: 0px;
    vertical-align: middle;
    padding-left: 10px;
}

.localNavigationSeparator {
    color: #9fbf6a;
    clear: both;
}

.searchNavigationSeparator {
    color: #9d9b9b;
    margin-left: 5px;
    margin-right: 5px;
}

.searchNavigationSpanLink {
    color: #5e8423 !important;
    cursor: pointer;
    text-decoration: none !important;
}

    .searchNavigationSpanLink:hover {
        text-decoration: underline !important;
    }

#distanceFilterContainer, #featureSearchContainer, #noFilterContainer {
    display: inline-block;
}

#spatialDistanceSearch, #spatialFeatureSearch, #noFilter {
    font-style: italic;
}

/*  mimics jq UI button */
.divUIButton {
    padding: 0.2em 0.5em;
    background: none repeat-x scroll 0 0 #D2D2D2;
    border: 1px solid #AAAAAA;
    color: #555555;
    font-weight: normal;
    cursor: pointer;
}

    .divUIButton.active {
        background: none repeat-x scroll 0 0 #769A3C;
        color: #D7F4B4;
    }

.divUIButtonNextToTextbox {
    line-height: 26px;
    margin-left: -5px;
    max-height: 26px;
    padding: 0 0.5em;
    position: relative;
    vertical-align: middle;
}

.spatialFilterIconButton {
    display: inline-block;
    padding: 3px;
    position: relative;
    left: -5px;
}

.spatialFilterIcons {
    height: 14px;
    width: 14px;
}

.spatialFilterX {
    background-position: -634px -35px;
}

    .spatialFilterX:hover {
        background-position: -613px -35px;
    }

.spatialFilterPlus {
    background-position: -677px -35px;
}

    .spatialFilterPlus:hover {
        background-position: -654px -35px;
    }

.permitControlsX {
    background-position: -699px -35px;
    margin-right: 5px;
}

.filterSubMenu {
    height: 100px;
    border: solid 1px #BEBCBC;
    display: none;
    margin: 10px;
}

.mainNavLink {
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #d7f4b4 !important;
}

#body {
    background-color: #ffffff;
    position: absolute;
    top: 136px;
    bottom: 33px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    color: #4a4a4a;
}
/* .footer added for IE anomoly */
footer, .footer {
    background-color: #04296e;
    height: 33px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: right;
    overflow: hidden;
    line-height: 33px;
    vertical-align: middle;
}

.footerText {
    position: relative;
    bottom: 10px;
    color: #ffffff;
    margin-right: 10px;
    font-size: .9em;
}

.footerSeparator {
    color: #7ac0da;
}

input, textarea {
    border: 1px solid #aaaaaa;
    background: #fff;
    color: #333;
    /*margin: 5px 0;*/
    padding: 5px;
    /*width: 300px;*/
}

    input[type=text], input[type=password] {
        width: 275px;
    }

.renderbodyLeft, .leftColumn {
    position: absolute !important;
    left: 0px;
    top: 0px;
    max-width: 299px;
    right: 0px;
    bottom: 0px;
    background-color: #ffffff;
    color: #4a4a4a;
    overflow: hidden;
    min-height: 20px;
    border-right: 1px solid #93bf5b;
    /*padding: 10px;*/
}

    .renderbodyLeft input {
        width: 150px;
    }

        .renderbodyLeft input[type="text"], .renderbodyRight input[type="text"] {
            background-color: #FFFFFF;
            color: #000000;
            width: 275px;
        }

.renderbodyLeftGrayBorder {
    border-right: 1px solid #cccccc !important;
}

.renderbodyRight, .rightColumn {
    position: absolute !important;
    left: 300px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #ffffff;
    overflow: auto;
    min-height: 20px;
    /*color: #031c49;*/
    /*padding: 10px;*/
}

    /* stop things from wrapping when browser size reaches 1024X768*/
    .renderbodyRight .scrollwrap {
        min-width: 675px;
    }

.unpadded {
    padding: 0 !important;
}

/*  ADDED < */
html {
    /*background-color: #e2e2e2;*/
    margin: 0;
    padding: 0;
    /*min-width:1024px;
    overflow:auto;
    min-height:768px;
    */
}

body {
    background-color: #fff;
    color: #333;
    font-size: 14px;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        text-decoration: underline;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* make sure a ui button is the same size as a text box, also buts up against textbox  */
.buttonNextToTextbox {
    height: 28px !important;
    margin-left: -5px !important;
    top: 1px !important;
}

.validationIndent45aligned {
    display: inline-block;
    position: relative;
    margin-left: 45%;
    left: -10px;
}

.validationIndentWithSpan {
    display: inline-block;
    position: relative;
    left: -20px;
}

.underline {
    text-decoration: underline !important;
}

.appDetailsNavContainer {
    background-color: #F9F9F9;
    border-bottom: 1px solid #CCCCCC;
    color: #404040;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
    padding-left: 310px;
    vertical-align: middle;
}

.appDetailsNavLink {
    cursor: pointer;
}

    .appDetailsNavLink:hover {
        text-decoration: underline;
    }

.appDetailsActiveNavLink {
    text-decoration: underline;
}

.appDetailsNavSeparator {
    border-right: solid 1px #ececec;
    margin: 0px 5px;
    width: 1px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 5px;
}

.localNavigationBold {
    font-weight: bold;
}

.localNavigationValue {
    font-weight: normal;
    padding-left: 10px;
    color: #D7F4B4;
}

.localNavigationEdit {
    text-decoration: none;
}

    .localNavigationEdit:hover {
        text-decoration: underline;
    }

.localNavigationSpanHorizontalSpacer {
    padding: 0px 10px;
}

.localNavigationEdit {
    padding-left: 5px;
    cursor: pointer;
    color: #D7F4B4;
}

.localNavContainer {
    left: 300px;
    position: absolute;
    /*right: 0px;*/
    top: 0px;
    bottom: 0px;
    line-height: 39px;
    vertical-align: middle;
}

.permitPulldown {
    width: 225px;
    height: 200px;
}

.projectManagerPulldown {
    width: 225px;
    height: 200px;
}

.supervisorPulldown {
    width: 225px;
    height: 150px;
}

.permitTypePulldown {
    width: 225px;
    height: 200px;
}

.LNPulldown {
    position: absolute;
    background-color: #ffffff;
    z-index: 999999;
    border: solid 1px #7ba13e !important;
    border-top: none !important;
    display: none; /* hide upon startup */
    -webkit-box-shadow: 1px 1px 1px 1px rgba(130, 169, 68, .25);
    box-shadow: 1px 1px 1px 1px rgba(130, 169, 68, .25);
}

.LNPulldownClickableItem, .LNPulldownNonClickableItem {
    margin: 0px 5px;
    padding: 5px 3px;
    cursor: pointer;
}

.LNPulldownNonClickableItem {
    cursor: default;
}

.LNPulldownClickableItem:hover {
    text-decoration: underline;
}

.LNPulldownClickableItemSelected {
    background-color: #7ba13e;
    color: #d7f4b4;
}

    .LNPulldownClickableItemSelected:hover {
        cursor: default !important;
        text-decoration: none !important;
    }

.pointer {
    cursor: pointer;
}

/* Override default custom scrollbars colors */
.LNPulldownScrollBarColor {
    background-color: #7ba13e !important;
}

.LNPulldownScrollBtnColor {
    color: #7ba13e !important;
}
/* remove default top spacing on scroll content */
.LNPulldownScrollContent .scrollcontent .scrollwrap, .slideContainerScrollerContainer .scrollcontent .scrollwrap {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
/* pulldown custom scroller container - provide space for header & buttons on bottom of the pulldown content */
.LNPulldownScrollContentContainer, .slideContainerScrollerContainer {
    position: absolute;
    top: 25px;
    bottom: 25px;
    left: 0px;
    right: 0px;
}

.slideContainerScrollerContainer {
    top: 15px;
}

.LNPulldownBottomLinksContainer, .slideBottomLinksContainer {
    position: absolute;
    bottom: 0px;
    text-align: center;
    right: 0px;
    left: 0px;
    height: 25px;
    vertical-align: middle;
}

.LNPulldownTopMessageContainer {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 5px;
    height: 25px;
    vertical-align: middle;
}
/* save & close links at the bottom of pulldown  */
.LNPulldownBottomLink, .slideBottomLink {
    color: #65882d;
    text-decoration: none;
    cursor: pointer;
}

    .LNPulldownBottomLink:hover, .slideBottomLink:hover {
        text-decoration: underline;
    }

.LNPulldownBottomLinkSpearator {
    display: inline-block;
    width: 1px;
    border: none;
    border-left: solid 1px #9cc765;
    margin: 0px 5px 0px 6px;
    position: relative;
    top: 3px;
    height: 15px;
}

.permitDetailsRightHorizontalSeprator {
    background-color: #efefef;
    padding: 5px;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
}
    /* Header for accordion areas in renderbodyleft - mimics jquery UI hover */
    .renderbodyLeftHeader:hover, .divUIButton:hover, .permitDetailsRightHorizontalSeprator:hover {
        border: 1px solid #999999;
        background: #dadada url(themes/gray/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
        font-weight: normal;
        color: #212121;
    }

.renderbodyLeftHeader {
    margin-bottom: 1px;
}
/* arrows for accordion in renderbody left  */
.renderBLArrow {
    padding-right: 10px;
}


/* search tabs */
.tabLink, .grayTabLink {
    border-top: solid 1px #5e8423;
    background-color: #5e8423;
    font-weight: normal;
    cursor: pointer;
    color: #D7F4B4;
    padding: 2px 8px 2px 8px;
    position: relative;
    top: 6px;
    display: inline-block;
    max-height: 20px;
    line-height: 20px;
    vertical-align: text-top;
}
/* standard tab overrrides */
.grayTabLink {
    background-color: #b5b3b3;
    border: solid 1px #cccccc;
    border-bottom: none;
    color: #ffffff;
    text-decoration: none;
    margin-left: -5px; /* required because of hard returns in html*/
    top: 2px;
}

    .grayTabLink.active {
        background-color: #ffffff !important;
        border: solid 1px #aaaaaa !important;
        border-bottom: solid 1px #ffffff !important;
        color: #000000;
    }

    .grayTabLink:hover {
        color: #444444;
        border: solid 1px #aaaaaa;
        border-bottom: none;
        background-color: #e4e4e4;
    }

        .grayTabLink:hover.last {
            border-right: solid 1px #aaaaaa;
        }

.tabLink.first {
    /*Our first tab needs a left border*/
    border-left: solid 1px #5e8423;
}

.tabLink.last {
    /*Our last tab needs a right border*/
    border-right: solid 1px #5e8423;
}

.tabLink.active {
    border-color: #D7F4B4 !important; /*Override the hover*/
    background-color: #ffffff !important; /*Override the hover*/
    cursor: default;
    color: #333333;
    font-weight: bold;
}

.tabLink:hover {
    background-color: #769a3c;
    border-color: #D7F4B4;
}



#filterMenu {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 280px;
    background-color: #ffffff;
    z-index: 99999;
    color: #000000;
    padding: 10px;
    border-left: solid 1px #bebcbc;
}

#spatial {
    -webkit-box-shadow: 6px 6px 3px -2px rgba(94, 94, 94, 0.25);
    box-shadow: 6px 6px 3px -2px rgba(94, 94, 94, 0.25);
    border: solid 1px #bebcbc;
}

.reviewStepsLinks {
    padding: 5px 3px;
    cursor: pointer;
}

    .reviewStepsLinks:hover {
        background-color: #04296f;
        /*background-color: #5374b0;*/
        color: #ffffff;
        opacity: .5;
    }

.inactive {
    cursor: default;
    color: #666666 !important;
    text-decoration: none !important;
    background-color: transparent !important;
}

.nav-section a {
    font-weight: bold;
}

/* jqGrid overrides */

.jqgrow.ui-row-ltr.ui-state-hover {
    color: #031b49;
    font-weight: bold;
    background: #f9fa9e !important;
}
/* hide notification link */
.hideNotification {
    cursor: pointer;
    text-decoration: none;
}

    .hideNotification:hover {
        text-decoration: underline;
    }

.notificationViewDetailLink {
    color: #577723 !important;
    text-decoration: none;
}

    .notificationViewDetailLink:hover {
        text-decoration: underline;
    }

.notificationLinkSeparator {
    color: #b5b4b4;
    padding: 10px 0px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

    .ui-timepicker-div dl dt {
        height: 25px;
        margin-bottom: -25px;
    }

    .ui-timepicker-div dl dd {
        margin: 0 10px 10px 65px;
    }

.ui-timepicker-div td {
    font-size: 90%;
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.ui-timepicker-rtl {
    direction: rtl;
}

    .ui-timepicker-rtl dl {
        text-align: right;
    }

        .ui-timepicker-rtl dl dd {
            margin: 0 65px 10px 10px;
        }

.centerText {
    text-align: center;
}

.dialog .checkbox {
}

/* Force jqGrid to scroll in upload grid dialog popup */
.dialogUploadGridContainer {
    max-height: 248px !important;
    height: 248px !important;
    overflow: auto;
    border: solid 1px #aaaaaa;
    position: relative;
}


/*#maincontentLoading
{
    opacity: .3;
    background-color: #ffffff;
    position: absolute;
    z-index: 9999999;
    display:none;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}*/

/* content just under hor sep, open/closes */
.horizontalSepratorContentDiv {
    padding: 15px;
}

#uploadButtonParent {
    padding-bottom: 5px;
}
/* MODAL popup standards  */
/* Hide horizontal scrollbars */
.ui-jqgrid .ui-jqgrid-bdiv {
    overflow-x: hidden;
    overflow-y: auto;
}
/* center buttons in dialog */
.ui-dialog-buttonpane, .ui-dialog-buttonset {
    text-align: center !important;
    float: none !important;
}
/* no space between buttons */
.ui-dialog .ui-dialog-buttonpane button {
    margin: 0 !important;
}
/* remove standard line above buttons */
.ui-dialog .ui-dialog-buttonpane {
    border-width: 0 !important;
}

.buttonOverGrid {
    padding-bottom: 5px;
}

.smallItalicText {
    color: #666666;
    font-size: 0.8em;
    font-style: italic;
}


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

.main-content {
    background: url("../Images/accent.png") no-repeat;
    padding-left: 10px;
    padding-top: 30px;
}

.featured + .main-content {
    background: url("../Images/heroAccent.png") no-repeat;
}

header .content-wrapper {
    /*padding-top: 20px; */
}

header {
    /*
    position:absolute;
    top:0px;
    background-color:#ff0000;
    height:50px;
    width:auto;
        */
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        background: none;
        color: #c8c8c8;
        outline: none;
        text-decoration: none;
    }


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

        #login a.username {
            background: none;
            margin: 0;
            padding: 0;
            text-decoration: underline;
        }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

            ul#menu li a:hover {
                color: #333;
                text-decoration: none;
            }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;
    }

    .featured hgroup.title h1, .featured hgroup.title {
        color: #fff;
    }

    .featured p {
        font-size: 1.1em;
    }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

    hgroup.title h1, hgroup.title h2 {
        display: inline;
    }

    hgroup.title h2 {
        font-weight: normal;
        margin-left: 3px;
    }

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    text-align: center;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li,
    #changePasswordForm .validation-summary-errors li,
    #forgotPasswordForm .validation-summary-errors li,
    #resetPasswordForm .validation-summary-errors li {
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

        #loginForm input[type="checkbox"],
        #loginForm input[type="submit"],
        #loginForm input[type="button"],
        #loginForm button {
            width: auto;
        }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom: 5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    font-size: 1em;
    font-weight: 600;
}

    label.checkbox {
        display: inline;
    }

select {
    width: 209px;
    padding: 5px;
    border: 1px solid #aaaaaa;
}

.renderbodyLeft input {
    width: 150px;
}

input[type="radio"] {
    width: 15px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus, .ui-combobox a.ui-state-hover {
        border: 1px solid #445d88;
    }

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

input[type="submit"],
input[type="button"],
button {
    cursor: pointer;
}

td input[type="submit"],
td input[type="button"],
td button {
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.divVerticalTopSpacer {
    margin-top: 5px;
}

.divVerticalTopSpacerDouble {
    margin-top: 10px;
}

.divVerticalBottomSpacer {
    margin-bottom: 5px;
}

.divVerticalBottomSpacerDouble {
    margin-bottom: 10px;
}

.spanSetWidth {
    display: inline-block;
    vertical-align: middle;
    width: 45%;
}

.spanCheckboxTextToLeft {
    white-space: nowrap;
}

.spanSetWidthAlignRightPadded {
    text-align: right;
    margin-right: 10px;
    vertical-align: middle;
}

.spanRightInlineBlock {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.spatialFilterButtonOuter {
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
    padding-top: 4px;
    padding-bottom: 4px;
    /*line-height: 15px;*/
}

.spatialFilterButtonText {
    display: inline-block;
    max-height: 15px;
    max-width: 325px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    background: none repeat-x scroll 0 0 #D2D2D2;
    border: 1px solid #AAAAAA;
    color: #555555;
    font-weight: normal;
    padding: 0.2em 10px; /* Chrome issue with 'em', caused ellipsis */
}

    .spatialFilterButtonText.active {
        background: none repeat-x scroll 0 0 #769A3C;
        color: #D7F4B4;
    }

.spatialFilterButtonTextInnerSpan {
    position: relative;
    bottom: 8px;
}

.analyzeInMapIcon {
    background-position: -607px -67px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    margin: 2px auto auto;
    text-align: center;
    vertical-align: middle;
    width: 150px;
}

.analyzeInMapLabel {
    font-weight: bold;
    color: #7ba13e;
    position: relative;
    left: 15px;
    bottom: 1px;
}

/* Sprite Stuff */
.sprite {
    background-image: url(../Content/Images/Sprite/Sprite.png);
}

.lighthouse {
    position: absolute;
    height: 96px;
    right: 0px;
    top: 0px;
    width: 453px;
    background-position: 0px 0px;
}

.MDEHeaderText {
    position: absolute;
    height: 51px;
    width: 362px;
    background-position: 0px -145px;
    left: 167px;
    top: 14px;
}

.MDEHeaderLogo {
    position: absolute;
    width: 147px;
    height: 63px;
    background-position: -364px -145px;
    top: 1px;
    left: 10px;
}

.WSIPISLogo {
    position: absolute;
    width: 524px;
    height: 33px;
    background-position: -453px 0px;
    top: 67px;
    left: 8px;
}

#loggedIn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    font-size: 0.85em;
}

    #loggedIn a {
        padding: 0;
    }

.center {
    margin: 0 auto;
}


/*  JQUERY UI THEMES OVERRIDES > */


.renderbodyRight input[type="text"].ui-pg-input {
    padding: 3px 5px;
    width: 25px;
}

ul.ui-widget-content {
    background: none repeat scroll 0 0 #ffffff;
}

.ui-combobox {
    position: relative !important;
    display: inline-block !important;
    margin-right: 31px;
}

/* Make ddls the same width as textboxes RBL*/
.renderbodyLeft .ui-combobox input {
    width: 222px;
}

.ui-combobox-toggle {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    margin-left: -1px !important;
    padding: 0 !important;
    *height: 1.7em !important;
    *top: 0.1em !important;
}

.ui-combobox-input {
    margin: 0 !important;
    padding: 0.3em !important;
}

.ui-autocomplete {
    max-height: 100px !important;
    overflow: auto !important;
}

    .ui-autocomplete.ui-front {
        z-index: 99999;
    }

.ui-dialog-title {
    cursor: default;
}

/*< THEMES OVERRIDES */

.internalUserInformation {
    float: left;
    color: #333;
    text-align: left;
    width: 550px;
    margin: 0;
}

.userPermissions {
    float: left;
    color: #333;
    text-align: left;
    width: 380px;
    margin: 0;
}


/* GUI Helpers > */

/* LEFT */

.renderbodyLeft textarea {
    width: 250px;
}

/* NOW with renderbodyRight
.renderbodyLeft .checkbox
{
    background-position: -501px -35px;
}
    .renderbodyLeft .checkbox.checked
    {
        background-position: -483px -35px!important;
    }
    */

/*forces checkbox to gray regardless of checked/unchecked state*/
.renderbodyLeft .checkbox.checked .disabled, .checkbox .disabled {
    background-position: -574px -35px;
    cursor: default !important;
}

/* sets helper line height*/
.renderbodyLeft .controlOuterDiv {
    line-height: 27px;
    vertical-align: middle;
    display: inline-block;
}

.renderbodyLeft .ynButtonsOuter {
    display: inline-block;
    text-align: center;
}

.renderbodyLeft .ynBtnwidth {
    width: 40px;
}

.renderbodyLeft .ynYesGreen {
    display: inline-block;
    background-color: #7ba13e;
    border: solid 1px #7ba13e;
    height: 100%;
    cursor: pointer;
}

.renderbodyLeft .ynYesGreenOff {
    background-color: #d2d2d2 !important;
    border: solid 1px #aaaaaa !important;
}

    .renderbodyLeft .ynYesGreenOff.ynYesGreenOver {
        /*border:solid 1px #e8fed0!important;
                background-color:#7ba13e!important;*/
        border: 1px solid #999999 !important;
        background: url(/Content/themes/gray/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x !important;
        font-weight: normal !important;
        color: #212121 !important;
    }

        .renderbodyLeft .ynYesGreenOff.ynYesGreenOver span {
            color: #212121 !important;
        }

    .renderbodyLeft .ynYesGreenOff span {
        color: #827e7e !important;
    }

.renderbodyLeft .ynYesGreenOn {
    background-color: #c4c4c4;
    border: solid 1px #c4c4c4;
}

.renderbodyLeft .ynYesGreenOver {
    /*border:solid 1px #cae4a4!important;*/
}
/* Yes/No button Text */
.renderbodyLeft .ynYesGreen span {
    color: #e8fed0;
    /*font-weight: bold;*/
}

.renderbodyLeft .ynNoRed {
    display: inline-block;
    background-color: #d6443d;
    border: solid 1px #d6443d;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.renderbodyLeft .ynNoRedOff {
    background-color: #d2d2d2;
    border: solid 1px #aaaaaa;
}

    .renderbodyLeft .ynNoRedOff span {
        color: #827e7e !important;
    }

    .renderbodyLeft .ynNoRedOff.ynNoRedOver span {
        color: #212121 !important;
    }

    .renderbodyLeft .ynNoRedOff.ynNoRedOver {
        border: 1px solid #999999 !important;
        background: url(/Content/themes/gray/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x !important;
        font-weight: normal !important;
        color: #212121 !important;
    }

.renderbodyLeft .ynNoRed span {
    color: #eccbca;
    /*font-weight: bold;*/
}


/*  RIGHT  */
.renderbodyRight .checkbox, .renderbodyLeft .checkbox {
    background-position: -537px -35px;
}

    .renderbodyRight .checkbox.checked, .renderbodyLeft .checkbox.checked {
        background-position: -519px -35px;
    }



.renderbodyRight textarea, .renderbodyLeft textarea {
    /*width:250px;*/
    resize: none;
    background-color: #ffffff;
    border: solid 1px #aaaaaa;
}
/*forces checkbox to gray regardless of checked/unchecked state*/
.renderbodyRight .checkbox.checked .disabled, .checkbox .disabled {
    background-position: -574px -35px;
    cursor: default !important;
}


/* sets helper line height*/
.renderbodyRight .controlOuterDiv {
    line-height: 27px;
    vertical-align: middle;
    display: inline-block;
}

.renderbodyRight .ynButtonsOuter, #mainContent .ynButtonsOuter {
    display: inline-block;
    text-align: center;
}

.renderbodyRight .ynBtnwidth, #mainContent .ynBtnwidth {
    width: 40px;
}

.renderbodyRight .ynYesGreen, #mainContent .ynYesGreen {
    display: inline-block;
    background-color: #7ba13e;
    border: solid 1px #7ba13e;
    height: 100%;
    cursor: pointer;
}

.renderbodyRight .ynYesGreenOff, #mainContent .ynYesGreenOff {
    background-color: #D2D2D2 !important;
    border: 1px solid #AAAAAA !important;
}

    .renderbodyRight .ynYesGreenOff.ynYesGreenOver, #mainContent .ynYesGreenOff.ynYesGreenOver {
        border: solid 1px #aaaaaa !important;
        background-color: #ffffff !important;
    }

        .renderbodyRight .ynYesGreenOff.ynYesGreenOver span, #mainContent .ynYesGreenOff.ynYesGreenOver span {
            color: #031c49 !important;
        }

    .renderbodyRight .ynYesGreenOff span, #mainContent .ynYesGreenOff span {
        color: #827e7e !important;
    }

.renderbodyRight .ynYesGreenOn, #mainContent .ynYesGreenOn {
    background-color: #c4c4c4;
    border: solid 1px #c4c4c4;
}

.renderbodyRight .ynYesGreenOver, #mainContent .ynYesGreenOver {
    border: solid 1px #cae4a4 !important;
}
/* Yes/No button Text */
.renderbodyRight .ynYesGreen span, #mainContent .ynYesGreen span {
    color: #e8fed0;
    /*font-weight: bold;*/
}

.renderbodyRight .ynNoRed, #mainContent .ynNoRed {
    display: inline-block;
    background-color: #d6443d;
    border: solid 1px #d6443d;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.renderbodyRight .ynNoRedOff, #mainContent .ynNoRedOff {
    background-color: #D2D2D2 !important;
    border: 1px solid #AAAAAA !important;
}

    .renderbodyRight .ynNoRedOff span, #mainContent .ynNoRedOff span {
        color: #827e7e !important;
    }

    .renderbodyRight .ynNoRedOff.ynNoRedOver span, #mainContent .ynNoRedOff.ynNoRedOver span {
        color: #031c49 !important;
    }

    .renderbodyRight .ynNoRedOff.ynNoRedOver, #mainContent .ynNoRedOff.ynNoRedOver {
        border: solid 1px #aaaaaa !important;
        background-color: #ffffff !important;
    }

.renderbodyRight .ynNoRed span, #mainContent .ynNoRed span {
    color: #ffffff;
    /*font-weight: bold;*/
}

/* jQuery UI Modal Dialog Styles */
/* sets helper line height*/
.ui-dialog .controlOuterDiv {
    line-height: 27px;
    vertical-align: middle;
    display: inline-block;
}

.ui-dialog .ynButtonsOuter {
    display: inline-block;
    text-align: center;
}

.ui-dialog .ynBtnwidth {
    width: 40px;
}

.ui-dialog .ynYesGreen {
    display: inline-block;
    background-color: #7ba13e;
    border: solid 1px #7ba13e;
    height: 100%;
    cursor: pointer;
}

.ui-dialog .ynYesGreenOff {
    background-color: #a3a3a4 !important;
    border: solid 1px #a3a3a4 !important;
}

    .ui-dialog .ynYesGreenOff.ynYesGreenOver {
        border: solid 1px #e8fed0 !important;
        /*background-color:#7ba13e!important;*/
    }

        .ui-dialog .ynYesGreenOff.ynYesGreenOver span {
            color: #ffffff !important;
        }

    .ui-dialog .ynYesGreenOff span {
        color: #827e7e !important;
    }

.ui-dialog .ynYesGreenOn {
    background-color: #c4c4c4;
    border: solid 1px #c4c4c4;
}

.ui-dialog .ynYesGreenOver {
    /*border:solid 1px #cae4a4!important;*/
}
/* Yes/No button Text */
.ui-dialog .ynYesGreen span {
    color: #e8fed0;
    /*font-weight: bold;*/
}

.ui-dialog .ynNoRed {
    display: inline-block;
    background-color: #d6443d;
    border: solid 1px #d6443d;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.ui-dialog .ynNoRedOff {
    background-color: #a4a5a5;
    border: solid 1px #a4a5a5;
}

    .ui-dialog .ynNoRedOff span {
        color: #827e7e !important;
    }

    .ui-dialog .ynNoRedOff.ynNoRedOver span {
        color: #ffffff !important;
    }

    .ui-dialog .ynNoRedOff.ynNoRedOver {
        border: solid 1px #ffffff;
    }

.ui-dialog .ynNoRed span {
    color: #eccbca;
    /*font-weight: bold;*/
}

/* Universal */
/* Applies to both left and right renderbodies */
.checkboxParent {
    display: inline-block;
    line-height: 17px;
    vertical-align: middle;
}

.allCheckboxImage {
    height: 17px;
    width: 17px;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}

.allCheckboxText {
    position: relative;
    bottom: 3px;
}


.helper-tl-corner {
    -moz-border-radius-topleft: 0px /*{cornerRadius}*/;
    -webkit-border-top-left-radius: 0px /*{cornerRadius}*/;
    -khtml-border-top-left-radius: 0px /*{cornerRadius}*/;
    border-top-left-radius: 0px /*{cornerRadius}*/;
}

.helper-tr-corner {
    -moz-border-radius-topright: 0px /*{cornerRadius}*/;
    -webkit-border-top-right-radius: 0px /*{cornerRadius}*/;
    -khtml-border-top-right-radius: 0px /*{cornerRadius}*/;
    border-top-right-radius: 0px /*{cornerRadius}*/;
}

.helper-bl-corner {
    -moz-border-radius-bottomleft: 0px /*{cornerRadius}*/;
    -webkit-border-bottom-left-radius: 0px /*{cornerRadius}*/;
    -khtml-border-bottom-left-radius: 0px /*{cornerRadius}*/;
    border-bottom-left-radius: 0px /*{cornerRadius}*/;
}

.helper-br-corner {
    -moz-border-radius-bottomright: 0px /*{cornerRadius}*/;
    -webkit-border-bottom-right-radius: 0px /*{cornerRadius}*/;
    -khtml-border-bottom-right-radius: 0px /*{cornerRadius}*/;
    border-bottom-right-radius: 0px /*{cornerRadius}*/;
}

.helper-left-text {
    position: relative;
    top: -3px;
}
/* < GUI Helpers */


.spanLink {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

    .spanLink.disabled {
        opacity: 0.5;
    }

/* ESRI Map Styles */

svg#map_gc image, svg#map_gc circle {
    cursor: pointer;
}

.trans10 {
    zoom: 1;
    filter: alpha(opacity=10);
    opacity: 0.1;
}

.trans20 {
    zoom: 1;
    filter: alpha(opacity=20);
    opacity: 0.2;
}

.trans30 {
    zoom: 1;
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.trans40 {
    zoom: 1;
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.trans50 {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.trans60 {
    zoom: 1;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.trans70 {
    zoom: 1;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.trans80 {
    zoom: 1;
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.trans85 {
    zoom: 1;
    filter: alpha(opacity=85);
    opacity: 0.85;
}

.trans90 {
    zoom: 1;
    filter: alpha(opacity=90);
    opacity: 0.9;
}

.paddedRenderbody {
    padding: 10px;
}

/*labelify prompt class*/
input.labelHighlight {
    font-style: italic !important;
    color: #777777 !important;
}

.wizardStep {
    padding: 4px 0px 4px 15px;
}


.wizardStepActive {
    background-color: #04296f;
    color: #ffffff;
    /*font-weight:bold;*/
}

.wizardSteps {
    color: #7ba13e;
}

.detailsClickable {
    text-decoration: none;
    cursor: pointer !important;
}

    .detailsClickable:hover {
        text-decoration: underline;
    }

/* Form Styles */

#formCreatePublic .form-field,
#formEditPublic .form-field,
#formCreateExternal .form-field,
#formEditExternal .form-field,
#formCreateInternal .form-field,
#formEditInternal .form-field {
    float: left;
    width: 340px;
}

#formCreatePublic .val-message,
#formEditPublic .val-message,
#formCreateExternal .val-message,
#formEditExternal .val-message,
#formCreateInternal .val-message,
#formEditInternal .val-message {
    float: left;
}

.wizardStepTitle {
    font-weight: bold;
    padding-left: 10px;
    color: #04296F;
}

.subSectionTitle {
    font-weight: bold;
    margin-bottom: 10px;
}

.wizardStepDescriptor {
    padding-left: 10px;
}

.trans10 {
    zoom: 1;
    filter: alpha(opacity=10);
    opacity: 0.1;
}

.trans20 {
    zoom: 1;
    filter: alpha(opacity=20);
    opacity: 0.2;
}

.trans30 {
    zoom: 1;
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.trans40 {
    zoom: 1;
    filter: alpha(opacity=40);
    opacity: 0.4;
}

.trans50 {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.trans60 {
    zoom: 1;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.trans70 {
    zoom: 1;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.trans80 {
    zoom: 1;
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.trans90 {
    zoom: 1;
    filter: alpha(opacity=90);
    opacity: 0.9;
}

.indexLoginRegBtn {
    display: inline-block;
    background-color: #011d52;
    font-weight: bold;
    font-size: 16px;
    border: solid 1px #000f29;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff !important;
    width: 110px;
    vertical-align: middle;
}

    .indexLoginRegBtn:hover {
        border: solid 1px #3f88e3 !important;
        text-decoration: none;
        color: #ffffff;
    }

    .indexLoginRegBtn.small {
        width: 70px;
    }

.loginSeparator {
    border-right: 1px solid #011D52;
    display: inline-block;
    height: 60px;
    margin-right: 15px;
    vertical-align: middle;
    width: 15px;
}

.IRBTransBack {
    background-color: #87b3fa;
    height: 45px;
    margin-bottom: 5px;
    /*border:solid 1px #f9e6c1;*/
}

.IRBSolidFront {
    background-color: #7ba13e;
    border: solid 1px #7ba13e;
    height: 45px;
    line-height: 40px;
    vertical-align: middle;
    padding-left: 15px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
    text-decoration: none !important;
    color: #ffffff !important;
    font-weight: bold;
}

    .IRBSolidFront:hover {
        /*text-decoration:underline!important;*/
        color: #ffffff !important;
        border: solid 1px #90bc49;
        background-color: #6e9333;
    }

.indexLeft {
    width: 41%;
    float: left;
    background-color: #02397b;
    color: #ffffff;
    padding: 3%;
    height: 303px;
}

.indexRight {
    width: 50%;
    float: right;
}

.indexWelcome {
    font-size: 24px;
    letter-spacing: 1px;
}

.renderbodyRight .checkbox, .renderbodyLeft .checkbox, .checkbox {
    background-position: -537px -35px;
}

    .renderbodyRight .checkbox.checked, .renderbodyLeft .checkbox.checked, .checkbox.checked {
        background-position: -519px -35px;
    }
