﻿@{
    ViewBag.Title = "Log in";
}

<div style="clear: both; padding-top: 20px;" id="bottom">
    <div class="renderbodyRight" style="overflow: hidden; left: 0; text-align: center; margin-top: 75px;">
        <div class="divVerticalBottomSpacer" style="font-weight: bold;">Thank you for registering with WSIPS</div>
        <div class="divVerticalBottomSpacer">
            An email has been sent to the email address you provided during registration. Once received, please click on the confirmation link to finalize the registration process.
        </div>

        <div class="divVerticalBottomSpacer">
            If this email is not received please be certain to check in your junk mail folder.
        </div>

    </div>
</div>