﻿@{
    ViewBag.Title = "Log in";
}

<div style="clear: both; padding-top: 20px;" id="bottom">
    <div class="renderbodyRight" style="overflow: hidden; left: 0; text-align: center; margin-top: 75px;">
        <div class="divVerticalBottomSpacer" style="font-weight: bold;">Account Confirmed</div>
        <div>Your account was successfully confirmed. You may proceed to <a href="@Url.Action(MVC.Security.Account.Login())">login page</a>.</div>
    </div>
</div>