﻿@model MDGov.MDE.WSIPS.Portal.ExternalWeb.Areas.Security.Models.RegisterModel
@{
    ViewBag.Title = "Edit Account";
}
<div class="renderbodyRight scrollcontainer" style="left: 0">
    <div style="display: table; width: 550px; margin: 0px auto;">
        <h3>Edit Account</h3>

        @using (Ajax.BeginForm(MVC.Security.Account.EditAccount(), new AjaxOptions { HttpMethod = "POST", OnSuccess = "onUpdateContactComplete" }, new { id = "editContactForm" }))
        {
            @Html.HiddenFor(model => model.ContactId)
            @Html.HiddenFor(model => model.UserId)
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.FirstName)</span>
                @Html.TextBoxFor(m => m.FirstName)
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.MiddleInitial)</span>
                @Html.TextBoxFor(m => m.MiddleInitial)
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.LastName)</span>
                @Html.TextBoxFor(m => m.LastName)
                @Html.ValidationMessageFor(m => m.LastName)
            </div>

            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.BusinessName)</span>
                @Html.TextBoxFor(m => m.BusinessName)
            </div>
            <!--<div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.SecondaryName)</span>
                @Html.TextBoxFor(m => m.SecondaryName)
            </div>-->
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.Address1)</span>
                @Html.TextBoxFor(m => m.Address1)
                @Html.ValidationMessageFor(m => m.Address1)
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.Address2)</span>
                @Html.TextBoxFor(m => m.Address2)
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.City)</span>
                @Html.TextBoxFor(m => m.City)
                @Html.ValidationMessageFor(m => m.City)
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(model => model.StateId)</span>
                @Html.DropDownListFor(model => Model.StateId, Model.StateList)
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.ZipCode)</span>
                @Html.TextBoxFor(m => m.ZipCode)
                @Html.ValidationMessageFor(m => m.ZipCode)
            </div>
            
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.TelephoneNumber)</span>
                @Html.TextBoxFor(m => m.TelephoneNumber)
                @Html.ValidationMessageFor(m => m.TelephoneNumber)
            </div>
            
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.EmailAddress)</span>
                @Html.TextBoxFor(m => m.EmailAddress)
                @Html.ValidationMessageFor(m => m.EmailAddress)
            </div>
            <div class="divVerticalTopSpacerDouble" style="text-align: center">
                <div id="SaveContactMsg" style="color: red; margin-bottom: 10px; height: 18px;">
                </div>
                <input id="btnSave" type="submit" value="Save" />
            </div>
        }
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/jquery.maskedinput-1.3.1.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#TelephoneNumber").mask("999-999-9999");
            $("form").data("validator").settings.ignore = "";

            //set scrollwrap to 100% width
            $.jmttgCustomBrowser.setRenderbodyRightScrollWrap100Percent();
        });

        $('#btnSave').click(function () {
            $('#SaveContactMsg').empty();
        });

        function onUpdateContactComplete(response) {
            if (response.success) {
                $("#SaveContactMsg").html("Successfully updated contact information");
            } else {
                $("#SaveContactMsg").html(response.message);
            }
        }
    </script>
}