﻿@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .validation-summary-errors ul,.validation-summary-errors ul li
    {
        width:100%;
        font-size:.9em;
        padding-left: 10px;
    }
</style>
<section id="forgotPasswordForm">
    <div style="clear: both; padding-top: 20px;" id="bottom">
        <div class="renderbodyRight" style="overflow: hidden; left: 0;">
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {

            <div style="display:table;margin:50px auto 0px auto;">
                <div class="nav-section"style="min-width:500px;">

                    <div class="nav-content" style="min-width:500px;padding-top:10px;padding-bottom:10px">
                        <div class="divVerticalBottomSpacer">
                            <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width:120px">&nbsp;</span>
                            <span style="font-weight: bold; font-size:1.1em;">Reset Password</span>
                        </div>
                        <div class="divVerticalBottomSpacer">
                            <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width:120px">&nbsp;</span>
                            <span style="font-size: .9em;">You will receive an email with reset password instructions.</span>
                        </div>
                        <div class="divVerticalBottomSpacer">
                            <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width:120px">@Html.Label("Email Address")</span>
                            <span style="display:inline">@Html.TextBox("UserName")</span>
                        </div>
                        <div style="text-align:center" class="divVerticalBottomSpacer divVerticalTopSpacer">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(false)
                        </div>
                        <div class="divVerticalBottomSpacer" style="text-align:center">
                            <input type="submit" value="Reset Password" />
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>