﻿@model MDGov.MDE.WSIPS.Portal.ExternalWeb.Areas.Security.Models.LoginModel
@{
    ViewBag.Title = "Log in";
}

<style>
    .home-nav
    {
        /*margin: 30px 0 0 30px;*/
    }

    .nav-section
    {
        display: inline-block;
        margin: 0px 5px 0px 5px;
        padding: 0;
        width: 270px;
        text-align: left;
        vertical-align: top;
        background-color: transparent;
        height: 100%;
    }

    .nav-content
    {
        background-color: #ffffff;
        height: 100%;
    }

    .nav-section h2
    {
        color: #ffffff;
        background-color: #29477b;
        font-size: 14px;
        line-height: 25px;
        vertical-align: middle;
        margin: 0px!important;
        padding-bottom: 0px!important;
        padding: 5px 0px 5px 15px!important;
        font-weight: normal;
    }

    .nav-section ul
    {
        padding: 20px;
        width: 250px;
        margin: 0;
    }

    .nav-section li
    {
        list-style: none;
    }

    .nav-section a.disabled
    {
        color: #898a8a;
        cursor: default;
        text-decoration: none!important;
    }

    .nav-section a
    {
        color: #06265f;
        text-decoration: none;
    }

        .nav-section a:hover
        {
            text-decoration: underline;
        }

    #notifications-container
    {
        border: 1px solid #ccc;
        width: 250px;
        height: 300px;
        position: absolute;
        top: 20px;
        right: 60px;
        overflow: auto;
        background-color: #fff;
        padding: 10px;
        display: none;
    }

        #notifications-container p.link
        {
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }

        #notifications-container a
        {
            color: blue;
        }

    #body
    {
        background-color: transparent!important;
    }

    .separatorDiv
    {
        vertical-align: top;
        margin-top: 20px;
    }

    .validation-summary-errors ul, .validation-summary-errors ul li
    {
        width: 100%;
        font-size: .9em;
    }
</style>
<hgroup class="title">
    @ViewBag.Title.
</hgroup>
<div>
    <section id="loginForm">

        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            <div style="display: table; margin: 50px auto 0px auto;">
                <div class="nav-section" style="min-width: 500px;">
                    <h2>Log In Form</h2>
                    <div class="nav-content trans90" style="min-width: 500px; padding-top: 10px; padding-bottom: 10px">

                        <div class="divVerticalBottomSpacer">
                            <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 120px">@Html.LabelFor(m => m.UserName)</span>
                            <span style="display: inline">@Html.TextBoxFor(m => m.UserName)<br />
                            </span>
                            <span style="padding-left: 135px; font-size: 0.9em; color: #666;"><em>The email address with which you registered</em></span>
                        </div>
                        <div class="divVerticalBottomSpacer">
                            <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 120px">@Html.LabelFor(m => m.Password, new { text = "width:80px;" })</span>
                            @Html.PasswordFor(m => m.Password)
                        </div>
                        <div class="divVerticalBottomSpacer">
                            <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 120px">&nbsp;</span>
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                        </div>
                        <div style="text-align: center" class="divVerticalBottomSpacer divVerticalTopSpacer">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(false)
                        </div>
                        <div style="text-align: center" class="divVerticalBottomSpacer divVerticalTopSpacer">
                            <a href="@Url.Action(MVC.Security.Account.ForgotPasswordRequest())">Reset Password</a>
                        </div>
                        <div class="divVerticalBottomSpacer" style="text-align: center">
                            <input type="submit" value="Log in" />
                        </div>
                        <p style="text-align: center">
                            <a onclick="RegisterCustomer()" href="#">Register</a>if you don't have an account.
                        </p>
                    </div>
                </div>
            </div>    
        }
    </section>
</div>
<div id="RegistrationDialog" style="display: none;" title="Registration">
    <div class="divVerticalBottomSpacer" style="text-align: center">
        <div style="margin-top: 10px;">If you have been provided a registration code enter it below.</div>
        <div style="margin-top: 5px;">If not click <a id="register" href="#"> here</a></div>
    </div>
    <div class="divVerticalBottomSpacer" style="text-align: center">
        <span>Registration code </span><span>@Html.TextBox("contactId")</span>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/backstretch.js"></script>
    <script type="text/javascript">
        var globalData = {
            registrationUrl: '@Url.Action(MVC.Security.Account.Register(0))'
          };
        $(function ($) {
            $.backstretch('@Url.Content("~/Content/Images/back.jpg")');
        });

        function RegisterCustomer() {
            $('#register').on('click', function () {
                window.location.href = '@Url.Action(MVC.Security.Account.Register(0))';
            });

            $("#RegistrationDialog").dialog({
                resizable: false,
                draggable: false,
                width: 460,
                modal: true,
                buttons: {
                    "Submit": function () {
                        var contactId = $("#contactId").val();

                        var url = '@Url.Action(MVC.Security.Account.ValidateContact(0))';
                        var urlContent = url.split('?');
                        var validateUrl = urlContent[0] + '?contactId=' + contactId;

                        if (contactId != "" && !isNaN(contactId)) {

                            $.ajax({
                                url: validateUrl,
                                type: 'GET',
                                data: {},
                                success: function (response) {
                                    if (response.isValid) {
                                        var _urlContent = globalData.registrationUrl.split('?');
                                        window.location.href = _urlContent[0] + '?contactId=' + contactId;
                                    }
                                    else {
                                        alert("This Registration Code is Invalid");
                                    }
                                }
                            });

                        } else {
                            alert("This Registration Code is Invalid");
                        }
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });
        }
    </script>
}