﻿@{
    ViewBag.Title = "Password Successfully Changed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="clear: both; padding-top: 20px;" id="bottom">
    <div class="renderbodyRight" style="overflow: hidden; left: 0; text-align: center; margin-top: 75px;">
        <div class="divVerticalBottomSpacer" style="font-weight: bold;">Password Changed</div>
        <div>Your password was successfully changed.</div>
    </div>
</div>