﻿@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="clear: both; padding-top: 20px;" id="bottom">
    <div class="renderbodyRight" style="overflow: hidden; left: 0; text-align: center; margin-top: 75px;">
        <div class="divVerticalBottomSpacer" style="font-weight: bold;">Forgot Password?</div>
        <img src="~/Content/Images/EMail_Gray.png" />
        <div>An email has been sent to the your email account with password reset instructions.</div>
    </div>
</div>