﻿@model MDGov.MDE.WSIPS.Portal.ExternalWeb.Areas.Security.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<style>
    .spanSetWidth
    {
        display: inline-block;
        width: 25%;
    }
</style>
<div class="renderbodyRight scrollcontainer" style="left: 0">
    <div style="display: table; width: 730px; margin: 0px auto;">
        <h3>Create a new account</h3>
        <div style="padding-bottom: 30px">
            Please provide the following information in order to create your WSIPS account. Your email will serve as your WSIPS username and an email will be sent to the address provided with additional information on how to activate your account.
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model=> model.ExistingContact)
            @Html.HiddenFor(model=> model.Id)

            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.FirstName)</span>
                @Html.TextBoxFor(m => m.FirstName) *
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.MiddleInitial)</span>
                @Html.TextBoxFor(m => m.MiddleInitial)
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.LastName)</span>
                @Html.TextBoxFor(m => m.LastName) *
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
            <!--<div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.SecondaryName)</span>
                @Html.TextBoxFor(m => m.SecondaryName)
            </div>-->
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.BusinessName)</span>
                @Html.TextBoxFor(m => m.BusinessName)
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.Address1)</span>
                @Html.TextBoxFor(m => m.Address1) *
                @Html.ValidationMessageFor(m => m.Address1)
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.Address2)</span>
                @Html.TextBoxFor(m => m.Address2)
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.City)</span>
                @Html.TextBoxFor(m => m.City) *
                @Html.ValidationMessageFor(m => m.City)
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.StateId)</span>
                @Html.DropDownListFor(m => m.StateId, Model.StateList) *
                @Html.ValidationMessageFor(m => m.StateId)
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.ZipCode)</span>
                @Html.TextBoxFor(m => m.ZipCode) *
                @Html.ValidationMessageFor(m => m.ZipCode)
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.TelephoneNumber)</span>
                @Html.TextBoxFor(m => m.TelephoneNumber) *
                @Html.ValidationMessageFor(m => m.TelephoneNumber)
            </div>
            <div class="divVerticalBottomSpacer">&nbsp;</div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.EmailAddress)</span>
                @Html.TextBoxFor(m => m.EmailAddress) *
                @Html.ValidationMessageFor(m => m.EmailAddress)
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.Password)</span>
                @Html.PasswordFor(m => m.Password) *
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(m => m.ConfirmPassword)</span>
                @Html.PasswordFor(m => m.ConfirmPassword) *
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded"></span>Note: Please write down your password
            </div>
            <div class="divVerticalBottomSpacer">
                <div style="text-align: center; padding-top: 20px">
                    <input type="submit" value="Register" />
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.1.js")"></script>
    <script type="text/javascript">
        $(function () {
            //set scrollwrap to 100% width

            $("form").data("validator").settings.ignore = "";
            $("#TelephoneNumber").mask("999-999-9999");

            $.jmttgCustomBrowser.setRenderbodyRightScrollWrap100Percent();
        });
    </script>
}