/* changed NO border on scrolling area */
.scrollable {
	border: 0px solid #C5C5C5;
}

.scrollable .vscroller {
	/*
    background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0, rgb(242,242,242))
	);
    */
	background-image: -moz-linear-gradient(
		center right,
		rgb(242,242,242) 0%
	);
}

.scrollable .hscroller {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(242,242,242)),
		color-stop(1, rgb(225,225,225))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(242,242,242) 0%
	);
}

.scrollable .vscroller .scrollarea {
	left: 2px;
	right: 2px;
	/*
	background-image: -webkit-gradient(
		linear,
		right top,
		left top,
		color-stop(0, rgb(250,250,250)),
		color-stop(1, rgb(216,216,217))
	);
    */
	background-image: -moz-linear-gradient(
		center right,
		rgb(250,250,250) 0%
	);
}

.scrollable .hscroller .scrollarea {
	top: 2px;
	bottom: 2px;
	
	background-image: -webkit-gradient(
		linear,
		right bottom,
		right top,
		color-stop(0, rgb(250,250,250)),
		color-stop(1, rgb(216,216,217))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(250,250,250) 0%
	);
}

.scrollable .scrollarea {
	background-color:transparent;
	
	border:none;
	/*
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
*/
}

.scrollable .vscroller .scrollblock {
	left: 4px;
	right: 4px;
	
	/*background-image: -webkit-gradient(
		linear,
		right top,
		left top,
		color-stop(0, rgb(170,174,178)),
		color-stop(1, rgb(218,220,223))
	);
        */
	background-image: -moz-linear-gradient(
		center right,
		rgb(170,174,178) 0%
	);
}

.scrollable .hscroller .scrollblock {
	top: 4px;
	bottom: 4px;
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(170,174,178)),
		color-stop(1, rgb(218,220,223))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(170,174,178) 0%
	);
}


.scrollable .filler {
	background-color: transparent;
}

/* Gray (dialog) */
.scrollblock.gray
{
    background-color: #aaaaaa!important;
}
.scrollbtn.scrolltop.gray, .scrollbtn.scrolldown.gray{
	color: #aaaaaa;
}
.scrollable .scrollbtn.gray:hover {
	color: #7b7b7b;
}
.scrollable .scrollblock.gray:hover
{
    background-color:#7b7b7b!important;
}


/* GLOBAL */
.scrollable .scrollblock:hover {
	background-color: #7c9cb1;
}
.scrollable .scrollbtn:hover {
	color: #7c9cb1;
}
.scrollable .scrollbtn {
	color: #445d88;
}
.scrollable .scrollblock {
	border: none;
	margin: -1px;
	background-color: #445d88;
}

/* RIGHT CONTAINER 
.renderbodyRight .scrollable .scrollblock:hover {
    background-color:#7ba13e!important;
}
.renderbodyRight .scrollable .scrollbtn:hover {
	color: #7ba13e;
}
.renderbodyRight .scrollable .scrollbtn {
	color: #b0cd7c;
}
.renderbodyRight .scrollable .scrollblock {
    background-color: #b0cd7c!important;
}
    */