﻿@using System.Web.Mvc
@model PermitWwPrivateWaterSupplierForm
<div class="divVerticalBottomSpacerDouble" style="padding-bottom: 15px; border-bottom: 1px solid gray;">
    <div><b>@Model.Title</b><b>- Use Percentage: @Html.TextBoxFor(model => Model.UsePercentage, new { @class = "textboxSmall" })</b></div>

    @Html.HiddenFor(model => model.PermitWaterWithdrawalPurposeId)
    @if (Model.PermitWaterWithdrawalPurposeId == 16 || Model.PermitWaterWithdrawalPurposeId == 17 || Model.PermitWaterWithdrawalPurposeId == 23 || Model.PermitWaterWithdrawalPurposeId == 24 || Model.PermitWaterWithdrawalPurposeId == 45 || Model.PermitWaterWithdrawalPurposeId == 46)
    {
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">
                No of employees
            </span>
            @Html.TextBoxFor(model => model.NoOfEmployees, new { @class = "required commaInserted" })
            <span>*</span>
            @Html.ValidationMessageFor(model => Model.NoOfEmployees)
        </div>
    }

    @if (Model.PermitWaterWithdrawalPurposeId == 46)
    {
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">
                No of other regular users per day
            </span>
            @Html.TextBoxFor(model => model.NoOfRegularUsersPerDay, new { @class = "required commaInserted" })
            <span>*</span>
            @Html.ValidationMessageFor(model => Model.NoOfRegularUsersPerDay)
        </div>
    }

    @if (Model.PermitWaterWithdrawalPurposeId == 39 || Model.PermitWaterWithdrawalPurposeId == 54)
    {
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">
                No of lots/Units
            </span>
            @Html.TextBoxFor(model => model.NoOfLotsOrUnits, new { @class = "required commaInserted" })
            <span>*</span>
            @Html.ValidationMessageFor(model => Model.NoOfLotsOrUnits)
        </div>
    }

    @if (Model.PermitWaterWithdrawalPurposeId == 39)
    {
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">
                Swimming pool?
            </span>
            @Html.CheckBoxFor(model => model.SwimmingPool, new { @class = "yesNo" })
            <span>*</span>
            @Html.ValidationMessageFor(model => Model.SwimmingPool)
        </div>
    }

    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Groundwater, Average No. of Gallons per day to be withdrawn on an annual basis
        </span>
        @Html.TextBoxFor(model => model.AverageGallonPerDayFromGroundWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => Model.AverageGallonPerDayFromGroundWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Groundwater, Gallons per day to be withdrawn during month of maximum use
        </span>
        @Html.TextBoxFor(model => model.MaximumGallonPerDayFromGroundWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => Model.MaximumGallonPerDayFromGroundWater)
    </div>
    @*@if (Model.WaterWithdrawalPurposeId == 37 || Model.WaterWithdrawalPurposeId == 38 || Model.WaterWithdrawalPurposeId == 39 || Model.WaterWithdrawalPurposeId == 54)
        {
            <div class="divVerticalBottomSpacer waterSupplyInfoOptional" style="display: none;">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">Number of Lots / Residential Units
                </span>
                @Html.TextBoxFor(model => model.NoOfLotsOrUnits, new { @class = "required commaInserted" })
                <span>*</span>
                @Html.ValidationMessageFor(model => Model.NoOfLotsOrUnits)
            </div>
        }*@
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Surface Water, Average No. of Gallons per day to be withdrawn on an annual basis
        </span>
        @Html.TextBoxFor(model => model.AverageGallonPerDayFromSurfaceWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => Model.AverageGallonPerDayFromSurfaceWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Surface Water, Maximum gallons per day to be withdrawn
        </span>
        @Html.TextBoxFor(model => model.MaximumGallonPerDayFromSurfaceWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => Model.MaximumGallonPerDayFromSurfaceWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Describe how estimate was derived
        </span>
        @Html.TextAreaFor(model => model.EstimateDescription, new { style = "width:275px;", @class = "required" })
        <span>*</span>
        @Html.ValidationMessageFor(model => Model.EstimateDescription)
    </div>
</div>
