﻿@using System.Web.Mvc
@model MDGov.MDE.WSIPS.Portal.ExternalWeb.Areas.Permitting.Models.Forms.WastewaterTreatmentAndDisposalForm

<div class="divVerticalBottomSpacerDouble" style="padding-bottom: 15px;border-bottom:1px solid gray;">
    <div><b>@Model.Title</b></div>
    @Html.HiddenFor(model => model.WaterWithdrawalPurposeId)

    @if (Model != null)
    {
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">Will this water withdrawal result in any wastewater discharge? </span>
            @Html.CheckBoxFor(model => Model.IsWastewaterDischarge, new { @class = "yesNo" })
        </div>
        
        if (Model.IsWastewaterDischarge)
        {
        <div class="wasteWaterTreatmentInfoContainer">
            @showContent()
        </div>

        }
        else
        {
        <div class="wasteWaterTreatmentInfoContainer" style="display:none;">
            @showContent()
        </div>
        }
    }

    @helper showContent()
    {
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">Select the kind of wastewater treatment and disposal system that will be used
                </span>
                @Html.DropDownListFor(model => Model.WaterDispersementTypeId, Model.WaterDispersementTypeList, new { @class = "required WastewaterTreatmentDisposalFormDropDown" })
                <span>*</span>
                @Html.ValidationMessageFor(model => Model.WaterDispersementTypeId)
            </div>
            if (Model.WaterDispersementTypeId == 4)
            {
                <div class="natureOfGroundwaterDischarge">
                    <div class="divVerticalBottomSpacer">
                        <span class="spanSetWidth spanSetWidthAlignRightPadded">Describe the nature of the groundwater discharge
                        </span>
                        @Html.TextAreaFor(model => Model.GroundwaterDischargeDiscription, new { style = "width:275px;", @class = "required" })
                    <span>*</span>
                        @Html.ValidationMessageFor(model => Model.GroundwaterDischargeDiscription)
                    </div>
                </div>
            }
            else
            {
                <div class="natureOfGroundwaterDischarge" style="display:none;">
                <div class="divVerticalBottomSpacer">
                    <span class="spanSetWidth spanSetWidthAlignRightPadded">Describe the nature of the groundwater discharge
                    </span>
                    @Html.TextAreaFor(model => Model.GroundwaterDischargeDiscription, new { style = "width:275px;", @class = "required" })
                <span>*</span>
                    @Html.ValidationMessageFor(model => Model.GroundwaterDischargeDiscription)
            </div>
            </div>
            }
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">Enter the  discharge permit number
                </span>
                @Html.TextBoxFor(model => Model.PermitDischargeNumber)
            </div>
    }
</div>
