﻿@model WithdrawalLocationForm
@Html.HiddenFor(form => form.Id)
@Html.HiddenFor(form => form.PermitId)
@Html.HiddenFor(form => form.WithdrawalLocationX)
@Html.HiddenFor(form => form.WithdrawalLocationY)
@Html.HiddenFor(form => form.SpatialReferenceId)
<div class="divVerticalBottomSpacerDouble">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.WithdrawalSourceId)</span>
    <span class="spanRightInlineBlock">@Html.DropDownListFor(form => form.WithdrawalSourceId, new SelectList(Model.WithdrawalSourceList, "Id", "Description", Model.WithdrawalSourceId))&nbsp*</span>
</div>
<div class="divVerticalBottomSpacerDouble">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.WithdrawalTypeId)</span>
    <span class="spanRightInlineBlock">@Html.DropDownListFor(form => form.WithdrawalTypeId, Model.WithdrawalTypeList)&nbsp*</span>
</div>

@if (Model.PermitWaterWithdrawalPurposeList != null && Model.PermitWaterWithdrawalPurposeList.Any())
{
    <div class="divVerticalBottomSpacerDouble">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.PermitWaterWithdrawalPurposeList)</span>
        <span class="spanRightInlineBlock" style="vertical-align: top; max-width: 310px;">
            @{
    int i = 0;
    foreach (var item in Model.PermitWaterWithdrawalPurposeList)
    {
        <input type="hidden" name="PermitWaterWithdrawalPurposeList[@i].Key.Id" value="@item.Key.Id" />
        <input type="hidden" name="PermitWaterWithdrawalPurposeList[@i].Key.Description" value="@item.Key.Description" />
        <input type="checkbox" id="PermitWaterWithdrawalPurposeList_@i" name="PermitWaterWithdrawalPurposeList[@i].Value" checked="@(item.Value ? "checked" : null)" value="true" class="waterUseCategoryAndTypeOption" />
        <input type="hidden" name="PermitWaterWithdrawalPurposeList[@i].Value" value="false" />
        <label for="PermitWaterWithdrawalPurposeList_@i" style="font-weight: normal;">@item.Key.Description</label>
        <br />
        i++;
    }
            }
        </span>
    </div>
}

<div id="groundwatercontainer" style="@(Model.WithdrawalSourceId == 1 ? null : "display: none;")">
    <div id="wellInfoContainer" style="@(Model.WithdrawalTypeId == 1 ? null : "display: none;")">
        <div class="divVerticalBottomSpacerDouble">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.IsExistingWell)</span>
            <span class="spanRightInlineBlock">@Html.CheckBoxFor(form => form.IsExistingWell, new { @class = "yesNo" })&nbsp*</span>
        </div>
        <div class="divVerticalBottomSpacerDouble">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.WellDepth)</span>
            <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.WellDepth, new { style = "width: 300px;" })</span>
        </div>
        <div class="divVerticalBottomSpacerDouble">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.WellDiameter)</span>
            <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.WellDiameter, new { style = "width: 300px;" })</span>
        </div>
        <div class="divVerticalBottomSpacerDouble">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.WellTagNo)</span>
            <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.WellTagNo, new { style = "width: 300px;" })</span>
        </div>
    </div>
    <div class="divVerticalBottomSpacerDouble">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.Comments)</span>
        <span class="spanRightInlineBlock" style="vertical-align: top;">@Html.TextAreaFor(form => form.Comments, new { style = "resize: none; width: 300px; height: 100px;" })</span>
    </div>
</div>
<div id="surfacewatercontainer" style="@(Model.WithdrawalSourceId == 2 ? null : "display: none;")">
    <div id="stateStreamInput" class="divVerticalBottomSpacerDouble" style="@(Model.WithdrawalTypeId == 4 ? null : "display: none;")">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.SelectedStateStreamId)</span>
        <span class="spanRightInlineBlock">@Html.DropDownListFor(form => form.SelectedStateStreamId, Model.StateStreamList)&nbsp*</span>
    </div>
    <div class="divVerticalBottomSpacerDouble" id="OtherStreamContainer" style="@(Model.SelectedStateStreamId == -1 ? null : "display: none;")">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.OtherStreamName)</span>
        <span class="spanRightInlineBlock">@Html.TextBoxFor(form => form.OtherStreamName, new { style = "width: 300px;" })&nbsp*</span>
    </div>
    <div class="divVerticalBottomSpacerDouble">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.IntakeLocation)</span>
        <span class="spanRightInlineBlock" style="vertical-align: top;">@Html.TextAreaFor(form => form.IntakeLocation, new { style = "resize: none; width: 300px; height: 100px;", title = "Please provide information such as number of feet from shore and withdrawal depth" })</span>
    </div>
</div>
