﻿@model ApplicationWizard
<div style="font-weight: bold; margin: 0px auto 5px auto; text-align: center; background-color: #FFFFCC; padding: 5px; border: 1px solid #cece77;" class="permitteeTitleContainer">
    This Permit is Being Requested By: <span class="permitteeTitle" style="font-style: italic;"></span>
</div>
@for (int i = 0; i < Model.Contacts.Count; i++)
{
    var contact = Model.Contacts[i];
    if (contact.ContactType == ContactType.WaterUser)
    {
    <div id="@contact.ContactType">
        <div style="margin-bottom: 20px; text-align: center; padding: 5px;">
            <span>To select or create a different contact <span class="spanLink" onclick="ContactSearch.Initialize('WaterUser')" style="color: blue;">click here</span>
            </span>
        </div>
        <div style="margin-bottom: 0px; font-weight: bold; border-top: 1px solid #ccc; padding-top: 15px;">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">The water user is</span>
            <span>@Html.RadioButtonFor(m => m.Contacts[i].IsBusiness, false) an individual</span>
            <span>@Html.RadioButtonFor(m => m.Contacts[i].IsBusiness, true) a business</span>
        </div>
        @Html.EditorFor(m => m.Contacts[i])
    </div>
    }
    else if (contact.ContactType == ContactType.LandOwner)
    {
    <div id="@contact.ContactType">
        <div style="margin-bottom: 20px; text-align: center; padding: 5px;">
            <span>To select or create a different contact <span class="spanLink" onclick="ContactSearch.Initialize('LandOwner');" style="color: blue;">click here</span>
            </span>
        </div>
        <div style="margin-bottom: 0px; font-weight: bold; border-top: 1px solid #ccc; padding-top: 15px;">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">The land owner is</span>
            <span>@Html.RadioButtonFor(m => m.Contacts[i].IsBusiness, false) an individual</span>
            <span>@Html.RadioButtonFor(m => m.Contacts[i].IsBusiness, true) a business</span>
        </div>
        @Html.EditorFor(m => m.Contacts[i])
    </div>
    }
    else if (contact.ContactType == ContactType.Consultant)
    {
    <div id="@contact.ContactType">
        <div style="margin-bottom: 20px; text-align: center; padding: 5px;">
            <span>To select or create a different contact <span class="spanLink" onclick="ContactSearch.Initialize('Consultant');" style="color: blue;">click here</span>
            </span>
        </div>
        <div style="margin-bottom: 0px; font-weight: bold; border-top: 1px solid #ccc; padding-top: 15px;">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">The consultant user is</span>
            <span>@Html.RadioButtonFor(m => m.Contacts[i].IsBusiness, false) an individual</span>
            <span>@Html.RadioButtonFor(m => m.Contacts[i].IsBusiness, true) a business</span>
        </div>
        @Html.EditorFor(m => m.Contacts[i])
    </div>
    }
}