﻿<div class="localNavContainer">
    <span id="permitteeNavControl">
        <span class="localNavigationSpanHorizontalSpacer">
            <span id="permitteeSpan" class="localNavigationBold"></span>
        </span>
    </span>
    <br/>
    <span id="permitteeNavControl">
        <!--<span class="localNavigationSeparator">|</span>-->
        <span class="localNavigationSpanHorizontalSpacer">
            <span id="projectNameSpan" class="localNavigationBold"></span>
        </span>
    </span>
    <span id="permitHistoryNavControl">
        <span class="localNavigationSeparator">|</span>
        <span class="localNavigationSpanHorizontalSpacer">
            <span id="permitNumberSpan" class="localNavigationBold"></span>
            @if (SessionHandler.GetSessionVar<IEnumerable<string>>(SessionVariables.AuthenticatedUserRoles).Any())
            {
                <span id="permitNumberArrowSpan" class="localNavigationEdit" title="Show History" style="padding-left: 5px;">(Lineage)</span>
            }
        </span>
    </span>
    <span id="permitTypeNavControl" style="display: none;">
        <span class="localNavigationSeparator">|</span>
        <span class="localNavigationSpanHorizontalSpacer">
            <span class="localNavigationBold">Type:</span>
            <span id="permitTypeSpan" class="localNavigationValue"></span>
            @if (SessionHandler.GetSessionVar<IEnumerable<string>>(SessionVariables.AuthenticatedUserRoles).Any())
            {
                <span id="permitTypeEditSpan" class="localNavigationEdit" title="Edit Permit Type">(Edit)</span>
            }
            <span id="afterPermitTypeEdit"></span>
        </span>
    </span>
    <span id="permitStatusNavControl">
        <span class="localNavigationSeparator">|</span>
        <span class="localNavigationSpanHorizontalSpacer">
            <span class="localNavigationBold">Status:</span>
            <span id="permitStatusSpan" class="localNavigationValue"></span>
        </span>
    </span>
</div>

<div id="permitHistoryPulldown" class="LNPulldown permitHistoryPulldown" data-geturl="@Url.Action(MVC.Permitting.Permit.GetPermitHistory())">
    <div id="permitHistory">
        <div class="LNPulldownTopMessageContainer">Permit History:</div>
        <div id="history" class="LNPulldownScrollContentContainer" style="bottom: 90px;">
            <div class="LNPulldownScrollContent">
            </div>
            <div id="EditPermitNumberDialog" style="display: none;">
                @Html.Hidden("IsUniquePermitNumberAction", Url.Action(MVC.Permitting.Permit.IsUniquePermitNumber()))
                @Html.Hidden("SavePermitNumberAction", Url.Action(MVC.Permitting.Permit.SetPermitNumber()))
                <div class="divVerticalBottomSpacer" style="margin-top: 15px;">
                    <span class="spanSetWidth spanSetWidthAlignRightPadded"><label for="PermitNumber">Enter New Permit Number:</label></span>
                    <span class="spanRightInlineBlock"><input type="text" id="PermitNumber" name="PermitNumber" /></span>
                </div>
            </div>
        </div>
    </div>
    <div id="relatedPermits">
        <div class="LNPulldownTopMessageContainer" style="top: 110px;">Related Permits:</div>
        <div id="related" class="LNPulldownScrollContentContainer" style="top: 135px;">
            <div class="LNPulldownScrollContent">
            </div>
            <div id="SupplementalGroupDialog" title="Supplemental and Combined" style="display: none; text-align: center;">
                <div id="SearchPermitSection">
                    <div>Enter 1 or more permit numbers with revision, separated by commas, with which to group this permit</div>
                    <div style="margin: 10px 0px;">
                        <input id="SupplementalGroupSearchTextBox" type="text" style="width: 400px;" />
                        <input id="SupplementalGroupSearchButton" type="button" value="Search" data-url="@Url.Action(MVC.Permitting.Permit.SearchSupplementalGroupGridData())" />
                    </div>
                    <div id="NoResultsFoundMsg" style="display: none; margin-bottom: 10px;">No Groups Found. Please <span class="spanLink" id="CreateSupplementalGroupLink" data-posturl="@Url.Action(MVC.Permitting.Permit.CreateNewSupplementalGroup())">create a new group</span>.</div>
                    <div id="SupplementalGroupSearchGridContainer" style="display: none;">
                        <table id="SupplementalGroupSearchGrid"></table>
                    </div>
                </div>
                <div id="ViewSupplementalGroupSection" style="display: none;">
                    @Html.Hidden("GetPermitIdAction", Url.Action(MVC.Permitting.Permit.GetPermitId()))
                    @Html.Hidden("GridDataAction", Url.Action(MVC.Permitting.Permit.ViewSupplementalGroupGridData()))
                    @Html.Hidden("SupplementalTypesAction", Url.Action(MVC.Permitting.Permit.GetSupplementalTypeList()))
                    @Html.Hidden("SetSupplementalTypeAction", Url.Action(MVC.Permitting.Permit.SetSupplementalGroupType()))
                    @Html.Hidden("AddToSupplementalGroupAction", Url.Action(MVC.Permitting.Permit.AddToSupplementalGroup()))
                    @Html.Hidden("RemoveFromSupplementalGroupAction", Url.Action(MVC.Permitting.Permit.RemoveFromSupplementalGroup()))
                    <div>Enter a permit number with revision to add to group</div>
                    <div style="margin: 10px;">
                        <input id="PermitName" type="text" />
                        <input id="AddButton" type="button" value="Add" />
                    </div>
                    <div id="AddPermitValidation" style="color: red; margin-bottom: 10px; margin-top: -5px; display: none;">This permit does not exist, or it is already in a group</div>
                    <table id="ViewSupplementalGroupGrid"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="LNPulldownBottomLinksContainer">
        <span class="LNPulldownBottomLink close" title="Close Menu">Close</span>
    </div>
</div>

<div id="permitTypePulldown" class="LNPulldown permitTypePulldown" data-geturl="@Url.Action(MVC.Permitting.Permit.GetPermitTypes())" data-saveurl="@Url.Action(MVC.Permitting.Permit.SavePermitType())">
    <div class="LNPulldownTopMessageContainer">Select New Permit Type:</div>
    <div class="LNPulldownScrollContentContainer">
        <div class="LNPulldownScrollContent">
        </div>
    </div>
    <div class="LNPulldownBottomLinksContainer">
        <span class="LNPulldownBottomLink save" title="Save Selected Permit Type">Save</span>
        <span class="LNPulldownBottomLinkSpearator"></span>
        <span class="LNPulldownBottomLink close" title="Close Menu">Close</span>
    </div>
</div>
