﻿Please enter the applicants name as it is signed on the application.

<style>
    #affirmationDialog.ui-dialog-titlebar-close {
        visibility: hidden;
    }
</style>


<p>
    Name:    @Html.TextBox("affirmationName")
</p>

<p>
    Date:
    <span id="affirmationDate"></span>
</p>

<p>
    <input type="button" value="Submit" id="affirmationButton" onclick="Affirmation.Submit()" />
</p>
<div id="affirmationMsg"></div>

<div id="affirmationDialog" title="Message" style="display: none;">
</div>