﻿@model MDGov.MDE.WSIPS.Portal.InternalWeb.Areas.Permitting.Models.Forms.ApplicationWizard
@{
    ViewBag.Title = "ApplicationWizard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Ajax.BeginForm(MVC.Permitting.Permit.ApplicationWizard(), new AjaxOptions { HttpMethod = "POST", OnSuccess = "ApplicationWizard.SaveCallBack" }, new { @id = "wizardForm" }))
{
    @Html.HiddenFor(model => model.PermitId)
    @Html.HiddenFor(model => model.PermitStatusId)
    @Html.HiddenFor(model => model.SelectedWaterUsePurposeIds)
    @Html.HiddenFor(model => model.CurrentStep)
    @Html.HiddenFor(model => model.ApplicationTypeId)
    @Html.HiddenFor(model => model.RefId)
    @Html.HiddenFor(model => model.RefIdPermitNumber)

    <div style="clear: both; padding-top: 20px;" id="bottom">
        <div id="wizardLeft" class="renderbodyLeft">
            <div class="ApplicantIdentification wizardStep wizardStepActive">Applicant Information</div>
            <div class="WaterUser wizardStep" style="display: none;">Water User</div>
            <div class="LandOwner wizardStep" style="display: none;">Land Owner</div>
            <div class="Consultant wizardStep" style="display: none;">Consultant</div>
            <div class="waterUseDescription wizardStep">Water Use Description</div>
            <div class="waterUseCategoryType wizardStep">Water Use Category & Type</div>
            <div class="waterUseDetails wizardStep" style="display: none;">Water Use Details</div>
            <div class="wastewaterTreatmentDisposal wizardStep" style="display: none;">Wastewater Treatment & Disposal</div>
            <div class="IdentifyLocation wizardStep">Identify Location</div>
            <div class="ReviewApplication wizardStep">Review Application</div>
            <div class="submitApplication wizardStep">Submit Application</div>
            <div style="text-align: center; margin-top: 20px;">
                <button type="button" id="attachDocumentLink" style="display: none">Attach Supporting Files</button>
            </div>
        </div>

        <div id="wizardRight" class="renderbodyRight" style="overflow: hidden;">
            <div id="top" style="height: 40px; left: 0; position: absolute; right: 0; top: 0; line-height: 40px; vertical-align: middle; min-width: 675px">
                <div style="float: left; padding-left: 10px; font-weight: bold;">Apply for a Permit</div>
                <div style="float: right; padding-right: 10px;">
                    <span id="SaveButton" style="display: none; margin-right: 20px">
                        <input type="button" value="Save and Resume Later" onclick="ApplicationWizard.SaveAndResumeLater()" />
                    </span>
                    <span id="BackButton" style="display: inline-block;">
                        <input type="button" value="< Back" onclick="ApplicationWizard.Back()" />
                    </span>
                    <span id="NextButton" style="display: inline-block;">
                        <input type="button" value="Next >" onclick="ApplicationWizard.Next()" />
                    </span>
                    <span id="CancelButton" style="display: inline-block; margin-left: 20px;">
                        <input type="button" value="Cancel" onclick="ApplicationWizard.Cancel()" />
                    </span>
                </div>
            </div>
            <div class="scrollcontainer" style="position: absolute; top: 40px; right: 0; bottom: 20px; left: 0;">
                <div id="ApplicantIdentification" style="display: none;">
                    @Html.Partial(MVC.Permitting.Permit.Views.ApplicantIdentification)
                </div>
                <div id="contactSearch" style="display: none;">
                    @Html.Partial(MVC.Permitting.Permit.Views.ContactSearch)
                </div>
                <div id="contactSearchResult" style="display: none">
                    @Html.Partial(MVC.Permitting.Permit.Views.ContactSearchResult)
                </div>
                <div id="SearchedContacts" style="display: none;">
                    @Html.Partial(MVC.Permitting.Permit.Views._ApplicationWizardContacts)
                </div>
                <div id="waterUseDescription" style="display: none;">
                    @Html.Partial(MVC.Permitting.Permit.Views.WaterUseDescription)
                </div>
                <div id="waterUseCatagoryAndType" style="display: none;">
                </div>
                <div id="waterUseDetails" style="display: none;">
                </div>
                <div id="WastewaterTreatmentAndDisposal" style="display: none;">
                    @Html.Partial(MVC.Permitting.Permit.Views.WastewaterTreatmentAndDisposal)
                </div>
                <div id="reviewApplication" style="display: none;">
                    @Html.Partial(MVC.Permitting.Permit.Views.ReviewApplication)
                </div>
                <div id="affirmation" style="display: none;">
                    @Html.Partial(MVC.Permitting.Permit.Views.Affirmation)
                </div>
            </div>
            <div id="identifyLocation" style="z-index: -9999; position: absolute; top: 40px; right: 1px; bottom: 20px; left: 0; border-left: solid 1px #ffffff;">
                @Html.Partial(MVC.Permitting.Permit.Views.IdentifyLocation)
            </div>
            <div id="attachedDocument" title="Attach Supporting Files" style="display: none;">
            </div>
            <div id="uploadConfirmation" title="Upload Successful" style="display: none;">
                Your file was successfully uploaded.  Would you like to upload another file?
            </div>
            <div style="position: absolute; bottom: 0px; text-align: center; right: 0px; left: 0px; font-style: italic; font-size: .9em; padding-bottom: 5px; background-color: white; height: 20px; line-height: 20px; vertical-align: middle; background-color: #FFFFCC; white-space: nowrap; overflow: hidden;">
                <span>If you need assistance completing this online application, please contact the Water Supply Program at 410-537-3714</span>
            </div>

            <div style="clear: both; padding-top: 20px;">
                <div id="MessageSummary" style="color: Red; text-align: center; font-weight: bold; display: none;"></div>
            </div>
        </div>
    </div>
    <input type ="hidden" id="selectedWaterUserCategoryTypeFromDB" value=@Model.SelectedWaterUsePurposeIds />
    <input type ="hidden" id="permitIssuedToFromDB" value=@Model.PermitIssuedTo />
}

<div id="saveMessage" style="text-align: center;">
</div>
@section topNav{
    <b>Application to Appropriate and Use Water of the State 
    @if (Model.ApplicationTypeId == 2)
    {
        <text> - Modification of </text>@Model.RefIdPermitNumber
    }
    else if (Model.ApplicationTypeId == 3)
    {
        <text> - Renewal of </text>@Model.RefIdPermitNumber
    }
    </b>
}

@section css{
    @Styles.Render("~/Content/jqgrid")
}

@section scripts{
    @Scripts.Render("~/Scripts/jquery.maskedinput-1.3.1.js")
    @Scripts.Render("~/bundles/esriarcgisapi")
    @Scripts.Render("~/Scripts/ViewScripts/Permit/ApplicationWizard/ApplicationWizard.js")
    @Scripts.Render("~/bundles/ViewScripts/Permit/Base")
    @Scripts.Render("~/bundles/ViewScripts/Permit/ApplicationWizard")
    @Scripts.Render("~/bundles/Library")
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/Scripts/jmtExtensions/jquery.jmttg-extension-jqGrid.js")
    @Scripts.Render("~/bundles/blockUI")
    @Scripts.Render("~/Scripts/jquery.maskMoney.js")
    <script type="text/javascript">
        var urls = {
            cancelUrl: '@Url.Action(MVC.Permitting.Permit.CancelPermitApplication())',
            summaryUrl: '@Url.Action(MVC.Permitting.Permit.Summary())',
            additionalLandOwnersUrl: '@Url.Action(MVC.Permitting.Permit.LoadAdditionalLandOwners())',
            waterUseCategoryAndTypeUrl: '@Url.Action(MVC.Permitting.WaterUseDetail.LoadWaterUseCategoryAndType())',
            waterUseDetailUrl: '@Url.Action(MVC.Permitting.WaterUseDetail.LoadWaterUseDetails())'
        }

        ContactSearch.GridDataUrl = '@Url.Action(MVC.Permitting.Permit.SearchContact())';

        $(document).ready(function () {
            var commaSeparatedValues = "" + $('#selectedWaterUserCategoryTypeFromDB').val();
            var ids = commaSeparatedValues.split(',');
            _.each(ids, function (id) {
                global.SelectedWaterUseCategoryTypeList[id] = id;
            });
        });
    </script>
}