﻿@model AllocationInformationForm
@using (Ajax.BeginForm(MVC.Permitting.Permit.SaveApprovedAllocation(), new AjaxOptions { HttpMethod = "POST", OnSuccess = "ApplicationWizard.SaveCallBackApprovedAllocation" }, new { @id = "approvedAllocationForm" }))
{
    @Html.HiddenFor(form => form.PermitId)
    <div id="RequestedAllocations">
        <div id="RequestedGroundwaterAllocation">
            <div style="font-weight: bold;">
                Total Requested Groundwater Allocation
            </div>
            @Html.DisplayFor(form => form.RequestedGroundwaterAllocation)
        </div>
        <div id="RequestedSurfacewaterAllocation">
            <div style="font-weight: bold;">
                Total Requested Surface Water Allocation
            </div>
            @Html.DisplayFor(form => form.RequestedSurfacewaterAllocation)
        </div>
    </div>
    <hr />
    <div id="ApprovedAllocations">
        <div id="ApprovedGroundwaterAllocation">
            <div style="font-weight: bold;">
                Proposed Groundwater Allocation
            </div>
            @Html.EditorFor(form => form.ApprovedGroundwaterAllocation)
        </div>
        <div id="ApprovedSurfacewaterAllocation">
            <div style="font-weight: bold;">
                Proposed Surface Water Allocation
            </div>
            @Html.EditorFor(form => form.ApprovedSurfacewaterAllocation)
        </div>
    </div>
}