﻿@Styles.Render("~/Content/Map.css")
<div style="position: relative; height: 100%; width: 100%;">
    <div id="map">
    </div>
    <div id="searchcontrols">
        <select id="searchtype">
            <option value="1">Address</option>
            <option value="2">Lat/Long</option>
            <option value="3">Parcel</option>
        </select>
        <input id="search" style="margin-left: 30px" type="text" title="e.g. 2345 Glen Arm Rd. 21234" />
        <input id="searchbutton" type="button" value="Go" style="margin-left: 0px;" />
    </div>
    <div id="basemapswitcher">
        <select id="basemaptype">
            <option id="street" value="1">Street Map</option>
            <option id="imagery" value="2">Imagery</option>
            <option id="topo" value="3">Topographic Map</option>
        </select>
    </div>
    <div id="printcontrol">
        <div id="printbutton"></div>
        <input id="printtemplates" type="button" value="Layout" style="margin-right: 0px;" />
        <input type="hidden" value="" class="mehidden" />
        <ol class="selectBox">
            <li title="Landscape">Landscape</li>
            <li title="Portrait">Portrait</li>
            <li title="Map Only">Map Only</li>
        </ol>
    </div>
</div>
<div id="clickfeaturemodal" style="display: none;" data-submiturl="@Url.Action(MVC.Permitting.Permit.RemovePermitLocation())">
    Would you like to delete this parcel or add a new withdrawal location?
    <div style="text-align: center; margin-top: 40px;">
        <input type="button" id="deletebutton" value="Delete this Permit Parcel" />
        <input type="button" id="addbutton" value="Add Withdrawal Location" />
    </div>
</div>
<div id="clickmapmodal" style="display: none;" data-submiturl="@Url.Action(MVC.Permitting.Permit.AddPermitLocation())">
    Are you indicating the location of a withdrawal source or selecting a parcel on which the appropriated water will be used?
    <div style="text-align: center; margin-top: 40px;">
        <input type="button" id="withdrawalbutton" value="Withdrawal" /><input type="button" id="parcelbutton" value="Parcel" />
        <input type="button" id="cancelbutton" value="Cancel" style="margin-left: 5px;" />
    </div>
</div>

<div id="conservationeasementmodal" data-geturl="@Url.Action(MVC.Permitting.Permit.GetConservationEasement())" data-posturl="@Url.Action(MVC.Permitting.Permit.SetConservationEasement())" style="display: none;">
    Is the property subject to a conservation easement held by: Department of Natural Resources, Maryland Environmental Trust, Maryland Agricultural Land Preservation Foundation, or Maryland Historical Society?
    <div style="text-align: center; margin: 10px 0px;">
        @Html.DropDownList("IsSubjectToEasement", new[] { new SelectListItem() { Text = "Select", Value = "" }, 
                                                          new SelectListItem() { Text = "Yes", Value = "true" }, 
                                                          new SelectListItem() { Text = "No", Value = "false" } })
    </div>
    <div id="easementHolderContainer" style="display: none;">
        Have you notified the easement holder?
        <div style="text-align: center; margin: 10px 0px;">
            @Html.DropDownList("HaveNotifiedEasementHolder", new[] { new SelectListItem() { Text = "Select", Value = "" }, 
                                                          new SelectListItem() { Text = "Yes", Value = "true" }, 
                                                          new SelectListItem() { Text = "No", Value = "false" } })
        </div>
    </div>
    <div id="easementerror" class="field-validation-error" style="display: none; text-align: center;">Please Make A Selection</div>
</div>
<input id="modalbutton" title="Enter Withdrawal Location Information" contenturl="" type="button" value="Identify Location" style="display: none;" />
@Html.Hidden("AddWithdrawalLocationURL", Url.Action(MVC.Permitting.Permit.AddWaterWithdrawalLocation()))
@Html.Hidden("EditWithdrawalLocationURL", Url.Action(MVC.Permitting.Permit.EditWaterWithdrawalLocation()))
@Html.Hidden("RemoveWithdrawalLocationURL", Url.Action(MVC.Permitting.Permit.RemoveWaterWithdrawalLocation()))
@Html.Hidden("GISServicesHost", System.Configuration.ConfigurationManager.AppSettings["GISServicesHost"])
@Html.Hidden("GISServicesDirectory", System.Configuration.ConfigurationManager.AppSettings["GISServicesDirectory"])