﻿@model PermitDetailsForm
@{
    ViewBag.Title = "Permit Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
    @Styles.Render("~/Content/jqgrid")

    <style>
        .appDetailsNavContainer
        {
            border-bottom: solid 1px #aaaaaa;
        }

        .renderbodyLeft input.date
        {
            width: 108px;
        }

        .filtercontainer
        {
            margin-bottom: 5px;
        }

        .filterheader
        {
            cursor: pointer;
            padding-top: 3px;
            padding-right: 3px;
            padding-bottom: 4px;
            padding-left: 5px;
        }

            .filterheader label
            {
                cursor: pointer;
                font-weight: normal;
            }

        #tabContent
        {
            overflow: hidden;
            position: absolute;
            top: 35px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }
    </style>
}
@section topNav
{
    @Html.Partial(MVC.Permitting.Permit.Views._permitDetailsNavControls)
}
<div style="position: absolute; width: 300px;">
    <div class="sprite analyzeInMapIcon">
        <span class="analyzeInMapLabel">Analyze in Map</span>
    </div>
</div>
<!-- Navigation above renderbody left & right -->
<div class="appDetailsNavContainer" style="padding-left: 315px;">
@if (SessionHandler.GetSessionVar<IEnumerable<string>>(SessionVariables.AuthenticatedUserRoles).Any())
{
    <span id="Details" class="grayTabLink first" data-contenturl="@Url.Action(MVC.Permitting.Permit.LoadDetailsTab())" style="display: none;">Details</span>
    <span id="Review" class="grayTabLink" data-contenturl="@Url.Action(MVC.Permitting.Permit.LoadReviewTab())" style="display: none;">Review</span>
    <span id="Conditions" class="grayTabLink" data-contenturl="@Url.Action(MVC.Permitting.Permit.LoadConditionsTab())" style="display: none;">Conditions</span>
    <span id="IPL" class="grayTabLink" data-contenturl="@Url.Action(MVC.Permitting.Permit.LoadIPLTab())" style="display: none;">IPL</span>
    <span id="CCList" class="grayTabLink" data-contenturl="@Url.Action(MVC.Permitting.Permit.LoadCCListTab())" style="display: none;">CC List</span>
    <span id="PumpageContact" class="grayTabLink" data-contenturl="@Url.Action(MVC.Permitting.Permit.LoadPumpageContactTab())" style="display: none;">Pumpage Contact</span>
    <span id="Documents" class="grayTabLink" data-contenturl="@Url.Action(MVC.Permitting.Permit.LoadDocumentsTab())" style="display: none;">Docs</span>
    <span id="Comments" class="grayTabLink" data-contenturl="@Url.Action(MVC.Permitting.Permit.LoadCommentsTab())" style="display: none;">Comments</span>
    <span id="Compliance" class="grayTabLink" data-contenturl="@Url.Action(MVC.Permitting.Permit.LoadComplianceTab())" style="display: none;">Compliance</span>
    <span id="Enforcement" class="grayTabLink" data-contenturl="@Url.Action(MVC.Permitting.Permit.LoadEnforcementTab())" style="display: none;">Enforcement</span>
    <span id="Contacts" class="grayTabLink last" data-contenturl="@Url.Action(MVC.Permitting.Permit.LoadContactsTab())" style="display: none;">Contacts</span>
}
else
{
    // MDE Read Only Role
    <span id="Details" class="grayTabLink first" data-contenturl="@Url.Action(MVC.Permitting.Permit.LoadDetailsTab())" style="display: none;">Details</span>
    <span id="Documents" class="grayTabLink" data-contenturl="@Url.Action(MVC.Permitting.Permit.LoadDocumentsTab())" style="display: none;">Docs</span>
    <span id="Comments" class="grayTabLink last" data-contenturl="@Url.Action(MVC.Permitting.Permit.LoadCommentsTab())" style="display: none;">Comments</span>
}
    </div>
<div id="tabContent">
</div>

@section scripts{
    @*General Helpers Bundle*@
    @Scripts.Render("~/bundles/Library")

    @*jQuery History Bundle*@
    @Scripts.Render("~/bundles/jqHistory")

    @*jqGrid Bundle*@
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/Scripts/jmtExtensions/jquery.jmttg-extension-jqGrid.js")

    @*blockUI Bundle*@
    @Scripts.Render("~/bundles/blockUI")

    @*Tabs Bundle*@
    @Scripts.Render("~/bundles/PermitDetails")
    <script type="text/javascript">
        $.requireScript('@Url.Content("~/Scripts/jquery.maskedinput-1.3.1.js")');
        $(function () {
            var pageOptions = {
                urls: {
                    getPermitAction: '@Url.Action(MVC.Permitting.Permit.GetPermit())',
                    dashboardAction: '@Url.Action(MVC.Permitting.Dashboard.Index())'
                }
            };

            $.permitdetails.index(pageOptions);

            window.localResize = function () {
                $.permitdetails.index('localResize');
            }
        });
    </script>
}