﻿@model MDGov.MDE.WSIPS.Portal.InternalWeb.Areas.Permitting.Models.Forms.PermitHearingForm

<style>
    .editor-label
    {
        display: inline-block;
        width: 150px;
        line-height: 25px;
        vertical-align: top;
        text-align: right;
    }
    .validationSpacerSpan
    {
        min-width:150px;
        display:inline-block;
        padding-bottom:5px;
    }
</style>

@using (Ajax.BeginForm(MVC.Permitting.Permit.SavePermitHearing(), new AjaxOptions { HttpMethod = "POST", OnSuccess = "PermitHearing.SaveCallBack" }, new { @id = "permitHearingForm" }))
{
    <div style="margin-top:10px;">
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.PermitId)
      
    <div id="permithearingdiv" style="display: none">
        <span class="editor-label">
            @Html.LabelFor(model => model.PermitHearingStatusId)
        </span>
        <span class="editor-field">
            @Html.DropDownListFor(model => Model.PermitHearingStatusId, Model.PermitHearingStatusList)
            @Html.ValidationMessageFor(model => model.PermitHearingStatusId)
        </span>
    </div>
    <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.HearingOfficer)
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.HearingOfficer)
        </span>
    </div>
    <div>
        <span class="validationSpacerSpan"></span>
        @Html.ValidationMessageFor(model => model.HearingOfficer)
    </div>
    <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.DateOfHearing)
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.DateOfHearing)
        </span>
    </div>
    <div>
        <span class="validationSpacerSpan"></span>
        @Html.ValidationMessageFor(model => model.DateOfHearing)
    </div>
    <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.TimeOfHearing)
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.TimeOfHearing)
        </span>
    </div>
    <div>
        <span class="validationSpacerSpan"></span>
        @Html.ValidationMessageFor(model => model.TimeOfHearing)
    </div>
    <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.Address1)
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.Address1)
        </span>
    </div>
    <div>
        <span class="validationSpacerSpan"></span>
        @Html.ValidationMessageFor(model => model.Address1)
    </div>
    <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.Address2)
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.Address2)
        </span>
    </div>
    <div>
        <span class="validationSpacerSpan"></span>
        @Html.ValidationMessageFor(model => model.Address2)
    </div>
    <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.City)
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.City)
        </span>
    </div> 
    <div>
        <span class="validationSpacerSpan"></span>
        @Html.ValidationMessageFor(model => model.City)
    </div>
    <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.StateId)
        </span>
        <span class="editor-field">
            @Html.DropDownListFor(model => Model.StateId, Model.StateList)
        </span>
    </div>
    <div>
        <span class="validationSpacerSpan"></span>
        @Html.ValidationMessageFor(model => model.StateId)
    </div>
    <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.ZipCode)
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.ZipCode)
        </span>
    </div>
    <div>
        <span class="validationSpacerSpan"></span>
        @Html.ValidationMessageFor(model => model.ZipCode)
    </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
