﻿@model PermitInformationForm
<style>
    .spanSetWidth {
        width: 35%;
    }
</style>
@using (Ajax.BeginForm(MVC.Permitting.Permit.SavePermitInformation(), new AjaxOptions { HttpMethod = "POST", OnSuccess = "ApplicationWizard.SaveCallBackPermitInformation" }, new { @id = "permitInformationForm" }))
{
    @Html.HiddenFor(form => form.PermitId)
    @Html.EditorFor(form => form.PermitGeneralInformation)
    @Html.EditorFor(form => form.PermitLocationInformation)
    <h3 style="margin-top: 30px;">Subscription Summary
    </h3>
    <div>
        <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.SubscriptionSummary)</span>
        <span class="spanRightInlineBlock" style="vertical-align: text-top;">@Html.TextAreaFor(form => form.SubscriptionSummary)</span>
    </div>
}