﻿@{
    ViewBag.Title = "Resume Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="renderbodyRight" style="left: 0px; padding: 10px; overflow: hidden">
    <h3>Pending Applications</h3>
    <table id="PendingApplications">
    </table>
    <div id="pager" class="scroll" style="text-align: center;"></div>
</div>
@section css{
    @Styles.Render("~/Content/jqgrid")
}

@section scripts{
    @Scripts.Render("~/Scripts/DateFormatter.js")
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/Scripts/jmtExtensions/jquery.jmttg-extension-jqGrid.js")
    @Scripts.Render("~/Permit/PendingApplication")
    <script type="text/javascript">
        function localResize() {
            //reset scrolwrap width to full width
            //$("#PendingApplications").jqGrid("fixGridWidth");
            $("#PendingApplications").jqGrid("fixGridWidthWithoutParentScroll");
            $("#PendingApplications").jqGrid("fixGridHeightWithoutParentScroll");
        }
    </script>
}