﻿<div class="divVerticalBottomSpacerDouble"> 
    <span>Please review and confirm the information below and, if correct, click Next to continue.</span>
</div>
<div id="applicationSummary">
</div>

<div id="printApplication">
    <br />
    <span class="spanLink" onclick="ReviewApplication.Print();">Print Permit Summary</span>
</div>
<br />

<div id="pdfMessage"></div>
