﻿@using System.Web.Mvc
@using MDGov.MDE.WSIPS.Portal.InternalWeb.Helpers.Extensions
@model IEnumerable<MDGov.MDE.Permitting.Model.LU_WaterWithdrawalPurposeCategory>

<div style="padding-left: 10px">
    <div id="waterUseCategoryTypeInfoTitle" class="divVerticalTopSpacerDouble divVerticalBottomSpacerDouble">This is an initial assessment of water use; the project manager will work with you during the permit process to adjust the uses if needed.</div>

    <div class="subSectionTitle">Check next to all water use types that apply</div>
    <div>
        @Html.CheckBox("NotSureWhatTheWaterUseTypeIs", new { id = "NotSureWhatTheWaterUseTypeIs" })
        <label for="NotSureWhatTheWaterUseTypeIs">I am unsure what the water use type is and would like the project manager to determine this with me</label>
    </div>

    <div id="waterUseCategoryTypeContainer">
        @foreach (var item in Model)
        {
            <div style="padding-top: 20px;">
                <span class="subSectionTitle">@item.Description </span>
                <div>
                    @foreach (var subItem in item.LU_WaterWithdrawalPurpose)
                    {
                        if ((bool)subItem.Active)
                        {
                        <div>
                            @Html.CheckBox(subItem.Id.ToString(), new { id = subItem.Id })
                            <label for="@subItem.Id.ToString()">@subItem.Description</label>
                        </div>
                        }
                    }
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $('div#waterUseCategoryTypeContainer input[type=checkbox]').change(function () {
        WaterUseCategoryAndType.OptionChanged($(this));
    });

    $('#NotSureWhatTheWaterUseTypeIs').change(function () {
        WaterUseCategoryAndType.NotSureWhatTheWaterUseType($(this));
    });
</script>