﻿@using System.Web.Mvc
@using MDGov.MDE.WSIPS.Portal.InternalWeb.Helpers.Extensions
@using MDGov.MDE.WSIPS.Portal.InternalWeb.Areas.Permitting.Models
@model MDGov.MDE.WSIPS.Portal.InternalWeb.Areas.Permitting.Models.Forms.ApplicationWizard
<style>
    .textboxSmall
    {
        width: 25px !important;
    }
</style>
<div>
    <div>
        <div style="padding-bottom: 10px;">Some additional information is required based on the water use types you selected.</div>
        <div style="padding-bottom: 10px;">For any section that requests you “Add” a specific item click the link to show the appropriate form. You may add multiple items to any section as appropriate.</div>
        <div id="usePercentValidation" style="display: none; padding-bottom: 10px; color: red;">Use percentages must add up to 100.</div>
    </div>
    <div class="divVerticalBottomSpacerDouble">
        @{var id = MVC.Permitting.WaterUseDetail.ActionNames.AddPoultryWateringEvaporative + "Parent";}
        <div id=@id style="padding-bottom: 15px;border-bottom:1px solid gray;display: none;">
            <div><b>Poultry Watering (Evaporative) - Use Percentage: </b>@Html.TextBox("WaterUseDetailForm.PoultryWateringEvaporativeForm.UsePercentage", Model.WaterUseDetailForm.PoultryWateringEvaporativeForm.UsePercentage, new { @class = "textboxSmall" })</div>
            <div class="divVerticalTopSpacer">
                <input id="AddPoultryLink" type="button" value="Add Another Poultry" onclick="WaterUseDetail.Add($(this))" data-controller="@MVC.Permitting.WaterUseDetail.Name" data-action="@MVC.Permitting.WaterUseDetail.ActionNames.AddPoultryWateringEvaporative" />
            </div>
            <div id="_@id">
                @if (Model.WaterUseDetailForm.PoultryWateringEvaporativeForm.PoultryWateringForms != null)
                {
                    var index = 0;
                    foreach (var model in Model.WaterUseDetailForm.PoultryWateringEvaporativeForm.PoultryWateringForms)
                    {
                    @Html.Partial(MVC.Permitting.Permit.Views.WaterUseDetailTemplates.PoultryWateringEvaporative, model, new ViewDataDictionary { { "index", index } })
                        index++;
                    }
                }
            </div>
        </div>
    </div>

    <div class="divVerticalBottomSpacerDouble">
        @{id = MVC.Permitting.WaterUseDetail.ActionNames.AddPoultryWateringFogger + "Parent";}
        <div id=@id style="padding-bottom: 15px;border-bottom:1px solid gray;display: none;">
            <div><b>Poultry Watering (Foggers) - Use Percentage: </b>@Html.TextBox("WaterUseDetailForm.PoultryWateringFoggerForm.UsePercentage", Model.WaterUseDetailForm.PoultryWateringFoggerForm.UsePercentage, new { @class = "textboxSmall" })</div>
            <div class="divVerticalTopSpacer">
                <input id="AddPoultryFoggerLink" type="button" value="Add Another Poultry" onclick="WaterUseDetail.Add($(this))" data-controller="@MVC.Permitting.WaterUseDetail.Name" data-action="@MVC.Permitting.WaterUseDetail.ActionNames.AddPoultryWateringFogger" />
            </div>
            <div id="_@id">
                @if (Model.WaterUseDetailForm.PoultryWateringFoggerForm.PoultryWateringForms != null)
                {
                    var index = 0;
                    foreach (var model in Model.WaterUseDetailForm.PoultryWateringFoggerForm.PoultryWateringForms)
                    {
                    @Html.Partial(MVC.Permitting.Permit.Views.WaterUseDetailTemplates.PoultryWateringFogger, model, new ViewDataDictionary { { "index", index } })
                        index++;
                    }
                }
            </div>
        </div>
    </div>

    <div class="divVerticalBottomSpacerDouble">
        @{id = MVC.Permitting.WaterUseDetail.ActionNames.AddDairyAnimalWateing + "Parent";}
        <div id=@id style="padding-bottom: 15px;border-bottom:1px solid gray;display: none;">
            <div><b>Dairy Animal Watering - Use Percentage: </b>@Html.TextBox("WaterUseDetailForm.DairyAnimalWateringForm.UsePercentage", Model.WaterUseDetailForm.DairyAnimalWateringForm.UsePercentage, new { @class = "textboxSmall" })</div>
            <div class="divVerticalTopSpacer">
                <input id="addDairyAnimalLink" type="button" value="Add Another Dairy Animal" onclick="WaterUseDetail.Add($(this))" data-controller="@MVC.Permitting.WaterUseDetail.Name" data-action="@MVC.Permitting.WaterUseDetail.ActionNames.AddDairyAnimalWateing" />
            </div>
            <div id="_@id">
                @if (Model.WaterUseDetailForm.DairyAnimalWateringForm.LivestockForms != null)
                {
                    var index = 0;
                    foreach (var model in Model.WaterUseDetailForm.DairyAnimalWateringForm.LivestockForms)
                    {
                    @Html.Partial(MVC.Permitting.Permit.Views.WaterUseDetailTemplates.DairyAnimalWatering, model, new ViewDataDictionary { { "index", index } })
                        index++;
                    }
                }
            </div>
        </div>
    </div>

    <div class="divVerticalBottomSpacerDouble">
        @{id = MVC.Permitting.WaterUseDetail.ActionNames.AddOtherLivestockWatering + "Parent";}
        <div id=@id style="padding-bottom: 15px;border-bottom:1px solid gray;display: none;">
            <div><b>Other Livestock Watering - Use Percentage: </b>@Html.TextBox("WaterUseDetailForm.OtherLivestockWateringForm.UsePercentage", Model.WaterUseDetailForm.OtherLivestockWateringForm.UsePercentage, new { @class = "textboxSmall" })</div>
            <div class="divVerticalTopSpacer">
                <input id="addLivestockLink" type="button" value="Add Another Livestock" onclick="WaterUseDetail.Add($(this))" data-controller="@MVC.Permitting.WaterUseDetail.Name" data-action="@MVC.Permitting.WaterUseDetail.ActionNames.AddOtherLivestockWatering" />
            </div>
            <div id="_@id">
                @if (Model.WaterUseDetailForm.OtherLivestockWateringForm.LivestockForms != null)
                {
                    var index = 0;
                    foreach (var model in Model.WaterUseDetailForm.OtherLivestockWateringForm.LivestockForms)
                    {
                    @Html.Partial(MVC.Permitting.Permit.Views.WaterUseDetailTemplates.OtherLivestockWatering, model, new ViewDataDictionary { { "index", index } })
                        index++;
                    }
                }
            </div>
        </div>
    </div>

    <div class="divVerticalBottomSpacerDouble" id="FarmPotableSupplies" style="padding-bottom: 15px; border-bottom: 1px solid gray; display: none;">
        @if (Model.WaterUseDetailForm.PermitWwFarmPotableSuppliesForm != null)
        {
            @Html.Partial(MVC.Permitting.Permit.Views.WaterUseDetailTemplates.FarmPotableSupplies, Model)
        }
    </div>

    <div class="divVerticalBottomSpacerDouble">
        @{id = MVC.Permitting.WaterUseDetail.ActionNames.AddCrop + "Parent";}
        <div id=@id style="padding-bottom: 15px;border-bottom:1px solid gray;display: none;">
            <div><b>Crop Irrigation - Use Percentage: </b>@Html.TextBox("WaterUseDetailForm.CropUseForm.UsePercentage", Model.WaterUseDetailForm.CropUseForm.UsePercentage, new { @class = "textboxSmall" })</div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">Total Irrigated Acres
                </span>
                @Html.TextBoxFor(model => model.WaterUseDetailForm.CropUseForm.TotalNumberOfAcres, new { @class = "required" })
                <span>*</span>
                @Html.ValidationMessageFor(model => model.WaterUseDetailForm.CropUseForm.TotalNumberOfAcres)
            </div>
            <div class="divVerticalTopSpacer">
                <input id="addCropLink" type="button" value="Add Another Crop" onclick="WaterUseDetail.Add($(this))" data-controller="@MVC.Permitting.WaterUseDetail.Name" data-action="@MVC.Permitting.WaterUseDetail.ActionNames.AddCrop" />
            </div>
            <div id="_@id">
                @if (Model.WaterUseDetailForm.CropUseForm.CropForms != null)
                {
                    var index = 0;
                    foreach (var model in Model.WaterUseDetailForm.CropUseForm.CropForms)
                    {
                    @Html.Partial(MVC.Permitting.Permit.Views.WaterUseDetailTemplates.Crop, model, new ViewDataDictionary { { "index", index } })
                        index++;
                    }
                }
            </div>
        </div>
    </div>

    <div class="divVerticalBottomSpacerDouble">
        @{ id = MVC.Permitting.WaterUseDetail.ActionNames.AddNurseryStock + "Parent";}
        <div id=@id style="padding-bottom: 15px;border-bottom:1px solid gray;display: none;">
            <div><b>Nursery Irrigation - Use Percentage: </b>@Html.TextBox("WaterUseDetailForm.NurseryStockIrrigationForm.UsePercentage", Model.WaterUseDetailForm.NurseryStockIrrigationForm.UsePercentage, new { @class = "textboxSmall" })</div>
            <div class="divVerticalTopSpacer">
                <input id="NursaryAddLink" type="button" value="Add Another Nursery Stock" onclick="WaterUseDetail.Add($(this))" data-controller="@MVC.Permitting.WaterUseDetail.Name" data-action="@MVC.Permitting.WaterUseDetail.ActionNames.AddNurseryStock" />
            </div>
            <div id="_@id">
                @if (Model.WaterUseDetailForm.NurseryStockIrrigationForm.IrrigationForms != null)
                {
                    var index = 0;
                    foreach (var model in Model.WaterUseDetailForm.NurseryStockIrrigationForm.IrrigationForms)
                    {
                    @Html.Partial(MVC.Permitting.Permit.Views.WaterUseDetailTemplates.NurseryStock, model, new ViewDataDictionary { { "index", index } })
                        index++;
                    }
                }
            </div>
        </div>
    </div>

    <div class="divVerticalBottomSpacerDouble">
        @{ id = MVC.Permitting.WaterUseDetail.ActionNames.AddSod + "Parent";}
        <div id=@id style="padding-bottom: 15px;border-bottom:1px solid gray;display: none;">
            <div><b>Sod Farm Irrigation - Use Percentage: </b>@Html.TextBox("WaterUseDetailForm.SodIrrigationForm.UsePercentage", Model.WaterUseDetailForm.SodIrrigationForm.UsePercentage, new { @class = "textboxSmall" })</div>
            <div class="divVerticalTopSpacer">
                <input id="SodAddLink" type="button" value="Add Another Sod" onclick="WaterUseDetail.Add($(this))" data-controller="@MVC.Permitting.WaterUseDetail.Name" data-action="@MVC.Permitting.WaterUseDetail.ActionNames.AddSod" />
            </div>
            <div id="_@id">
                @if (Model.WaterUseDetailForm.SodIrrigationForm.IrrigationForms != null)
                {
                    var index = 0;
                    foreach (var model in Model.WaterUseDetailForm.SodIrrigationForm.IrrigationForms)
                    {
                    @Html.Partial(MVC.Permitting.Permit.Views.WaterUseDetailTemplates.Sod, model, new ViewDataDictionary { { "index", index } })
                        index++;
                    }
                }
            </div>
        </div>
    </div>

    <div class="divVerticalBottomSpacerDouble" id="FoodProcessing" style="padding-bottom: 15px; border-bottom: 1px solid gray; display: none;">
        @if (Model.WaterUseDetailForm.PermitWwFoodProcessingForm != null)
        {
            @Html.Partial(MVC.Permitting.Permit.Views.WaterUseDetailTemplates.FoodProcesssing, Model)
        }
    </div>

    <div class="divVerticalBottomSpacerDouble" id="AquacultureAndAquarium" style="padding-bottom: 15px; border-bottom: 1px solid gray; display: none;">
        @if (Model.WaterUseDetailForm.PermitWwAquacultureAquariumForm != null)
        {
            @Html.Partial(MVC.Permitting.Permit.Views.WaterUseDetailTemplates.AquacultureAquarium, Model)
        }
    </div>

    <div class="divVerticalBottomSpacerDouble" id="IrrigationUndefined" style="padding-bottom: 15px; border-bottom: 1px solid gray; display: none;">
        @if (Model.WaterUseDetailForm.IrrigationUndefinedForm != null)
        {
            @Html.Partial(MVC.Permitting.Permit.Views.WaterUseDetailTemplates.IrrigationUndefined, Model)
        }
    </div>

    <div class="divVerticalBottomSpacerDouble" id="GolfCourseIrrigationForm" style="padding-bottom: 15px; border-bottom: 1px solid gray; display: none;">
        @if (Model.WaterUseDetailForm.GolfCourseIrrigationForm != null)
        {
            @Html.Partial(MVC.Permitting.Permit.Views.WaterUseDetailTemplates.GolfCourseIrrigation, Model)
        }
    </div>

    <div class="divVerticalBottomSpacerDouble" id="LawnAndParkIrrigationForm" style="padding-bottom: 15px; border-bottom: 1px solid gray; display: none;">
        @if (Model.WaterUseDetailForm.LawnAndParkIrrigationForm != null)
        {
            @Html.Partial(MVC.Permitting.Permit.Views.WaterUseDetailTemplates.LawnAndParkIrrigation, Model)
        }
    </div>

    <div class="divVerticalBottomSpacerDouble" id="SmallIntermitentIrrigationForm" style="padding-bottom: 15px; border-bottom: 1px solid gray; display: none;">
        @if (Model.WaterUseDetailForm.SmallIntermitentIrrigationForm != null)
        {
            @Html.Partial(MVC.Permitting.Permit.Views.WaterUseDetailTemplates.SmallIntermitentIrrigation, Model)
        }
    </div>

    <div class="divVerticalBottomSpacerDouble" id="CommercialDrinkingOrSanitary" style="padding-bottom: 15px; border-bottom: 1px solid gray; display: none;">
        @if (Model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm != null)
        {
            @Html.Partial(MVC.Permitting.Permit.Views.WaterUseDetailTemplates.CommercialDrinkingOrSanitary, Model)
        }
    </div>

    <div class="divVerticalBottomSpacerDouble" id="EducationalDrinkingOrSanitary" style="padding-bottom: 15px; border-bottom: 1px solid gray; display: none;">
        @if (Model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm != null)
        {
            @Html.Partial(MVC.Permitting.Permit.Views.WaterUseDetailTemplates.EducationalDrinkingOrsanitary, Model)
        }
    </div>

    <div class="divVerticalBottomSpacerDouble" id="ReligiousDrinkingOrSanitary" style="padding-bottom: 15px; border-bottom: 1px solid gray; display: none;">
        @if (Model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm != null)
        {
            @Html.Partial(MVC.Permitting.Permit.Views.WaterUseDetailTemplates.ReligiousDringkingOrSanitary, Model)
        }
    </div>

    <div class="divVerticalBottomSpacerDouble" id="WildlifePonds" style="padding-bottom: 15px; border-bottom: 1px solid gray; display: none;">
        @if (Model.WaterUseDetailForm.PermitWwWildlifePondForm != null)
        {
            @Html.Partial(MVC.Permitting.Permit.Views.WaterUseDetailTemplates.WildlifePond, Model)
        }
    </div>

    <div class="divVerticalBottomSpacerDouble" id="ConstructionDewatering" style="padding-bottom: 15px; border-bottom: 1px solid gray; display: none;">
        @if (Model.WaterUseDetailForm.PermitWwConstructionDewateringForm != null)
        {
            @Html.Partial(MVC.Permitting.Permit.Views.WaterUseDetailTemplates.ConstructionDewatering, Model)
        }
    </div>

    <div class="divVerticalBottomSpacerDouble" id="PrivateWaterSuppiler">
        @Html.Partial(MVC.Permitting.Permit.Views.WaterUseDetailTemplates.PrivateWaterSuppliers, Model.WaterUseDetailForm)
    </div>
</div>
