﻿@model ApplicationWizard
<div>
    <div style="display: table; margin: 0 auto;">
        @Html.ValidationMessageFor(model => model.UseDescription)
        <div style="font-weight: bold; margin-bottom: 10px;">Describe the intended utilization of water appropriated via this permit</div>
        @Html.TextAreaFor(model => model.UseDescription, new { @rows = "6" })
    </div>
</div>
