﻿@model ChecklistStep

<style>
    .validation-summary-errors ul,.validation-summary-errors ul li
    {
        font-size:.9em;
        list-style-type: none;
    }
</style>

@Html.HiddenFor(model => model.QuestionId)
@Html.HiddenFor(model => model.CheckListId)
<div class="divVerticalBottomSpacer">
    Enter the text of the checklist step below
</div>
<div class="divVerticalBottomSpacer">
    @Html.TextAreaFor(model => model.Question, new { style="width: 300px; height: 100px;" } )
</div>

<div>
    @Html.ValidationSummary("", new { style="margin-left:-40px;position:relative;"})
</div>

<div style="float:right">
    @if (@Model == null)
    {
        <button id="Add">Add</button>
    }
    else
    {
        <button id="Save">Save</button>
    }
    <button class="cancel">Cancel</button>
</div>

<script type="text/javascript">
    $(function () {
        
        $('.cancel').click(function () {
            $(this).closest('.ui-dialog-content').dialog("close");
        });
        
        $('#Add,#Save').click(function () {
            
            var data = loadData();

            $.ajax({
                url: '@Url.Action(MVC.Permitting.Checklist.EditStep())',
                type: 'POST',
                data: JSON.stringify(data),
                cache: false,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                error: function (jqXhr, textStatus, errorThrown) {
                    HandleError(errorThrown);
                },
                success: function (result) {
                    var container = $("div[data-valmsg-summary=true]"),
                       list = container.find("ul");

                    if (list && list.length) list.empty();

                    if (!result.IsSuccess) {
                        for (var i = 0; i < result.Errors.length; i++) {
                            HandleError(result.Errors[i]);
                        }
                    } else {
                        $("input[id=CheckListId]").closest('.ui-dialog-content').dialog("close");
                        $("#searchResults").trigger("reloadGrid");
                    }
                }
            });
        });
    });
    
    // Load model data from the form
    function loadData() {
        var data = {
            QuestionId: $('#QuestionId').val(),
            CheckListId: $('#Id').val(),
            Question: $('#Question').val(),
            Sequence: 0,
            Active: 1
        };
        return data;
    }
    
    // Handle server error
    function HandleError(err) {
        var container = $("div[data-valmsg-summary=true]"),
            list = container.find("ul");

        if (list && list.length) {
            container.addClass("validation-summary-errors").removeClass("validation-summary-valid");
            $("<li />").html(err).appendTo(list);
        }
    }
        
</script>