﻿@model ChecklistListItem
@{
    ViewBag.Title = "Edit Checklist";
}

@section css {
    @Styles.Render("~/Content/jqgrid")
}

<h2>Edit Checklist</h2>

@section featured {
}

@section sectionSpecificLink {
    @{Html.RenderPartial("_BackToChecklistsLink");}
}

<div class="renderbodyRight" style="left: 0; padding: 10px;">
    <div class="scrollcontainer">
        <div>
            @if (Model.Id == 0)
            {
                using (Html.BeginForm(MVC.Permitting.Checklist.Edit(), FormMethod.Post, new { id = "CheckListForm", @class = "form" }))
                {
                    @Html.HiddenFor(model => model.Id)
                    <div class="divVerticalBottomSpacer">
                       <span class=" spanSetWidthAlignRightPadded">Select a Permit Category</span> @Html.DropDownList("PermitCategoryId", new SelectList(ViewBag.PermitCategories, "Id", "Description", 1))
                    </div>
                    <div class="divVerticalBottomSpacer">
                      <span class=" spanSetWidthAlignRightPadded">Select a Permit Status</span>  @Html.DropDownList("PermitStatusId", new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Description", 1))
                    </div>
                    <div class="divVerticalBottomSpacer">
                        <input style="margin-left: 1px;" type="submit" id="Save" value="Create" />
                    </div>
                }
            }
            else
            {
                @Html.HiddenFor(model => model.Id)
                <div style="float:right;"><span contenturl="@Url.Action(MVC.Permitting.Checklist.EditStep())/0" title="Add Checklist Step" class="addLink spanLink">Add Checklist Step</span></div>
                <div class="divVerticalBottomSpacer">
                    @Model.Category
                </div>
                <div class="divVerticalBottomSpacer">
                    @Model.Status
                </div>
            }
            
        </div>
        <br />
        <table id="searchResults"></table>
        <div id="pager"></div>
    </div>
    <div id="deleteDialog" style="display: none;" title="Delete Confirmation">
        Are you sure you want to delete this step?
    </div>
</div>
@section scripts {

    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/Scripts/jmtExtensions/jquery.jmttg-extension-jqGrid.js")

    <script type="text/javascript">
        $(function () {
            var checklistId = $('#Id').val();

            LoadPermitStatuses();

            $('#PermitCategoryId').change(function () {
                LoadPermitStatuses();
            });
            
            $("#Save").click(function () {
                $('#CheckListForm').submit();
            });
            
            $("#searchResults").on('click', 'span.deleteLink', function (e) {
                e.preventDefault();
                var targetUrl = $(this).attr("contenturl");

                $("#deleteDialog").dialog({
                    resizable: false,
                    draggable: false,
                    modal: true,
                    buttons: {
                        "Delete": function () {
                            DeleteStep(targetUrl);
                            $("#searchResults").trigger("reloadGrid");
                            $(this).dialog("close");
                        },
                        "Cancel": function () {
                            $(this).dialog("close");
                        }
                    }
                });

                $("#deleteDialog").dialog("open");
            });

            if (checklistId !=0) {
                $("#searchResults").jqGrid({
                    colModel: [
                        { name: 'QuestionId', index: 'QuestionId', sortable: false, hidden: true },
                        { name: 'Question', sortable: false },
                        { name: 'EditLink', width: 100, formatter: editLinkFormatter, sortable: false },
                        { name: 'DeactivateLink', width: 100, formatter: deleteLinkFormatter, sortable: false }
                    ],
                    colNames: ['Id', 'Text', '', ''],
                    height: 460,
                    scrollOffset: 0,
                    gridComplete: onGridComplete,
                    url: '@Url.Action(MVC.Permitting.Checklist.StepsData())?checklistId=' + checklistId
                });
            }
            
            $("#searchResults").jqGrid('sortableRows', {
                cursor: '.handle',
                update: function () {
                    var serial = $('#searchResults').jqGrid('getRowData'),
                        ids = [];

                    for (var i = 0; i < serial.length ; i++) {
                        ids.push(serial[i].QuestionId);
                    }

                    $.ajax({
                        url: '@Url.Action(MVC.Permitting.Checklist.UpdateSequence())',
                        type: 'POST',
                        data: JSON.stringify(ids),
                        cache: false,
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        error: function () {
                            // Handle error
                        },
                        success: function () {
                            // Handle success
                        }
                    });
                }
            });
        });

        function onGridComplete() {
            $(this).jqGrid("fixGridWidth");
            $('.editLink, .addLink').modal();
        }

        //function localResize() {
        //    $("#searchResults").jqGrid("fixGridWidth");
        //}

        function LoadPermitStatuses() {
            var categoryId = $('#PermitCategoryId').val();
            if (typeof categoryId !== 'undefined') {
                $.ajax({
                    url: '@Url.Action(MVC.Permitting.Checklist.GetPermitStatuses())',
                    type: 'GET',
                    data: "categoryId=" + categoryId,
                    cache: false,
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    error: function () {
                        // Handle error
                    },
                    success: function (result) {
                        var data = result.Data;

                        $("#PermitStatusId").empty();
                        for (var i = 0, len = data.length; i < len; i++) {
                            $('#PermitStatusId')
                                .append($('<option></option>')
                                .attr('value', data[i].Id)
                                .text(data[i].Description));
                        }

                        $("#PermitStatusId").val(0).change();
                    }
                });
            } 
        }
        
        function DeleteStep(url) {
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                error: function () {
                    // Handle error
                },
                success: function () {
                    $("#searchResults").trigger("reloadGrid");
                }
            });
        }

        function editLinkFormatter(cellvalue, options, rowObject) {
            var sLink = '<span contenturl="@Url.Action(MVC.Permitting.Checklist.EditStep())/' + rowObject.QuestionId + '" title="Edit Step" class="editLink spanLink">Edit</span>';
            return sLink;
        }

        function deleteLinkFormatter(cellvalue, options, rowObject) {
            var sLink = '<span contenturl="@Url.Action(MVC.Permitting.Checklist.DeleteStep())/' + rowObject.QuestionId + '" title="Delete Step" class="deleteLink spanLink">Delete</span>';
            return sLink;
        }
    </script>
}


