﻿@{
    ViewBag.Title = "Index";
}

@section css {
    @Styles.Render("~/Content/jqgrid")
}

<h2>Index</h2>

@section featured {
}

<div class="renderbodyRight" style="left: 0; padding: 10px;">
    <div class="scrollcontainer">
        <div style="float:right;"><a href="@Url.Action(MVC.Permitting.Checklist.Edit())/0" title="Create New Checklist" class="addLink searchNavigationSpanLink">Create New Checklist</a></div>
        <div>
            @using (Ajax.BeginForm(MVC.Permitting.Checklist.SearchFilter(), new AjaxOptions { OnSuccess = "onSuccess" }, new { id = "SearchForm" }))
            {
                <div class="divVerticalBottomSpacer">
                <span class=" spanSetWidthAlignRightPadded">Permit Category</span>    @Html.DropDownList("PermitCategoryId", new SelectList(ViewBag.PermitCategories, "Id", "Description", 1))
                </div>
            }
        </div>
        <br />
        <table id="searchResults"></table>
        <div id="pager"></div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/Scripts/DateFormatter.js")
    @Scripts.Render("~/Scripts/jmtExtensions/jquery.jmttg-extension-jqGrid.js")

    <script type="text/javascript">
        $(function () {

            $("#searchResults").jqGrid(
                {
                colModel: [
                    { name: 'Status', sortable: false },
                    { name: 'LastModifiedDate', width: 110, formatter: dateFormatter, sortable: false },
                    { name: 'EditLink', width: 100, formatter: editLinkFormatter, sortable: false },
                    { name: 'DeactivateLink', width: 100, formatter: activateLinkFormatter, sortable: false }
                ],
                colNames: ['Status', 'Last Modified', '', ''],
                height: 460,
                scrollOffset: 0,
                gridComplete: onGridComplete,
                url: '@Url.Action(MVC.Permitting.Checklist.Data())'
            });

            $("#searchResults").on('click', 'a.activate', function (e) {
                e.preventDefault();
                var targetUrl = $(this).attr("href");
                window.location.href = targetUrl;
            });

            $("#PermitCategoryId, #PermitTypeId").change(function () {
                $('#SearchForm').submit();
            });
            
        });

        function onGridComplete() {
            $(this).jqGrid("fixGridWidth");
        }

        //function localResize() {
        //    $("#searchResults").jqGrid("fixGridWidth");
        //}

        function onSuccess() {
            doSearch();
        }

        function doSearch() {
            $("#searchResults").jqGrid("setGridParam", {
                url: '@Url.Action(MVC.Permitting.Checklist.Data())',
                page: 1
            });
            $("#searchResults").trigger("reloadGrid");
        }

        function editLinkFormatter(cellvalue, options, rowObject) {
            var sLink = '<a href="@Url.Action(MVC.Permitting.Checklist.Edit())/' + rowObject.Id + '" title="Edit Checklist" class="editLink">Edit</a>';
            return sLink;
        }

        function activateLinkFormatter(cellvalue, options, rowObject) {
            var content;
            if (rowObject.Steps === 0) {
                content = '<span style="margin-left: 3px;">No Steps Added</span>';
            } else {
                if (rowObject.Active) {
                    content = '<span style="margin-left: 3px;">Active</span>';
                } else {
                    content = '<a href="@Url.Action(MVC.Permitting.Checklist.Activate())/' + rowObject.Id + '">Activate</a>';
                }
            }
            return content;
        }
        
        function dateFormatter(cellvalue) {
            if (cellvalue == null) return '';
            return (new Date(parseInt(cellvalue.replace("/Date(", "").replace(")/", ""), 10))).format('m/dd/yyyy');
        }
        
    </script>
}


