﻿@using MDGov.MDE.Common.Configuration
<link href="~/Scripts/CustomFileUpload/css/enhanced.css" rel="stylesheet" />
<div id="uploadDialog" title="Upload File" style="display: none; overflow: hidden;">
    <form enctype="multipart/form-data" method="post" name="fileinfo" id="form1">
        <div id="fileSpan">
            <input id="fileUploadInput" type="file" name="file1" accept='.jpg,.pdf,.gif,.png,.doc,.docx,.xls,.xlsx,.txt' required />
        </div>
    </form>
    <div id="output"></div>
    <div id="fileNameDiv"></div>
    <div style="text-align: center" class='divVerticalTopSpacer'>
        <button type="button" id="uploadLink" onclick="javascript:UploadDocument.upload(@ViewBag.RefId, @ViewBag.RefTableId, @(ViewBag.PermitStatusId ?? -1))">Upload File</button>
        <button type="button" onclick="$('#uploadDialog').dialog('close');">Cancel</button>
    </div>
</div>

<div id="uploadDialog2" title="Delete" style="display: none;">
    Are you sure you want to delete this item?
</div>

<div id="uploadDialogError" title="Delete" style="display: none;">
    There was an error trying to delete your file.
</div>

<div id="uploadReplaceDialog" title="Replace Existing Item" style="display: none;">
    A file by the same name has already been uploaded. Replace existing document?
</div>

@if (ViewBag.PermissionLevel != 1)
{
    <div id="uploadButtonParent">
        <input id="uploadButton" type="button" class="uploadButtons" value="Add a File to Your Attachments" />
        @{
    if (ViewBag.PermitStatusId != null)
    {
        switch ((int)ViewBag.PermitStatusId)
        {
            // Pending Draft Permit
            case 22:
            case 32:
            case 41:
                <input class="uploadButtons" id="generatePermitButton" type="button" value="Generate Draft Permit" />
                <input class="uploadButtons" id="setDatesButton" type="button" value="Set Dates" />
                <input class="uploadButtons" id="generateCustomPackageButton" contenturl="@Url.Action(MVC.Permitting.Document.GetTemplates())/2" title="Select Documents for the Package" type="button" value="Generate Custom Package" style="display:none;" />
                <input class="uploadButtons" id="generate6MonthsLetterButton" contenturl="@Url.Action(MVC.Permitting.Document.GetDocumentParts())/3" title="Choose the appropriate paragraph" type="button" value="Generate 6 Month Letter" style="display:none;" />
                <input class="uploadButtons" id="generateWithdrawalLetterButton" contenturl="@Url.Action(MVC.Permitting.Document.GetDocumentParts())/4" title="Choose a letter type" type="button" value="Generate Withdrawal Letter" style="display:none;" />
                <input class="uploadButtons" id="generateDecisionLetterButton" contenturl="@Url.Action(MVC.Permitting.Document.GetDocumentParts())/5" title="Choose a letter type" type="button" value="Generate Decision Letter" style="display:none;" />
                <input type="hidden" id="templateTypeId" value="1" />
                break;
            // Custom Package Development in Progress
            case 9:
            case 10:
            case 69:
            case 70:
            <input class="uploadButtons" id="generatePermitButton" type="button" value="Generate Draft Permit" style="display: none;" />
            <input class="uploadButtons" id="setDatesButton" type="button" value="Set Dates" style="display: none;" />
            <input class="uploadButtons" id="generateCustomPackageButton" contenturl="@Url.Action(MVC.Permitting.Document.GetTemplates())/2" title="Select Documents for the Package" type="button" value="Generate Custom Package" />
            <input class="uploadButtons" id="generate6MonthsLetterButton" contenturl="@Url.Action(MVC.Permitting.Document.GetDocumentParts())/3" title="Choose the appropriate paragraph" type="button" value="Generate 6 Month Letter" style="display:none;" />
            <input class="uploadButtons" id="generateWithdrawalLetterButton" contenturl="@Url.Action(MVC.Permitting.Document.GetDocumentParts())/4" title="Choose a letter type" type="button" value="Generate Withdrawal Letter" style="display:none;" />
            <input class="uploadButtons" id="generateDecisionLetterButton" contenturl="@Url.Action(MVC.Permitting.Document.GetDocumentParts())/5" title="Choose a letter type" type="button" value="Generate Decision Letter" style="display:none;" />
            <input type="hidden" id="templateTypeId" value="2" />
                break;
            // 6 Months Letter
            case 6:
            case 11:
            case 31:
            case 40:
            case 58:
            case 71:
            <input class="uploadButtons" id="generatePermitButton" type="button" value="Generate Draft Permit" style="display: none;" />
            <input class="uploadButtons" id="setDatesButton" type="button" value="Set Dates" style="display: none;" />
            <input class="uploadButtons" id="generateCustomPackageButton" contenturl="@Url.Action(MVC.Permitting.Document.GetTemplates())/2" title="Select Documents for the Package" type="button" value="Generate Custom Package" style="display:none;" />
            <input class="uploadButtons" id="generate6MonthsLetterButton" contenturl="@Url.Action(MVC.Permitting.Document.GetDocumentParts())/3" title="Choose the appropriate paragraph" type="button" value="Generate 6 Month Letter" />
            <input class="uploadButtons" id="generateWithdrawalLetterButton" contenturl="@Url.Action(MVC.Permitting.Document.GetDocumentParts())/4" title="Choose a letter type" type="button" value="Generate Withdrawal Letter" style="display:none;" />
            <input class="uploadButtons" id="generateDecisionLetterButton" contenturl="@Url.Action(MVC.Permitting.Document.GetDocumentParts())/5" title="Choose a letter type" type="button" value="Generate Decision Letter" style="display:none;" />
            <input type="hidden" id="templateTypeId" value="3" />
                break;
            // Withdrawal Letter
            case 7:
            case 12:
            case 72:
            <input class="uploadButtons" id="generatePermitButton" type="button" value="Generate Draft Permit" style="display: none;" />
            <input class="uploadButtons" id="setDatesButton" type="button" value="Set Dates" style="display: none;" />
            <input class="uploadButtons" id="generateCustomPackageButton" contenturl="@Url.Action(MVC.Permitting.Document.GetTemplates())/2" title="Select Documents for the Package" type="button" value="Generate Custom Package" style="display:none;" />
            <input class="uploadButtons" id="generate6MonthsLetterButton" contenturl="@Url.Action(MVC.Permitting.Document.GetDocumentParts())/3" title="Choose the appropriate paragraph" type="button" value="Generate 6 Month Letter" style="display:none;" />
            <input class="uploadButtons" id="generateWithdrawalLetterButton" contenturl="@Url.Action(MVC.Permitting.Document.GetDocumentParts())/4" title="Choose a letter type" type="button" value="Generate Withdrawal Letter" />
            <input class="uploadButtons" id="generateDecisionLetterButton" contenturl="@Url.Action(MVC.Permitting.Document.GetDocumentParts())/5" title="Choose a letter type" type="button" value="Generate Decision Letter" style="display:none;" />
            <input type="hidden" id="templateTypeId" value="4" />
                break;
            // Decision Letter
            case 23:
            case 33:
            case 42:
            <input class="uploadButtons" id="generatePermitButton" type="button" value="Generate Draft Permit" style="display: none;" />
            <input class="uploadButtons" id="setDatesButton" type="button" value="Set Dates" style="display: none;" />
            <input class="uploadButtons" id="generateCustomPackageButton" contenturl="@Url.Action(MVC.Permitting.Document.GetTemplates())/2" title="Select Documents for the Package" type="button" value="Generate Custom Package" style="display:none;" />
            <input class="uploadButtons" id="generate6MonthsLetterButton" contenturl="@Url.Action(MVC.Permitting.Document.GetDocumentParts())/3" title="Choose the appropriate paragraph" type="button" value="Generate 6 Month Letter" style="display:none;" />
            <input class="uploadButtons" id="generateWithdrawalLetterButton" contenturl="@Url.Action(MVC.Permitting.Document.GetDocumentParts())/4" title="Choose a letter type" type="button" value="Generate Withdrawal Letter" style="display:none;" />
            <input class="uploadButtons" id="generateDecisionLetterButton" contenturl="@Url.Action(MVC.Permitting.Document.GetDocumentParts())/5" title="Choose a letter type" type="button" value="Generate Decision Letter" />
            <input type="hidden" id="templateTypeId" value="5" />
                break;
            default:
                // No button for generating the permit, but the Dom element must be there
                // for reloading the same view with different permit statuses
                <input class="uploadButtons" id="generatePermitButton" type="button" value="Generate Draft Permit" style="display: none;" />
                <input class="uploadButtons" id="setDatesButton" type="button" value="Set Dates" style="display: none;" />
                <input class="uploadButtons" id="generateCustomPackageButton" contenturl="@Url.Action(MVC.Permitting.Document.GetTemplates())/2" title="Select Documents for the Package" type="button" value="Generate Custom Package" style="display:none;" />
                <input class="uploadButtons" id="generate6MonthsLetterButton" contenturl="@Url.Action(MVC.Permitting.Document.GetDocumentParts())/3" title="Choose the appropriate paragraph" type="button" value="Generate 6 Month Letter" style="display:none;" />
                <input class="uploadButtons" id="generateWithdrawalLetterButton" contenturl="@Url.Action(MVC.Permitting.Document.GetDocumentParts())/4" title="Choose a letter type" type="button" value="Generate Withdrawal Letter" style="display:none;" />
                <input class="uploadButtons" id="generateDecisionLetterButton" contenturl="@Url.Action(MVC.Permitting.Document.GetDocumentParts())/5" title="Choose a letter type" type="button" value="Generate Decision Letter" style="display:none;" />
                <input type="hidden" id="templateTypeId" value="" />
                break;
        }
    }
        }

    </div>
}
<div id="uploadDashboardGridContainer" style="display: none;">
    <table id="uploadDashboardGrid"></table>
</div>
<div id="pager" class="scroll" style="text-align: center; min-width: 100%!important;"></div>
<div style="margin: 10px 0px" class="smallItalicText" id="uploadExamples">
    Examples of documents to upload include maps, photographs, well completion reports, calculations, letters, hydrogeologic reports, drillers' logs, drillers' notes, engineering drawings, and any other documents that support the withdrawal request.
</div>
<script type="text/javascript">
    $.requireScript('@Url.Content("~/Scripts/ViewScripts/Permit/UploadDocument.js")');
    $.requireScript('@Url.Content("~/Scripts/DateFormatter.js")');
    $.requireScript('@Url.Content("~/Scripts/CustomFileUpload/js/jQuery.fileinput.js")');

    $(document).ready(function () {
        if ($("#templateTypeId").val() != undefined) CheckTotalTemplates();

        $("#generateDecisionLetterButton").click(function () {
            var data = {
                permitId: $('#PermitId').val(),
                tableId: 31, /*no change*/
                permitStatusId: $('#SelectedStatusId').val(),
                templateId: 5
            };
            $.ajax({
                url: '@Url.Action(MVC.Permitting.Document.GenerateDecisionLetter())',
                type: 'POST',
                data: JSON.stringify(data),
                cache: false,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                error: function (jqXhr, textStatus, errorThrown) {
                    //HandleError(errorThrown);
                },
                success: function (response) {
                    if (response.IsSuccess) {
                        $('#uploadDashboardGrid').trigger("reloadGrid");
                    } else {
                        alert(response.Error);
                    }
                }
            });
        });
    });

    UploadDocument.GetPermitDatesUrl = '@Url.Action(MVC.Permitting.Permit.GetPermitDates())';
    UploadDocument.SetPermitDatesUrl = '@Url.Action(MVC.Permitting.Permit.SetPermitDates())';
    UploadDocument.Initialize('@ViewBag.RefId', '@ViewBag.RefTableId', '@(ViewBag.PermitStatusId ?? -1)', '@ViewBag.IncludeRefIdDocs',
                                '@(SessionHandler.GetSessionVar<List<string>>(SessionVariables.AuthenticatedUserRoles).Contains(Constants.DIVISION_CHIEF))');

    function CheckTotalTemplates() {
        var templateTypeId = $("#templateTypeId").val();

        if ((templateTypeId != '') && (templateTypeId != undefined)) {
            $.ajax({
                url: '@Url.Action(MVC.Permitting.Document.TemplatesCount())',
                type: 'GET',
                data: { id: templateTypeId },
                async: false,
                success: function (response) {
                    if (response.TotalTemplates > 1) {
                        // Multiple templates
                        $('#generateCustomPackageButton').modal();
                        $('#generate6MonthsLetterButton').modal();
                        $('#generateWithdrawalLetterButton').modal();

                    } else {
                        // Single Template
                    }
                }
            });
        }
    }
</script>