﻿@model DashboardSearchForm
<style>
    #permitNumber
    {
        cursor: default;
    }

    #permitcontrols
    {
        color: #FFFFFF;
        background-color: #04296F;
        position: absolute;
        padding: 5px;
        opacity: 0.8;
    }

        #permitcontrols span
        {
            position: relative;
            bottom: 1px;
        }

    .permitcontrolsspanlink
    {
        text-decoration: underline;
        cursor: pointer;
    }

    .permitcontrolsiconcontainer
    {
        display: inline-block;
        height: 14px;
        padding: 3px 0;
        vertical-align: top;
        margin-left: 10px;
    }
</style>
<div class="renderbodyLeft unpadded">
    <div class="scrollcontainer" preservescrollbarspace="y">
        <div style="margin-bottom: 10px; width: 264px;">
            @Html.DropDownListFor(form => form.SelectedFilterTemplate, Model.FilterTemplateList)
        </div>
        @using (Ajax.BeginForm(MVC.Permitting.Dashboard.Filter(), new AjaxOptions { OnSuccess = "onFilterSuccess" }, new { id = "FilterForm" }))
        {
            <div id="FilterControlContainer">
                @Html.Partial(Model.FilterForm.GetType().Name, Model.FilterForm)
            </div>
            <div style="text-align: center;">
                <input type="button" id="saveFilterButton" value="Save Filter" style="width: auto;" /><input type="button" id="resetButton" value="Reset Filter" style="width: auto;" />
            </div>
        }
    </div>
</div>
<div class="renderbodyRight unpadded">
    <div class="gridheader" style="line-height: 30px; padding-left: 10px;">
        <span id="recordCount">0</span> Record(s) Selected<span class="searchNavigationSeparator">|</span>
        <span class="searchNavigationSpanLink" onclick="Dashboard.ExportToExcel()">Export</span>
        <span class="searchNavigationSeparator">|</span>
        <span class="searchNavigationSpanLink" onclick="window.open('@Url.Action(MVC.Permitting.Dashboard.GenerateAveryLabels())')">Labels</span>
        <span id="dashboardLettersSpan" style="display: none;">
            <span class="searchNavigationSeparator">|</span>
            <span class="searchNavigationSpanLink dashbordLetters" title="Choose a letter type" contenturl="@Url.Action(MVC.Permitting.Document.GetDocumentParts())/7">Letters</span>
            <span class="searchNavigationSeparator">|</span>
            <span class="searchNavigationSpanLink dashbordLetters" title="Choose a letter type" contenturl="@Url.Action(MVC.Permitting.Document.GetDocumentParts())/8">Pumpage Letters</span>
        </span>
        @Html.Partial(MVC.Permitting.Dashboard.Views.DashboardSpatialFilterForm, Model.SpatialFilterForm)
    </div>
    <div id="tabular" style="position: absolute; top: 30px; right: 10px; bottom: 10px; left: 10px; overflow: hidden; display: none;">
        <table id="dashboardGrid"></table>
        <div id="pager"></div>
    </div>
    <div id="spatial" style="position: absolute; top: 30px; right: 10px; bottom: 10px; left: 10px; overflow: hidden;">
        <div id="mapContainer" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0">
            <div id="map">
            </div>
            <div id="permitcontrols">
                <span id="permitNumber">@Model.SelectedPermit.PermitName</span>
                <span id="zoomToPermit" class="permitcontrolsspanlink" data-permitid="@Model.SelectedPermit.Id" style="margin-left: 10px;">Zoom To</span>
                <span class="searchNavigationSeparator">|</span>
                <span class="permitcontrolsspanlink" onclick="window.location.href = '@Url.Action(MVC.Permitting.Permit.Index(Model.SelectedPermit.Id))'">Back to Detail Page</span>
                <div class="permitcontrolsiconcontainer" title="Close" onclick="window.location.href = '@Url.Action(MVC.Permitting.Dashboard.Index(DashboardMode.Map))'">
                    <div class="sprite spatialFilterIcons permitControlsX" style="cursor: pointer;"></div>
                </div>
            </div>
            <div id="overlaycontrols">
                <select id="overlay">
                    <option value="-1">Select an Overlay</option>
                    <option value="5">12 Digit Watersheds</option>
                    <option value="3">2011 Tier II Catchments</option>
                    <option value="0">Areas of No Groundwater Use</option>
                    <option value="1">Recharge Easements</option>
                    <option value="2">Water Management Strategy Areas</option>
                </select>
            </div>
            <div id="basemapswitcher">
                <select id="basemaptype">
                    <option id="street" value="1">Street Map</option>
                    <option id="imagery" value="2">Imagery</option>
                    <option id="topo" value="3">Topographic Map</option>
                </select>
            </div>
            <div id="printcontrol">
                <div id="printbutton"></div>
                <input id="printtemplates" type="button" value="Layout" style="margin-right: 0px;" />
                <input type="hidden" value="" class="mehidden" />
                <ol class="selectBox">
                    <li title="Landscape">Landscape</li>
                    <li title="Portrait">Portrait</li>
                    <li title="Map Only">Map Only</li>
                </ol>
            </div>
            <div id="mapMessages">
            </div>
        </div>
    </div>
</div>
