﻿@{
    ViewBag.Title = "Manage Invoices";
}
@Styles.Render("~/Content/jqgrid")
<div style="padding: 20px;">
    <h3>Invoices</h3>
    <div id="gridcontainer">
        <table id="invoicesGrid"></table>
        <div id="invoicesGridPager"></div>
    </div>
</div>
<form action="@ConfigurationManager.AppSettings["BoAPostUrl"]" method="post" style="display: none;">
@Html.Hidden("application_id", ConfigurationManager.AppSettings["BoAApplicationId"])
@Html.Hidden("message_version", ConfigurationManager.AppSettings["BoAMessageVersion"])
@Html.Hidden("remittance_id")
</form>
@section scripts
{
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/Scripts/jmtExtensions/jquery.jmttg-extension-jqGrid.js")
    <script type="text/javascript">
        var invoiceGridDataAction = '@Url.Action(MVC.Ecommerce.Invoice.Data())';
        var printInvoiceAction = '@Url.Action(MVC.Ecommerce.Invoice.Print())';

        function localResize() {
            $("#invoicesGrid").jqGrid("fixGridWidthWithoutParentScroll");
        }

        $('#invoicesGrid').jqGrid({
            colModel: [
                { name: 'Id', index: 'invoicenumber', width: 80, resizable: false },
                { name: 'PermitNumber', index: 'permitnumber', width: 80, resizable: false },
                { name: 'Description', index: 'description', width: 200, resizable: false },
                { name: 'Amount', index: 'invoiceamount', width: 80, resizable: false, formatter: 'currency', formatoptions: { prefix: '$', thousandsSeparator: ',' } },
                { name: 'InvoiceDate', index: 'invoicedate', width: 80, resizable: false },
                { name: 'Status', index: 'status', width: 100, resizable: false },
                { name: 'PrintLink', width: 50, align: 'center', resizable: false, sortable: false, formatter: printLinkFormatter },
                { name: 'PayLink', width: 50, align: 'center', resizable: false, sortable: false, formatter: payLinkFormatter }
            ],
            colNames: ['Invoice Number', 'Permit Number', 'Description', 'Invoice Amount', 'Invoice Date', 'Status', '', ''],
            height: 450,
            pager: '#invoicesGridPager',
            rowNum: 50,
            sortname: 'invoicedate',
            sortorder: 'desc',
            url: invoiceGridDataAction
        });

        function printLinkFormatter(cellvalue, options, rowObject) {
            return '<span class="spanLink printLink" data-invoiceid="' + rowObject.Id + '">Print</span>';
        }

        function payLinkFormatter(cellvalue, options, rowObject) {
            if (rowObject.PaidDate) {
                return '';
            }
            else {
                return '<span class="spanLink payLink" data-invoiceid="' + rowObject.Id + '">Pay</span>';
            }
        }

        $('#invoicesGrid').on('click', '.printLink', function () {
            window.open(printInvoiceAction + '/' + $(this).attr('data-invoiceid'));
        });

        $('#invoicesGrid').on('click', '.payLink', function () {
            $('#remittance_id').val($(this).attr('data-invoiceid'));
            $('form').submit();
        });
    </script>
}