﻿@Scripts.Render("~/bundles/blockUI")

@if (ViewBag.DocumentTemplates.Count == 0)
{
    <div class="divVerticalBottomSpacer">No Documents Found</div>
}
else
{
    <div id="containerDiv">
    @foreach (var template in ViewBag.DocumentTemplates)
    {
        <div style="float:left;" class="divVerticalBottomSpacer">
            <input type="checkbox" class="PumpageDocument" id="@template.Id" />
            <span style="margin: 0 6px 0 -4px;">@template.Description</span>
        </div>
        <div class="clear"></div>
        }
    </div>
    <div style="text-align: center;">
        <input type="button" id="GeneratePumpageLetters" value="Generate Letters"/><input type="button" id="CancelGeneratePumpageLetter" value="Cancel"/>
    </div>
    <div class="clear"></div>
}  

<script type="text/javascript">
    $(document).ready(function () {

        $('.PumpageDocument').checkbox();
        
        var $unique = $('.PumpageDocument');
        $unique.change(function () {
            var id = $(this).prop("id"),
                attr = 'checked';
            
            $unique.each(function () {
                var checkedId = $(this).attr("id");
                if (id != checkedId) {
                    $(this).prop(attr, false);
                    $('#' + checkedId + '_chkBx div').removeClass(attr);    
                }
            });
            
            $(this).prop('checked', true);
        });
    });
    
    $("#GeneratePumpageLetters").click(function () {
        var sectionId;
        
        $.blockUI({ message: '<h4>Please wait, processing document batch...</h4>' });
        
        $(".PumpageDocument:checked").each(function () {
            sectionId = $(this).attr('id');
        });

        if (sectionId != undefined) {
            $(this).closest('.ui-dialog-content').dialog("close");

            var data = {
                tableId: 31, /*no change*/
                templateId: sectionId
            };
            $.ajax({
                url: '@Url.Action(MVC.Permitting.Document.GenerateSelectedPumpageLetters())',
                type: 'POST',
                data: JSON.stringify(data),
                cache: false,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                error: function (jqXhr, textStatus, errorThrown) {
                    $.unblockUI();
                    alert(errorThrown); 
                },
                success: function(response) {
                    if (response.IsSuccess) {
                        window.open('@Url.Action(MVC.Upload.GetFileData())?' + 'id=' + response.FileId + '&title=' + response.FileTitle, "_blank");
                    } else {
                        alert(response.Error);
                    }
                    $.unblockUI();
                }
            });
        } else {
            alert('Please select a template');
        }
    });
    
    $("#CancelGeneratePumpageLetter").click(function () {
        $(this).closest('.ui-dialog-content').dialog("close");
    });
</script>