﻿
@if (ViewBag.DocumentTemplates.Count == 0)
{
    <div class="divVerticalBottomSpacer">No Documents Found</div>
}
else
{
    <div id="containerDiv">
    @foreach (var template in ViewBag.DocumentTemplates)
    {
        <div style="float:left;" class="divVerticalBottomSpacer">
            <input type="checkbox" class="SixMonthLetterDocument" id="@template.Id" />
            <span style="margin: 0 6px 0 -4px;">@template.Description</span>
        </div>
        <div class="clear"></div>
        }
    </div>
    <div style="text-align: center;">
        <input type="button" id="Generate6MonthLetter" value="Generate 6 Month Letter"/><input type="button" id="CancelGenerate6MonthLetter" value="Cancel"/>
    </div>
    <div class="clear"></div>
}  

<script type="text/javascript">
    $(document).ready(function () {

        $('.SixMonthLetterDocument').checkbox();
        
        var $unique = $('.SixMonthLetterDocument');
        $unique.change(function () {
            var id = $(this).prop("id"),
                attr = 'checked';
            
            $unique.each(function () {
                var checkedId = $(this).attr("id");
                if (id != checkedId) {
                    $(this).prop(attr, false);
                    $('#' + checkedId + '_chkBx div').removeClass(attr);    
                }
            });
            
            $(this).prop('checked', true);
        });
    });
    
    $("#Generate6MonthLetter").click(function () {
        var sectionId;
        
        $(".SixMonthLetterDocument:checked").each(function () {
            sectionId = $(this).attr('id');
        });

        if (sectionId != undefined) {
            $(this).closest('.ui-dialog-content').dialog("close");

            var data = {
                permitId: $('#PermitId').val(),
                tableId: 31, /*no change*/
                permitStatusId: $('#SelectedStatusId').val(),
                templateId: sectionId
            };
            $.ajax({
                url: '@Url.Action(MVC.Permitting.Document.Generate6MonthLetter())',
                type: 'POST',
                data: JSON.stringify(data),
                cache: false,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                error: function (jqXhr, textStatus, errorThrown) {
                    //HandleError(errorThrown);
                },
                success: function (response) {
                    if (response.IsSuccess) {
                        $('#uploadDashboardGrid').trigger("reloadGrid");
                    } else {
                        alert(response.Error);
                    }
                }
            });
        }
    });
    
    $("#CancelGenerate6MonthLetter").click(function () {
        $(this).closest('.ui-dialog-content').dialog("close");
    });
</script>
