﻿
@if (ViewBag.DocumentTemplates.Count == 0)
{
    <div class="divVerticalBottomSpacer">No Documents Found</div>
}
else
{
    foreach (var template in ViewBag.DocumentTemplates)
    {
        <div style="float:left;" class="divVerticalBottomSpacer">
            <input type="checkbox" class="packageDocuments" id="@template.Id" />
            <span style="margin: 0 6px 0 -4px;">@template.Description</span>
        </div>
        <div class="clear"></div>
    }
    <div style="text-align: center;">
        <input type="button" id="GeneratePackage" value="Generate Package"/><input type="button" id="CancelGeneratePackage" value="Cancel"/>
    </div>
    <div class="clear"></div>
}  

<script type="text/javascript">
    $(document).ready(function () {
        $('.packageDocuments').checkbox();
    });
    
    $("#GeneratePackage").click(function () {
        var selected = [];
        
        $(".packageDocuments:checked").each(function () {
            selected.push($(this).attr('id'));
        });
        
        $(this).closest('.ui-dialog-content').dialog("close");

        var data = {
            permitId: $('#PermitId').val(),
            tableId: 31, /*no chnage*/
            permitStatusId : $('#SelectedStatusId').val(),
            templateIds: selected
        };
        $.ajax({
            url: '@Url.Action(MVC.Permitting.Document.GenerateCustomPackage())',
            type: 'POST',
            data: JSON.stringify(data),
            cache: false,
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            error: function (jqXhr, textStatus, errorThrown) {
                //HandleError(errorThrown);
            },
            success: function (response) {
                if (response.IsSuccess) {
                    $('#uploadDashboardGrid').trigger("reloadGrid");
                } else {
                    alert(response.Error);
                }
            }
        });
    });
    
    $("#CancelGeneratePackage").click(function () {
        $(this).closest('.ui-dialog-content').dialog("close");
    });
</script>
