﻿@model CheckListForm
@if (Model.ChecklistQuestions.Count() == 0)
{
    <div class="divVerticalBottomSpacer">No Checklist Steps Found</div>
}
else
{
    var permitId = Model.RefId;

    foreach (var question in Model.ChecklistQuestions)
    {
    <div style="float: left;" class="divVerticalBottomSpacer checklistquestion">
        @foreach (var answerOption in Model.AnswerOptions)
        {
            var ch = String.Empty;
            var id = String.Empty;

            if (Model.ChecklistAnswers.Count() > 0)
            {
                foreach (var answer in Model.ChecklistAnswers)
                {
                    ch = String.Empty;
                    if ((answer.CheckListQuestionId == question.Id) && (answer.AnswerId == answerOption.Id))
                    {
                        ch = "checked='checked'";
                        break;
                    }
                }

                foreach (var answer in Model.ChecklistAnswers)
                {
                    id = "qa_0_" + question.Id + "_" + permitId + "_" + answerOption.Id;
                    if (answer.CheckListQuestionId == question.Id)
                    {
                        id = "qa_" + answer.Id + "_" + question.Id + "_" + permitId + "_" + answerOption.Id;
                        break;
                    }
                }
            }
            else
            {
                id = "qa_0_" + question.Id + "_" + permitId + "_" + answerOption.Id;
            }

            <input id="@id" class="q_@question.Id" type="checkbox" @ch/>
            <span style="margin: 0 6px 0 -4px;">@answerOption.Description</span>
        }
    </div>
    <div style="float:left; margin-left:20px;" class="divVerticalBottomSpacer q_@question.Id">@question.Question</div>
    <div class="clear"></div>        
    }
}
<input type="hidden" id="PermitId" value="@Model.RefId"/>
<input type="hidden" id="SelectedStatusId" value="@Model.PermitStatusId"/>
<input type="hidden" id="checkListCompleted" value="@Model.CheckListCompleted" />
<input type="hidden" id="completedByAndDateValue" value="@Model.CompletedByAndDate" />
<input type="hidden" id="NumberOfQuestions" value="@Model.ChecklistQuestions.Count()" />

<script type="text/javascript">
    $(document).ready(function () {
        //check if all the check boxes are checked
        var allCheckListChecked = "true";
        var selector = $('div.checklistquestion'),
                    len = selector.length,
                    i = 0,
                    bAnswered;

        selector.each(function () {
            bAnswered = false;
            $(this).children('input').each(function () {
                if ($(this).is(':checked')) {
                    bAnswered = true;
                    i++;
                    return false;
                }
            });
        });
        
        if (i == len) {
            allCheckListChecked = "true";
        }
        else {
            allCheckListChecked = "false";
        }

        if ($('#NumberOfQuestions').val() != "0") {
            var checkListCompleted = $('#checkListCompleted').val();
            var completedByAndDate = $('#completedByAndDateValue').val();

            if (checkListCompleted == "true") {

                $('#CompletedByAndDate').html(completedByAndDate);
                $('#CompletedByAndDate').show();
                $('#MarkAsCompleteSpan').hide();
                $('#MarkAsIncompleteSpan').show();
                _FinalizePermit.ToggleApproveDenyButtons(false)
            }
            else {

                if (allCheckListChecked == "true") {
                    if ($("#SelectedStatusId").val() != 59 && $("#SelectedStatusId").val() != 62 && $("#SelectedStatusId").val() != 65) {
                        $('#CompletedByAndDate').html('');
                        $('#MarkAsCompleteSpan').show();
                        $('#MarkAsComplete').removeClass('disabled');
                        $('#MarkAsIncompleteSpan').hide();
                        _FinalizePermit.ToggleApproveDenyButtons(false)
                    } else {
                        $('#CompletedByAndDate').html('');
                        $('#MarkAsCompleteSpan').hide();
                        $('#MarkAsIncompleteSpan').hide();
                        _FinalizePermit.ToggleApproveDenyButtons(true)
                        _FinalizePermit.EnableDisableFinalizeButtons(true)
                    }
                }
                else {
                    if ($("#SelectedStatusId").val() != 59 && $("#SelectedStatusId").val() != 62 && $("#SelectedStatusId").val() != 65) {
                        $('#CompletedByAndDate').html('');
                        $('#MarkAsCompleteSpan').show();
                        $('#MarkAsComplete').addClass('disabled');
                        $('#MarkAsIncompleteSpan').hide();
                        _FinalizePermit.ToggleApproveDenyButtons(false)
                    } else {
                        $('#CompletedByAndDate').html('');
                        $('#MarkAsCompleteSpan').hide();
                        $('#MarkAsIncompleteSpan').hide();
                        _FinalizePermit.ToggleApproveDenyButtons(true)
                        _FinalizePermit.EnableDisableFinalizeButtons(false)
                    }
                }
            }
        }
        else {
            $('#CompletedByAndDate').html('');
            $('#MarkAsCompleteSpan').hide();
            $('#MarkAsIncompleteSpan').hide();
        }
    });
</script>
