﻿<div id="rightSide" class="unpadded" onclick="applicationDetailsHelper.hideAllMenus(null);">
    <div class="scrollcontainer" preservescrollbarspace="y">
        <div class="localNavigationBold divVerticalBottomSpacerDouble">Conditions Requiring Compliance Reporting:</div>
        <div class="horizontalSepratorContentDiv">
            <table id="complianceResults"></table>
        </div>
    </div>
</div>
<script src='@Url.Content("~/Scripts/DateFormatter.js")'></script>
<script src='@Url.Content("~/Scripts/ViewScripts/Permit/Comment.js")'></script>
<script type="text/javascript">
    $(function () {
        var permitId = $("#PermitId").val();

        $("#complianceResults").jqGrid({
            colModel: [
                { name: 'ConditionText', width: 250, sortable: false },
                { name: 'DueDate', width: 100, align: 'center', formatter: dueDateFormatter, sortable: false },
                { name: 'Id', width: 10, index: 'Id', sortable: false, hidden: true },
                { name: 'DetailsLink', width: 50, align: 'center', formatter: detailsLinkFormatter, sortable: false }
            ],
            colNames: ['Condition', 'Next Due Date', 'Id', 'Details'],
            height: "auto",
            scrollOffset: 0,
            gridComplete: onGridComplete,
            url: '@Url.Action(MVC.Permitting.Condition.PermitData())?permitId=' + permitId + '&complianceOnly=true'
        });
    });

    function onGridComplete() {
        $(this).jqGrid("fixGridWidth");
        $('.detailsLink').click(function () {
            loadComplianceDetails($(this).attr('contenturl'));
        });
    }

    function localResize() {
        $("#complianceResults").jqGrid("fixGridWidth");
        $("#complianceResults").fixGridWidthMainContent();
    }

    function dateFormatter(cellvalue, options, rowObject) {
        if (cellvalue == null) return '';
        return (new Date(parseInt(cellvalue.replace("/Date(", "").replace(")/", ""), 10))).format('m/dd/yyyy');
    }

    function dueDateFormatter(cellvalue, options, rowObject) {
        if (cellvalue == null) return '';
        return (new Date(parseInt(cellvalue.replace("/Date(", "").replace(")/", ""), 10))).format('m/dd/yyyy');
    }

    function detailsLinkFormatter(cellvalue, options, rowObject) {
        var sLink = '<span contenturl="@Url.Action(MVC.Permitting.Condition.CustomDetails())/' + rowObject.Id + '" title="Condition Details" class="detailsLink spanLink">Details</span>';
        return sLink;
    }

    function loadComplianceDetails(url) {
        $.ajax({
            url: url,
            type: 'Get',
            success: function (response) {
                $("#mainContent").html(response);
                //create custom scrollbars
                applicationDetailsHelper.handleScrollingAfterDynamicLoad();
                //make sure scrollwrap is 100% width
                applicationDetailsHelper.setScrollWrapWidth();
            }
        });
    }

</script>