﻿ 
<div id="leftSide" class="renderbodyLeft unpadded renderbodyLeftGrayBorder" > 
    <div class="scrollcontainer" preservescrollbarspace="y">
        Select the appropriate Permit Template from the list to the right and click “Add These Conditions” to add the appropriate conditions to this permit.
        <br/><br/>
        You may add “Extra” conditions or create “Special” conditions by clicking the appropriate link at the top right of the page.
        <br/><br/>
        You may also edit or remove conditions from this list. Edits will apply to this permit only.
    </div>
</div>


<div id="rightSide" class="renderbodyRight unpadded" onclick="applicationDetailsHelper.hideAllMenus(null);">
    <div class="scrollcontainer" preservescrollbarspace="y">
        <div>
@*            <div style="float: right;"><span contenturl="@Url.Action(MVC.Permitting.Condition.EditCustom())?id=0&permitId=@ViewBag.RefId" title="Create New Permit Condition" class="addLink spanLink searchNavigationSpanLink">Create New Condition</span></div>*@
            <div>
                @Html.DropDownList("PermitTemplateId", new SelectList(ViewBag.PermitTemplates, "Id", "Description", ViewBag.ConditionsTemplateId))
                <input id="addConditionsButton" type="button" value="Add These Conditions" style="margin-left: 40px;" />
            </div>
            <br />
            <div>Conditions listed below will be included in the draft permit.</div>
            <div>Drag and drop to reorder. To add a new set of conditions, please delete all existing ones.</div>
            <br />
            <table id="conditionsResults"></table>
            <div id="pager"></div>
        </div>
    </div>
    <div id="deleteDialog" style="display: none;" title="Remove Confirmation">
        Are you sure you want to remove this condition?
    </div>
</div>
<style>
    .ui-jqgrid .ui-jqgrid-hdiv
    {
        border:none!important;
    }

</style>
<script type="text/javascript">  
    $(function () {

        $("#addConditionsButton").click(function () {
            $("#PermitTemplateId").attr('disabled', 'disabled');
            $("#addConditionsButton").attr('disabled', 'disabled');
            copyConditions(); // in Details.schtml
        });
        
        var permitId = '@ViewBag.RefId';
        $("#conditionsResults").jqGrid({
            colModel: [
                { name: 'ConditionText', width: 250, sortable: false },
                { name: 'Id', width: 10, index: 'Id', sortable: false, hidden: true },
                { name: 'EditLink', width: 50, formatter: editLinkFormatter, sortable: false },
                { name: 'DeleteLink', width: 50, formatter: deleteLinkFormatter, sortable: false }
            ],
            colNames: ['Condition', 'Id', '', ''],
            height: "auto",
            scrollOffset: 0,
            gridComplete: onGridComplete@*,
            url: '@Url.Action(MVC.Permitting.Condition.PermitData())?permitId=' + permitId*@
            });
        
        $("#conditionsResults").on('click', 'a.deleteLink', function (e) {
            e.preventDefault();
            var targetUrl = $(this).attr("href");

            $("#deleteDialog").dialog({
                resizable: false,
                draggable: false,
                modal: true,
                buttons: {
                    "Delete": function () {
                        $.ajax({
                            url: targetUrl,
                            cache: false,
                            error: function () {
                                // Handle error
                            },
                            success: function () {
                                // Handle success
                                $("#deleteDialog").dialog("close");
                                $("#conditionsResults").trigger("reloadGrid");
                            }
                        });
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $("#deleteDialog").dialog("open");                
        });
        
        $("#conditionsResults").jqGrid('sortableRows', {
            cursor: '.handle',
            update: function () {
                var serial = $('#conditionsResults').jqGrid('getRowData'),
                    ids = [];

                for (var i = 0; i < serial.length ; i++) {
                    ids.push(serial[i].Id);
                }

                @*$.ajax({
                    url: '@Url.Action(MVC.Permitting.Condition.UpdateCustomSequence())',
                        type: 'POST',
                        data: JSON.stringify(ids),
                        cache: false,
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        error: function () {
                            // Handle error
                        },
                        success: function () {
                            // Handle success
                        }
                    });
                }*@
        });
    });
    
    function onGridComplete() {
        $(this).jqGrid("fixGridWidth");
        $('.editLink, .addLink').modal();

        $("#PermitTemplateId").combobox();
        $('.scrollwrap .ui-combobox-input').css('width', '300px');
        
        if ($("#conditionsResults").jqGrid('getGridParam', 'records') === 0) {
            $("#PermitTemplateId").attr('disabled', false);
            $("#addConditionsButton").attr('disabled', false);
        } else {
            $("#PermitTemplateId").attr('disabled', 'disabled');
            $("#addConditionsButton").attr('disabled', 'disabled');
        }
    }

    function localResize() {
        $("#conditionsResults").jqGrid("fixGridWidth");
    }
    @*
    function editLinkFormatter(cellvalue, options, rowObject) {
        var sLink = '<span contenturl="@Url.Action(MVC.Permitting.Condition.EditCustom())?id=' + rowObject.Id + '&permitId=' + @ViewBag.RefId + '" title="Edit Permit Condition" class="editLink spanLink">Edit</span>';
        return sLink;
    }

    function deleteLinkFormatter(cellvalue, options, rowObject) {
        return '<a href="@Url.Action(MVC.Permitting.Condition.DeleteCustom())/' + rowObject.Id + '" class="deleteLink">Remove</a>';
    }*@
    
</script>


