﻿@model CountyReviewAndApprovalForm
<div style="padding: 20px">
    @if (Model.IsPastSubmission)
{
    <div id="saveConfirmation" style="color:red;">Submitted by @Model.CountyOfficialSignOffBy on @Model.CountyOfficialSignOffDate.GetValueOrDefault().ToShortDateString()</div>
        <h3>County Review and Approval</h3>

        <div class="divVerticalBottomSpacer" style="font-weight: bold;">Is this Project Consistent with the County Water and Sewer Plan and Local Planning and Zoning?</div>

        <div class="divVerticalBottomSpacer">@Html.CheckBoxFor(model => model.IsChecked, new { @class = "yesNo", disabled = "disabled" })</div>

        if (!string.IsNullOrEmpty(Model.Comment))
        {
            <div class="divVerticalBottomSpacer" style="font-weight: bold;">Comments/Explanation</div>

            <div class="divVerticalBottomSpacer">@Model.Comment</div>
        }
    }
    else
    {
        <div id="saveConfirmation" style="color:red;"></div>
        <h3>County Review and Approval</h3>

        using (Ajax.BeginForm(MVC.Permitting.Checklist.SubmitCountyReview(), new AjaxOptions { OnSuccess = "CountyReviewFormCallBack" }, new { @id = "countyReviewForm" }))
        {
            @Html.HiddenFor(model => model.PermitId)
            @Html.HiddenFor(model => model.CommentId)

            <div class="divVerticalBottomSpacer" style="font-weight: bold;">Is this Project Consistent with the County Water and Sewer Plan and Local Planning and Zoning?</div>

            <div class="divVerticalBottomSpacer">@Html.CheckBoxFor(model => model.IsChecked, new { @class = "yesNo" })</div>

            <div class="divVerticalBottomSpacer" style="font-weight: bold;">Comments/Explanation</div>

            <div class="divVerticalBottomSpacer">@Html.TextAreaFor(model => model.Comment)</div>
            <div class="divVerticalBottomSpacer">@Html.ValidationMessageFor(model => model.Comment)</div>

            <div class="divVerticalBottomSpacer">
                <input type="submit" value="Save" class="button Save">
            </div>
        }
    }
</div>

<script>
    $(document).ready(function () {
        if ($("#countyReviewForm").length) {
            $("#countyReviewForm").validate();

            // custom validation
            $("#Comment").rules("add", {
                required: {   // comment is required if checkbox is not checked/answer is No
                    depends: function (element) {
                        return !$("#IsChecked").is(':checked');
                    }
                }
            });
        }

        $('input[type=checkbox]').checkbox();
    });

    $('.Save').click(function () {
        $(this).prop('disabled', true);
        $(this).css('cursor', 'default');
        $(this).closest('form').submit();

        return false;
    });

    function CountyReviewFormCallBack(response) {
        if (response.IsSuccess) {
            $('#saveConfirmation').html('Your feedback has been submitted to the MDE project manager.')
        }
    }
</script>