﻿@model PendingPermitForm
<div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">Permit Type
        </span>
        @Html.DropDownListFor(model => model.PermitTypeId, Model.PermitTypeList)
    </div>
    <div id="PermitNumberContainer" style="display: none;">
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">Permit Number
            </span>
            @Html.TextBoxFor(model => model.PermitNumber)
            <span>*</span>
            @Html.ValidationMessageFor(model => model.PermitNumber)
        </div>
    </div>
    <div id="PermitNumberButtonContainer" class="divVerticalBottomSpacer" style="display: none;">
        <span class="spanSetWidth spanSetWidthAlignRightPadded"></span>
        <input value="Create" type="button" onclick="ApplicationWizard.ClonePermit()" />
    </div>
</div>