﻿@model ApplicationWizard
<div id="leftSide" class="renderbodyLeft renderbodyLeftGrayBorder">
    <div class="scrollcontainer" preservescrollbarspace="n">
        @if (Model.PermitCategoryId == 1)
        {
            <div class="detailsClickable ApplicationSum wizardStep" onclick="ApplicationWizard.Navigate(9)">Application Summary</div>
        }
        else
        {
            <div class="detailsClickable ApplicationSum wizardStep" onclick="ApplicationWizard.Navigate(9)">Permit Summary</div>
        }

        @if (Model.PermitStatusId == 46)
        {
            <div class="detailsClickable wizardStep" onclick="ApplicationWizard.GetPermitDocument()">View Permit</div>
        }

        @if (!Request.IsAuthenticated && Model.PermitStatusId == 19)
        {
            <div id="addPublicCommentButton" class="detailsClickable wizardStep">Submit Comment</div>
            @Html.Partial(MVC.Permitting.Permit.Views.DetailsPartials._PublicComment, new PublicCommentForm())
        }
    </div>
</div>

<div id="rightSide" class="renderbodyRight scrollcontainer" style="overflow: hidden;" preservescrollbarspace="y">
    <div id="top" style="height: 40px; left: 0; position: absolute; right: 0; top: 0; line-height: 40px; vertical-align: middle; min-width: 675px">
        <div style="float: left; padding-left: 10px;">
            <span id="AddLandOwner" style="display: none; margin-right: 20px">
                <input type="button" value="Add Land Owner" onclick="ApplicationWizard.AddLandOwner();" />
            </span>
        </div>
        <div style="float: right; padding-right: 10px;">
            <span id="SaveButton" style="display: none;margin-right: 20px">
                <input type="button" value="Save" onclick="ApplicationWizard.SaveData()" />
            </span>
        </div>
    </div>
    <div class="scrollcontainer" style="position: absolute; top: 40px; right: 0; bottom: 20px; left: 0;">
        @using (Ajax.BeginForm(MVC.Permitting.Permit.ApplicationWizard(), new AjaxOptions { HttpMethod = "POST", OnSuccess = "ApplicationWizard.SaveCallBack" }, new { @id = "wizardForm" }))
        {
            @Html.HiddenFor(model => model.PermitId)
            @Html.HiddenFor(model => model.SelectedWaterUsePurposeIds)
            @Html.HiddenFor(model => model.CurrentStep)
            @Html.HiddenFor(model => Model.PermitStatusId)
            @Html.HiddenFor(model => Model.ApplicationTypeId)
            @Html.HiddenFor(model => Model.RefId)

            <input type ="hidden" id="selectedWaterUserCategoryTypeFromDB" value=@Model.SelectedWaterUsePurposeIds />
            <input type ="hidden" id="permitIssuedToFromDB" value=@Model.PermitIssuedTo />
            
            <div id="CreatePendingPermit" style="display: none;">
            </div>
            <div id="ApplicantIdentification" style="display: none;">
                @Html.Partial(MVC.Permitting.Permit.Views.ApplicantIdentification)
            </div>
            <div id="contactSearch" style="display: none;">
                @Html.Partial(MVC.Permitting.Permit.Views.ContactSearch)
            </div>
            <div id="contactSearchResult" style="display: none;">
                @Html.Partial(MVC.Permitting.Permit.Views.ContactSearchResult)
            </div>
            <div id="SearchedContacts" style="display: none;">
                @Html.EditorFor(model => model.Contacts)
            </div>
            <div id="waterUseDescription" style="display: none;">
                @Html.Partial(MVC.Permitting.Permit.Views.WaterUseDescription)
            </div>
            <div id="waterUseCatagoryAndType" style="display: none;">
            </div>
            <div id="waterUseDetails" style="display: none;">
            </div>
            <div id="WastewaterTreatmentAndDisposal" style="display: none;">
                @Html.Partial(MVC.Permitting.Permit.Views.WastewaterTreatmentAndDisposal)
            </div>
            <div id="reviewApplication" style="display: none;">
                <div id="applicationSummary">
                </div>
            </div>
            <div id="affirmation" style="display: none;">
                @Html.Partial(MVC.Permitting.Permit.Views.Affirmation)
            </div>
        }
    </div>
</div>
@Styles.Render("~/Content/scrollbars")
<script type="text/javascript">
    $(document).ready(function () {
        var commaSeparatedValues = "" + $('#selectedWaterUserCategoryTypeFromDB').val();

        var ids = commaSeparatedValues.split(',');
        _.each(ids, function (id) {
            global.SelectedWaterUseCategoryTypeList[id] = id;
        });

        PublicComment.Initialize($('#PermitId').val());
    });
</script>
