﻿@using MDGov.MDE.Permitting.Model
<div id="rightSide" class=" unpadded" onclick="applicationDetailsHelper.hideAllMenus(null);">
    <div class="scrollcontainer" preservescrollbarspace="y">
        <div class="permitDetailsRightHorizontalSeprator filterheader ui-state-default" onclick="applicationDetailsHelper.handleSeparatorClick($(this));" title="Close"><span class="renderBLArrow">▲</span>Internal Comments</div>
        <div id="commentDiv" class="horizontalSepratorContentDiv"></div>
    </div>
</div>

<script type="text/javascript">
    function localResize() {
        $("#commentDashboardGrid").fixGridWidthMainContent();
    }

    var _url = Helper.GetBaseURL("Permitting");

    _url += "Comment/LoadCommentsView";
    $.ajax({
        url: _url,
        type: 'Get',
        async: false,
        cache: false,
        data: { refTable: "Permit", refId: $("#PermitId").val(), permitStatusId: 14, callbackfunction: 'commentSavedCallBack' },
        success: function (response) {
            $("#commentDiv").html(response);
        }
    });

    function commentSavedCallBack() {
        $.ajax({
            url: '@Url.Action(MVC.Comment.SendNotificationEmail())',
                type: 'POST',
                async: false,
                cache: false,
                data: { permitId: $("#PermitId").val() }
            });
        }
</script>
