﻿<div id="rightSide" class=" unpadded"  onclick="applicationDetailsHelper.hideAllMenus(null);">
  
<div class="scrollcontainer" preservescrollbarspace="y">
    <div class="permitDetailsRightHorizontalSeprator filterheader ui-state-default" onclick="applicationDetailsHelper.handleSeparatorClick($(this));applicationDetailsHelper.setScrollWrapWidth();" title="Close"><span class="renderBLArrow">▲</span>Files</div>
    <div id="docDiv" class="horizontalSepratorContentDiv"></div>
    <div style="min-width:100%;"></div>
</div>

</div>
    <script type="text/javascript">  
        loadUploads();
        
        function localResize() {
            $("#uploadDashboardGrid").fixGridWidthMainContent();
        }

        function loadUploads(){
            var _url = Helper.GetBaseURL("Permitting");

            _url += "Upload/Document";
            $.ajax({
                url: _url,
                type: 'Get',
                async: false,
                cache: false,
                data: { refTable: "Permit", refId: @ViewBag.RefId, permitStatusId: 1, includeRefIdDocs: true },
                success: function (response) {
                    $("#docDiv").html(response);
                    UploadDocument.InitializeVariables("Permitting");
                    $("#uploadDashboardGrid").fixGridWidth();
                }
            });            
        }     
    </script>