﻿@using MDGov.MDE.Permitting.Model
@if (ViewBag.PermitTypes != null)
{
    <div id="permitTypePulldown" class="LNPulldown permitTypePulldown">
        <div class="LNPulldownTopMessageContainer">Select New Permit Type:</div>
        <div class="LNPulldownScrollContentContainer">
            <div class="LNPulldownScrollContent">
                @foreach (var item in (List<LU_PermitType>)ViewBag.PermitTypes)
                {
                    @*<div class="LNPulldownClickableItem" managerId="@item.Id" permitId="@ViewBag.RefId" onclick="applicationDetailsHelper.permitTypeHighlightClick($(this))">@item.FirstName&nbsp;@item.LastName</div>*@
                    <div class="LNPulldownClickableItem" permitTypeId="@item.Id" permitId="@ViewBag.RefId" onclick="applicationDetailsHelper.permitTypeHighlightClick($(this))">@item.Key</div>
                }
            </div>
        </div>
        <div class="LNPulldownBottomLinksContainer">
            <span class="LNPulldownBottomLink" title="Save selected manager" onclick="applicationDetailsHelper.permitTypeSaveClick($(this))">Save</span>
            <span class="LNPulldownBottomLinkSpearator"></span>
            <span class="LNPulldownBottomLink" title="Close menu" onclick="applicationDetailsHelper.closePermitTypePulldown()">Close</span>
        </div>
    </div>
}