﻿@using MDGov.MDE.Permitting.Model


<div class="LNPulldownTopMessageContainer">Permit History:</div>
<div class="LNPulldownScrollContentContainer">
    <div class="LNPulldownScrollContent">

        @if (ViewBag.RelatedPermits == null || ((List<Permit>)ViewBag.RelatedPermits).Count <= 1)
        {
            <text>No Permit History To Display</text>
        }
        else
        {
            foreach (var item in (List<Permit>)ViewBag.RelatedPermits)
            {
                if (item.Id != ViewBag.ActivePermit)
                {
            <div class="LNPulldownClickableItem" onclick='reloadByItemID("@item.Id")'>@(item.PermitStatusId < 4 ? "Application" : item.PermitName ?? "No Permit #")</div>
                }
                else
                {
            <div class="LNPulldownClickableItem LNPulldownClickableItemSelected">@(item.PermitStatusId < 4 ? "Application" : item.PermitName ?? "No Permit #")</div>
                }
            }
        }
    </div>
</div>
<div class="LNPulldownBottomLinksContainer">
    <span class="LNPulldownBottomLink" title="Close menu" onclick="applicationDetailsHelper.hideAllMenus(null)">Close</span>
</div>

<script type="text/javascript">
    function reloadByItemID(itemID) {
        if (itemID != null) {
            currentHREF = document.location.href;
            var lastSlashIndex = currentHREF.lastIndexOf("/");
            if (lastSlashIndex != -1) {
                //get url without MVC number
                trimHREF = currentHREF.substring(0, lastSlashIndex + 1);
                //reload page with new MVC number
                document.location.href = trimHREF + itemID;
            }
            else {
                alert("error retrieving document location in 'reloadByItemID' function");
            }
        }
        else {
            alert("itemID must be populated to use this ('reloadByItemID') function");
        }

    }

</script>
