﻿@model PumpageReportDetailsForm
@Html.HiddenFor(m => m.Id, new { id = "PumpageReportId" })
@Html.HiddenFor(m => m.ConditionComplianceId)
@Html.HiddenFor(m => m.PermitConditionId)
@Html.HiddenFor(m => m.ReportYear)
@Html.HiddenFor(m => m.ReceivedDate)
@Html.HiddenFor(m => m.SubmittedDate)
@Html.HiddenFor(m => m.IsResumbission)

@{ var showInchesAcres = Model.PumpageReportTypeId == 2;}

<style>
    .report-column
    {
        display: table-cell;
        padding: 0 50px;
    }
</style>
<div id="rightSide" class=" unpadded" onclick="applicationDetailsHelper.hideAllMenus(null);">
    <div class="scrollcontainer" preservescrollbarspace="y">

        <a id="backLink" href="javascript:void(0);">Back to Condition Details</a><br />
        <br />
        @if (showInchesAcres)
        {
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 135px;">Report Name</span>
                @Html.TextBoxFor(model => model.Name, new { style = "width: 300px;" })
            </div>
            <br />
        }
        else
        {
            @Html.HiddenFor(model => model.Name)
        }

        <div class="localNavigationBold divVerticalBottomSpacerDouble">
            @if (!showInchesAcres)
            {
                <span>Step 1: Check the method used to determine your withdrawal amounts:</span>
            }
            else
            {
                <span>Step 1: Indicate type of crop irrigated:
                    <br />
                    (Please complete one report for each crop irrigated and one for all vegetables.)</span>
            }
        </div>

        @if (!showInchesAcres)
        {
            <div class="divVerticalBottomSpacer" style="margin-left: 50px;">
                @foreach (var estimateType in ViewBag.WaterWithdrawalEstimateTypes)
                {
                    var id = estimateType.Id;

                    var ch = estimateType.Id == Model.WaterWithdrawalEstimateId ? "checked=\"checked\"" : String.Empty;
                    <div class="divVerticalBottomSpacer">
                        <input id="@id" class="witdrawalEstimate" type="checkbox" @ch/>

                        @if (estimateType.Id == 9)
                        {
                            <span class="spanSetWidth spanSetWidthAlignLeftPadded" style="width: 150px;">@estimateType.Description</span>
                            <br />
                            @Html.TextAreaFor(model => model.OtherWaterWithdrawalMethod, new { style = "width: 300px;" })
                        }
                        else
                        {
                            <span class="spanSetWidth spanSetWidthAlignLeftPadded" style="width: 350px;">@estimateType.Description</span>
                        }
                    </div>
                }
            </div>
        }
        else
        {
            <input id="9" class="witdrawalEstimate" type="checkbox" checked="checked" style="display: none;" />
            <input id="OtherWaterWithdrawalMethod" name="OtherWaterWithdrawalMethod" value="Irrigation Measurement" style="display: none;" />
            <div class="divVerticalBottomSpacer" style="margin-left: 50px;">
                <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 132px;">Field Crop Irrigation</span>
                @Html.DropDownListFor(model => model.CropTypeId, new SelectList(ViewBag.CropTypes, "Id", "Description"), "Please specify")
            </div>
            <div class="divVerticalBottomSpacer" id="OtherWaterWithdrawalMethodContainer" style="margin-left: 30px; display: none;">
                <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 152px;">Other Field Crop</span>
                @Html.TextBoxFor(model => model.OtherCropDescription, new { style = "width: 300px;" })
            </div>
        }

        <br />

        <div class="localNavigationBold divVerticalBottomSpacerDouble">
            @if (!showInchesAcres)
            {
                <span>Step 2: Total all intakes under this permit and enter the number of gallons of water withdrawn for each month:</span>
            }
            else
            {
                <span>Step 2: Enter inches applied and # of acres irrigated:</span>
            }
        </div>

        <div class="divVerticalBottomSpacer">
            @{
                var i = 0;
                var janJunTotal = 0;
                var julDecTotal = 0;

                foreach (var month in ViewBag.Months)
                {
                    i++;
                    var txtId = "month" + month.Id;
                    var inchesId = "inches" + month.Id;
                    var acresId = "acres" + month.Id;
                    var gallons = 0;
                    var inches = 0;
                    var acres = 0;
                    var id = 0;

                    if (Model.PumpageReportDetails != null)
                    {
                        var currentRecord = Model.PumpageReportDetails.FirstOrDefault(d => d.MonthId == month.Id);
                        if (currentRecord != null) { id = currentRecord.Id; }
                        foreach (var measure in Model.PumpageReportDetails)
                        {
                            if (measure.MonthId == month.Id)
                            {
                                if (measure.InchesApplied == null) { measure.InchesApplied = 0; }
                                if (measure.Acres == null) { measure.Acres = 0; }
                                gallons = (int)measure.Gallons;
                                inches = (int)measure.InchesApplied;
                                acres = (int)measure.Acres;
                                if (i < 7) { janJunTotal = janJunTotal + gallons; }
                                if (i > 6) { julDecTotal = julDecTotal + gallons; }

                                break;
                            }
                        }
                    }

                    if (i == 1)
                    {
                <text>
                @Html.Raw("<div class='report-column'>")
                </text>
                    }
                <text>
                <div class="divVerticalBottomSpacer">
                    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 110px; text-align: right;">@month.Description @Model.ReportYear:</span>
                    @if (showInchesAcres)
                    {
                        <input type="text" alt="@id" id="@inchesId" value="@inches" class="" style="width: 50px;" /> <span>inches &nbsp;</span>
                        <input type="text" alt="@id" id="@acresId" value="@acres" class="" style="width: 50px;" /> <span>acres &nbsp;</span>
                    }
                    <input type="text" alt="@id" id="@txtId" value="@gallons" class="commaFormatted" style="width:100px;" />
                    gal

                </div>
                </text>
                    if (i == 6)
                    {
                <div class="divVerticalBottomSpacer">
                    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 110px; text-align: right;"><b>Jan - June Total</b>:</span>
                    <input type="text" id="janJunTotal" value="@janJunTotal" class="commaFormatted" style="width:100px;" disabled="disabled" />
                    gal
                </div>
                <text>
                @Html.Raw("</div><div class='report-column'>")
                </text>
                    }
                    if (i == ViewBag.Months.Count)
                    {
                <div class="divVerticalBottomSpacer">
                    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 110px; text-align: right;"><b>Jul - Dec Total</b>:</span>
                    <input type="text" id="julDecTotal" value="@julDecTotal" class="commaFormatted" style="width:100px;" disabled="disabled" />
                    gal
                </div>
                <text>
                @Html.Raw("</div>")
                </text>
                    }
                }    
            }
        </div>

        <br class="clear" />
        <br />

        <hr />
        <br />

        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px; text-align: right;">Submitted By:</span>
            @Html.TextBoxFor(model => model.SubmittedBy, new { style = "width: 300px;" })
        </div>
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px; text-align: right;">Telephone Number:</span>
            @Html.TextBoxFor(model => model.Phone, new { style = "width: 300px;" })
        </div>

        <br />
        <hr />
        <br />

        <div>
            @Html.ValidationSummary("", new { style = "margin-left:175px;position:relative;" })
        </div>

        @if (Model == null)
        {
            <input style="margin-left: 1px;" type="submit" id="Create" value="Create" />
        }
        else
        {
            <input style="margin-left: 1px;" type="submit" id="Save" value="Save" />
        }
        <input style="margin-left: 1px;" type="submit" id="Cancel" value="Cancel" />
        <br />
        <br />
    </div>
    <div id="anotherReportDialog" style="display: none;" title="Enter  Another Report">
        Would you like to report on another crop type?
    </div>
    <div id="newSubmissionDialog" style="display: none;" title="New Submission Warning">
        Note: The previously submitted withdrawal report will be superseded by this new submission.<br />
        Would you like to continue?
    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery.maskMoney.js"></script>
<script type="text/javascript" src="~/Scripts/ViewScripts/Permit/PermitDetail/PumpageReporting.js"></script>
<script>
    $(function () {
        var conditionId = $('#PermitConditionId').val(),
            resubmission = $('#IsResumbission').val();

        if (resubmission === 'True') {
            // Load new submission warning dialog
            $("#newSubmissionDialog").dialog({
                resizable: false,
                draggable: false,
                modal: true,
                buttons: {
                    "Yes": function () {
                        $(this).dialog("close");
                    },
                    "No": function () {
                        $(this).dialog("close");
                        loadComplianceConditionDetails('@Url.Action(MVC.Permitting.Condition.CustomDetails())/' + $('#PermitConditionId').val());
                    }
                }
            });
        }

        $('#Cancel, #backLink').click(function () {
            var url = '@Url.Action(MVC.Permitting.Condition.CustomDetails())' + '/' + conditionId;
            loadComplianceDetails(url);
        });

        $('#Save').click(function () {
            var data = loadData();

            $.ajax({
                url: '@Url.Action(MVC.Permitting.Condition.EditPumpageReport())',
                type: 'POST',
                data: JSON.stringify(data),
                cache: false,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                error: function (jqXhr, textStatus, errorThrown) {
                    HandleError(errorThrown);
                },
                success: function (result) {
                    var container = $("div[data-valmsg-summary=true]"),
                        list = container.find("ul");

                    if (list && list.length) list.empty();

                    if (!result.IsSuccess) {
                        for (var i = 0; i < result.Errors.length; i++) {
                            HandleError(result.Errors[i]);
                        }
                    } else {
                        @if (showInchesAcres)
                        {
                        <text>
                        $("#anotherReportDialog").dialog({
                            resizable: false,
                            draggable: false,
                            modal: true,
                            buttons: {
                                "Yes": function () {
                                    $(this).dialog("close");
                                    loadComplianceConditionDetails('@Url.Action(MVC.Permitting.Condition.EditPumpageReport())?id=0&conditionComplianceId=' + $('#ConditionComplianceId').val() + '&resubmit=false');
                                },
                                "No": function () {
                                    $(this).dialog("close");
                                    $('#backLink').click();
                                }
                            }
                        });
                        </text>
                        }
                        else
                        {
                            <text>
                        loadComplianceConditionDetails('@Url.Action(MVC.Permitting.Condition.CustomDetails())/' + $('#PermitConditionId').val());
                            </text>
                        }
                    }
                }
            });
        });
    });

    function loadComplianceConditionDetails(url) {
        $.ajax({
            url: url,
            type: 'Get',
            async: false,
            success: function (response) {
                $("#mainContent").html(response);
                applicationDetailsHelper.handleScrollingAfterDynamicLoad();
                applicationDetailsHelper.setScrollWrapWidth();
            }
        });
    }
</script>
