﻿@model PumpageReportDetailsForm
@Html.HiddenFor(m => m.Id, new { id = "PumpageReportId" })
@Html.HiddenFor(m => m.ConditionComplianceId)
@Html.HiddenFor(m => m.PermitConditionId)

@{ var showInchesAcres = Model.PumpageReportTypeId == 2;}
<style>
    .report-column {
        display: table-cell;
        padding: 0 50px;
    }

    .report-column-month {
        width: 110px;
        text-align: right;
        float: left;
        padding-right: 10px;
    }

    .report-column-inches, .report-column-acres {
        width: 80px;
        float: left;
    }
</style>
<div id="rightSide" class=" unpadded" onclick="applicationDetailsHelper.hideAllMenus(null);">
    <div class="scrollcontainer" preservescrollbarspace="y">
        <a id="backLink" href="javascript:void(0);">Back to Condition Details</a><br />
        <br />

        <div class="divVerticalBottomSpacer">
            <span class="localNavigationBold spanSetWidth spanSetWidthAlignRightPadded">@Model.Name</span>
        </div>
        <br />

        <div class="localNavigationBold divVerticalBottomSpacerDouble">
            @if (!showInchesAcres)
            {
                <div style="margin-bottom: 10px;">Step 1: Check the method used to determine your withdrawal amounts:</div>
                <div class="divVerticalBottomSpacer" style="margin-left: 50px;">
                    @foreach (var estimateType in ViewBag.WaterWithdrawalEstimateTypes)
                    {
                        var id = estimateType.Id;

                        var ch = estimateType.Id == Model.WaterWithdrawalEstimateId ? "checked=\"checked\"" : String.Empty;
                        <div class="divVerticalBottomSpacer">
                            <input id="@id" class="witdrawalEstimate" disabled="disabled" type="checkbox" @ch/>

                            @if (estimateType.Id == 9)
                            {
                                if (Model.WaterWithdrawalEstimateId == 9)
                                {
                                <span class="spanSetWidth spanSetWidthAlignLeftPadded" style="width: 140px;">Other: @Model.OtherWaterWithdrawalMethod</span>
                                }
                                else
                                {
                                <span class="spanSetWidth spanSetWidthAlignLeftPadded" style="width: 140px;">@estimateType.Description</span>
                                }
                            }
                            else
                            {
                                <span class="spanSetWidth spanSetWidthAlignLeftPadded" style="width: 350px;">@estimateType.Description</span>
                            }
                        </div>
                    }
                </div>
            }
            else
            {
                <div style="margin-bottom: 10px;">
                    Step 1: Indicate type of crop irrigated:<br />
                    (Please complete one report for each crop irrigated and one for all vegetables)
                </div>
                <div class="divVerticalBottomSpacer" style="margin-left: 50px;">
                    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 132px;">Field Crop Irrigation</span>
                    @if (Model.CropTypeId == 12)
                    {
                        <span style="font-weight: normal;">@Model.OtherCropDescription</span>
                    }
                    else
                    {
                        <span style="font-weight: normal;">@Model.CropDescription</span>
                    }
                </div>
            }
        </div>

        <br />

        <div class="localNavigationBold divVerticalBottomSpacerDouble">
            @if (!showInchesAcres)
            {
                <span>Step 2: Total all intakes under this permit and enter the number of gallons of water withdrawn for each month:</span>
            }
            else
            {
                <span>Step 2: Enter inches applied and # of acres irrigated:</span>
            }
        </div>

        <div class="divVerticalBottomSpacer">
            @{
                var i = 0;
                long janJunTotal = 0;
                long julDecTotal = 0;

                foreach (var month in ViewBag.Months)
                {
                    i++;
                    long gallons = 0;
                    var inches = 0;
                    var acres = 0;

                    foreach (var measure in Model.PumpageReportDetails)
                    {
                        if (measure.MonthId == month.Id)
                        {
                            gallons = measure.Gallons;
                            inches = measure.InchesApplied.GetValueOrDefault();
                            acres = measure.Acres.GetValueOrDefault();
                            if (i < 7) { janJunTotal = janJunTotal + gallons; }
                            if (i > 6) { julDecTotal = julDecTotal + gallons; }
                        }
                    }
                    if (i == 1)
                    {
                <text>
                @Html.Raw("<div class='report-column'>")
                </text>
                    }
                <text>
                <div class="divVerticalBottomSpacer">
                    <div class="spanSetWidth spanSetWidthAlignRightPadded report-column-month" style="">@month.Description @Model.ReportYear:</div>
                    @if (showInchesAcres)
                    {
                        <div class="report-column-inches">@inches <span>inches &nbsp;</span></div>
                        <div class="report-column-acres">@acres <span>acres &nbsp;</span></div>
                    }
                    @gallons.ToString("N0") gallons
                </div>
                </text>
                    if (i == 6)
                    {
                <div class="divVerticalBottomSpacer">
                    <div class="spanSetWidth spanSetWidthAlignRightPadded report-column-month"><b>Jan - June Total</b>:</div>
                    <div style="float: left;"><b>@janJunTotal.ToString("N0") gal</b></div>
                </div>
                <text>
                @Html.Raw("</div><div class='report-column'>")
                </text>
                    }
                    if (i == ViewBag.Months.Count)
                    {
                <div class="divVerticalBottomSpacer">
                    <div class="spanSetWidth spanSetWidthAlignRightPadded report-column-month"><b>Jul - Dec Total</b>:</div>
                    <div style="float: left;"><b>@julDecTotal.ToString("N0") gal</b></div>
                </div>
                <text>
                @Html.Raw("</div>")
                </text>
                    }
                }    
            }
        </div>
        <div style="text-align: center; font-weight: bold; clear: both; width: 700px; margin-top: 10px;">
            Yearly Total: @string.Format("{0:N0}", janJunTotal + julDecTotal) gallons
        </div>
        <hr style="margin: 30px 0;" />
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px;">Submitted By:</span>
            <span class="spanRightInlineBlock">@Model.SubmittedBy</span>
        </div>
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px;">Submitted On:</span>
            <span class="spanRightInlineBlock">@Model.ReceivedDate.GetValueOrDefault().ToShortDateString()</span>
        </div>
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px;">Telephone Number:</span>
            <span class="spanRightInlineBlock">@Model.Phone</span>
        </div>

        <br />

    </div>
</div>
<script type="text/javascript">
    $(function () {
        var conditionId = $('#PermitConditionId').val();

        $('#backLink').click(function () {
            var url = '@Url.Action(MVC.Permitting.Condition.CustomDetails())' + '/' + conditionId;
            loadComplianceDetails(url);
        });

        $('.witdrawalEstimate').checkbox();

    });

    function localResize() {
        $("#complianceResults").fixGridWidthMainContent();
        $("#reportingResults").fixGridWidthMainContent();
        $("#uploadDashboardGrid").fixGridWidthMainContent();
        $("#publicCommentGrid").fixGridWidthMainContent();
    }

    function loadComplianceDetails(url) {
        $.ajax({
            url: url,
            type: 'GET',
            success: function (response) {
                $("#mainContent").html(response);
                //create custom scrollbars
                applicationDetailsHelper.handleScrollingAfterDynamicLoad();
                //make sure scrollwrap is 100% width
                applicationDetailsHelper.setScrollWrapWidth();
            }
        });
    }

</script>
