﻿@model FeeRuleForm
@using (Ajax.BeginForm(MVC.Ecommerce.FeeRule.Create(), new AjaxOptions { OnSuccess = "onCreateGraduatedFeeRuleSuccess" }))
{
    @Html.EditorForModel()
    @Html.ValidationSummary(true)
    <div style="text-align: center; margin-top: 20px;">
        <span>
            <input type="submit" value="Create" />
            <input type="button" value="Cancel" id="CreateGraduatedFeeRuleCancelButton" />
        </span>
    </div>
}