﻿@model FeeRuleForm
@using (Ajax.BeginForm(MVC.Ecommerce.FeeRule.Edit(), new AjaxOptions { OnSuccess = "onEditFeeRuleSuccess" }))
{
    @Html.EditorForModel()
    @Html.ValidationSummary(true)
    <div style="text-align: center; margin-top: 20px;">
        <span>
            <input type="submit" value="Save" />
            <input type="button" value="Close" id="EditGraduatedFeeRuleCancelButton" />
        </span>
    </div>
}