﻿<input id="addCommentButton" type="button" value="Add Comment" class="buttonOverGrid" />
<input id="addPublicCommentButton" type="button" value="Add Public Comment" class="commentsTab" style="display: none;" />
<table id="commentDashboardGrid"></table>
<div id="dialog" title="Add New Comment" style="display: none;">
</div>
<div id="dialog2" title="Delete" style="display: none;">
    Are you sure you want to delete this item?
</div>
@{
    var id = ViewBag.RefId;
    var permitStatus = ViewBag.PermitStatusId;
    var refTableId = ViewBag.RefTableId;
    var userName = User.Identity.Name.Replace(@"\", "\\\\");
    var callbackfunc = ViewBag.CallbackFunction;       
}

@Styles.Render("~/Content/jquery.jqGrid/ui.jqgrid.css")

@Scripts.Render("~/Scripts/Helper.js")
@Scripts.Render("~/Scripts/DateFormatter.js")
@Scripts.Render("~/Scripts/ViewScripts/Permit/Comment.js")
<script type="text/javascript">
    $(document).ready(function () {
        Comment.Initialize(@id,@permitStatus, @refTableId,'@userName',@callbackfunc);
    });
</script>
