﻿@model CustomConditionForm
@Html.HiddenFor(m => m.Id, new {id = "PermitConditionId"})
@Html.HiddenFor(m => m.PermitId)
@Html.HiddenFor(m => m.CurrentPermitStatusId)
@Html.HiddenFor(m => m.ConditionComplianceId)
@Html.HiddenFor(m => m.PumpageReports)
<div id="rightSide">
    <div class="scrollcontainer" preservescrollbarspace="y">
        <span id="backLink" class="spanLink">Back to Condition History</span><br/>
        <br/>
        <table id="complianceResults"></table>
        <div style="min-width:100%;"></div>
        
        <div class="horizontalSepratorContentDiv"></div>
        
        <div class="permitDetailsRightHorizontalSeparator filterheader ui-state-default" title="Close"><span class="renderBLArrow">▲</span>Reports</div>
        <div id="reportsDiv" class="horizontalSepratorContentDiv">
            <table id="reportingResults"></table>
        </div>
        
        <div class="permitDetailsRightHorizontalSeparator filterheader ui-state-default" title="Close"><span class="renderBLArrow">▲</span>Comments</div>
        <div id="commentDiv" class="horizontalSepratorContentDiv">
            <input id="addCommentButton" type="button" value="Add Comment" style="margin-bottom:5px;" />
            <table id="commentDashboardGrid"></table>
        </div>

    </div>
    <div id="deleteDialog" title="Delete Report" style="display: none;">
    Are you sure you want to delete this report?
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var conditionId = $('#PermitConditionId').val(),
            conditionComplianceId = $('#ConditionComplianceId').val();

        var data = { ConditionText: '@Model.ConditionText', Status: '@Model.Status', Id: '@Model.Id' };

        $('#backLink').click(function () {
            var url = '@Url.Action(MVC.Permitting.Condition.CustomDetails())' + '/' + conditionId;
            loadComplianceDetails(url);
        });

        $('#complianceResults').jqGrid({
            colModel: [
                { name: 'ConditionText', width: 250, sortable: false },
                { name: 'Status', width: 150, align: 'center', formatter: editLinkFormatter, sortable: false },
                { name: 'Id', width: 250, sortable: false, hidden: true }
            ],
            datatype: 'jsonstring',
            datastr: data,
            colNames: ['Condition', 'Status', 'Id'],
            height: 'auto',
            scrollOffset: 0,
            gridComplete: onGridComplete
        });
        $('#complianceResults').jqGrid('addRowData', 1, data);

        // Pumpage Reports
        if ($('#PumpageReports').val() === 'True') {
            $('#reportingResults').jqGrid({
                colModel: [
                    { name: 'Name', sortable: false },
                    { name: 'CreatedDate', width: 100, align: 'center', formatter: dateFormatter, sortable: false },
                    { name: 'CreatedBy', width: 100, align: 'center', sortable: false },
                    { name: 'Active', width: 100, align: 'center', formatter: reportActiveFormatter, sortable: false },
                    { name: 'Id', width: 10, index: 'Id', sortable: false, hidden: true },
                    { name: 'DetailsLink', width: 50, align: 'center', formatter: reportDetailsLinkFormatter, sortable: false },
                    { name: 'ReportEditLink', width: 50, align: 'center', formatter: reportEditLinkFormatter, sortable: false }
                ],
                colNames: ['Document Name', 'Submitted Date', 'Submitted By', 'Active', 'Id', '',''],
                height: 'auto',
                scrollOffset: 0,
                gridComplete: onGridComplete,
                url: '@Url.Action(MVC.Permitting.Condition.GetPumpageReports())?id=' + conditionComplianceId
            });
            // Standard Reports (Uploads)
        } else {
            $('#reportingResults').jqGrid({
                colModel: [
                    { name: 'Description', sortable: false },
                    { name: 'CreatedDate', width: 100, align: 'center', formatter: dateFormatter, sortable: false },
                    { name: 'CreatedBy', width: 100, align: 'center', sortable: false },
                    { name: 'Id', width: 10, index: 'Id', sortable: false, hidden: true },
                    { name: 'ViewLink', width: 50, align: 'center', formatter: viewReportLinkFormatter, sortable: false },
                    { name: 'DeleteLink', width: 75, align: 'center', formatter: deleteReportLinkFormatter, sortable: false }
                ],
                colNames: ['Document Name', 'Upload Date', 'Uploaded By', 'Id', '', ''],
                height: 'auto',
                scrollOffset: 0,
                gridComplete: onGridComplete,
                url: '@Url.Action(MVC.Permitting.Condition.GetStandardReports())?id=' + conditionComplianceId
            });
        }

        loadComments();
    });
    
    function loadComments() {
        $.ajax({
            url: '@Url.Action(MVC.Comment.LoadCommentsView())',
            type: 'get',
            data: { refTable: "ConditionCompliance", refId: $('#ConditionComplianceId').val(), permitStatusId: $('#CurrentPermitStatusId').val() },
            success: function (response) {
                $("#commentDiv").html(response);

                if ($('#CategoryId').val() == 6 || $('#CategoryId').val() == 7) {
                    Comment.disableAllDeletingExceptForNoStatus();
                }
            }
        });
    }
    
    function onGridComplete() {
        $('.editLink').modal();
        
        $('.editReportLink, .viewReportLink').click(function () {
            var url = $(this).attr('data-contenturl');
            loadPumpageReportDetails(url);
        });
        
        $('.deleteReportLink').click(function () {
            var id = $(this).attr('dir');
            DeleteReportItem(id);
        });        
    }
    
    function dateFormatter(cellvalue) {
        if (cellvalue == null) return '';
        return (new Date(parseInt(cellvalue.replace("/Date(", "").replace(")/", ""), 10))).format('m/dd/yyyy');
    }
    
    function editLinkFormatter(cellvalue, options, rowObject) {
        return '<span id="ConditionComplianceStatus">' + cellvalue + '</span> <span contenturl="@Url.Action(MVC.Permitting.Condition.EditConditionComplianceStatus())/' + $('#ConditionComplianceId').val() + '"  class="editLink spanLink">Edit</span>';
    }
    
    function reportDetailsLinkFormatter(cellvalue, options, rowObject) {
        return '<span data-contenturl="@Url.Action(MVC.Permitting.Condition.ViewPumpageReport())/' + rowObject.Id + '" title="View Report" class="viewReportLink spanLink">View</span>';
    }

    function reportEditLinkFormatter(cellvalue, options, rowObject) {
        debugger;
        if (rowObject.Active)
            return '<span data-contenturl="@Url.Action(MVC.Permitting.Condition.EditPumpageReport())' + '?id='+rowObject.Id + '&resubmit=true" title="View Report" class="viewReportLink spanLink">Edit</span>';
        else
            return '';
    }
    
    function reportActiveFormatter(cellvalue, options, rowObject) {
        if (rowObject.Active) {
            return 'Active';
        } else {
            return 'Inactive';
        }
    }
    
    function viewReportLinkFormatter(cellvalue, options, rowObject) {
        return '<a href="@ViewBag.ViewUploadBaseUrl' + rowObject.Id + '" title="View Report" target="_blank">View</span>';
    }
    
    function deleteReportLinkFormatter(cellvalue, options, rowObject) {
        return '<span dir="' + rowObject.Id + '" title="Delete Report" class="spanLink deleteReportLink">Delete</span>';
    }
    
    function loadComplianceDetails(url) {
        $.ajax({
            url: url,
            type: 'get',
            cache: false,
            success: function (response) {
                $("#tabContent").html(response);

                $('.scrollcontainer').scrollbars();
                $.jmttgCustomBrowser.setScrollwrapForTabContent();
                $('.ui-jqgrid-btable').jqGrid('fixGridWidthTabContent');
            }
        });
    }
    
    function loadPumpageReportDetails(url) {
        $.ajax({
            url: url,
            type: 'get',
            cache: false,
            success: function (response) {
                $("#tabContent").html(response);

                $('.scrollcontainer').scrollbars();
                $.jmttgCustomBrowser.setScrollwrapForTabContent();
                $('.ui-jqgrid-btable').jqGrid('fixGridWidthTabContent');
            }
        });
    }
    
    function DeleteReportItem(id) {
        $("#deleteDialog").dialog({
            modal: true,
            position: "center",
            width: 500,
            close: function () {
                $(this).dialog("destroy");
            },
            buttons: {
                "Yes": function () {
                    DeleteReportUpload(id);
                    $("#deleteDialog").dialog("close");
                },
                "No": function () {
                    $("#deleteDialog").dialog("close");
                },
            }
        });
    }
    
    function DeleteReportUpload(id) {
        $.ajax({
            url: '@Url.Action(MVC.Upload.Delete())',
            data: { id: id },
            type: 'get',
            cache: false,
            success: function () {
                $('#reportingResults').trigger("reloadGrid");
            }
        });
    }
</script>
