﻿@model CustomConditionForm
@Html.HiddenFor(m => m.Id, new { id = "PermitConditionId" })
@Html.HiddenFor(m => m.PermitId)
<div id="rightSide">
    <div class="scrollcontainer" preservescrollbarspace="y">
        <span class="spanLink" onclick="loadComplianceTab();">Back to Conditions List</span>
        <br />
        <br />
        <div class="localNavigationBold divVerticalBottomSpacerDouble">@Model.ConditionText</div>
        <br />
        <div class="localNavigationBold divVerticalBottomSpacerDouble">Reporting History:</div>
        <table id="reportingResults"></table>
    </div>
    <div id="uploadComplianceReportDialog" title="Upload Report" style="display: none; text-align: center;">
        <form id="ComplianceReportUpload" name="form" method="POST" target="uploadiframe" enctype="multipart/form-data" action="@Url.Action(MVC.Upload.Upload())">
            <input type="hidden" name="Id" id="Id" value="0" />
            <input type="hidden" name="RefId" id="RefId" value="" />
            <input type="hidden" name="RefTableId" id="RefTableId" value="69" />@*69 is the ConditionCompliance table*@
            <input type="hidden" name="DocumentTypeId" id="DocumentTypeId" value="6" />
            <input type="hidden" name="Description" id="Description" value="" />
            <div>Please upload compliance report</div>
            <div style="margin-top: 10px;">
                <input id="fileUploadReport" type="file" name="fileReport" />
                <iframe id="uploadiframe" name="uploadiframe" src="" style="display: none;"></iframe>
            </div>
        </form>
    </div>
    <div id="newUploadSubmissionDialog" style="display: none;" title="New Submission Warning">
        Note: The previously submitted document will be superseded by this new submission.<br />
        Would you like to continue?
    </div>
</div>
<script type="text/javascript">
    $(function () {
        //unset showReportingHistory to prevent endless redirect
        showReportingHistory = null;

        var conditionId = $('#PermitConditionId').val();

        $('#uploadComplianceReportDialog').dialog({
            modal: true,
            autoOpen: false,
            position: "center",
            width: 500,
            resizable: false,
            draggable: false
        });

        if ('@Model.StandardConditionTypeId' == '14') {
            $('#reportingResults').jqGrid({
                colModel: [
                    { name: 'EndDate', width: 100, align: 'center', formatter: reportYearFormatter, sortable: false },
                     { name:'StartDate', width: 230, align: 'center', formatter: dateFormatter, sortable: false },
                    { name: 'DueDate', width: 230, align: 'center', formatter: dateFormatter, sortable: false },
                    { name: 'ReceivedDate', width: 170, align: 'center', formatter: dateFormatter, sortable: false },
                    { name: 'Status', width: 150, align: 'center', sortable: false },
                    { name: 'AnnualAverageUsage', width: 150, align: 'center', sortable: false, formatter: AdjustPrecision },
                    { name: 'ReportAverageUsage', width: 150, align: 'center', sortable: false, formatter: AdjustPrecision },
                    { name: 'ReportTotalUsage', width: 150, align: 'center', sortable: false, formatter: AdjustPrecision },
                    { name: 'AnnualTotalUsage', width: 150, align: 'center', sortable: false, formatter: AdjustPrecision },
                    { name: 'AnnualAverageOverusePercentage', width: 150, align: 'center', sortable: false, formatter: AdjustPrecision },
                    { name: 'Id', width: 10, index: 'Id', sortable: false, hidden: true },
                    { name: 'DetailsLink', width: 150, align: 'center', formatter: actionLinkFormatter, sortable: false }
                ],
                colNames: ['Report Year','Start Date', 'Due Date', 'Report Received Date', 'Status', 'Avg - Year', 'Avg - Report', 'Total - Report', 'Total - Year', 'Overage %', 'Id', ''],
                height: 'auto',
                scrollOffset: 0,
                rowNum: '',
                gridComplete: onGridComplete,
                postData: { permitConditionId: conditionId },
                url: '@Url.Action(MVC.Permitting.Condition.GetReportHistory())'
            });
        }
        else {
            $('#reportingResults').jqGrid({
                colModel: [
                    { name: 'EndDate', width: 100, align: 'center', formatter: reportYearFormatter, sortable: false },
                    { name: 'StartDate', width: 230, align: 'center', formatter: dateFormatter, sortable: false },
                    { name: 'DueDate', width: 230, align: 'center', formatter: dateFormatter, sortable: false },
                    { name: 'ReceivedDate', width: 170, align: 'center', formatter: dateFormatter, sortable: false },
                    { name: 'Status', width: 150, align: 'center', sortable: false },
                    { name: 'Id', width: 10, index: 'Id', sortable: false, hidden: true },
                    { name: 'DetailsLink', width: 150, align: 'center', formatter: actionLinkFormatter, sortable: false }
                ],
                colNames: ['Report Year','Start Date','Due Date', 'Report Received Date', 'Status', 'Id', ''],
                height: 'auto',
                scrollOffset: 0,
                rowNum: '',
                gridComplete: onGridComplete,
                postData: { permitConditionId: conditionId },
                url: '@Url.Action(MVC.Permitting.Condition.GetReportHistory())'
            });
        }
    });

    function onGridComplete() {
        $('.detailsLink').click(function () {
            loadComplianceConditionDetails($(this).attr('data-contenturl'));
        });
        $('.uploadLink').click(function () {
            var url = $(this).attr('data-contenturl');

            $('#ComplianceReportUpload #Id').val(0);
            $('#ComplianceReportUpload #fileUploadReport').val('');
            $('#ComplianceReportUpload #RefId').val($(this).attr('id'));
            $('#ComplianceReportUpload #Description').val('Report Due on ' + $(this).attr('data-duedate'));

            if ($(this).hasClass('resubmission')) {
                $('#ComplianceReportUpload #Id').val($(this).attr('data-documentid'));

                $('#newUploadSubmissionDialog').dialog({
                    modal: true,
                    position: "center",
                    resizable: false,
                    draggable: false,
                    buttons: {
                        "Yes": function () {
                            $(this).dialog("close");

                            $('#uploadComplianceReportDialog').dialog({
                                buttons: {
                                    "Upload": function () {
                                        UploadDocument.uploadStandardComplianceReport(url);
                                        $(this).dialog("close");
                                    },
                                    "Cancel": function () {
                                        $(this).dialog("close");
                                    },
                                }
                            }).dialog('open');
                        },
                        "No": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            }
            else {
                $('#uploadComplianceReportDialog').dialog({
                    buttons: {
                        "Upload": function () {
                            UploadDocument.uploadStandardComplianceReport(url);
                            $(this).dialog("close");
                        },
                        "Cancel": function () {
                            $(this).dialog("close");
                        },
                    }
                }).dialog('open');
            }
        });
    }

    function reportYearFormatter(cellvalue) {
        if (cellvalue == null) return '';
        return (new Date(parseInt(cellvalue.replace("/Date(", "").replace(")/", ""), 10))).format('yyyy');
    }

    function dateFormatter(cellvalue) {
        if (cellvalue == null) return '';
        return (new Date(parseInt(cellvalue.replace("/Date(", "").replace(")/", ""), 10))).format('m/dd/yyyy');
    }

    function AdjustPrecision(cellvalue) {
        if (cellvalue != null && cellvalue != 0)
            // strip decimals and add commas
            return cellvalue.toFixed().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        else
            return "";
    }

    function actionLinkFormatter(cellvalue, options, rowObject) {
        var sLink = '';

        var now = new Date();
        var today = Math.floor(now);
        var dueDate = rowObject.StartDate.replace("/Date(", "").replace(")/", "");

        if (today >= dueDate) {

            // Reports that are uploaded as files
            if (rowObject.StandardConditionTypeId == 14) {
                // If status is overdue or pending, no reports have been submitted for this compliance id
                if (rowObject.ConditionComplianceStatusId == 3 || rowObject.ConditionComplianceStatusId == 4) {
                    sLink = '<span data-contenturl="@Url.Action(MVC.Permitting.Condition.EditPumpageReport())?id=0&conditionComplianceId=' + rowObject.Id + '&resubmit=false" class="detailsLink spanLink" title="Submit Report">Submit</span>';
                } else {
                    sLink = '<span data-contenturl="@Url.Action(MVC.Permitting.Condition.ComplianceCustomDetails())?permitConditionId=' + rowObject.PermitConditionId + '&conditionComplianceId=' + rowObject.Id + '" title="View Report Details" class="detailsLink spanLink">View</span> or <span data-contenturl="@Url.Action(MVC.Permitting.Condition.EditPumpageReport())?id=0&conditionComplianceId=' + rowObject.Id + '&resubmit=true" class="detailsLink spanLink" title="Resubmit Report">Resubmit</span>';
                }
            } else {
                // If status is overdue or pending, no reports have been submitted for this compliance id
                if (rowObject.ConditionComplianceStatusId == 3 || rowObject.ConditionComplianceStatusId == 4) {
                    sLink = '<span data-duedate="' + dateFormatter(rowObject.DueDate) + '" data-contenturl="@Url.Action(MVC.Permitting.Condition.ComplianceCustomDetails())?permitConditionId=' + rowObject.PermitConditionId + '&conditionComplianceId=' + rowObject.Id + '" id="' + rowObject.Id + '" title="Upload Document" class="uploadLink spanLink">Upload</span>';
                } else {
                    sLink = '<span data-contenturl="@Url.Action(MVC.Permitting.Condition.ComplianceCustomDetails())?permitConditionId=' + rowObject.PermitConditionId + '&conditionComplianceId=' + rowObject.Id + '" title="View Report Details" class="detailsLink spanLink">View</span> or <span data-duedate="' + dateFormatter(rowObject.DueDate) + '" data-contenturl="@Url.Action(MVC.Permitting.Condition.ComplianceCustomDetails())?permitConditionId=' + rowObject.PermitConditionId + '&conditionComplianceId=' + rowObject.Id + '" id="' + rowObject.Id + '" data-documentid="' + rowObject.ExistingDocumentId + '" title="Reupload Document" class="uploadLink spanLink resubmission">Reupload</span>';
                }
            }

        }

        return sLink;
    }

    function loadComplianceTab() {
        $.ajax({
            url: '@Url.Action(MVC.Permitting.Permit.LoadComplianceTab())',
            data: { permitId: $('#PermitId').val() },
            type: 'Get',
            cache: false,
            success: function (response) {
                $("#tabContent").html(response);

                $('.scrollcontainer').scrollbars();
                $.jmttgCustomBrowser.setScrollwrapForTabContent();
                $('.ui-jqgrid-btable').jqGrid('fixGridWidthTabContent');
            }
        });
    }

    function loadComplianceConditionDetails(url) {
        $.ajax({
            url: url,
            type: 'Get',
            cache: false,
            success: function (response) {
                $("#tabContent").html(response);

                $('.scrollcontainer').scrollbars();
                $.jmttgCustomBrowser.setScrollwrapForTabContent();
                $('.ui-jqgrid-btable').jqGrid('fixGridWidthTabContent');
            }
        });
    }

</script>