﻿@model CustomConditionForm

@Html.HiddenFor(m => m.Id)
@Html.Hidden("PermitId", (object)ViewBag.PermitId)
@Html.HiddenFor(m => m.ConditionReportingPeriodId, new { id = "OriginalReportingPeriodId" })
@Html.HiddenFor(m => m.Sequence)

@{
    var selfReporting = (Model != null) && Model.RequiresSelfReporting;
    var reportDueDate = (Model != null) && Model.ConditionReportingPeriodId == 1;
    var oneTimeReport = (Model != null) && Model.ConditionReportingPeriodId == 5;
    var pumpageReports = (Model != null) && Model.PumpageReports;
}

<style>
    .validation-summary-errors ul, .validation-summary-errors ul li {
        font-size: .9em;
        list-style-type: none;
    }

    #ComplianceReportingDueDate {
        width: 50px;
    }
</style>

<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px; text-align: right;">Condition Text</span>
    @Html.TextAreaFor(model => model.ConditionText, new { style = "width: 300px; height: 100px;" })
    <span>*</span>
</div>

<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px; text-align: right;">Condition Category</span>
    @Html.DropDownListFor(model => model.StandardConditionTypeId, new SelectList(ViewBag.ConditionTypes, "Id", "Description"), "Select")
    <span>*</span>
</div>

<div id="PumpageReportOptions" style="">
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px; text-align: right;">Report Type</span>
        @Html.DropDownListFor(model => model.PumpageReportTypeId, new SelectList(ViewBag.PumpageReportTypes, "Id", "Description"), "Select")
        <span>*</span>
    </div>
</div>

<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px; text-align: right;">Requires Self Reporting</span>
    @Html.CheckBoxFor(model => model.RequiresSelfReporting, new { id = "RequiresSelfReporting", name = "RequiresSelfReporting", @class = "yesNo" })
    <span>*</span>
</div>

<div id="ReportingOptions" style="display:none;">
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px; text-align: right;">Frequency</span>
        @Html.DropDownListFor(model => model.ConditionReportingPeriodId, new SelectList(ViewBag.ReportingPeriods, "Id", "Description"), "Select")
        <span>*</span>
    </div>
    <div id="ReportDueDateContainer" style="display:none;">
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px; text-align: right;">Report Due Date</span>
            @Html.DatePickerFor(model => model.ComplianceReportingDueDate)
            <span>*</span>
        </div>
    </div>
    <div id="OneTimeOptions" style="display:none;">
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px; text-align: right;">Number of days <br />(from Effective Date)</span>
            @Html.TextBoxFor(model => model.OneTimeReportDays, new { style = "width: 50px;", maxlength = "4" })
            <span>*</span>
        </div>
    </div>

    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px; text-align: right;">Requires Validation</span>
        @Html.CheckBoxFor(model => model.RequiresValidation, new { id = "RequiresValidation", name = "RequiresValidation", @class = "yesNo" })
        <span>*</span>
    </div>
</div>

<div>
    @Html.ValidationSummary("", new { style = "margin-left:175px;position:relative;" })
</div>

<div style="float:right">
    @if (Model == null)
    {
        <button id="Add">Add</button>
    }
    else
    {
        <button id="Save">Save</button>
    }
    <button class="cancel">Cancel</button>
</div>

<script type="text/javascript">
    $.requireScript('@Url.Content("~/Scripts/jquery.maskedinput-1.3.1.js")');
    $(function () {
        $('#ComplianceReportingDueDate').mask('99/99').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'mm/dd'
        });

        var sr = '@selfReporting',
            reportDueDate = '@reportDueDate',
            oneTimeReport = '@oneTimeReport',
            pumpageReports = '@pumpageReports';

        (sr.toLowerCase() === 'true') ? $('#ReportingOptions').show() : $('#ReportingOptions').hide();
        (reportDueDate.toLowerCase() === 'true') ? $('#ReportDueDateContainer').show() : $('#ReportDueDateContainer').hide();
        (oneTimeReport.toLowerCase() === 'true') ? $('#OneTimeOptions').show() : $('#OneTimeOptions').hide();
        (pumpageReports.toLowerCase() === 'true') ? $('#PumpageReportOptions').show() : $('#PumpageReportOptions').hide();

        $('#RequiresSelfReporting').change(function () {
            var opt = $('#ReportingOptions');
            ($(this).is(":checked")) ? opt.show() : opt.hide();
        });

        $('#ConditionReportingPeriodId').change(function () {
            if ($('#OriginalReportingPeriodId').val() == '5') {
                alert('You are about to change the frequency of the reports from One Time Reporting to another option. \nPlease adjust the condition text accordingly.');
                $('#ConditionText').focus();
            }

            switch ($(this).val()) {
                case '1':
                    $('#ReportDueDateContainer').show();
                    $('#OneTimeOptions').hide();
                    break;
                case '5':
                    $('#ReportDueDateContainer').hide();
                    $('#OneTimeOptions').show();
                    break;
                default:
                    $('#ReportDueDateContainer').hide();
                    $('#OneTimeOptions').hide();
                    break;
            }
        });

        $('#StandardConditionTypeId').change(function () {
            var pumpageReportTypes = $('#PumpageReportOptions');
            ($(this).val() === '14') ? pumpageReportTypes.show() : pumpageReportTypes.hide();
        });

        $('.cancel').click(function () {
            $(this).closest('.ui-dialog-content').dialog("close");
        });

        $('#Save').click(function () {
            var data = loadData();
            $.ajax({
                url: '@Url.Action(MVC.Permitting.Condition.EditCustom())',
                type: 'POST',
                data: JSON.stringify(data),
                cache: false,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                error: function (jqXhr, textStatus, errorThrown) {
                    HandleError(errorThrown);
                },
                success: function (result) {
                    var container = $("div[data-valmsg-summary=true]"),
                        list = container.find("ul");

                    if (list && list.length) list.empty();

                    if (!result.IsSuccess) {
                        for (var i = 0; i < result.Errors.length; i++) {
                            HandleError(result.Errors[i]);
                        }
                    } else {
                        $("input[id=Id]").closest('.ui-dialog-content').dialog("close");
                        $("#conditionsResults").trigger("reloadGrid");
                    }
                }
            });
        });

        $('#Add').click(function () {
            var data = loadData();
            data.Active = true;
            $.ajax({
                url: '@Url.Action(MVC.Permitting.Condition.CreateCustom())',
                type: 'POST',
                data: JSON.stringify(data),
                cache: false,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                error: function (jqXhr, textStatus, errorThrown) {
                    alert(errorThrown);
                },
                success: function (result) {
                    var container = $("div[data-valmsg-summary=true]"),
                        list = container.find("ul");

                    if (list && list.length) list.empty();

                    if (!result.IsSuccess) {
                        for (var i = 0; i < result.Errors.length; i++) {
                            HandleError(result.Errors[i]);
                        }
                    } else {
                        $("input[id=Id]").closest('.ui-dialog-content').dialog("close");
                        $("#conditionsResults").trigger("reloadGrid");
                    }
                }
            });
        });

    });

    // Load model data from the form
    function loadData() {
        var data = {
            Id: $('#Id').val(),
            ConditionText: $('#ConditionText').val(),
            PermitId: $('#PermitId').val(),
            RequiresSelfReporting: $('#RequiresSelfReporting').is(":checked"),
            StandardConditionTypeId: $('#StandardConditionTypeId').val(),
            PumpageReportTypeId: $('#PumpageReportTypeId').val(),
            RequiresValidation: $('#RequiresValidation').is(":checked"),
            ConditionReportingPeriodID: $('#ConditionReportingPeriodId').val(),
            ComplianceReportingDueDate: $('#ComplianceReportingDueDate').val(),
            Sequence: $('#Sequence').val(),
            OneTimeReportDays: $('#OneTimeReportDays').val()
        };
        return data;
    }

    // Handle server error
    function HandleError(err) {
        var container = $("div[data-valmsg-summary=true]"),
            list = container.find("ul");

        if (list && list.length) {
            container.addClass("validation-summary-errors").removeClass("validation-summary-valid");
            $("<li />").html(err).appendTo(list);
        }
    }

</script>