﻿<style>
    select#PermitComplianceStatusId {
        width: 250px;
    }
</style>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px; text-align: right;">Permit Compliance Status</span>
    @Html.DropDownList("PermitComplianceStatusId", new SelectList(ViewBag.PermitComplianceStatuses, "Id", "Description", ViewBag.PermitComplianceStatusId), "Select") *
</div>
<div class="validationDiv" style="display: none; text-align: center; color: red;">Please select a compliance status</div>
<div style="text-align: center; margin-top: 20px;">
    <button id="Save">Save</button>
    <button id="Cancel">Cancel</button>
</div>

<script type="text/javascript">
    $(function () {
        $('#Cancel').click(function () {
            $('.validationDiv').hide();
            $(this).closest('.ui-dialog-content').dialog("close");
        });

        $('#Save').click(function () {
            $('.validationDiv').hide();

            if ($('#PermitComplianceStatusId').val() == '') {
                $('.validationDiv').show();

                return;
            }

            var data = loadData();

            $.ajax({
                url: '@Url.Action(MVC.Permitting.Condition.EditPermitComplianceStatus())',
                type: 'POST',
                data: JSON.stringify(data),
                cache: false,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                error: function (jqXhr, textStatus, errorThrown) {
                    alert(errorThrown);
                },
                success: function (result) {
                    if (!result.IsSuccess) {
                        alert("Error Saving Status Information");
                    } else {
                        var id = $('#PermitComplianceStatusId').val();
                        var statusText = $('#PermitComplianceStatusId option[value="' + id + '"]').text();
                        $("#CurrentComplianceStatus").html(statusText);
                        $("#PermitComplianceStatusId").closest('.ui-dialog-content').dialog("close");
                    }
                }
            });
        });
    });

    // Load model data from the form
    function loadData() {
        var data = {
            complianceStatusId: $('#PermitComplianceStatusId').val(),
            permitId: $("#PermitId").val()
        };

        return data;
    }
</script>