﻿<style>
     select#PermitComplianceStatusId { width: 250px; }
</style>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px; text-align: right;">Condition Compliance Status</span>
    @Html.DropDownList("PermitConditionComplianceStatusId", new SelectList(ViewBag.ConditionComplianceStatuses, "Id", "Description", ViewBag.PermitConditionComplianceStatusId), "Select")
    <span style="margin-left: 32px;">*</span>
</div>

<div style="float:right">
    <button id="Save">Save</button>
    <button class="cancel">Cancel</button>
</div>

<script type="text/javascript">
    
    $(function () {

        $('.cancel').click(function () {
            $(this).closest('.ui-dialog-content').dialog("close");
        });
        
        $('#Save').click(function () {
            
            var data = loadData();

            $.ajax({
                url: '@Url.Action(MVC.Permitting.Condition.EditConditionComplianceStatus())',
                type: 'POST',
                data: JSON.stringify(data),
                cache: false,
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                error: function (jqXhr, textStatus, errorThrown) {
                    alert(errorThrown);
                },
                success: function (result) {

                    if (!result.IsSuccess) {
                        alert("Error Saving Status Information");
                    } else {
                        var id = $('#PermitConditionComplianceStatusId').val();
                        var statusText = $('#PermitConditionComplianceStatusId option[value="' + id + '"]').text();
                        $("#ConditionComplianceStatus").html(statusText);
                        $("#PermitConditionComplianceStatusId").closest('.ui-dialog-content').dialog("close");
                        
                    }
                }
            });
        });
        
    });
    
    // Load model data from the form
    function loadData() {
        var data = {
            complianceStatusId: $('#PermitConditionComplianceStatusId').val(),
            permitId: $("#PermitId").val()
        };
        return data;
    }

</script>