﻿@{
    ViewBag.Title = "Index";
}

@section css {
    @Styles.Render("~/Content/jqgrid")
}

<style type="text/css">
    .ui-jqgrid tr.jqgrow td {
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
    }

    input, textarea {
        width: 230px;
    }
</style>

<h2>Index</h2>

@section featured {
}

<div class="renderbodyRight" style="left: 0; padding: 10px;">
    <div class="scrollcontainer">
        <div style="float: right;"><span contenturl="@Url.Action(MVC.Permitting.Condition.Edit())/0" title="Create New Condition" class="addLink spanLink searchNavigationSpanLink">Create New Condition</span></div>
        <div>
            @using (Ajax.BeginForm(MVC.Permitting.Condition.SearchFilter(), new AjaxOptions { OnSuccess = "onSuccess" }, new { id = "SearchForm" }))
            {
                @Html.DropDownList("PermitTemplateId", new SelectList(ViewBag.PermitTemplates, "Id", "Description", ViewBag.PermitTypeId))
            }
        </div>
        <br />
        <table id="searchResults"></table>
        <div id="pager"></div>
    </div>
    <div id="deactivateDialog" style="display: none;" title="Deactivation Confirmation">
        Are you sure you want to deactivate this condition?
    </div>
    <div id="editDialog" style="display: none;" title="Edit Permit Condition"></div>
    <div id="addDialog" style="display: none;" title="Create New Permit Condition"></div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/Scripts/jquery.maskedinput-1.3.1.min.js")
    @Scripts.Render("~/Scripts/jmtExtensions/jquery.jmttg-extension-jqGrid.js")

    <script type="text/javascript">
        $(function () {
            $("#searchResults").jqGrid({
                colModel: [
                    { name: 'Description', sortable: false },
                    { name: 'Id', width: 110, index: 'Id', sortable: false, hidden: true },
                    { name: 'Category', width: 110, index: 'Category', sortable: false },
                    { name: 'EditLink', width: 100, formatter: editLinkFormatter, sortable: false },
                    { name: 'DeactivateLink', width: 100, formatter: deactivateLinkFormatter, sortable: false }
                ],
                colNames: ['Condition', 'Id', 'Category', '', ''],
                height: 460,
                scrollOffset: 0,
                gridComplete: onGridComplete,
                url: '@Url.Action(MVC.Permitting.Condition.Data())'
            });

            $("#searchResults").on('click', 'a.deactivateLink', function (e) {
                e.preventDefault();
                var targetUrl = $(this).attr("href");

                $("#deactivateDialog").dialog({
                    resizable: false,
                    draggable: false,
                    modal: true,
                    buttons: {
                        "Deactivate": function () {
                            window.location.href = targetUrl;
                        },
                        "Cancel": function () {
                            $(this).dialog("close");
                        }
                    }
                });

                $("#deactivateDialog").dialog("open");
            });

            $("#PermitTemplateId").change(function () {
                $('#SearchForm').submit();
            });

            $("#searchResults").jqGrid('sortableRows', {
                cursor: '.handle',
                update: function () {
                    var serial = $('#searchResults').jqGrid('getRowData'),
                        ids = [];

                    for (var i = 0; i < serial.length ; i++) {
                        ids.push(serial[i].Id);
                    }

                    $.ajax({
                        url: '@Url.Action(MVC.Permitting.Condition.UpdateSequence())',
                        type: 'POST',
                        data: JSON.stringify(ids),
                        cache: false,
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        error: function () {
                            // Handle error
                        },
                        success: function () {
                            // Handle success
                        }
                    });
                }
            });
        });

        function onGridComplete() {
            $(this).jqGrid("fixGridWidth");
            $('.editLink, .addLink').modal();
        }

        //function localResize() {
        //    $("#searchResults").jqGrid("fixGridWidth");
        //}

        function onSuccess() {
            doSearch();
        }

        function doSearch() {
            $("#searchResults").jqGrid("setGridParam", {
                url: '@Url.Action(MVC.Permitting.Condition.Data())',
                page: 1
            });
            $("#searchResults").trigger("reloadGrid");
        }

        function editLinkFormatter(cellvalue, options, rowObject) {
            var sLink = '<span contenturl="@Url.Action(MVC.Permitting.Condition.Edit())/' + rowObject.Id + '" title="Edit Permit Condition" class="editLink spanLink">Edit</span>';
            return sLink;
        }

        function deactivateLinkFormatter(cellvalue, options, rowObject) {
            if (rowObject.Active) {
                return '<a href="@Url.Action(MVC.Permitting.Condition.Deactivate())/' + rowObject.Id + '" class="deactivateLink">Deactivate</a>';
            } else {
                return '<a href="@Url.Action(MVC.Permitting.Condition.Activate())/' + rowObject.Id + '">Activate</a>';
            }
        }

    </script>
}

