﻿@{
    ViewBag.Title = "Water Supply Information and Permitting System";
}
<style>
    #body
    {
        background-color: transparent!important;
    }
    /* buttons solid upon hover */
    .trans90:hover
    {
        zoom: 1;
        filter: alpha(opacity=100);
        opacity: 1.0;
    }
</style>

<div style="display: table; width: 900px; margin: 100px auto 0px auto;">
    <div class="trans85 indexLeft">
        <div class="indexWelcome">Welcome to WSIPS</div>
        <div style="text-align: justify;">
            <p>
                With this system, you can apply for a new permit, renew or modify an existing permit, apply for a permit exemption, review the status of your applications or existing permits, submit withdrawal reports or other required reports, or view information about any water appropriation permit.
            </p>
            <p>
                For more information about who is required to obtain a permit, procedures for obtaining a permit, and for information about recent permit applications, please visit MDE’s Water Appropriations Permit <a href="http://www.mde.state.md.us/programs/Water/Water_Supply/Pages/WaterApporpriationsorUsePermits.aspx" style="color: #FFFFFF">webpage</a>.
            </p>
        </div>
        <div style="text-align: center">
            @if (!Request.IsAuthenticated)
            {
                @*<a class="indexLoginRegBtn" href="@Url.Action(MVC.Permitting.Dashboard.PublicSearch())">Public Search</a>
                <div class="loginSeparator">&nbsp;</div>*@
                <a class="indexLoginRegBtn small" href="@Url.Action(MVC.Security.Account.Login())">Login</a>
                <a class="indexLoginRegBtn small" onclick="RegisterCustomer()" href="#">Register</a>
            }
        </div>
    </div>
    <div class="indexRight">
        <a class="trans90 IRBSolidFront" href="@Url.Action(MVC.Permitting.Dashboard.Index())">Manage Your Permits</a>
        @if (SessionHandler.GetSessionVar<int>(SessionVariables.AuthenticatedUserContactTypeId) == 2 || !Request.IsAuthenticated)
        {
            <a class="trans90 IRBSolidFront" href="@Url.Action(MVC.Permitting.Permit.ApplicationWizard(null, 1))">Apply for a New Permit</a>
            <a class="trans90 IRBSolidFront" onclick="ShowModal('renewalLink')" id="renewalLink" href="#">Apply for a Renewal</a>
            <a class="trans90 IRBSolidFront" onclick="ShowModal('modificationLink')" id="modificationLink" href="#">Apply for a Modification</a>
            <a class="trans90 IRBSolidFront" href="@Url.Action(MVC.Permitting.Permit.ApplicationWizard(null, 4))">Apply for an Exemption</a>
            <a class="trans90 IRBSolidFront" onclick="ShowModal('complianceLink')" id="complianceLink" href="#">Submit Compliance Documentation</a>
            <a class="trans90 IRBSolidFront" href="@Url.Action(MVC.Ecommerce.Invoice.Index())">Pay an Invoice</a>
        }
    </div>
    <div style="clear: both"></div>
    <div id="complianceDialog" style="display: none;" title="Select a Permit">
        <div class="divVerticalBottomSpacer" style="text-align: center">
            <br />
            <select id="PermitId">
                <option>Select</option>
            </select>
        </div>
    </div>
    <div id="Message" style="display: none;" title="Message">
        <div class="divVerticalBottomSpacer" style="text-align: center">
            <span style="margin-top: 10px;">You have no Active Permits on File</span>
        </div>
    </div>
    <div id="RegistrationDialog" style="display: none;" title="Registration">
        <div class="divVerticalBottomSpacer" style="text-align: center">
            <div style="margin-top: 10px;">If you have been provided a registration code enter it below.</div>
            <div style="margin-top: 5px;">If not click <a id="register" href="#">here</a></div>
        </div>
        <div class="divVerticalBottomSpacer" style="text-align: center">
            <span>Registration code </span><span>@Html.TextBox("contactId")</span>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/backstretch.js"></script>
    <script type="text/javascript">
        var globalData = {
            ActivePermitCount: 0,
            registrationUrl: '@Url.Action(MVC.Security.Account.Register(0))'
        };

        $(function ($) {
            $.backstretch('@Url.Content("~/Content/Images/back.jpg")');
            LoadAvailablePermits();
        });

        function ShowModal(selectedLink) {
            if (globalData.ActivePermitCount > 0) {
                $("#complianceDialog").dialog({
                    resizable: false,
                    draggable: false,
                    width: 500,
                    modal: true,
                    buttons: {
                        "OK": function () {
                            if ($("#PermitId").val() != "Select") {
                                $.ajax({
                                    url: '@Url.Action(MVC.Permitting.Dashboard.LinksModal())',
                                    type: 'GET',
                                    data: { permitId: $("#PermitId").val(), linkType: selectedLink },
                                    async: false,
                                    cache: false,
                                    error: function () {

                                    },
                                    success: function (data) {
                                        window.location.href = data.url;
                                    }
                                });
                            }
                        },
                        "Cancel": function () {
                            $(this).dialog("close");
                        }
                    }
                });

                $("#complianceDialog").dialog("open");
            } else {
                $("#Message").dialog({
                    resizable: false,
                    draggable: false,
                    width: 400,
                    modal: true,
                    buttons: {
                        "Cancel": function () {
                            $(this).dialog("close");
                        }
                    }
                });

                $("#Message").dialog("open");
            }
        }

        function LoadAvailablePermits() {
            $.ajax({
                url: '@Url.Action(MVC.Permitting.Dashboard.GetActivePermitsForContact())',
                type: 'GET',
                async: false,
                cache: false,
                error: function () {
                    alert('error');
                },
                success: function (data) {
                    if (data.Permits) {
                        globalData.ActivePermitCount = data.Permits.length;

                        for (var i = 0, len = data.Permits.length; i < len; i++) {
                            if (data.Permits[i].PermitNumber != null) {
                                $('#PermitId')
                                    .append($("<option></option>")
                                        .attr("value", data.Permits[i].Id)
                                        .text(data.Permits[i].PermitNumber));
                            }
                        }

                        $("#PermitId").val(0).change();
                    }
                }
            });
        }

        function RegisterCustomer() {
            $('#register').on('click', function () {
                window.location.href = '@Url.Action(MVC.Security.Account.Register(0))';
            });

            $("#RegistrationDialog").dialog({
                resizable: false,
                draggable: false,
                width: 460,
                modal: true,
                buttons: {
                    "Submit": function () {
                        var contactId = $("#contactId").val();

                        var url = '@Url.Action(MVC.Security.Account.ValidateContact(0))';
                        var urlContent = url.split('?');
                        var validateUrl = urlContent[0] + '?contactId=' + contactId;

                        if (contactId != "" && !isNaN(contactId)) {

                            $.ajax({
                                url: validateUrl,
                                type: 'GET',
                                data: {},
                                success: function (response) {
                                    if (response.isValid) {
                                        var _urlContent = globalData.registrationUrl.split('?');
                                        window.location.href = _urlContent[0] + '?contactId=' + contactId;
                                    }
                                    else {
                                        alert("This Registration Code is Invalid");
                                    }
                                }
                            });

                        } else {
                            alert("This Registration Code is Invalid");
                        }
                    },
                    "Cancel":

                function () {
                    $(this).dialog("close");
                }
                }

            });
        }

    </script>
}
