﻿@model DashboardFilterForm
@if (Request.IsAuthenticated)
{
    <div style="margin-bottom: 10px;">
        @Html.CheckBox("AssociatedWithMe", Model.AssociatedWithMe.GetValueOrDefault()) @Html.LabelFor(form => form.AssociatedWithMe)
    </div>
}
@{
    var properties = Model.GetType().GetProperties()
        .Where(prop => prop.PropertyType.GetInterface(typeof(IDashboardFilter).Name, false) != null && prop.GetValue(Model) != null);
}
@foreach (var prop in properties)
{
    <div id="@prop.PropertyType.Name" class="filtercontainer">
        @Html.Partial(prop.PropertyType.Name, Model)
    </div>
}