﻿@model DashboardSearchForm
@{
    ViewBag.Title = "Search for Permits";
}

@Html.Hidden("GISServicesHost", System.Configuration.ConfigurationManager.AppSettings["GISServicesHost"])
@Html.Hidden("GISServicesDirectory", System.Configuration.ConfigurationManager.AppSettings["GISServicesDirectory"])
@Html.HiddenFor(form => form.DisplayMode)

@section css {
    @Styles.Render("~/Content/jqgrid")
    @Styles.Render("~/Content/Dashboard.css")
    @Styles.Render("~/Content/Map.css")
}

@section topNav {
    <div style="position: absolute; left: 0px; top: 0px; right: 400px; bottom: 0px;">
        @if (Model.DisplayMode == DashboardMode.Tabular)
        {
            @:<span id="tableLink" class="tabLink first active">Table</span><span id="mapLink" class="tabLink last">Map</span>
            }
        else
        {
            @:<span id="tableLink" class="tabLink first">Table</span><span id="mapLink" class="tabLink last active">Map</span>
            }
    </div>
}

<div id="mapModal"></div>

@switch (Model.DisplayMode)
{
    case MDGov.MDE.WSIPS.Portal.ExternalWeb.Helpers.Enum.DashboardMode.Tabular:
        @Html.Partial(MVC.Permitting.Dashboard.Views.Partials.DashboardTabularView, Model)
        break;
    case MDGov.MDE.WSIPS.Portal.ExternalWeb.Helpers.Enum.DashboardMode.Map:
    @Html.Partial(MVC.Permitting.Dashboard.Views.Partials.DashboardMapView, Model)
        break;
    case DashboardMode.Analysis:
    @Html.Partial(MVC.Permitting.Dashboard.Views.Partials.DashboardAnalysisView, Model)
        break;
    default:
        break;
}

@section scripts{
    <script type="text/javascript">
        var getPermitStatusesAction = '@Url.Action(MVC.Permitting.Permit.GetPermitStatusesByCategory())';
        var filterAction = '@Url.Action(MVC.Permitting.Dashboard.Filter())';
        var spatialFilterAction = '@Url.Action(MVC.Permitting.Dashboard.SpatialFilter())';
        var detailsAction = '@Url.Action(MVC.Permitting.Permit.Details())';
        var getFilterControlAction = '@Url.Action(MVC.Permitting.Dashboard.GetFilterControl())';
        var gridDataAction = '@Url.Action(MVC.Permitting.Dashboard.Data())';
        var resumeAction = '@Url.Action(MVC.Permitting.Permit.ApplicationWizard())';
        var buildKmlFileAction = '@Url.Action(MVC.Permitting.Dashboard.BuildKmlFile())';
    </script>

    @Scripts.Render("~/Scripts/jquery.maskedinput-1.3.1.js")
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/Scripts/jmtExtensions/jquery.jmttg-extension-jqGrid.js")
    @Scripts.Render("~/bundles/esriarcgisapi")
    @Scripts.Render("~/Scripts/ViewScripts/Permit/Dashboard.js")
}