﻿@model DashboardFilterForm
<div class="filterheader ui-state-default">
    @Html.LabelFor(form => form.PermitCountyFilter.SelectedPermitCountyIds)
</div>
<div>
    @Html.ListBoxFor(form => form.PermitCountyFilter.SelectedPermitCountyIds, Model.PermitCountyFilter.CountyList, new { autocomplete = "off", size = "4", style = "width: 100%" })
</div>