﻿@model DashboardFilterForm
<div class="filterheader ui-state-default">
    @Html.LabelFor(form => form.PermitCategoryFilter.SelectedPermitCategoryIds)
</div>
<div>
    @Html.ListBoxFor(form => form.PermitCategoryFilter.SelectedPermitCategoryIds, Model.PermitCategoryFilter.PermitCategoryList, new { autocomplete = "off", size = "4", style = "width: 100%" })
</div>