﻿@model DashboardSearchForm
@{
    ViewBag.Title = "Search for Permits";
}

@Html.Hidden("GISServicesHost", System.Configuration.ConfigurationManager.AppSettings["GISServicesHost"])
@Html.Hidden("GISServicesDirectory", System.Configuration.ConfigurationManager.AppSettings["GISServicesDirectory"])
@Html.HiddenFor(form => form.DisplayMode)

@section css {
    @Styles.Render("~/Content/jqgrid")
    @Styles.Render("~/Content/Dashboard.css")
    @Styles.Render("~/Content/Map.css")
}

@section topNav {
    <div style="position: absolute; left: 0px; top: 0px; right: 400px; bottom: 0px;">
        @if (Model.DisplayMode == DashboardMode.Tabular)
        {
            @:<span id="tableLink" class="tabLink first active">Table</span><span id="mapLink" class="tabLink last">Map</span>
            }
        else
        {
            @:<span id="tableLink" class="tabLink first">Table</span><span id="mapLink" class="tabLink last active">Map</span>
            }
    </div>
    <div style="position: absolute; right: 10px; top: 0px; bottom: 0px; width: 390px;">
        @using (Ajax.BeginForm(MVC.Permitting.Dashboard.Search(), new AjaxOptions { OnSuccess = "onSearchSuccess" }, new { defaultbutton = "searchButton", id = "SearchForm", style = "line-height: 37px" }))
        {
            <span id="clearSearch" style="vertical-align: middle; color: #D7F4B4; cursor: pointer;" onmouseover='$(this).addClass("underline")' onmouseout='$(this).removeClass("underline")'>Clear Search</span>
            <input class="search-medium" title="Enter Search Text" name="Search" style="vertical-align: middle; width: 230px;" value="@SessionHandler.GetSessionVar(SessionVariables.DashboardSearch)" />
            <div id="dashboardSearchButton" style="display: inline-block" class="divUIButton divUIButtonNextToTextbox">Search</div>
        }
    </div>
}

<div id="mapModal"></div>

@switch (Model.DisplayMode)
{
    case MDGov.MDE.WSIPS.Portal.ExternalWeb.Helpers.Enum.DashboardMode.Tabular:
        @Html.Partial(MVC.Permitting.Dashboard.Views.Partials.DashboardTabularView, Model)
        break;
    case MDGov.MDE.WSIPS.Portal.ExternalWeb.Helpers.Enum.DashboardMode.Map:
    @Html.Partial(MVC.Permitting.Dashboard.Views.Partials.DashboardMapView, Model)
        break;
    case DashboardMode.Analysis:
    @Html.Partial(MVC.Permitting.Dashboard.Views.Partials.DashboardAnalysisView, Model)
        break;
    default:
        break;
}

@section scripts{
    <script type="text/javascript">
        var getPermitStatusesAction = '@Url.Action(MVC.Permitting.Permit.GetPermitStatusesByCategory())';
        var filterAction = '@Url.Action(MVC.Permitting.Dashboard.PublicFilter())';
        var spatialFilterAction = '@Url.Action(MVC.Permitting.Dashboard.PublicSpatialFilter())';
        var detailsAction = '@Url.Action(MVC.Permitting.Permit.Details())';
        var gridDataAction = '@Url.Action(MVC.Permitting.Dashboard.Data())';
        var resumeAction = '@Url.Action(MVC.Permitting.Permit.ApplicationWizard())';
        var buildKmlFileAction = '@Url.Action(MVC.Permitting.Dashboard.BuildKmlFile())';
    </script>

    @Scripts.Render("~/Scripts/jquery.maskedinput-1.3.1.js")
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/Scripts/jmtExtensions/jquery.jmttg-extension-jqGrid.js")
    @Scripts.Render("~/bundles/esriarcgisapi")
    @Scripts.Render("~/Scripts/ViewScripts/Permit/PublicDashboard.js")
}