﻿@model DashboardFilterForm
<div class="filterheader ui-state-default">
    @Html.LabelFor(form => form.WaterWithdrawalPurposeCategoryFilter.SelectedWaterWithdrawalPurposeIds)
</div>
<div>
    @Html.ListBoxFor(form => form.WaterWithdrawalPurposeCategoryFilter.SelectedWaterWithdrawalPurposeIds, Model.WaterWithdrawalPurposeCategoryFilter.WaterWithdrawalPurposeCategoryList, new { autocomplete = "off", size = "4", style = "width: 100%" })
</div>
