﻿@model MDGov.MDE.WSIPS.Portal.InternalWeb.Models.Forms.PublicCommentForm
<style>
    .popupTextArea {
        resize: none;
        width: 250px;
        height: 100px;
    }

    #publicCommentContainer .spanSetWidth {
        width: 30%;
    }
</style>

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.publicComentDbId)
<div>
    <span class="spanSetWidth spanSetWidthAlignRightPadded">
        @Html.LabelFor(model => model.thePublicComment):
    </span>
    <span class="spanRightInlineBlock" style="vertical-align: top;">
        @Html.TextAreaFor(model => model.thePublicComment, new { @class = "popupTextArea" })
    </span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded"></span>
    <span class="spanRightInlineBlock">@Html.ValidationMessageFor(model => model.thePublicComment)</span>
</div>
<div>
    <span class="spanSetWidth spanSetWidthAlignRightPadded">
        @Html.LabelFor(model => model.PublicCommentName):
    </span>
    <span class="spanRightInlineBlock">
        @Html.TextBoxFor(model => model.PublicCommentName, new { style = "width: 250px;" })
    </span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded"></span>
    <span class="spanRightInlineBlock">@Html.ValidationMessageFor(model => model.PublicCommentName)</span>
</div>
<div>
    <span class="spanSetWidth spanSetWidthAlignRightPadded">
        @Html.LabelFor(model => model.PublicCommentContactInfo):
    </span>
    <span class="spanRightInlineBlock" style="vertical-align: top;">
        @Html.TextAreaFor(model => model.PublicCommentContactInfo, new { @class = "popupTextArea" })
    </span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded"></span>
    <span class="spanRightInlineBlock">@Html.ValidationMessageFor(model => model.PublicCommentContactInfo)</span>
</div>