﻿@model CCListForm
<div class="scrollcontainer">
    <input type="button" id="addCcContact" value="Add Contact to CC List" />
    <div id="CcContactGridContainer" style="display: none; margin-top: 10px;">
        @Html.Hidden("GridDataAction", Url.Action(MVC.Contact.Data()))
        @Html.Hidden("GetContactAction", Url.Action(MVC.Contact.GetContact()))
        @Html.Hidden("RemoveContactAction", Url.Action(MVC.Permitting.Permit.RemovePermitContact()))
        <table id="CcContactGrid"></table>
    </div>
    <div id="EditCcContact" style="display: none;">
        @using (Ajax.BeginForm(MVC.Contact.SavePermitContact(), new AjaxOptions { HttpMethod = "POST", OnSuccess = "saveCallBack" }, new { id = "CcContactForm" }))
        {
            @Html.HiddenFor(m => m.PermitId)
            <div id="DynamicContent"></div>            
        }
    </div>
</div>
<div id="contactDeleteDialog" title="Delete Contact" style="display: none;">
    Are you sure you want to delete this contact?
</div>
<div id="contactSearch" style="display: none;">
    @Html.Partial(MVC.Permitting.Permit.Views.ContactSearch, new ApplicationWizard())
</div>
<div id="contactSearchResult" style="display: none">
    @Html.Partial(MVC.Permitting.Permit.Views.ContactSearchResult, new ApplicationWizard())
</div>
<script>
    $.requireScript('@Url.Content("~/Scripts/jquery.maskedinput-1.3.1.js")');
    $.requireScript('@Url.Content("~/Scripts/ViewScripts/Permit/PermitDetail/ApplicationSummary.js")');
    $.requireScript('@Url.Content("~/bundles/ViewScripts/Permit/Base")');
    $.requireScript('@Url.Content("~/bundles/ViewScripts/Permit/PermitDetail")');

    var saveCallBack = function() {
        $('#EditCcContact').dialog('close');
        $("#CcContactGrid").trigger("reloadGrid");
        $('#CcContactGridContainer').show();
    };
</script>
