﻿@model CommentsTabForm
<div id="rightSide" class="unpadded">
    <div class="scrollcontainer" preservescrollbarspace="y">
        <div class="permitDetailsRightHorizontalSeparator filterheader ui-state-default" title="Close"><span class="renderBLArrow">▲</span>Internal Comments</div>
        <div id="commentDiv" class="horizontalSepratorContentDiv"></div>
        <div class="permitDetailsRightHorizontalSeparator filterheader ui-state-default" title="Close"><span class="renderBLArrow">▲</span>Public Comments</div>
        <div class="horizontalSepratorContentDiv">
            <input id="addPublicCommentButton" type="button" value="Add Public Comment" style="margin-bottom: 5px;" />
            <table id="publicCommentGrid"></table>
            <p id="MsgNoPublicComment" style="display: none;">No Comments Have Been Added</p>
        </div>
        @Html.Partial(MVC.Permitting.Permit.Views.DetailsPartials._PublicComment, new PublicCommentForm())
    </div>
</div>

<script type="text/javascript">
    $.requireScript('@Url.Content("~/bundles/Library")');
    $.requireScript('@Url.Content("~/Scripts/ViewScripts/Permit/PublicComment.js")');

    $.ajax({
        url: '@Url.Action(MVC.Comment.LoadCommentsView())',
        type: 'Get',
        cache: false,
        data: { refTable: "Permit", refId: '@Model.PermitId', permitStatusId: -1 },
        success: function (response) {
            $("#commentDiv").html(response);

            if ($('#CategoryId').val() == 6 || $('#CategoryId').val() == 7) {
                Comment.disableAllDeletingExceptForNoStatus();
            }
        }
    });

    if ($('#CategoryId').val() == 6 || $('#CategoryId').val() == 7) {
        PublicComment.makeReadOnly();
    }

    PublicComment.Initialize('@Model.PermitId', true);
</script>
