﻿@model ComplianceTabForm
@Html.HiddenFor(m => m.PermitId)
@Html.HiddenFor(m => m.PermitName)
<div id="rightSide" class="unpadded">
    <div class="scrollcontainer" preservescrollbarspace="y">
        <div class="localNavigationBold divVerticalBottomSpacerDouble">Conditions Requiring Compliance Reporting:</div>
        <div class="horizontalSepratorContentDiv">
            <table id="complianceResults"></table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $.requireScript('@Url.Content("~/Scripts/DateFormatter.js")');
    $.requireScript('@Url.Content("~/Scripts/ViewScripts/Permit/UploadDocument.js")');

    var showReportingHistory = '@TempData["ShowReportingHistory"]';

    $(function () {
        var permitId = $("#PermitId").val();

        $("#complianceResults").jqGrid({
            colModel: [
                { name: 'ConditionText', width: 250, sortable: false },
                { name: 'DueDate', width: 100, align: 'center', formatter: dueDateFormatter, sortable: false },
                { name: 'Id', width: 10, index: 'Id', sortable: false, hidden: true },
                { name: 'DetailsLink', width: 50, align: 'center', formatter: detailsLinkFormatter, sortable: false },
                { name: 'ReportLink', width: 50, align: 'center', formatter: reportLinkFormatter, sortable: false }
            ],
            colNames: ['Condition', 'Next Due Date', 'Id', 'Details', 'Summary Report'],
            height: "auto",
            scrollOffset: 0,
            gridComplete: onGridComplete,
            postData: { permitId: permitId, complianceOnly: true },
            url: '@Url.Action(MVC.Permitting.Condition.PermitData())'
        });
    });

    function onGridComplete() {
        $(this).jqGrid("fixGridWidth");
        $('.detailsLink').click(function () {
            loadComplianceDetails($(this).attr('contenturl'));
        });

        $('.viewReportLink').click(function () {
            loadPumpageSummaryReport();
        });
        
        //Check if showing the Reporting History immediatly is required.
        if (showReportingHistory) {
            $(".detailsLink:first").click();
        }
    }

    function dateFormatter(cellvalue, options, rowObject) {
        if (cellvalue == null) return '';
        return (new Date(parseInt(cellvalue.replace("/Date(", "").replace(")/", ""), 10))).format('m/dd/yyyy');
    }

    function dueDateFormatter(cellvalue, options, rowObject) {
        if (cellvalue == null) return '';
        return (new Date(parseInt(cellvalue.replace("/Date(", "").replace(")/", ""), 10))).format('m/dd/yyyy');
    }

    function detailsLinkFormatter(cellvalue, options, rowObject) {
        return '<span contenturl="@Url.Action(MVC.Permitting.Condition.CustomDetails())/' + rowObject.Id + '" title="View Condition Details" class="detailsLink spanLink">View</span>';
    }

    function reportLinkFormatter(cellvalue, options, rowObject) {
        if (rowObject.StandardConditionTypeId == 14) {
            return '<span contenturl="@Url.Action(MVC.Permitting.Condition.CustomDetails())/' + rowObject.Id + '" title="Pumpage Summary Report" class="viewReportLink spanLink">View</span>';
        }
        else {
            return '';
        }
    }

    function loadComplianceDetails(url) {
        $.ajax({
            url: url,
            type: 'Get',
            success: function (response) {
                $("#tabContent").html(response);

                $('.scrollcontainer').scrollbars();
                $.jmttgCustomBrowser.setScrollwrapForTabContent();
                $('.ui-jqgrid-btable').jqGrid('fixGridWidthTabContent');
            }
        });
    }
    
    function loadPumpageSummaryReport() {
        var reportsServer = '@System.Configuration.ConfigurationManager.AppSettings["ReportsServer"]';
        var permitName = $('#PermitName').val();

        window.open('http://' + reportsServer + '/ReportServer/Pages/ReportViewer.aspx?%2fWSIPS%2fPumpageReportSummaryByPermit&PermitName=' + permitName);
    }
    
</script>
