﻿@model ContactsTabForm
<div class="scrollcontainer" preservescrollbarspace="y">
    @using (Ajax.BeginForm(MVC.Permitting.Permit.SaveContactsInDetailsContactsTab(), new AjaxOptions { HttpMethod = "POST", OnSuccess = "SaveCallBackContactsTab" }, new { @id = "detailsPermitContactForm" }))
    {
        @Html.HiddenFor(form => form.PermitId)
        <div style="text-align: right; padding: 20px">
            <input id="SaveContactButton" type="submit" value="Save" />
        </div>
    
        <div style="text-align: center; min-height: 20px; height: auto !important; height: 20px; padding-bottom: 20px">
            <span id="ContactsSaveMessage" style="color: green;"></span>
        </div>

        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.SelectedDivisionChiefId)</span>
            <span class="spanRightInlineBlock">@Html.DropDownListFor(form => form.SelectedDivisionChiefId, Model.DivisionChiefList)</span>
        </div>
    
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.SelectedSupervisorId)</span>
            <span class="spanRightInlineBlock">@Html.DropDownListFor(form => form.SelectedSupervisorId, Model.SupervisorList)</span>
        </div>

        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.SelectedProjectManagerId)</span>
            <span class="spanRightInlineBlock">@Html.DropDownListFor(form => form.SelectedProjectManagerId, Model.ProjectManagerList)</span>
        </div>
    
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.SelectedComplianceManagerId)</span>
            <span class="spanRightInlineBlock">@Html.DropDownListFor(form => form.SelectedComplianceManagerId, Model.ComplianceManagerList)</span>
        </div>
    
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.SelectedCountyOfficialId)</span>
            <span class="spanRightInlineBlock">@Html.DropDownListFor(form => form.SelectedCountyOfficialId, Model.CountyOfficialList)</span>
        </div>
    
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.SelectedDNROfficialId)</span>
            <span class="spanRightInlineBlock">@Html.DropDownListFor(form => form.SelectedDNROfficialId, Model.DNROfficialList)</span>
        </div>
    }
</div>

<script>
    $('#detailsPermitContactForm select').change(function () {
        $('#ContactsSaveMessage').empty();
    });

    function SaveCallBackContactsTab(response) {
        if (response.success) {
            $("#ContactsSaveMessage").html("Successfully Updated.");
        } else {
            $("#ContactsSaveMessage").html("There was an error while trying to update.");
        }
    }
</script>
