﻿@model ConditionsTabForm
@Html.HiddenFor(m => m.PermitId)
@Html.HiddenFor(m => m.PermitCategoryId)
<div id="leftSide" class="renderbodyLeft unpadded renderbodyLeftGrayBorder">
    <div class="scrollcontainer" preservescrollbarspace="y">
        Select the appropriate Permit Template from the list to the right and click "Add These Conditions" to add the appropriate conditions to this permit.
        <br />
        <br />
        You may add "Extra" conditions or create "Special" conditions by clicking the appropriate link at the top right of the page.
        <br />
        <br />
        You may also edit or remove conditions from this list. Edits will apply to this permit only.
    </div>
</div>
<div id="rightSide" class="renderbodyRight unpadded">
    <div class="scrollcontainer" preservescrollbarspace="y">
        <div>
            <div style="float: right;">
                @*@if (Model.PermitStatusId == 46 || (Model.PermitCategoryId != 6 && Model.PermitCategoryId != 7))*@
                @if (Model.PermitCategoryId == 2 || Model.PermitCategoryId == 3 || Model.PermitCategoryId == 4 || Model.PermitCategoryId == 6)
                {
                    <span contenturl="@Url.Action(MVC.Permitting.Condition.EditCustom())?id=0&permitId=@Model.PermitId" title="Create New Permit Condition" class="addLink spanLink searchNavigationSpanLink">Create New Condition</span>
                    <span>|</span> <span id="addSpecialCondition" class="spanLink searchNavigationSpanLink">Add Special Condition</span>
                }
            </div>
            <div>
                @if (Model.PermitCategoryId == 2 || Model.PermitCategoryId == 3 || Model.PermitCategoryId == 4)
                {
                    @Html.DropDownListFor(m => m.SelectedConditionsTemplateId, Model.PermitTemplateList, "Select a Template")
                    <input id="addConditionsButton" type="button" data-actionurl="@Url.Action(MVC.Permitting.Permit.CopyConditions())" value="Add These Conditions" style="margin-left: 40px;" />
                }
                else
                {
                    <div id="options">
                        @Html.DropDownListFor(m => m.SelectedConditionsTemplateId, Model.PermitTemplateList, "Select a Template", new { @disabled = "disabled" })
                        <input id="addConditionsButton" type="button" disabled = "disabled" data-actionurl="@Url.Action(MVC.Permitting.Permit.CopyConditions())" value="Add These Conditions" style="margin-left: 40px;" />
                    </div>
                }
            </div>
            <br />
            <div>Conditions listed below will be included in the draft permit.</div>
            <div>Drag and drop to reorder. To add a new set of conditions, please delete all existing ones.</div>
            <br />
            <table id="conditionsResults"></table>
            <div id="pager"></div>
        </div>
    </div>
    <div id="cannotDeleteDialog" style="display: none;" title="Cannot Remove Condition">
        This condition cannot be removed because one or more compliance reports have been submitted.
    </div>
    <div id="deleteDialog" style="display: none;" title="Remove Confirmation">
        Are you sure you want to remove this condition?
    </div>
    <div id="standardConditionslist" style="display: none;" title="Special Conditions">
        <table id="standardConditionstbl"></table>
        <div id="standardConditionsPager"></div>
    </div>
</div>
<style>
    .ui-jqgrid .ui-jqgrid-hdiv
    {
        border: none!important;
    }

    .addSpecialCondition
    {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
    }
</style>
<script type="text/javascript">
    var permitId = '@Model.PermitId';

    $(function () {
        $("#conditionsResults").jqGrid({
            colModel: [
                { name: 'ConditionText', width: 250, sortable: false },
                { name: 'Id', width: 10, index: 'Id', sortable: false, hidden: true },
                { name: 'EditLink', width: 50, formatter: editLinkFormatter, sortable: false, align: 'center' },
                { name: 'DeleteLink', width: 50, formatter: deleteLinkFormatter, sortable: false, align: 'center' }
            ],
            colNames: ['Condition', 'Id', '', ''],
            rowNum: '',
            height: "auto",
            gridComplete: onGridComplete,
            url: '@Url.Action(MVC.Permitting.Condition.PermitData())?permitId=' + permitId
        });

        $("#conditionsResults").on('click', 'span.deleteLink', function () {
            if ($(this).hasClass('disabled')) {
                $("#cannotDeleteDialog").dialog({
                    resizable: false,
                    draggable: false,
                    modal: true,
                    buttons: {
                        "Ok": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            }
            else {
                var targetUrl = $(this).attr("data-deleteaction");
                $("#deleteDialog").dialog({
                    resizable: false,
                    draggable: false,
                    modal: true,
                    buttons: {
                        "Delete": function () {
                            $.ajax({
                                url: targetUrl,
                                type: 'DELETE',
                                success: function () {
                                    // Handle success
                                    $("#deleteDialog").dialog("close");
                                    $("#conditionsResults").trigger("reloadGrid");
                                }
                            });
                        },
                        "Cancel": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            }
        });

        $("#conditionsResults").jqGrid('sortableRows', {
            cursor: '.handle',
            update: function () {
                var serial = $('#conditionsResults').jqGrid('getRowData'),
                    ids = [];

                for (var i = 0; i < serial.length ; i++) {
                    ids.push(serial[i].Id);
                }

                $.ajax({
                    url: '@Url.Action(MVC.Permitting.Condition.UpdateCustomSequence())',
                    type: 'POST',
                    data: JSON.stringify(ids),
                    cache: false,
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8'
                });
            }
        });
    });

    function onGridComplete() {
        $('.editLink, .addLink').modal();

        $("#SelectedConditionsTemplateId").combobox();
        $('.scrollwrap .ui-combobox-input').css('width', '300px');

        if ($("#conditionsResults").jqGrid('getGridParam', 'records') === 0) {
            $("#addConditionsButton").prop('disabled', false);
            $('#SelectedConditionsTemplateId').prop('disabled', false).trigger("liszt:updated");
        } else {
            $("#addConditionsButton").prop('disabled', true);
            $("#options *").attr("disabled", "disabled").off('click');
        }

        $(this).jqGrid("fixGridWidth");
    }

    function editLinkFormatter(cellvalue, options, rowObject) {
        return '<span contenturl="@Url.Action(MVC.Permitting.Condition.EditCustom())?id=' + rowObject.Id + '&permitId=@Model.PermitId" title="Edit Permit Condition" class="editLink spanLink">Edit</span>';
    }

    function deleteLinkFormatter(cellvalue, options, rowObject) {
        if (rowObject.CanBeDeleted) {
            return '<span class="spanLink deleteLink" data-deleteaction="@Url.Action(MVC.Permitting.Condition.DeleteCustom())/' + rowObject.Id + '" >Remove</span>';
        }
        else {
            return '<span class="spanLink deleteLink disabled" data-permitid="' + rowObject.Id + '">Remove</span>';
        }
    }

    $('#addSpecialCondition').on('click', function () {
        $("#standardConditionstbl").jqGrid({
            colModel: [
                { name: 'Description', width: 70, sortable: false },
                { name: 'Id', width: 1, index: 'Id', sortable: false, hidden: true },
                { name: 'Category', width: 20, index: 'Category', sortable: false },
                { name: 'AddLink', width: 5, formatter: addLinkFormatter, sortable: false },
            ],
            colNames: ['Condition', 'Id', 'Category', ''],
            height: 460,
            width: 780,
            rowNum: 100,
            gridComplete: function () {
                $('.addSpecialCondition').on('click', function () {
                    $.ajax({
                        url: '/Condition/AddSpecialCondition',
                        type: 'POST',
                        data: { permitId: permitId, standardConditionId: $(this).attr('id') },
                        success: function (response) {
                            $("#standardConditionslist").dialog("close");
                            if (response.IsSuccess) {
                                $("#conditionsResults").trigger('reloadGrid');
                            } else {
                                alert("An error has occured while adding the standard conditions.");
                            }
                        }
                    });
                });

                $(this).jqGrid("fixGridWidth");
            },
            url: '@Url.Action(MVC.Permitting.Condition.GetAllSpecialConditions())'
        });
        
        $("#standardConditionslist").dialog({
            resizable: false,
            draggable: false,
            width: 800,
            modal: true,
        });

        $("#standardConditionslist").dialog("open");

        function addLinkFormatter(cellvalue, options, rowObject) {
            return '<span class="addSpecialCondition" id="' + rowObject.Id + '" permitId="' + permitId + '">Add</span>';
        }
    });
</script>