﻿@model ApplicationWizard

@helper ShowMenu()
{
    <div class="reviewStepsLinks WaterUser" onclick="ApplicationWizard.Navigate(2)">Water User</div>
    <div class="reviewStepsLinks LandOwner" onclick="ApplicationWizard.Navigate(3)">Land Owner</div>
    <div class="reviewStepsLinks Consultant" onclick="ApplicationWizard.Navigate(4)">Consultant</div>
    <div class="reviewStepsLinks waterUseDescription" onclick="ApplicationWizard.Navigate(5)">Water Use Description</div>
    <div class="reviewStepsLinks waterUseCategoryType" onclick="ApplicationWizard.Navigate(6)">Water Use Category & Type</div>
    <div class="reviewStepsLinks waterUseDetails" onclick="ApplicationWizard.Navigate(7)">Water Use Details</div>
    <div class="reviewStepsLinks wastewaterTreatmentDisposal" onclick="ApplicationWizard.Navigate(8)">Wastewater Treatment & Disposal</div>
    <div class="reviewStepsLinks waterWithdrawalLocation" onclick="ApplicationWizard.Navigate(11)">Water Withdrawal Location</div>
    <div class="reviewStepsLinks permitInformation" onclick="ApplicationWizard.Navigate(12)">Permit Information</div>
    <div class="reviewStepsLinks approvedAllocation" onclick="ApplicationWizard.Navigate(13)">Proposed Allocation</div>
}

<div id="leftSide" class="renderbodyLeft renderbodyLeftGrayBorder scrollcontainer">
    @Html.Partial(MVC.Permitting.Permit.Views.DetailsPartials._PermitStatusOptions, Model.PermitStatusDetailForm)

    @if (Model.PermitCategoryId == 1)
    {
        <div class="detailsClickable ApplicationSum wizardStep" onclick="ApplicationWizard.Navigate(9)">Application Summary</div>

        if (SessionHandler.GetSessionVar<IEnumerable<string>>(SessionVariables.AuthenticatedUserRoles).Any() && Model.PermitStatusId == 3)
        {
            <div class="detailsClickable CreatePendingPermit wizardStep" onclick="ApplicationWizard.Navigate(10)">Create Application for Review</div>
            if (ViewBag.hasPendingPermit == false && Model.IsExternalApplicaion == false)
            {
                <div class="detailsClickable EditApplication wizardStep" onclick="window.location.href = '@Url.Action(MVC.Permitting.Permit.ActionNames.ApplicationWizard, new { id = Model.PermitId })'">Edit Application</div>
            }
        }
    }
    else if (Model.PermitCategoryId == 2 || Model.PermitCategoryId == 3 || Model.PermitCategoryId == 4 || Model.PermitCategoryId == 5)
    {
        <div class="detailsClickable ApplicationSum wizardStep" onclick="ApplicationWizard.Navigate(9)">Permit Summary</div>

        if (SessionHandler.GetSessionVar<IEnumerable<string>>(SessionVariables.AuthenticatedUserRoles).Any() && Model.PermitStatusId != 60 && Model.PermitStatusId != 61 && Model.PermitStatusId != 63 && Model.PermitStatusId != 64 && Model.PermitStatusId != 66 && Model.PermitStatusId != 67)
        {
            <hr />
            @ShowMenu()
        }
    }
    else if (Model.PermitCategoryId == 6 || Model.PermitCategoryId == 7)
    {
        <div class="detailsClickable ApplicationSum wizardStep" onclick="ApplicationWizard.Navigate(9)">Permit Summary</div>

        if (Model.PermitStatusId == 46 || Model.PermitCategoryId == 7)
        {
            if (SessionHandler.GetSessionVar<IEnumerable<string>>(SessionVariables.AuthenticatedUserRoles).Any())
            {
                <div class="detailsClickable CreatePendingPermit wizardStep" onclick="ApplicationWizard.Navigate(10)">Create Application for Review</div>
            }
            
            <div class="detailsClickable wizardStep" onclick="ApplicationWizard.GetPermitDocument()">View Permit</div>
            <hr />
            @ShowMenu()
        }
    }
    else if (Model.PermitCategoryId == 8)
    {
        <div class="detailsClickable ApplicationSum wizardStep" onclick="ApplicationWizard.Navigate(9)">Permit Summary</div>
        if (SessionHandler.GetSessionVar<IEnumerable<string>>(SessionVariables.AuthenticatedUserRoles).Any())
        {
            <hr />
            @ShowMenu()
        }
    }
</div>

<div id="rightSide" class="renderbodyRight" style="overflow: hidden;">
    <div id="top" style="height: 40px; left: 0; position: absolute; right: 0; top: 0; line-height: 40px; vertical-align: middle; min-width: 675px">
        @*<div style="float: left; padding-left: 10px;">
                <span id="AddLandOwner" style="display: none; margin-right: 20px">
                    <input id="AddLandOwnerButton" type="button" value="Add Land Owner" onclick="ApplicationWizard.AddLandOwner()" />
                </span>
            </div>*@
        <div style="float: right; padding-right: 10px;">
            <span id="SaveButton" style="display: none; margin-right: 20px">
                <input type="button" value="Save" onclick="ApplicationWizard.SaveData()" />
            </span>
        </div>
    </div>
    <div class="scrollcontainer" style="position: absolute; top: 0px; right: 100px; bottom: 20px; left: 0;">
        @using (Ajax.BeginForm(MVC.Permitting.Permit.ApplicationWizard(), new AjaxOptions { HttpMethod = "POST", OnSuccess = "ApplicationWizard.SaveCallBack" }, new { @id = "wizardForm" }))
        {
            @Html.HiddenFor(model => model.PermitId)
            @Html.HiddenFor(model => model.SelectedWaterUsePurposeIds)
            @Html.HiddenFor(model => model.CurrentStep)
            @Html.HiddenFor(model => Model.PermitStatusId)
            @Html.HiddenFor(model => Model.ApplicationTypeId)
            @Html.HiddenFor(model => Model.RefId)

            <input type="hidden" id="selectedWaterUserCategoryTypeFromDB" value=@Model.SelectedWaterUsePurposeIds />
            <input type="hidden" id="permitIssuedToFromDB" value=@Model.PermitIssuedTo />

            <div id="CreatePendingPermit" style="display: none;">
            </div>
            <div id="ApplicantIdentification" style="display: none;">
                @Html.Partial(MVC.Permitting.Permit.Views.ApplicantIdentification)
            </div>
            <div id="contactSearch" style="display: none;">
                @Html.Partial(MVC.Permitting.Permit.Views.ContactSearch)
            </div>
            <div id="contactSearchResult" style="display: none">
                @Html.Partial(MVC.Permitting.Permit.Views.ContactSearchResult)
            </div>
            <div id="SearchedContacts" style="display: none;">
                @Html.Partial(MVC.Permitting.Permit.Views._ApplicationWizardContacts)
            </div>
            <div id="waterUseDescription" style="display: none;">
                @Html.Partial(MVC.Permitting.Permit.Views.WaterUseDescription)
            </div>
            <div id="waterUseCatagoryAndType" style="display: none;">
            </div>
            <div id="waterUseDetails" style="display: none;">
            </div>
            <div id="WastewaterTreatmentAndDisposal" style="display: none;">
                @Html.Partial(MVC.Permitting.Permit.Views.WastewaterTreatmentAndDisposal)
            </div>
            <div id="reviewApplication" style="display: none;">
                <div id="applicationSummary">
                </div>
            </div>
            <div id="affirmation" style="display: none;">
                @Html.Partial(MVC.Permitting.Permit.Views.Affirmation)
            </div>
        }
        <div id="PermitInformation" data-contenturl="@Url.Action(MVC.Permitting.Permit.LoadPermitInformation())" style="display: none;">
        </div>
        <div id="ApprovedAllocation" data-contenturl="@Url.Action(MVC.Permitting.Permit.LoadApprovedAllocation())" style="display: none;">
        </div>
    </div>
    <div id="identifyLocation" style="z-index: -9999; position: absolute; top: 40px; right: 1px; bottom: 20px; left: 0; border-left: solid 1px #ffffff;">
        @Html.Partial(MVC.Permitting.Permit.Views.IdentifyLocation)
    </div>
    <div style="clear: both; padding-top: 20px;">
        <div id="MessageSummary" style="color: Red; text-align: center; font-weight: bold; display: none;"></div>
    </div>
</div>

@*@using (Ajax.BeginForm(MVC.Contact.SaveMultiplePermitContacts(), new AjaxOptions { HttpMethod = "POST", OnSuccess = "ApplicationWizard.SaveCallBackAdditionalLandOwners" }, new { id = "addLandOwnerForm" }))
    {
    }*@

<script type="text/javascript">
    var urls = {
        summaryUrl: '@Url.Action(MVC.Permitting.Permit.Summary())',
        additionalLandOwnersUrl: '@Url.Action(MVC.Permitting.Permit.LoadAdditionalLandOwners())',
        waterUseCategoryAndTypeUrl: '@Url.Action(MVC.Permitting.WaterUseDetail.LoadWaterUseCategoryAndType())',
        waterUseDetailUrl: '@Url.Action(MVC.Permitting.WaterUseDetail.LoadWaterUseDetails())'
    }

    $.requireScript('@Url.Content("~/Scripts/jquery.maskedinput-1.3.1.js")');
    $.requireScript('@Url.Content("~/bundles/esriarcgisapi")');
    $.requireScript('@Url.Content("~/bundles/Library")');
    $.requireScript('@Url.Content("~/Scripts/ViewScripts/Permit/PermitDetail/ApplicationSummary.js")');
    $.requireScript('@Url.Content("~/bundles/ViewScripts/Permit/Base")');
    $.requireScript('@Url.Content("~/bundles/ViewScripts/Permit/PermitDetail")');
    $.requireScript('@Url.Content("~/Scripts/ViewScripts/Permit/ApplicationWizard/IdentifyLocation.js")');

    $(document).ready(function () {
        ContactSearch.GridDataUrl = '@Url.Action(MVC.Permitting.Permit.SearchContact())';

        var commaSeparatedValues = "" + $('#selectedWaterUserCategoryTypeFromDB').val();

        var ids = commaSeparatedValues.split(',');
        _.each(ids, function (id) {
            global.SelectedWaterUseCategoryTypeList[id] = id;
        });
    });
</script>
