﻿@model DocumentsTabForm
<div id="rightSide" class="unpadded">
    <div class="scrollcontainer" preservescrollbarspace="y">
        <div class="permitDetailsRightHorizontalSeparator filterheader ui-state-default" title="Close"><span class="renderBLArrow">▲</span>Files</div>
        <div id="docDiv" class="horizontalSepratorContentDiv"></div>
    </div>
</div>
<script type="text/javascript">
    $.requireScript('@Url.Content("~/Scripts/Helper.js")');
    $.requireScript('@Url.Content("~/Scripts/ViewScripts/Permit/UploadDocument.js")');

    loadUploads();

    function loadUploads() {
        $.ajax({
            url: '@Url.Action(MVC.Upload.Document())',
            type: 'Get',
            cache: false,
            data: { refTable: "Permit", refId: '@Model.PermitId', includeRefIdDocs: true },
            success: function (response) {
                $("#docDiv").html(response);
                UploadDocument.InitializeVariables("Permitting");

                if ($('#CategoryId').val() == 6 || $('#CategoryId').val() == 7) {
                    UploadDocument.disableAllDeletingExceptForNoStatus();
                }
            }
        });
    }
</script>
