﻿@model EnforcementTabForm
@using MDGov.MDE.WSIPS.Portal.InternalWeb.Areas.Administration.Helpers

@{
    var isAuthorizedToAddEditDelete = SessionHandler.GetSessionVar<IEnumerable<string>>(SessionVariables.AuthenticatedUserRoles).Any(r => r == ApplicationRoles.ComplianceEnforcementStaff || r == ApplicationRoles.ComplianceEnforcementManager);
}

@Html.HiddenFor(m => m.PermitId)
<div id="rightSide" class="unpadded">
    <div class="scrollcontainer" preservescrollbarspace="y">
        <div>@Html.LabelFor(form => form.ComplianceStatus): <span id="CurrentComplianceStatus">@Model.ComplianceStatus</span> <span id="CurrentStatusLink" contenturl="@Url.Action(MVC.Permitting.Condition.EditPermitComplianceStatus(Model.PermitId))" title="Edit Permit Compliance Status" class="editLink spanLink">(edit)</span></div>
        <br />
        <div class="permitDetailsRightHorizontalSeparator filterheader ui-state-default" title="Close"><span class="renderBLArrow">▲</span>Violations</div>
        <div id="violationContainer" class="horizontalSepratorContentDiv">
            @if (isAuthorizedToAddEditDelete)
            {
                <input id="addViolationButton" contenturl="@Url.Action(MVC.Permitting.Enforcement.CreateViolation())" title="Create New Violation" type="button" value="Add Violation" style="margin-bottom:5px;" class="addLink" />
            }
            <table id="violationResults"></table>
        </div>
        <div class="permitDetailsRightHorizontalSeparator filterheader ui-state-default" title="Close"><span class="renderBLArrow">▲</span>Enforcement Actions</div>
        <div id="enforcementActionContainer" class="horizontalSepratorContentDiv">
            @if (isAuthorizedToAddEditDelete)
            {
                <input id="addEnforcementActionButton" contenturl="@Url.Action(MVC.Permitting.Enforcement.CreateEnforcementAction(Model.PermitId))" title="Create New Enforcement Action" type="button" value="Add Enforcement Action" style="margin-bottom:5px;" class="addLink" />
            }
            <table id="enforcementActionsResults"></table>
        </div>
        <div class="permitDetailsRightHorizontalSeparator filterheader ui-state-default" title="Close"><span class="renderBLArrow">▲</span>Penalties</div>
        <div id="penaltyContainer" class="horizontalSepratorContentDiv">
            @if (isAuthorizedToAddEditDelete)
            {
                <input id="addPenaltyButton" contenturl="@Url.Action(MVC.Permitting.Enforcement.CreatePenalty(Model.PermitId))" title="Create New Penalty" type="button" value="Create New Penalty" style="margin-bottom:5px;" class="addLink" />
            }
            <table id="penaltyResults"></table>
        </div>
    </div>
    <div id="deleteViolationDialog" style="display: none;" title="Delete Confirmation">
        Are you sure you want to delete this violation? Any related enforcement actions and penalties will also be deleted.
    </div>
    <div id="deletePenaltyDialog" style="display: none;" title="Delete Confirmation">
        Are you sure you want to delete this penalty?
    </div>
    <div id="deleteEnforcementActionDialog" style="display: none;" title="Delete Confirmation">
        Are you sure you want to delete this enforcement action?
    </div>
</div>
<style>
    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        background: #DCEBF7;
    }
</style>
<script type="text/javascript">
    $.requireScript('@Url.Content("~/Scripts/jquery.maskedinput-1.3.1.js")');
    $.requireScript('@Url.Content("~/Scripts/DateFormatter.js")');

    $(function () {
        $("#violationResults").on('click', "span.deleteViolationLink", function (e) {
            e.preventDefault();
            var targetUrl = $(this).attr("contenturl");

            $("#deleteViolationDialog").dialog({
                resizable: false,
                draggable: false,
                modal: true,
                buttons: {
                    "Delete": function () {
                        DeleteViolation(targetUrl);
                        $('#deleteViolationDialog').dialog("close");
                    },
                    "Cancel": function () {
                        $('#deleteViolationDialog').dialog("close");
                    }
                }
            });

            $('#deleteViolationDialog').dialog("open");
        });

        $('#enforcementActionsResults').on('click', 'span.deleteEnforcementActionLink', function (e) {
            e.preventDefault();
            var targetUrl = $(this).attr("contenturl");

            $('#deleteEnforcementActionDialog').dialog({
                resizable: false,
                draggable: false,
                modal: true,
                buttons: {
                    "Delete": function () {
                        DeleteEnforcementAction(targetUrl);
                        $('#deleteEnforcementActionDialog').dialog("close");
                    },
                    "Cancel": function () {
                        $('#deleteEnforcementActionDialog').dialog("close");
                    }
                }
            });

            $('#deleteEnforcementActionDialog').dialog("open");
        });

        $('#penaltyResults').on('click', 'span.deletePenaltyLink', function (e) {
            e.preventDefault();
            var targetUrl = $(this).attr("contenturl");

            $('#deletePenaltyDialog').dialog({
                resizable: false,
                draggable: false,
                modal: true,
                buttons: {
                    "Delete": function () {
                        $('#deletePenaltyDialog').dialog("close");
                        DeletePenalty(targetUrl);
                    },
                    "Cancel": function () {
                        $('#deletePenaltyDialog').dialog("close");
                    }
                }
            });

            $('#deletePenaltyDialog').dialog("open");
        });

        $("#violationResults").jqGrid({
            colModel: [
                { name: 'FileNumber', width: 100, sortable: false },
                { name: 'ViolationType', width: 250, sortable: false },
                { name: 'CreatedDate', width: 100, formatter: dateFormatter, sortable: false },
                { name: 'LastModifiedDate', width: 100, formatter: dateFormatter, sortable: false },
                { name: 'Status', width: 150, sortable: false },
                { name: 'Resolved', width: 100, formatter: resolvedFormatter, sortable: false },
                { name: 'Id', key: true, width: 10, index: 'Id', sortable: false, hidden: true },
                { name: 'EditLink', width: 50, formatter: editViolationLinkFormatter, sortable: false },
                { name: 'DeleteLink', width: 75, formatter: deleteViolationLinkFormatter, sortable: false }
            ],
            colNames: ['File Number', 'Type of Violation', 'Created', 'Updated', 'Comments', 'Resolved', 'Id', '', ''],
            height: "auto",
            scrollOffset: 0,
            gridComplete: function () {
                $('.editLink').modal();

                if ($("#violationResults").jqGrid('getGridParam', 'records') === 0) {
                    $("#addEnforcementActionButton").attr('disabled', 'disabled');
                    $("#gbox_violationResults").hide();
                    $("#gbox_violationResults #pager").hide();
                    if ($('#MsgNoViolation').length == 0) {
                        $('#violationContainer').append('<p id="MsgNoViolation">No Violations Have Been Added</p>');
                    }
                    $("#addPenaltyButton").prop('disabled', true);

                } else {
                    $("#gbox_violationResults").show();
                    $("#gbox_violationResults #pager").show();
                    $("#addEnforcementActionButton").prop('disabled', false);
                    if ($('#MsgNoViolation').length > 0) {
                        $('#MsgNoViolation').remove();
                    }
                    $("#addPenaltyButton").prop('disabled', false);
                }
                $(this).jqGrid("fixGridWidth");
            },
            onSelectRow: function (id) {
                var actionGrid = $('#enforcementActionsResults'),
                    penaltyGrid = $('#penaltyResults');

                // Select related enforcement actions
                var actions = GetEnforcementActions(id);
                actionGrid.jqGrid('resetSelection');
                for (var i = 0; i < actions.length; i++) {
                    actionGrid.jqGrid('setSelection', actions[i]);
                }

                // Select related penalties
                var penalties = GetPenalties(id);
                penaltyGrid.jqGrid('resetSelection');
                for (var y = 0; y < penalties.length; y++) {
                    penaltyGrid.jqGrid('setSelection', penalties[y]);
                }

            },
            url: '@Url.Action(MVC.Permitting.Enforcement.ViolationsData())?permitId=' + $("#PermitId").val()
        });

        $("#enforcementActionsResults").jqGrid({
            colModel: [
                { name: 'ActionName', width: 175, sortable: false },
                { name: 'Comments', width: 175, sortable: false },
                { name: 'ActionDate', width: 100, formatter: dateFormatter, sortable: false },
                { name: 'ResponseDueDate', width: 100, formatter: dateFormatter, sortable: false },
                { name: 'ResponseReceivedDate', width: 100, formatter: dateFormatter, sortable: false },
                { name: 'Id', key: true, width: 10, index: 'Id', sortable: false, hidden: true },
                { name: 'EditLink', width: 50, formatter: editEnforcementLinkFormatter, sortable: false },
                { name: 'DeleteLink', width: 75, formatter: deleteEnforcementLinkFormatter, sortable: false }
            ],
            colNames: ['Action', 'Comment', 'Date', 'Response Due Date', 'Response Received Date', 'Id', '', ''],
            height: "auto",
            scrollOffset: 0,
            gridComplete: function () {
                $('.editLink').modal();

                if ($(this).jqGrid('getGridParam', 'records') === 0) {
                    $("#gbox_enforcementActionsResults").hide();
                    $("#gbox_enforcementActionsResults #pager").hide();
                    if ($('#MsgNoEnforcementAction').length == 0) {
                        $('#enforcementActionContainer').append('<p id="MsgNoEnforcementAction">No Enforcement Actions Have Been Added</p>');
                    }
                } else {
                    $("#gbox_enforcementActionsResults").show();
                    $("#gbox_enforcementActionsResults #pager").show();
                    if ($('#MsgNoEnforcementAction').length > 0) {
                        $('#MsgNoEnforcementAction').remove();
                    }
                }
                $(this).jqGrid("fixGridWidth");
            },
            url: '@Url.Action(MVC.Permitting.Enforcement.EnforcementActionData())?permitId=' + $("#PermitId").val()
        });

        $("#penaltyResults").jqGrid({
            colModel: [
                { name: 'Amount', width: 350, formatter: currencyFormatter, sortable: false },
                { name: 'CreatedDate', width: 200, formatter: dateFormatter, sortable: false },
                { name: 'Id', key: true, width: 10, index: 'Id', sortable: false, hidden: true },
                { name: 'EditLink', width: 50, formatter: editPenaltyLinkFormatter, sortable: false },
                { name: 'DeleteLink', width: 75, formatter: deletePenaltyLinkFormatter, sortable: false }
            ],
            colNames: ['Penalty Amount', 'Penalty Date', 'Id', '', ''],
            height: "auto",
            scrollOffset: 0,
            gridComplete: function () {
                $('.editLink').modal();

                if ($(this).jqGrid('getGridParam', 'records') === 0) {
                    $("#gbox_penaltyResults").hide();
                    $("#gbox_penaltyResults #pager").hide();
                    if ($('#MsgNoPenalty').length == 0) {
                        $('#penaltyContainer').append('<p id="MsgNoPenalty">No Penalties Have Been Added</p>');
                    }
                } else {
                    $("#gbox_penaltyResults").show();
                    $("#gbox_penaltyResults #pager").show();
                    if ($('#MsgNoPenalty').length > 0) {
                        $('#MsgNoPenalty').remove();
                    }
                }
                $(this).jqGrid("fixGridWidth");
            },
            url: '@Url.Action(MVC.Permitting.Enforcement.PenaltyData())?permitId=' + $("#PermitId").val()
        });

    });

    function editViolationLinkFormatter(cellvalue, options, rowObject) {
        if (rowObject.IsEditDeleteAllowed) {
            return '<span contenturl="@Url.Action(MVC.Permitting.Enforcement.EditViolation())?id=' + rowObject.Id + '&permitId=' + $("#PermitId").val() + '" title="Edit Violation" class="editLink spanLink">Edit</span>';
        }
        else {
            return '';
        }
    }

    function editEnforcementLinkFormatter(cellvalue, options, rowObject) {
        if (rowObject.IsEditDeleteAllowed) {
            return '<span contenturl="@Url.Action(MVC.Permitting.Enforcement.EditEnforcementAction())?id=' + rowObject.Id + '&permitId=' + $("#PermitId").val() + '" title="Edit Enforcement Action" class="editLink spanLink">Edit</span>';
        }
        else {
            return '';
        }
    }

    function editPenaltyLinkFormatter(cellvalue, options, rowObject) {
        if (rowObject.IsEditDeleteAllowed) {
            return '<span contenturl="@Url.Action(MVC.Permitting.Enforcement.EditPenalty())?id=' + rowObject.Id + '&permitId=' + $("#PermitId").val() + '" title="Edit Penalty" class="editLink spanLink">Edit</span>';
        } else {
            return '';
        }
    }

    function deleteViolationLinkFormatter(cellvalue, options, rowObject) {
        if (rowObject.IsEditDeleteAllowed) {
            return '<span contenturl="@Url.Action(MVC.Permitting.Enforcement.DeleteViolation())?id=' + rowObject.Id + '" title="Delete Violation" class="deleteViolationLink spanLink">Delete</span>';
        }
        else {
            return '';
        }
    }

    function deletePenaltyLinkFormatter(cellvalue, options, rowObject) {
        if (rowObject.IsEditDeleteAllowed) {
            return '<span contenturl="@Url.Action(MVC.Permitting.Enforcement.DeletePenalty())?id=' + rowObject.Id + '" title="Delete Penalty" class="deletePenaltyLink spanLink">Delete</span>';
        }
        else {
            return '';
        }
    }

    function deleteEnforcementLinkFormatter(cellvalue, options, rowObject) {
        if (rowObject.IsEditDeleteAllowed) {
            return '<span contenturl="@Url.Action(MVC.Permitting.Enforcement.DeleteEnforcementAction())?id=' + rowObject.Id + '" title="Delete Enforcement Action" class="deleteEnforcementActionLink spanLink">Delete</span>';
        }
        else {
            return '';
        }
    }

    function GetEnforcementActions(violationId) {
        var ids = new Array();
        $.ajax({
            url: '@Url.Action(MVC.Permitting.Enforcement.ViolationEnforcementActionData())?violationId=' + violationId,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                for (var i = 0; i < data.Data.length; i++) {
                    ids.push(data.Data[i].Id);
                }
            }
        });
        return ids;
    }

    function GetPenalties(violationId) {
        var ids = [];
        $.ajax({
            url: '@Url.Action(MVC.Permitting.Enforcement.ViolationPenaltyData())?violationId=' + violationId,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                for (var i = 0; i < data.Data.length; i++) {
                    ids.push(data.Data[i].Id);
                }
            }
        });
        return ids;
    }

    function DeleteViolation(url) {
        $.ajax({
            url: url,
            type: 'DELETE',
            success: function () {
                $('#violationResults').trigger("reloadGrid");
                $('#enforcementActionsResults').trigger("reloadGrid");
                $('#penaltyResults').trigger("reloadGrid");
            }
        });
    }

    function DeletePenalty(url) {
        $.ajax({
            url: url,
            type: 'DELETE',
            success: function () {
                $('#penaltyResults').trigger("reloadGrid");
            }
        });
    }

    function DeleteEnforcementAction(url) {
        $.ajax({
            url: url,
            type: 'DELETE',
            success: function () {
                $('#enforcementActionsResults').trigger("reloadGrid");
            }
        });
    }

    function resolvedFormatter(cellvalue, options, rowObject) {
        if (rowObject.Resolved) {
            return "Yes";
        } else {
            return "No";
        }
    }

    function dateFormatter(cellvalue) {
        if (cellvalue) {
            return (new Date(parseInt(cellvalue.replace("/Date(", "").replace(")/", ""), 10))).format('m/dd/yyyy');
        }
        else {
            return '';
        }
    }

    function currencyFormatter(cellvalue) {
        if (cellvalue) {
            return '$' + cellvalue.toFixed(2);
        }
        else {
            return '';
        }
    }
</script>
