﻿@model IplTabForm
<div id="rightSide" class="unpadded">
    <div class="scrollcontainer" preservescrollbarspace="y">
        @if (Model.PermitCategoryId == 6)
        {
            <input type="button" class="disabled ui-button-disabled ui-state-disabled" id="addIPLbutton" value="Add New Interested Party" />
        }
        else
        {
            <input type="button" id="addIPLbutton" value="Add New Interested Party" />
        }

        @Html.ActionLink("Print Labels", MVC.Permitting.Permit.GenerateAveryLabelsForIPL(Model.PermitId), new { @class = "searchNavigationSpanLink", target = "_blank" })
        | <a href="http://@(System.Configuration.ConfigurationManager.AppSettings["ReportsServer"].ToString())/ReportServer/Pages/ReportViewer.aspx?%2fWSIPS%2fInterestedPartyList&PermitName=@(Model.PermitName)&rc:Zoom=Page+Width" class="searchNavigationSpanLink" target="_blank">Report</a><br />
        <br />
        <div id="iplGridContainer" style="display: none;">
            <table id="iplGrid"></table>
        </div>
    </div>
    <div id="AddIPLContact_tmpl" style="display: none;">
        @using (Ajax.BeginForm(MVC.Contact.SavePermitContact(), new AjaxOptions { HttpMethod = "POST" }))
        {
            @Html.HiddenFor(m => m.PermitId)
            @Html.Partial(MVC.Permitting.Permit.Views.DetailsPartials._iplContact, Model.IplContact)
        }
    </div>
    <div id="EditIPLContact_tmpl" style="display: none;">
        @using (Ajax.BeginForm(MVC.Contact.SavePermitContact(), new AjaxOptions { HttpMethod = "POST" }))
        {
            @Html.HiddenFor(m => m.PermitId)
            <div id="DynamicContent">
            </div>
        }
    </div>
    <div id="iplDeleteDialog" title="Delete Contact" style="display: none;">
        Are you sure you want to delete this contact?
    </div>
</div>
<script>
    var isEditable = @(SessionHandler.GetSessionVar<IEnumerable<string>>(SessionVariables.AuthenticatedUserRoles).Any(r => r == ApplicationRoles.PermitSupervisor || r == ApplicationRoles.DivisionChief).ToString().ToLower());
    var permitCategoryId = '@Model.PermitCategoryId';
    $(function () {
        loadIPLgrid();
        addIPLbuttonClick();
        $('#AddIPLContact_tmpl,#EditIPLContact_tmpl').find("[id]").each(function () { $(this).prop("id", $(this).prop("id") + "_tmpl"); });
        $('#AddIPLContact_tmpl,#EditIPLContact_tmpl').find("[name]").each(function () { $(this).prop("name", $(this).prop("name") + "_tmpl"); });
    });

    function loadIPLgrid() {
        $("#iplGrid").jqGrid({
            colModel: [
                { name: 'LName', jsonmap: "LastName", width: "15%" },
                { name: 'FName', jsonmap: "FirstName", width: "15%" },
                { name: 'BName', jsonmap: "BusinessName", width: "20%" },
                { name: 'Address', jsonmap: "Address1", width: "25%" },
                { name: 'Email', width: "15%" },
                { name: 'edit', formatter: editFormatter, width: "5%" },
                { name: 'delete', formatter: removeFormatter, width: "5%" }
            ],
            url: '@Url.Action(MVC.Contact.Data())',
            postData: { id: '@Model.PermitId', contactTypeId: 15 },
            colNames: ['Last Name', 'First Name', 'Business Name', 'Address', 'Email', '', ''],
            gridComplete: function () {
                if (jQuery("#iplGrid").jqGrid('getGridParam', 'records') == 0) {
                    $("#iplGridContainer").hide();
                    $("#MsgNoiplGrid").detach();
                    $("#addIPLbutton").parent().append('<p id="MsgNoiplGrid">No interested parties currently added</p>');
                } else {
                    $("#MsgNoiplGrid").detach();
                    $("#iplGridContainer").show();
                }
            },
            datatype: "json",
            autowidth: true,
            rowNum: '',
            scrollOffset: 0,
            forceFit: true,
            height: "auto"
        });
    }

    function editFormatter(cellvalue, options, rowObject) {
        if (permitCategoryId != 6 || isEditable) {
            return '<span class="spanLink editLink" data-permitcontactid="' + rowObject.Id + '">Edit</span>';
        }

        return '';
    }

    function removeFormatter(cellvalue, options, rowObject) {
        if (permitCategoryId != 6) {
            return '<span class="spanLink removeLink" data-permitcontactid="' + rowObject.Id + '">Remove</span>';
        }

        return '';
    }

    $('#iplGrid').on('click', '.editLink', function () {
        var permitContactId = $(this).attr('data-permitcontactid');
        $.ajax({
            url: '@Url.Action(MVC.Permitting.Permit.GetIplContact())',
            data: { permitContactId: permitContactId },
            cache: false,
            success: function (response) {
                var $clone = $('#EditIPLContact_tmpl').clone();
                $clone.find("[id]").andSelf().each(function () { $(this).prop("id", $(this).prop("id").slice(0, -5)); });
                $clone.find("[name]").each(function () { $(this).prop("name", $(this).prop("name").slice(0, -5)); });
                $clone.find('#DynamicContent').html(response);
                $clone.find('#IsBusiness').remove();
                $clone.dialog({
                    open: function () {
                        $form = $(this).find("form");
                        $form.removeData("validator");
                        $form.removeData("unobtrusiveValidation");
                        $.validator.unobtrusive.parse($form);
                        $form.data("validator").settings.ignore = ".ignoreValidation";

                        // Telephone mask
                        $(this).find('#TelephoneNumberValidation').hide();
                        $(this).find('[id$="PrimaryTelephoneNumber_CommunicationValue"]').mask("999-999-9999");
                        $(this).find('[id$="AltTelephoneNumber_CommunicationValue"]').mask("999-999-9999");
                    },
                    modal: true,
                    resizable: false,
                    draggable: false,
                    position: 'center',
                    title: 'Edit Interested Party',
                    width: 700,
                    close: function () {
                        $(this).dialog("destroy");
                        $(this).remove();
                    },
                    buttons: [
                        {
                            text: 'Save',
                            click: function () {
                                if ($form.find('[name=IsBusiness]:checked').val() == "true") {
                                    $form.find('#FirstName').addClass('ignoreValidation');
                                    $form.find('#LastName').addClass('ignoreValidation');
                                    $form.find('#BusinessName').removeClass('ignoreValidation');
                                }
                                else {
                                    $form.find('#FirstName').removeClass('ignoreValidation');
                                    $form.find('#LastName').removeClass('ignoreValidation');
                                    $form.find('#BusinessName').addClass('ignoreValidation');
                                }

                                if ($form.valid()) {
                                    $form.submit();
                                    $(this).dialog("close");
                                    $("#iplGrid").trigger("reloadGrid");
                                }
                            }
                        },
                        {
                            text: 'Cancel',
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
            }
        });
    })

    $('#iplGrid').on('click', '.removeLink', function () {
        var permitContactId = $(this).attr('data-permitcontactid');
        $('#iplDeleteDialog').dialog({
            modal: true,
            position: "center",
            width: 500,
            buttons: {
                "Yes": function () {
                    $.ajax({
                        url: '@Url.Action(MVC.Permitting.Permit.RemovePermitContact())',
                        type: 'POST',
                        data: { permitContactId: permitContactId },
                        success: function (response) {
                            $("#iplGrid").trigger("reloadGrid");
                        }
                    });

                    $(this).dialog("close");
                },
                "No": function () {
                    $(this).dialog("close");
                },
            }
        });
    });

    function addIPLbuttonClick() {
        $("#addIPLbutton").click(function () {
            if (!$(this).hasClass('disabled')) {
                var $clone = $('#AddIPLContact_tmpl').clone();
                $clone.find("[id]").andSelf().each(function () { $(this).prop("id", $(this).prop("id").slice(0, -5)); });
                $clone.find("[name]").each(function () { $(this).prop("name", $(this).prop("name").slice(0, -5)); });
                $clone.find('#IsBusiness').remove();
                $clone.dialog({
                    open: function () {
                        $form = $(this).find("form");
                        $form.removeData("validator");
                        $form.removeData("unobtrusiveValidation");
                        $.validator.unobtrusive.parse($form);
                        $form.data("validator").settings.ignore = ".ignoreValidation";

                        // Telephone mask
                        $(this).find('#TelephoneNumberValidation').hide();
                        $(this).find('[id$="PrimaryTelephoneNumber_CommunicationValue"]').mask("999-999-9999");
                        $(this).find('[id$="AltTelephoneNumber_CommunicationValue"]').mask("999-999-9999");
                    },
                    modal: true,
                    resizable: false,
                    draggable: false,
                    position: 'center',
                    title: 'Add Interested Party',
                    width: 700,
                    close: function () {
                        $(this).dialog("destroy");
                        $(this).remove();
                    },
                    buttons: [
                        {
                            text: 'Save',
                            click: function () {
                                if ($form.find('#BusinessName').val().length) {
                                    $form.find('#FirstName').addClass('ignoreValidation');
                                    $form.find('#LastName').addClass('ignoreValidation');
                                }
                                else {
                                    $form.find('#FirstName').removeClass('ignoreValidation');
                                    $form.find('#LastName').removeClass('ignoreValidation');
                                }

                                if ($form.valid()) {
                                    $form.submit();
                                    $(this).dialog("close");
                                    $("#iplGrid").trigger("reloadGrid");
                                }
                            }
                        },
                        {
                            text: 'Cancel',
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
            }
        });
    }

    function reloadGrid() {
        $("#iplGrid").trigger("reloadGrid");
    }
</script>
