﻿@model PumpageContactForm
<div class="scrollcontainer" preservescrollbarspace="y">
    <div style="padding: 20px;">
        <div style="float: left;">
            <span class="detailsTabButtons">
                <input id="AddPumpageContactButton" type="button" value="Search Contacts" />
            </span>
        </div>
        <div style="float: right;">
            <span class="detailsTabButtons">
                <input id="SavePumpageContactButton" type="button" value="Save" />
            </span>
        </div>
    </div>
    <div style="padding-top: 40px;">
        @using (Ajax.BeginForm(MVC.Permitting.Permit.AddPumpageContact(), new AjaxOptions { HttpMethod = "POST", OnSuccess = "SaveCallBackPumpageContact" }, new { @id = "pumpageContactForm" }))
        {
            @Html.HiddenFor(m => m.PermitId)
            @Html.EditorFor(m => m.Contact)
        }
    </div>
    <div id="contactSearch" style="display: none;">
        @Html.Partial(MVC.Permitting.Permit.Views.DetailsPartials._ContactSearch, new ContactSearchForm())
    </div>
    <div id="contactSearchResult" style="display: none">
        @Html.Partial(MVC.Permitting.Permit.Views.ContactSearchResult, new ApplicationWizard())
    </div>
</div>
<script type="text/javascript">
    $.requireScript('@Url.Content("~/Scripts/jquery.maskedinput-1.3.1.js")');
    $.requireScript('@Url.Content("~/Scripts/ViewScripts/Permit/PermitDetail/ApplicationSummary.js")');
    $.requireScript('@Url.Content("~/bundles/ViewScripts/Permit/Base")');
    $.requireScript('@Url.Content("~/bundles/ViewScripts/Permit/PermitDetail")');

    $(document).ready(function () { 
        ContactSearch.GridDataUrl = '@Url.Action(MVC.Permitting.Permit.SearchContact())'; 
    });

    function SaveCallBackPumpageContact(response) {
        if (response.success) {
            alert('Saved successfully');
        }
        else {
            alert('There is a data quality issue that is preventing this permit from saving. Please verify that all required data has been provided for each permit detail section and then save.');
        }
    }
</script>
