﻿@model ReviewTabForm
<style>
    .permitstatusbutton.disabled, .finalizebutton.disabled {
        opacity: 0.5;
        cursor: default;
        border: 1px solid #AAAAAA;
    }
</style>
@Html.HiddenFor(m => m.PermitId)
@Html.HiddenFor(m => m.PermitStatusId)
<div id="leftSide" class="renderbodyLeft unpadded renderbodyLeftGrayBorder">
    <div class="scrollcontainer">
        @Html.Partial(MVC.Permitting.Permit.Views.DetailsPartials._PermitStatusOptions, Model.PermitStatusDetail)

        <div class="renderbodyLeftHeader filterheader ui-state-default" title="Hide content"><span class="renderBLArrow">&#x25B2;</span>Review Steps</div>
        <div id="statusLinks">
            @if (Model.PermitStatusId != 0)
            {
                if (Model.PermitStatusDetail.PermitStatusNav != null)
                {
                    foreach (var item in Model.PermitStatusDetail.PermitStatusNav)
                    {
                        if (Model.PermitStatusId == item.Id)
                        {
                            <div class="permitStatusLink reviewStepsLinks wizardStepActive" data-permitstatusid="@item.Id">@item.Description</div>
                        }
                        else
                        {
                            <div class="permitStatusLink reviewStepsLinks" data-permitstatusid="@item.Id">@item.Description</div>
                        }
                    }
                }
                else
                {
                    <text>No Review Steps Found</text>
                }
            }
        </div>
        <div class="renderbodyLeftHeader filterheader ui-state-default" style="margin-top: 20px;" title="Hide content"><span class="renderBLArrow">&#x25B2;</span>Tools & Links</div>
        <div id="toolsLinks">
            <div class="reviewStepsLinks" data-clickurl="http://sdatcert3.resiusa.org/rp_rewrite/">SDAT Property Search</div>
            <div class="reviewStepsLinks" data-clickurl="http://sdatcert3.resiusa.org/ucc-charter/">SDAT Charter</div>
            <div class="reviewStepsLinks" data-clickurl="http://mdenet:8124">HB935</div>
            <div class="reviewStepsLinks" data-clickurl="http://www.nationalatlas.gov/mapmaker?AppCmd=CUSTOM&LayerList=Aquifers&visCats=CAT-hydro,CAT-aquifers">National Atlas</div>
            <div class="reviewStepsLinks" data-clickurl="http://mdelect.net">Elected Official Search</div>
        </div>
    </div>
</div>
<div id="rightSide" class="renderbodyRight unpadded">
    @Html.Partial(MVC.Permitting.Permit.Views.DetailsPartials._FinalizePermit, Model)
    <div class="scrollcontainer" preservescrollbarspace="y">
        <div style="position: relative; height: 50px;">
            <div style="position: absolute; left: 0px; line-height: 30px; font-weight: bold;">
                Review for @Model.PermitType
            </div>
            <div style="position: absolute; right: 0px;">
                <span id="MarkAsCompleteSpan" style="display: none;">
                    <input type="button" data-posturl="@Url.Action(MVC.Permitting.Permit.UpdateStatus())" id="MarkAsComplete" class="permitstatusbutton" value="Mark as Complete" />
                </span>
                <span id="MarkAsIncompleteSpan" style="display: none;">
                    <input type="button" data-posturl="@Url.Action(MVC.Permitting.Permit.UpdateStatus())" id="MarkAsIncomplete" class="permitstatusbutton" value="Mark as Incomplete" />
                </span>
                <span id="CompletedByAndDate"></span>
                <input type="button" class="finalizebutton" id="approvePermitButton" value="Approve Permit" style="display: none">
                <input type="button" class="finalizebutton" id="denyPermitButton" style="display: none" value="Deny Permit" />
            </div>
        </div>
        <div id="checklistControlContainer">
            <div class="permitDetailsRightHorizontalSeparator filterheader ui-state-default" title="Close"><span class="renderBLArrow">▲</span>Checklist</div>
            <div id="checklistDiv" style="padding: 15px 5px 15px 15px;">
            </div>
        </div>
        <div id="documentsControlContainer">
            <div class="permitDetailsRightHorizontalSeparator filterheader ui-state-default" title="Close"><span class="renderBLArrow">▲</span>Files</div>
            <div id="docDiv" style="padding: 15px 5px 15px 15px;">
            </div>
        </div>
        <div id="commentsControlContainer">
            <div class="permitDetailsRightHorizontalSeparator filterheader ui-state-default" title="Close"><span class="renderBLArrow">▲</span>Comments</div>
            <div id="commentDiv" style="padding: 15px 5px 15px 15px;">
            </div>
            @Html.Partial(MVC.Permitting.Permit.Views.DetailsPartials._PublicComment, new PublicCommentForm())
        </div>
        <div id="hearingDivContainer"></div>
        <div id="advertisementFeesDivContainer"></div>
    </div>
</div>
<script type="text/javascript">
    var loadRightSide = function () {
        var permitId = $('#PermitId').val(),
            permitStatusId = $('#PermitStatusId').val();

        loadChecklist();
        loadDocuments();
        loadComments();

        if (permitStatusId == 20 || permitStatusId == 21) {
            loadPermitHearing();
        }
        else {
            $("#hearingDivContainer").empty();
        }

        if (permitStatusId == 18) {
            loadAdvertisementFeeGrid();
        }
        else {
            $("#advertisementFeesDivContainer").empty();
        }

        function loadChecklist() {
            $.ajax({
                url: '@Url.Action(MVC.Permitting.Permit.LoadChecklist())',
                type: 'GET',
                data: { id: permitId, permitStatus: permitStatusId },
                success: function (response) {
                    $("#checklistDiv").html(response);
                    $('#checklistDiv input[type=checkbox]').checkbox();
                }
            });
        }

        function loadDocuments() {
            // load files grid
            $.ajax({
                url: '@Url.Action(MVC.Upload.Document())',
                type: 'GET',
                data: { refTable: "Permit", refId: permitId, permitStatusId: permitStatusId },
                success: function (response) {
                    $("#docDiv").html(response);
                    UploadDocument.InitializeVariables("Permitting");

                    $("#uploadDashboardGrid").hideCol("permitStatus");
                    $("#uploadDashboardGrid").jqGrid("fixGridWidthRBRLargePadding");

                    if ($('#CategoryId').val() == 6 || $('#CategoryId').val() == 7) { // uploading or deleting files is not allowed when category id is 6 or 7
                        UploadDocument.makeReadOnly()
                    }
                }
            });
        }

        function loadComments() {
            // load comments grid
            $.ajax({
                url: '@Url.Action(MVC.Comment.LoadCommentsView())',
                type: 'GET',
                data: { refTable: "Permit", refId: permitId, permitStatusId: permitStatusId },
                success: function (response) {
                    $("#commentDiv").html(response);
                    $("#commentDashboardGrid").hideCol("permitStatusId");
                    if ((permitStatusId == 19 || permitStatusId == 79) && !Comment.MakeReadOnly) {
                        $("#addPublicCommentButton").show()
                        PublicComment.Initialize(permitId, false)
                    }
                    if ($('#CategoryId').val() == 6 || $('#CategoryId').val() == 7) { // uploading or deleting files is not allowed when category id is 6 or 7
                        Comment.makeReadOnly()
                    }
                }
            });
        }

        function loadPermitHearing() {
            $.ajax({
                url: '@Url.Action(MVC.Permitting.Permit.LoadPermitHearing())',
                type: 'GET',
                data: { Permitid: permitId, PermitStatusId: permitStatusId },
                success: function (response) {
                    $("#hearingDivContainer").html(response);
                }
            });
        }

        function loadAdvertisementFeeGrid() {
            $.ajax({
                url: '@Url.Action(MVC.Permitting.Enforcement.LoadAdvertisementFee())',
                type: 'GET',
                data: { Permitid: permitId },
                success: function (response) {
                    $("#advertisementFeesDivContainer").html(response);
                }
            });
        }
    }
</script>
