﻿@model ApplicationWizard
<div class="divVerticalBottomSpacerDouble">
    <div><b>Commercial drinking/sanitary - Use Percentage: </b>@Html.TextBox("WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.UsePercentage", Model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.UsePercentage, new { @class = "textboxSmall" })</div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Type of facility
        </span>
        @Html.DropDownListFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.TypeOfFacilityId, Model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.FacilityList, new { @class = "required" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.TypeOfFacilityId)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Area (Sq footage)
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.AreaOrSquareFootage, new { @class = "required decimalInput" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.AreaOrSquareFootage)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            No of employees
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.NoOfEmployees, new { @class = "required commaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.NoOfEmployees)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Average number of customers per day
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.AvgNumberOfCustomersPerDay, new { @class = "required commaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.AvgNumberOfCustomersPerDay)
    </div>
    <div id="RestaurantOption" style="display: none;">
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">
                Restaurant Type
            </span>
            @Html.DropDownListFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.RestaurantTypeId, Model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.RestaurantTypeList, new { @class = "required" })
            <span>*</span>
            @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.RestaurantTypeId)
        </div>
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">
                No of seats
            </span>
            @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.NoOfSeats, new { @class = "required commaInserted" })
            <span>*</span>
            @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.NoOfSeats)
        </div>
    </div>
    <div id="MarinasOption" style="display: none;">
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">
                No of slips
            </span>
            @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.NoOfSlips, new { @class = "required commaInserted" })
            <span>*</span>
            @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.NoOfSlips)
        </div>
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Groundwater, Average No. of Gallons per day to be withdrawn on an annual basis
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.AverageGallonPerDayFromGroundWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.AverageGallonPerDayFromGroundWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Groundwater, Gallons per day to be withdrawn during month of maximum use
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.MaximumGallonPerDayFromGroundWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.MaximumGallonPerDayFromGroundWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Surface Water, Average No. of Gallons per day to be withdrawn on an annual basis
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.AverageGallonPerDayFromSurfaceWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.AverageGallonPerDayFromSurfaceWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Surface Water, Maximum gallons per day to be withdrawn
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.MaximumGallonPerDayFromSurfaceWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.MaximumGallonPerDayFromSurfaceWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Describe how estimate was derived
        </span>
        @Html.TextAreaFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.EstimateDescription, new { style = "width: 275px; vertical-align: top;", @class = "required" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.EstimateDescription)
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var id = $('#WaterUseDetailForm_PermitWwCommercialDrinkingOrSanitaryForm_TypeOfFacilityId').val();

        if (id == "1") {
            $('#RestaurantOption').show();
        }
        else if (id == "5") {
            $('#MarinasOption').show();
        }
    });

    $('#WaterUseDetailForm_PermitWwCommercialDrinkingOrSanitaryForm_TypeOfFacilityId').change(function () {

        $('#RestaurantOption').hide();
        $('#MarinasOption').hide();
        var id = $(this).val();
        
        if (id == "1") {
            $('#RestaurantOption').show();
        }
        else if (id == "5") {
            $('#MarinasOption').show();
        }
    });
</script>