﻿@model ApplicationWizard
<div class="divVerticalBottomSpacerDouble">
    <div><b>Construction Dewatering - Use Percentage: </b>@Html.TextBox("WaterUseDetailForm.PermitWwConstructionDewateringForm.UsePercentage", Model.WaterUseDetailForm.PermitWwConstructionDewateringForm.UsePercentage, new { @class = "textboxSmall" })</div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Area of excavation (in sq. ft)
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwConstructionDewateringForm.AreaOfExcavation, new { @class = "required commaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwConstructionDewateringForm.AreaOfExcavation)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Depth of excavation (in feet)
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwConstructionDewateringForm.DepthOfExcavation, new { @class = "required commaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwConstructionDewateringForm.DepthOfExcavation)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            No. of pumps
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwConstructionDewateringForm.NoOfPumps, new { @class = "required commaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwConstructionDewateringForm.NoOfPumps)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Capacity of pumps
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwConstructionDewateringForm.CapacityOfPumps, new { @class = "required commaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwConstructionDewateringForm.CapacityOfPumps)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Hours of operation per day
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwConstructionDewateringForm.HoursOfOperationPerDay, new { @class = "required commaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwConstructionDewateringForm.HoursOfOperationPerDay)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            How is water removed from excavation
        </span>
        @Html.DropDownListFor(model => model.WaterUseDetailForm.PermitWwConstructionDewateringForm.WaterRemovalExcavationTypeId, Model.WaterUseDetailForm.PermitWwConstructionDewateringForm.WaterRemovalExcavationTypeList, new { @class = "required" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwConstructionDewateringForm.WaterRemovalExcavationTypeId)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Groundwater, Average No. of Gallons per day to be withdrawn on an annual basis
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwConstructionDewateringForm.AverageGallonPerDayFromGroundWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwConstructionDewateringForm.AverageGallonPerDayFromGroundWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Groundwater, Gallons per day to be withdrawn during month of maximum use
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwConstructionDewateringForm.MaximumGallonPerDayFromGroundWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwConstructionDewateringForm.MaximumGallonPerDayFromGroundWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Surface Water, Average No. of Gallons per day to be withdrawn on an annual basis
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwConstructionDewateringForm.AverageGallonPerDayFromSurfaceWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwConstructionDewateringForm.AverageGallonPerDayFromSurfaceWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Surface Water, Maximum gallons per day to be withdrawn
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwConstructionDewateringForm.MaximumGallonPerDayFromSurfaceWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwConstructionDewateringForm.MaximumGallonPerDayFromSurfaceWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Describe how estimate was derived
        </span>
        @Html.TextAreaFor(model => model.WaterUseDetailForm.PermitWwConstructionDewateringForm.EstimateDescription, new { style = "width: 275px; vertical-align: top;", @class = "required" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwConstructionDewateringForm.EstimateDescription)
    </div>
</div>