﻿@model CropForm
<div class="itemContainer">
    @{var index = ViewData["index"];}

    @Html.Hidden("WaterUseDetailForm.CropUseForm.CropForms[" + index + "].HasDeleted", Model.HasDeleted)

    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">Type of Crop
        </span>
        @Html.DropDownList("WaterUseDetailForm.CropUseForm.CropForms[" + index + "].CropId", new SelectList(Model.CropTypeList, "Value", "Text", Model.CropId), new { @class = "required" })
        <span>*</span>
        @Html.ValidationMessage("WaterUseDetailForm.CropUseForm.CropForms[" + index + "].CropId")
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">No. of Irrigated Acres
        </span>
        @Html.TextBox("WaterUseDetailForm.CropUseForm.CropForms[" + index + "].IrrigatedAcres", Model.IrrigatedAcres, new { @class = "required decimalInput" })
        <span>*</span>
        @Html.ValidationMessage("WaterUseDetailForm.CropUseForm.CropForms[" + index + "].IrrigatedAcres")
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">Irrigation System Used
        </span>
        @Html.DropDownList("WaterUseDetailForm.CropUseForm.CropForms[" + index + "].IrrigationSystemTypeId", new SelectList(Model.IrrigationSystemTypeList, "Value", "Text", Model.IrrigationSystemTypeId), new { @class = "wastewaterSelect required" })
        <span>*</span>
        @Html.ValidationMessage("WaterUseDetailForm.CropUseForm.CropForms[" + index + "].IrrigationSystemTypeId")
    </div>
    <div id="otherDescripption" style="display: none;">
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">If other, please describe
            </span>
            @Html.TextBox("WaterUseDetailForm.CropUseForm.CropForms[" + index + "].IrrigationSystemDescription", Model.IrrigationSystemDescription, new { @class = "required" })
            <span>*</span>
            @Html.ValidationMessage("WaterUseDetailForm.CropUseForm.CropForms[" + index + "].IrrigationSystemDescription")
        </div>
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">Crop Yield Goal</span>
        @Html.TextBox("WaterUseDetailForm.CropUseForm.CropForms[" + index + "].CropYieldGoal", Model.CropYieldGoal, new { @class = "required commaInserted" })
        <span>*</span>
        @Html.ValidationMessage("WaterUseDetailForm.CropUseForm.CropForms[" + index + "].CropYieldGoal")
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">Units</span>
        @Html.DropDownList("WaterUseDetailForm.CropUseForm.CropForms[" + index + "].CropYieldUnitId", new SelectList(Model.CropYieldUnitList, "Value", "Text", Model.CropYieldUnitId), new { @class = "required" }) <span>*</span>
        @Html.ValidationMessage("WaterUseDetailForm.CropUseForm.CropForms[" + index + "].CropYieldUnitId")
    </div>
    <div style="text-align: center;" class="divVerticalBottomSpacer">
        <input type="button" onclick="WaterUseDetail.Delete($(this))" value="Delete" />
    </div>
</div>
