﻿@model ApplicationWizard
<div class="divVerticalBottomSpacerDouble">
    <div><b>Institutional Educational (drinking/sanitary) - Use Percentage: </b>@Html.TextBox("WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.UsePercentage", Model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.UsePercentage, new { @class = "textboxSmall" })</div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Type of facility
        </span>
        @Html.DropDownListFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.EducationInstituteTypeId, Model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.EducationInstituteTypeList, new { @class = "required" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.EducationInstituteTypeId)
    </div>
    <div id="SchoolOption" style="display: none;">
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">
                No of Staff
            </span>
            @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStaff, new { @class = "required commaInserted" })
            <span>*</span>
            @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStaff)
        </div>
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">
                No of students
            </span>
            @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStudents, new { @class = "required commaInserted" })
            <span>*</span>
            @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStudents)
        </div>
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">
                Athletic field irrigation
            </span>
            @Html.CheckBoxFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.IsAthleticFieldIrrigation, new { @class = "yesNo" })
            <span>*</span>
            @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.IsAthleticFieldIrrigation)
        </div>
        <div id="NoOfIrrigatedAcresOptions" style="display:none;">
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded">
                    No of irrigated acres
                </span>
                @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfIrrigatedAcres, new { @class = "required commaInserted" })
                <span>*</span>
                @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfIrrigatedAcres)
            </div>
        </div>
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">
                Chillers
            </span>
            @Html.CheckBoxFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.Chillers, new { @class = "yesNo" })
            <span>*</span>
            @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.Chillers)
        </div>
    </div>
    <div id="DaycareOption" style="display: none;">
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">
                No of staff working more than 20 hrs per week
            </span>
            @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStaffWorkingMorethan20hrsPerWeek, new { @class = "required commaInserted" })
            <span>*</span>
            @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStaffWorkingMorethan20hrsPerWeek)
        </div>
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">
                No of staff working less than 20 hrs per week
            </span>
            @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStaffWorkingLessthan20hrsPerWeek, new { @class = "required commaInserted" })
            <span>*</span>
            @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStaffWorkingLessthan20hrsPerWeek)
        </div>
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">
                No students attending more than 20 hrs per week
            </span>
            @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStudentsAttendingMorethan20hrsPerWeek, new { @class = "required commaInserted" })
            <span>*</span>
            @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStudentsAttendingMorethan20hrsPerWeek)
        </div>
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">
                No students attending less than 20 hrs per week
            </span>
            @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStudentsAttendingLessthan20hrsPerWeek, new { @class = "required commaInserted" })
            <span>*</span>
            @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStudentsAttendingLessthan20hrsPerWeek)
        </div>
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Groundwater, Average No. of Gallons per day to be withdrawn on an annual basis
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.AverageGallonPerDayFromGroundWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.AverageGallonPerDayFromGroundWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Groundwater, Gallons per day to be withdrawn during month of maximum use
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.MaximumGallonPerDayFromGroundWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.MaximumGallonPerDayFromGroundWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Surface Water, Average No. of Gallons per day to be withdrawn on an annual basis
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.AverageGallonPerDayFromSurfaceWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.AverageGallonPerDayFromSurfaceWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Surface Water, Maximum gallons per day to be withdrawn
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.MaximumGallonPerDayFromSurfaceWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.MaximumGallonPerDayFromSurfaceWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Describe how estimate was derived
        </span>
        @Html.TextAreaFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.EstimateDescription, new { style = "width: 275px; vertical-align: top;", @class = "required" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.EstimateDescription)
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var $this = $('#WaterUseDetailForm_PermitWwEducationalDrinkingOrsanitaryForm_EducationInstituteTypeId');

        if ($this.val() == "1") {
            $('#SchoolOption').show();
            $('#DaycareOption').hide();
        }
        else if ($this.val() == "2") {
            $('#SchoolOption').hide();
            $('#DaycareOption').show();
        }

        var $this = $('#WaterUseDetailForm_PermitWwEducationalDrinkingOrsanitaryForm_IsAthleticFieldIrrigation');
        if ($this.is(':checked')) {
            $('#NoOfIrrigatedAcresOptions').show();
        }
        else{
            $('#NoOfIrrigatedAcresOptions').hide();
        }
    });

    $('#WaterUseDetailForm_PermitWwEducationalDrinkingOrsanitaryForm_EducationInstituteTypeId').change(function () {
        var $this = $(this);

        $('#SchoolOption').hide();
        $('#DaycareOption').hide();

        if ($this.val() == "1") {
            $('#SchoolOption').show();
            $('#DaycareOption').hide();
        }
        else if ($this.val() == "2") {
            $('#SchoolOption').hide();
            $('#DaycareOption').show();
        }
    });

    $('#WaterUseDetailForm_PermitWwEducationalDrinkingOrsanitaryForm_IsAthleticFieldIrrigation').change(function () {
        if ($(this).is(':checked')) {
            $('#NoOfIrrigatedAcresOptions').show();
        }
        else {
            $('#NoOfIrrigatedAcresOptions').hide();
        }
    });
</script>
