﻿@model ApplicationWizard
<div class="divVerticalBottomSpacerDouble">
    <div><b>Irrigation (Undefined) - Use Percentage: </b>@Html.TextBox("WaterUseDetailForm.IrrigationUndefinedForm.UsePercentage", Model.WaterUseDetailForm.IrrigationUndefinedForm.UsePercentage, new { @class = "textboxSmall" })</div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            No of irrigated acres
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.IrrigationUndefinedForm.NoOfIrrigatedAcres, new { @class = "required decimalInput" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.IrrigationUndefinedForm.NoOfIrrigatedAcres)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            No of days per week irrigated
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.IrrigationUndefinedForm.NoOfDaysPerWeekIrrigated, new { @class = "required range", min = 1 , max = 7 })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.IrrigationUndefinedForm.NoOfDaysPerWeekIrrigated)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Describe What is Being Irrigated
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.IrrigationUndefinedForm.PurposeDescription, new { @class = "required" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.IrrigationUndefinedForm.PurposeDescription)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Groundwater, Average No. of Gallons per day to be withdrawn on an annual basis
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.IrrigationUndefinedForm.AverageGallonPerDayFromGroundWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.IrrigationUndefinedForm.AverageGallonPerDayFromGroundWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Groundwater, Gallons per day to be withdrawn during month of maximum use
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.IrrigationUndefinedForm.MaximumGallonPerDayFromGroundWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.IrrigationUndefinedForm.MaximumGallonPerDayFromGroundWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Surface Water, Average No. of Gallons per day to be withdrawn on an annual basis
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.IrrigationUndefinedForm.AverageGallonPerDayFromSurfaceWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.IrrigationUndefinedForm.AverageGallonPerDayFromSurfaceWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Surface Water, Maximum gallons per day to be withdrawn
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.IrrigationUndefinedForm.MaximumGallonPerDayFromSurfaceWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.IrrigationUndefinedForm.MaximumGallonPerDayFromSurfaceWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Describe how estimate was derived
        </span>
        @Html.TextAreaFor(model => model.WaterUseDetailForm.IrrigationUndefinedForm.EstimateDescription, new { style = "width: 275px; vertical-align: top;", @class = "required" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.IrrigationUndefinedForm.EstimateDescription)
    </div>
</div>
