﻿@model PoultryWateringForm
<div class="itemContainer">
    @{var index = ViewData["index"];}
    @Html.Hidden("WaterUseDetailForm.PoultryWateringFoggerForm.PoultryWateringForms[" + index + "].HasDeleted", Model.HasDeleted)

    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">Type of Poultry
        </span>
        @Html.DropDownList("WaterUseDetailForm.PoultryWateringFoggerForm.PoultryWateringForms[" + index + "].PoultryId", new SelectList(Model.PoultryTypeList, "Value", "Text", Model.PoultryId), new { @class = "required" })
        <span>*</span>
        @Html.ValidationMessage("WaterUseDetailForm.PoultryWateringFoggerForm.PoultryWateringForms[" + index + "].PoultryId")
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">No. of Houses
        </span>
        @Html.TextBox("WaterUseDetailForm.PoultryWateringFoggerForm.PoultryWateringForms[" + index + "].NumberOfHouses", Model.NumberOfHouses, new { @class = "required commaInserted" })
        <span>*</span>
        @Html.ValidationMessage("WaterUseDetailForm.PoultryWateringFoggerForm.PoultryWateringForms[" + index + "].NumberOfHouses")
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">No. of Flocks per Year
        </span>
        @Html.TextBox("WaterUseDetailForm.PoultryWateringFoggerForm.PoultryWateringForms[" + index + "].NumberOfFlocksPerYear", Model.NumberOfFlocksPerYear, new { @class = "required commaInserted" })
        <span>*</span>
        @Html.ValidationMessage("WaterUseDetailForm.PoultryWateringFoggerForm.PoultryWateringForms[" + index + "].NumberOfFlocksPerYear")
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">No. of Birds per Flock
        </span>
        @Html.TextBox("WaterUseDetailForm.PoultryWateringFoggerForm.PoultryWateringForms[" + index + "].BirdsPerFlock", Model.BirdsPerFlock, new { @class = "required commaInserted" })
        <span>*</span>
        @Html.ValidationMessage("WaterUseDetailForm.PoultryWateringFoggerForm.PoultryWateringForms[" + index + "].BirdsPerFlock")
    </div>
    <div style="text-align: center;" class="divVerticalBottomSpacer">
        <input type="button" onclick="WaterUseDetail.Delete($(this))" value="Delete" />
    </div>
</div>
