﻿@model LivestockForm
<div class="itemContainer">
    @{var index = ViewData["index"];}

    @Html.Hidden("WaterUseDetailForm.DairyAnimalWateringForm.LivestockForms[" + index + "].HasDeleted", Model.HasDeleted)
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Type of Dairy Animal
        </span>
        @Html.TextBox("WaterUseDetailForm.DairyAnimalWateringForm.LivestockForms[" + index + "].Livestock", Model.Livestock, new { @class = "required" })
        <span>*</span>
        @Html.ValidationMessage("WaterUseDetailForm.DairyAnimalWateringForm.LivestockForms[" + index + "].Livestock")
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            No. of Animals
        </span>
        @Html.TextBox("WaterUseDetailForm.DairyAnimalWateringForm.LivestockForms[" + index + "].NumberOfLivestock", Model.NumberOfLivestock, new { @class = "required commaInserted" })
        <span>*</span>
        @Html.ValidationMessage("WaterUseDetailForm.DairyAnimalWateringForm.LivestockForms[" + index + "].NumberOfLivestock")
    </div>
    <div style="text-align: center;" class="divVerticalBottomSpacer">
        <input type="button" onclick="WaterUseDetail.Delete($(this))" value="Delete" />
    </div>
</div>
