﻿@model ApplicationWizard
<div class="divVerticalBottomSpacerDouble">
    <div><b>Farm Potable Supplies - Use Percentage: </b>@Html.TextBox("WaterUseDetailForm.PermitWwFarmPotableSuppliesForm.UsePercentage", Model.WaterUseDetailForm.PermitWwFarmPotableSuppliesForm.UsePercentage, new { @class = "textboxSmall" })</div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Number of employees
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwFarmPotableSuppliesForm.NoOfEmployees, new { @class = "required commaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwFarmPotableSuppliesForm.NoOfEmployees)
    </div>
</div>
