﻿@model ApplicationWizard
<div class="divVerticalBottomSpacerDouble">
    <div><b>Food Processing - Use Percentage: </b>@Html.TextBox("WaterUseDetailForm.PermitWwFoodProcessingForm.UsePercentage", Model.WaterUseDetailForm.PermitWwFoodProcessingForm.UsePercentage, new { @class = "textboxSmall" })</div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Groundwater, Average No. of Gallons per day to be withdrawn on an annual basis
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwFoodProcessingForm.AverageGallonPerDayFromGroundWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwFoodProcessingForm.AverageGallonPerDayFromGroundWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Groundwater, Gallons per day to be withdrawn during month of maximum use
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwFoodProcessingForm.MaximumGallonPerDayFromGroundWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwFoodProcessingForm.MaximumGallonPerDayFromGroundWater)
    </div>

    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Surface Water, Average No. of Gallons per day to be withdrawn on an annual basis
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwFoodProcessingForm.AverageGallonPerDayFromSurfaceWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwFoodProcessingForm.AverageGallonPerDayFromSurfaceWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Surface Water, Maximum gallons per day to be withdrawn
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwFoodProcessingForm.MaximumGallonPerDayFromSurfaceWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwFoodProcessingForm.MaximumGallonPerDayFromSurfaceWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Describe how estimate was derived
        </span>
        @Html.TextAreaFor(model => model.WaterUseDetailForm.PermitWwFoodProcessingForm.EstimateDescription, new { style = "width:275px; vertical-align: top;", @class = "required" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwFoodProcessingForm.EstimateDescription)
    </div>
</div>
