﻿@model ApplicationWizard
<div class="divVerticalBottomSpacerDouble">
    <div><b>Golf Course Irrigation - Use Percentage: </b>@Html.TextBox("WaterUseDetailForm.GolfCourseIrrigationForm.UsePercentage", Model.WaterUseDetailForm.GolfCourseIrrigationForm.UsePercentage, new { @class = "textboxSmall" })</div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Irrigation system
        </span>
        @Html.DropDownListFor(model => model.WaterUseDetailForm.GolfCourseIrrigationForm.GolfIrrigationSystemTypeId, Model.WaterUseDetailForm.GolfCourseIrrigationForm.GolfIrrigationSystemTypeList)
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.GolfCourseIrrigationForm.GolfIrrigationSystemTypeId)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Irrigation layout
        </span>
        @Html.DropDownListFor(model => model.WaterUseDetailForm.GolfCourseIrrigationForm.IrrigationLayoutTypeId, Model.WaterUseDetailForm.GolfCourseIrrigationForm.IrrigationLayoutTypeList)
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.GolfCourseIrrigationForm.EstimateDescription)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Is well water pumped into pond
        </span>
        @Html.CheckBoxFor(model => model.WaterUseDetailForm.GolfCourseIrrigationForm.IsWellwaterPumpedIntoPond, new { @class = "yesNo" })
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            No. of irrigated acres – tees/greens
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.GolfCourseIrrigationForm.NoOfIrrigatedAcres_teesOrGreens, new { style = "width:275px;", @class = "required commaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.GolfCourseIrrigationForm.NoOfIrrigatedAcres_teesOrGreens)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            No. of irrigated acres – fairways
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.GolfCourseIrrigationForm.NoOfIrrigatedAcres_fairways, new { style = "width:275px;", @class = "required commaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.GolfCourseIrrigationForm.NoOfIrrigatedAcres_fairways)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Type of grass – tees/greens
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.GolfCourseIrrigationForm.TypeOfGrass_tees_greens, new { style = "width:275px;", @class = "required" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.GolfCourseIrrigationForm.TypeOfGrass_tees_greens)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Type of grass – fairways
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.GolfCourseIrrigationForm.TypeOfGrass_fairways, new { style = "width:275px;", @class = "required" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.GolfCourseIrrigationForm.TypeOfGrass_fairways)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Groundwater, Average No. of Gallons per day to be withdrawn on an annual basis
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.GolfCourseIrrigationForm.AverageGallonPerDayFromGroundWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.GolfCourseIrrigationForm.AverageGallonPerDayFromGroundWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Groundwater, Gallons per day to be withdrawn during month of maximum use
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.GolfCourseIrrigationForm.MaximumGallonPerDayFromGroundWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.GolfCourseIrrigationForm.MaximumGallonPerDayFromGroundWater)
    </div>

    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Surface Water, Average No. of Gallons per day to be withdrawn on an annual basis
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.GolfCourseIrrigationForm.AverageGallonPerDayFromSurfaceWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.GolfCourseIrrigationForm.AverageGallonPerDayFromSurfaceWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Surface Water, Maximum gallons per day to be withdrawn
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.GolfCourseIrrigationForm.MaximumGallonPerDayFromSurfaceWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.GolfCourseIrrigationForm.MaximumGallonPerDayFromSurfaceWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Describe how estimate was derived
        </span>
        @Html.TextAreaFor(model => model.WaterUseDetailForm.GolfCourseIrrigationForm.EstimateDescription, new { style = "width: 275px; vertical-align: top;", @class = "required" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.GolfCourseIrrigationForm.EstimateDescription)
    </div>
</div>
