﻿@model LivestockForm
<div class="itemContainer">
    @{var index = ViewData["index"];}
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 350px">
            Type of Livestock
        </span>
        @Html.TextBox("WaterUseDetailForm.PermitWwLivestockForm.LivestockForms[" + index + "].Livestock", Model.Livestock, new { @class = "required" })
        <span>*</span>
        @Html.ValidationMessage("WaterUseDetailForm.PermitWwLivestockForm.LivestockForms[" + index + "].Livestock")
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 350px">
            No. of Animals
        </span>
        @Html.TextBox("WaterUseDetailForm.PermitWwLivestockForm.LivestockForms[" + index + "].NumberOfLivestock", Model.NumberOfLivestock, new { @class = "required digits" })
        <span>*</span>
        @Html.ValidationMessage("WaterUseDetailForm.PermitWwLivestockForm.LivestockForms[" + index + "].NumberOfLivestock")
    </div>
    <div style="text-align: center;" class="divVerticalBottomSpacer">
        <input type="button" onclick="WaterUseDetail.Delete($(this))" value="Delete" />
    </div>
</div>
