﻿@model PermitWwIrrigationForm
<div class="itemContainer">
    @{var index = ViewData["index"];}
    @Html.Hidden("WaterUseDetailForm.NurseryStockIrrigationForm.IrrigationForms[" + index + "].HasDeleted", Model.HasDeleted)

    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Describe What is Being Irrigated
        </span>
        @Html.TextBox("WaterUseDetailForm.NurseryStockIrrigationForm.IrrigationForms[" + index + "].PurposeDescription", Model.PurposeDescription, new { @class = "required" })
        <span>*</span>
        @Html.ValidationMessage("WaterUseDetailForm.NurseryStockIrrigationForm.IrrigationForms[" + index + "].PurposeDescription")
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            No. of Irrigated Acres
        </span>
        @Html.TextBox("WaterUseDetailForm.NurseryStockIrrigationForm.IrrigationForms[" + index + "].IrrigatedAcres", Model.IrrigatedAcres, new { @class = "required commaInserted" })
        <span>*</span>
        @Html.ValidationMessage("WaterUseDetailForm.NurseryStockIrrigationForm.IrrigationForms[" + index + "].IrrigatedAcres")
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Irrigation System Used
        </span>
        @Html.DropDownList("WaterUseDetailForm.NurseryStockIrrigationForm.IrrigationForms[" + index + "].IrrigationSystemTypeId", new SelectList(Model.IrrigationSystemTypeList, "Value", "Text", Model.IrrigationSystemTypeId), new { @class = "wastewaterSelect required" })
        <span>*</span>
        @Html.ValidationMessage("WaterUseDetailForm.NurseryStockIrrigationForm.IrrigationForms[" + index + "].IrrigationSystemTypeId")
    </div>
    <div id="otherDescripption" style="display:none;">
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">
                If other, please describe
            </span>
            @Html.TextBox("WaterUseDetailForm.NurseryStockIrrigationForm.IrrigationForms[" + index + "].IrrigationSystemDescription", Model.IrrigationSystemDescription, new { @class = "required" })
            <span>*</span>
            @Html.ValidationMessage("WaterUseDetailForm.NurseryStockIrrigationForm.IrrigationForms[" + index + "].IrrigationSystemDescription")
        </div>
    </div>
    <div style="text-align: center;" class="divVerticalBottomSpacer">
        <input type="button" onclick="WaterUseDetail.Delete($(this))" value="Delete" />
    </div>
</div>
