﻿@model ApplicationWizard
<div class="divVerticalBottomSpacerDouble">
    <div><b>Institutional religious (drinking/sanitary) - Use Percentage: </b>@Html.TextBox("WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.UsePercentage", Model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.UsePercentage, new { @class = "textboxSmall" })</div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            No. of parishioners
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfParishioners, new { @class = "required commaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfParishioners)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            No. of services per week
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfServicesPerWeek, new { @class = "required commaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfServicesPerWeek)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Daycare
        </span>
        @Html.CheckBoxFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.Daycare, new { @class = "yesNo" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.Daycare)
    </div>
    <div id="DaycareOption" style="display:none;">
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">
                No. staff working more than 20 hrs per week
            </span>
            @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfStaffWorkingMorethan20hrsPerWeek, new { @class = "required commaInserted" })
            <span>*</span>
            @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfStaffWorkingMorethan20hrsPerWeek)
        </div>
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">
                No. staff working less than 20 hrs per week
            </span>
            @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfStaffWorkingLessthan20hrsPerWeek, new { @class = "required commaInserted" })
            <span>*</span>
            @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfStaffWorkingLessthan20hrsPerWeek)
        </div>
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">
                No. students attending more than 20 hrs per week
            </span>
            @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfStudentsAttendingMorethan20hrsPerWeek, new { @class = "required commaInserted" })
            <span>*</span>
            @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfStudentsAttendingMorethan20hrsPerWeek)
        </div>
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">
                No. students attending less than 20 hrs per week
            </span>
            @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfStudentsAttendingLessthan20hrsPerWeek, new { @class = "required commaInserted" })
            <span>*</span>
            @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfStudentsAttendingLessthan20hrsPerWeek)
        </div>
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Groundwater, Average No. of Gallons per day to be withdrawn on an annual basis
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.AverageGallonPerDayFromGroundWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.AverageGallonPerDayFromGroundWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Groundwater, Gallons per day to be withdrawn during month of maximum use
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.MaximumGallonPerDayFromGroundWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.MaximumGallonPerDayFromGroundWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Surface Water, Average No. of Gallons per day to be withdrawn on an annual basis
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.AverageGallonPerDayFromSurfaceWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.AverageGallonPerDayFromSurfaceWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Surface Water, Maximum gallons per day to be withdrawn
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.MaximumGallonPerDayFromSurfaceWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.MaximumGallonPerDayFromSurfaceWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Describe how estimate was derived
        </span>
        @Html.TextAreaFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.EstimateDescription, new { style = "width: 275px; vertical-align: top;", @class = "required" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.EstimateDescription)
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var $this = $('#WaterUseDetailForm_PermitWwReligiousDringkingOrSanitaryForm_Daycare');

        if ($this.is(':checked')) {
            $('#DaycareOption').css('display', 'block');
        }
        else {
            $('#DaycareOption').css('display', 'none');
        }
    });

    $('#WaterUseDetailForm_PermitWwReligiousDringkingOrSanitaryForm_Daycare').change(function () {
        if ($(this).is(':checked')) {
            $('#DaycareOption').css('display', 'block');
        }
        else {
            $('#DaycareOption').css('display', 'none');
        }
    });
</script>