﻿@model ApplicationWizard
<div class="divVerticalBottomSpacerDouble">
    <div><b>Small Intermittent Irrigation - Use Percentage: </b>@Html.TextBox("WaterUseDetailForm.SmallIntermitentIrrigationForm.UsePercentage", Model.WaterUseDetailForm.SmallIntermitentIrrigationForm.UsePercentage, new { @class = "textboxSmall" })</div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            No of irrigated acres
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.SmallIntermitentIrrigationForm.NoOfIrrigatedAcres, new { @class = "required commaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.SmallIntermitentIrrigationForm.NoOfIrrigatedAcres)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            No of days per week irrigated
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.SmallIntermitentIrrigationForm.NoOfDaysPerWeekIrrigated, new { @class = "required commaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.SmallIntermitentIrrigationForm.NoOfDaysPerWeekIrrigated)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Describe What is Being Irrigated
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.SmallIntermitentIrrigationForm.PurposeDescription, new { @class = "required" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.SmallIntermitentIrrigationForm.PurposeDescription)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Groundwater, Average No. of Gallons per day to be withdrawn on an annual basis
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.SmallIntermitentIrrigationForm.AverageGallonPerDayFromGroundWater, new { @class = "required  delayedCommaInserted", data_val = false })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.SmallIntermitentIrrigationForm.AverageGallonPerDayFromGroundWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Groundwater, Gallons per day to be withdrawn during month of maximum use
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.SmallIntermitentIrrigationForm.MaximumGallonPerDayFromGroundWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.SmallIntermitentIrrigationForm.MaximumGallonPerDayFromGroundWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Surface Water, Average No. of Gallons per day to be withdrawn on an annual basis
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.SmallIntermitentIrrigationForm.AverageGallonPerDayFromSurfaceWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.SmallIntermitentIrrigationForm.AverageGallonPerDayFromSurfaceWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            For Surface Water, Maximum gallons per day to be withdrawn
        </span>
        @Html.TextBoxFor(model => model.WaterUseDetailForm.SmallIntermitentIrrigationForm.MaximumGallonPerDayFromSurfaceWater, new { @class = "required delayedCommaInserted" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.SmallIntermitentIrrigationForm.MaximumGallonPerDayFromSurfaceWater)
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Describe how estimate was derived
        </span>
        @Html.TextAreaFor(model => model.WaterUseDetailForm.SmallIntermitentIrrigationForm.EstimateDescription, new { style = "width: 275px; vertical-align: top;", @class = "required" })
        <span>*</span>
        @Html.ValidationMessageFor(model => model.WaterUseDetailForm.SmallIntermitentIrrigationForm.EstimateDescription)
    </div>
</div>
