﻿@{
    ViewBag.Title = "Water Supply Information and Permitting System";
}
<style>
    .nav-section {
        display: inline-block;
        margin: 0px 5px 0px 5px;
        padding: 0;
        width: 270px;
        text-align: left;
        vertical-align: top;
        background-color: transparent;
        height: 100%;
    }

    .nav-content {
        background-color: #ffffff;
        height: 100%;
    }

    .nav-section h2 {
        color: #ffffff;
        background-color: #29477b;
        font-size: 14px;
        line-height: 25px;
        vertical-align: middle;
        margin: 0px !important;
        padding-bottom: 0px !important;
        padding: 5px 0px 5px 15px !important;
        font-weight: normal;
    }

    .nav-section ul {
        padding: 10px;
        width: 250px;
        margin: 0;
    }

    .nav-section li {
        list-style: none;
    }

    .nav-section a.disabled {
        color: #898a8a;
        cursor: default;
        text-decoration: none !important;
    }

    .nav-section a {
        color: #06265f;
        text-decoration: none;
    }

        .nav-section a:hover {
            text-decoration: underline;
        }

    #notifications-container, #myaccount-container {
        border: 1px solid #7BA13E;
        width: 250px;
        height: 300px;
        position: absolute;
        top: 0px;
        right: 105px;
        overflow: auto;
        background-color: #fff;
        padding: 10px;
        display: none;
        border-top: none;
    }

    #myaccount-container {
        height: 190px;
        right: 5px;
    }

    #notifications-container .notificationpermitname {
        color: #999999;
        font-weight: bold;
        font-size: 12px;
        padding-bottom: 5px;
        float: left;
    }
    
    #notifications-container .notificationdate {
        color: #999999;
        font-weight: bold;
        font-size: 12px;
        padding-bottom: 5px;
        float: right;
    }

    #notifications-container .notificationtext {
        clear: both;
    }

    #notifications-container p.link {
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }

    #notifications-container a {
        color: blue;
    }

    #body {
        background-color: transparent !important;
    }

    .separatorDiv {
        vertical-align: top;
        margin-top: 10px;
    }
</style>

<div style="width: 850px; margin: 20px auto 0px auto">
    <div class="separatorDiv">
        <div class="nav-section">
            <h2>Applications</h2>
            <div class="nav-content trans70">
                <ul>
                    <li><a href="@Url.Action(MVC.Permitting.Permit.ApplicationWizard(null, 1))">Enter a New Permit Application</a></li>
                    <li><a href="javascript:void(0)" url="RenewApplication" msg="Enter the Permit number of the permit to be renewed" title="Renewal Application" onclick="LinksModal($(this))">Enter a Renewal Application</a></li>
                    <li><a href="javascript:void(0)" url="ModificationApplication" msg="Enter the Permit number of the permit to be modified" title="Modification Application" onclick="LinksModal($(this))">Enter a Modification Application</a></li>
                    <li><a href="@Url.Action(MVC.Permitting.Permit.ResumeApplication())">Resume an Application </a></li>
                </ul>
            </div>
        </div>
        <div class="nav-section">
            <h2>Permits</h2>
            <div class="nav-content trans70">
                <ul>
                    <li><a href="javascript:void(0)" url="ViewPermits" msg="Enter the Permit number" title="View Permits" onclick="LinksModal($(this))">View Permits</a></li>
                    <li><a href="javascript:void(0)" url="ChangeContactInformation" msg="Enter the Permit number" title="Change Contact Information" onclick="LinksModal($(this))">Change Contact Information</a></li>
                    <li><a href="javascript:void(0)" url="ModifyExistingPermit" msg="Enter the Permit number" title="Modify Existing Permit" onclick="LinksModal($(this))">Modify Existing Permit</a></li>
                    <li><a href="javascript:void(0)" url="DeactivatePermit" msg="Enter the Permit number" title="Deactivate Permit" onclick="LinksModal($(this))">Deactivate Permit</a></li>
                    <li><a href="javascript:void(0)" url="ViewIPL" msg="Enter the Permit number" title="View IPL" onclick="LinksModal($(this))">View IPL</a></li>
                </ul>
            </div>
        </div>
        <div class="nav-section">
            <h2>Exemptions</h2>
            <div class="nav-content trans70">
                <ul>
                    <li><a style="padding-left:0px;padding-right:6px" href="@Url.Action(MVC.Permitting.Permit.ApplicationWizard(null, 4))">Create a New Exemption</a></li>
                    <li><a style="padding-left: 0px; padding-right: 6px" href="javascript:void(0)" url="ChangePermitToExemption" msg="Enter the Permit number of the permit to be Exempted" title="Change Existing Permit to Exemption" onclick="LinksModal($(this))">Change Permit to Exemption</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="separatorDiv">
        <div class="nav-section">
            <h2>Compliance</h2>
            <div class="nav-content trans70">
                <ul>
                    <li><a href="javascript:void(0)" url="ViewWaterWithdrawal" msg="Enter the Permit number" title="View Water Withdrawal Report" onclick="LinksModal($(this))">View Water Withdrawal Report</a></li>
                    <li><a href="javascript:void(0)" url="EnterWaterWithdrawal" msg="Enter the Permit number" title="Enter Water Withdrawal Report" onclick="LinksModal($(this))">Enter Water Withdrawal Report</a></li>
                    <li><a href="javascript:void(0)" url="ViewOtherWaterWithdrawal" msg="Enter the Permit number" title="View Other Compliance Report" onclick="LinksModal($(this))">View Other Compliance Reports</a></li>
                </ul>
            </div>
        </div>
        <div class="nav-section">
            <h2>Reports</h2>
            <div class="nav-content trans70">
                <ul>
                    <li><a href="@Url.Action(MVC.Reporting.Reports.Index())">Run a Report</a></li>
                </ul>
            </div>
        </div>
        <div class="nav-section">
            <h2>Administration</h2>
            <div class="nav-content trans70">
                <ul>
                    <li><a href="@Url.Action(MVC.Administration.Users.Index())">Manage Users</a></li>
                    <li><a href="@Url.Action(MVC.Administration.Users.AssignToCounty())">Manage County Assignments</a></li>
                    <li><a href="@Url.Action(MVC.Administration.Users.AssignToSupervisor())">Manage Team Assignments</a></li>
                    <li><a href="@Url.Action(MVC.Permitting.Condition.Index())">Manage Permit Conditions</a></li>
                    <li><a href="@Url.Action(MVC.Permitting.Checklist.Index())">Manage Checklists</a></li>
                    <li><a href="@Url.Action(MVC.Ecommerce.Fee.Index())">Manage Fees</a></li>
                    <li><a href="@Url.Action(MVC.Ecommerce.Invoice.Index())">Manage Invoices</a></li>
                    <li><a href="@Url.Action(MVC.Contact.MergeContacts())">Merge Contacts</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="notifications-container" style="display: none;">
        <div class="slideContainerScrollerContainer" preservescrollbarspace="y">
        </div>
        <div class="slideBottomLinksContainer">
            <span class="slideBottomLink" onclick="closeAllMenus();">Close</span>
        </div>
    </div>

    <div id="myaccount-container" preservescrollbarspace="y" style="display: none;">
        <div style="font-weight: bold;">
            Communications Preferences
        </div>
        <div>
            Select the methods by which you wish to receive communications through WSIPS.
        </div>
        <div style="margin-top: 15px;">
            <div>
                <span>@Html.CheckBox("Notifications")</span><span><label for="Notifications">Notifications</label></span>
            </div>
            <div>
                @if ((bool)ViewBag.DisabledEmail)
                {
                    <span>@Html.CheckBox("Email", new { disabled = "disabled" })</span><span><label for="Email">Email</label></span>
                    <div style="font-size: 10px; color: red; margin-left: 23px; width: 200px;">Email communications are disabled because you do not have an email address registered in the WSIPS system</div>
                }
                else
                {
                    <span>@Html.CheckBox("Email")</span><span><label for="Email">Email</label></span>
                }
            </div>
            <div>
                <div style="bottom: 10px; position: absolute; text-align: center; width: 250px;">
                    <span class="slideBottomLink" onclick="closeAllMenus();">Close</span><span class="LNPulldownBottomLinkSpearator"></span><span class="slideBottomLink" id="SaveNotifcationPreferences">Save</span>
                </div>
            </div>
        </div>
    </div>

    <div id="LinksModalDialog" title="" style="display: none;">
        <form id="LinksModalForm">
            <div id="LinksModalMessage" style="margin: 10px;"></div>
            <div style="margin: 10px;">
                Permit Number
                <input class="required" type="text" id="PermitNumberFromLinksModal" />
            </div>
        </form>
    </div>
</div>

@section topNav {
    <div style="position: absolute; right: 10px; top: 0px; bottom: 0px;">
        <span class="mainNavLink" id="notifications-link" style="cursor: pointer;">No New Notifications</span>
        <span class="localNavigationSeparator">|</span>
        <span class="mainNavLink" id="myaccount-link" style="cursor: pointer;">My Account</span>
    </div>
}

@section scripts {
    @Scripts.Render("~/Scripts/Helper.js")
    @Scripts.Render("~/Scripts/jmtCustom/jquery.jmttg-custom-modal.js")
    @Scripts.Render("~/Scripts/backstretch.js")
    @Scripts.Render("~/Scripts/Helper.js")
    @Scripts.Render("~/Scripts/ViewScripts/Home/Index.js")
    @Scripts.Render("~/Scripts/jquery.maskedinput-1.3.1.js")
    @Scripts.Render("~/bundles/blockUI")
    <script type="text/javascript">
        $(function () {
            $.backstretch('@Url.Content("~/Content/Images/back.jpg")');
            $("#body").css("background-color", "transparent");

            $("#LinksModalForm").validate();
            $('#LinksModalForm').submit(function (e) {
                e.preventDefault()
                if (/^[a-z|A-Z]{2}[0-9]{4}[a-z|A-Z]{1}[0-9]{3}$/.test($('#PermitNumberFromLinksModal').val())) {
                    $("#LinksModalDialog").dialog("option", "buttons").Submit()
                }
            });

            /*********************************************/
            /******* make them all the same height *******/
            var largestContent = 0;

            $(".nav-content").each(function () {
                var thisHeight = $(this).height();
                if (thisHeight > largestContent) {
                    largestContent = thisHeight;
                }
            });

            $(".nav-content").height(largestContent);
            /*********************************************/

            GetNotifications();
            GetNotificationPreference();

            $('#notifications-link').click(function () {
                $('#myaccount-container').slideUp();
                $('#notifications-container').slideToggle();
                return false;
            });

            $("#myaccount-link").click(function () {
                $('#notifications-container').slideUp();
                $('#myaccount-container').slideToggle();
                return false;
            });

            $("#SaveNotifcationPreferences").click(function () {
                SaveNotifcationPreferences();
                closeAllMenus();
            });

            $(document).click(function (e) {
                if ($('#notifications-container').has(e.target).length == 0 && $('#myaccount-container').has(e.target).length == 0) {
                    closeAllMenus();
                }
            });
        });

        // determines what to do when one of the links is clicked
        function LinksModal($jqClickObj) {
            var ModalTitle = $jqClickObj.attr("title");
            var LinkType = $jqClickObj.attr("url");

            $("#LinksModalMessage").html($jqClickObj.attr("msg")) // set the message in the popup modal
            $("#PermitNumberFromLinksModal").html('').mask('aa9999a999'); // mask the textbox insdie of the modal

            $("#LinksModalDialog").dialog({
                modal: true,
                position: "center",
                title: ModalTitle,
                width: 500,
                close: function () {
                    $(this).dialog('destroy');
                },
                buttons: {
                    "Submit": function () {
                        if ($("#LinksModalForm").valid()) {
                            // handle logic for link and rediret to appropriate page
                            $.ajax({
                                url: '@Url.Action(MVC.Permitting.Permit.LinksModal())',
                                type: 'GET',
                                data: { permitNumber: $("#PermitNumberFromLinksModal").val(), linkType: LinkType },
                                async: false,
                                success: function (response) {
                                    if (response.success) {
                                        if (response.message != null && response.message.length > 0) {
                                            alert(response.message);
                                        } else {
                                            window.location.href = response.url;
                                        }
                                    } else {
                                        alert(response.errormsg);
                                    }
                                }
                            });
                        }
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    },
                }
            });
        }

        function GetNotifications() {
            $.ajax({
                url: '@Url.Action(MVC.Notification.GetNew())',
                type: 'GET',
                error: function (jqXHR, textStatus, errorThrown) {
                    // TODO: handle error
                },
                success: function (data) {
                    $('.slideContainerScrollerContainer').empty();

                    if (data != null && data.length > 0) {
                        if (data.length == 1) {
                            $('#notifications-link').text('1 New Notification');
                        } else {
                            $('#notifications-link').text(data.length + ' New Notifications');
                        }

                        for (i in data) {
                            var permitName = '<div class="notificationpermitname">' + (data[i].PermitName == null ? '' : data[i].PermitName) + '</div>';
                            var date = '<div class="notificationdate">' + data[i].CreatedDate + '</div>';
                            var text = '<div class="notificationtext">' + data[i].NotificationText + '</div>';
                            var isLast = i == data.length - 1;
                            var cls = "";
                            //add link class if not last notification
                            if (!isLast) {
                                cls = "link"
                            }
                            
                            var link = '<p class="' + cls + '"><a class="notificationViewDetailLink" href="@Url.Action(MVC.Permitting.Permit.Index())?' + $.param({ id: data[i].PermitId }) + '">View Permit Detail</a>  <span class="notificationLinkSeparator">|</span> <span class="hideNotification" onclick=ClearNotification($(this),' + data[i].Id + ')>Hide This</span></p>';

                            $('<div class="notificationContainer"></div>')
                            .html(permitName + date + text + link).appendTo($('.slideContainerScrollerContainer'));
                        }

                        $('.slideContainerScrollerContainer').scrollbars();
                        makeScrollbarsGreen();
                    } else {
                        $('#notifications-link').text('No New Notifications');
                    }
                }
            });
        }

        function GetNotificationPreference() {
            $.ajax({
                url: '@Url.Action(MVC.Notification.GetNotificationPreference())',
                type: 'GET',
                async: false,
                success: function (response) {
                    $("#Notifications").prop('checked', response.notification).change();
                    $("#Email").prop('checked', response.email).change();
                }
            });
        }

        function ClearNotification($container, id) {
            $.ajax({
                url: '@Url.Action(MVC.Notification.MarkNotifcationRead())',
                type: 'POST',
                data: { id: id },
                async: false,
                success: function (response) {
                    // get parent notification container
                    var $NotificationContainer = getNotificationContainerFromHideNotificationSpan($container);
                    //hide it
                    $NotificationContainer.hide();
                    //get total number of visible not divs
                    var notificationCount = getNotificationCount();
                    //display count in GUI
                    setNotificationCount(notificationCount);
                    //remove last underline
                    checkLastNotificationUnderline();
                }
            });
        }

        function SaveNotifcationPreferences() {
            $.ajax({
                url: '@Url.Action(MVC.Notification.SaveNotificationPreference())',
                type: 'POST',
                data:
                {
                    email: $("#Email").is(':checked'),
                    notification: $("#Notifications").is(':checked')
                },
                async: false,
                success: function (response) {

                }
            });
        }        
    </script>
}