﻿@{
    ViewBag.Title = "Home Page";
}


@section css {
    @Styles.Render("~/Content/jqgrid")
}

@section featured {

}

<div class="renderbodyLeft unpadded">

    <style>


    </style>
    <div id="leftScrolling" class="scrollcontainer">

        <h2>Yes/No Button</h2>
        <div>
            <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width:150px;">Yes/No prompt?</span>
            <input type="checkbox"  id="yesNoLeft" class="yesNo" />
        </div> 

        <h2>checkbox</h2>

        <div>
            <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width:150px;">Checkbox prompt:</span>
            <input type="checkbox" id="specialID" class="chkBx" title="test title" />
        </div> 

        <h2>checkbox (left)</h2>
        <div>
            <input type="checkbox" id="specialID2" class="chkBx" title="test title" />
            <span class="spanCheckboxTextToLeft">Text to the right.</span>
        </div>

        <h2>disabled checkbox</h2>
            <input type="checkbox" id="chk_dis" class="chkBx" disabled="" title="test title" checked="checked" />

        
            <h2>TextArea</h2>
            <textarea rows="3"></textarea>

        <h2>Textbox</h2>
        <input type="text" />


   <h2>combo box</h2>
     <select id="comboboxl">
        <option value="">Select one...</option>
        <option value="1">ActionScript</option>
        <option value="2">AppleScript</option>
        <option value="3">Asp</option>
        <option value="4">BASIC</option>
        <option value="5">C</option>
        <option value="6">C++</option>
        <option value="7">Clojure</option>
        <option value="8">COBOL</option>
        <option value="9">ColdFusion</option>
        <option value="10">Erlang</option>
        <option value="11">Fortran</option>
        <option value="12">Groovy</option>
        <option value="13">Haskell</option>
        <option value="14">Java</option>
        <option value="15">JavaScript</option>
        <option value="16">Lisp</option>
        <option value="17">Perl</option>
        <option value="18">PHP</option>
        <option value="19">Python</option>
        <option value="20">Ruby</option>
    </select>

<!-- Accordion -->
<h2 class="demoHeaders">Accordion</h2>
<div id="accordion">
	<h3>First</h3>
	<div>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</div>
	<h3>Second</h3>
	<div>Phasellus mattis tincidunt nibh.</div>
	<h3>Third</h3>
	<div>Nam dui erat, auctor a, dignissim quis.</div>
</div>



<!-- Autocomplete -->
<h2 class="demoHeaders">Autocomplete</h2>
<div>
	<input id="autocomplete" title="type &quot;a&quot;">
</div>



<!-- Button -->
<h2 class="demoHeaders">Button</h2>
<button id="button">Button</button>




<!-- Tabs -->
<h2 class="demoHeaders">Tabs</h2>
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">First</a></li>
		<li><a href="#tabs-2">Second</a></li>
		<li><a href="#tabs-3">Third</a></li>
	</ul>
	<div id="tabs-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
	<div id="tabs-2">Phasellus mattis tincidunt nibh. Cras orci urna, blandit id, pretium vel, aliquet ornare, felis. Maecenas scelerisque sem non nisl. Fusce sed lorem in enim dictum bibendum.</div>
	<div id="tabs-3">Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.</div>
</div>


	<!-- ui-dialog -->
<div id="dialog" title="Dialog Title">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>


<!-- Datepicker -->
<h2 class="demoHeaders">Datepicker</h2>
<div id="datepicker"></div>



<!-- Progressbar -->
<h2 class="demoHeaders">Progressbar</h2>
<div id="progressbar"></div>


<!-- Highlight / Error -->
<h2 class="demoHeaders">Highlight / Error</h2>
<div class="ui-widget">
	<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
		<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
		<strong>Hey!</strong> Sample ui-state-highlight style.</p>
	</div>
</div>
<br>
<div class="ui-widget">
	<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
		<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
		<strong>Alert:</strong> Sample ui-state-error style.</p>
	</div>
</div>




    </div>
</div>

<div class="renderbodyRight unpadded">
    <div id="rightScrolling"  class="scrollcontainer">



<h2>Yes/No button</h2>
<div style="width:300px;">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">Some Yes/No prompt?</span>
    <input type="checkbox"  id="chkboxRight" class="yesNo" />
</div>    

<h2>Checkbox</h2>
<input type="checkbox" id="specialIDRight" class="chkBx" value="Put your text here" />

<h2>checkbox (left)</h2>
<div>
    <input type="checkbox" id="specialID3" class="chkBx" title="test title" />
    <span class="spanCheckboxTextToLeft">Text to the right.</span>
</div>

              <h2>disabled checkbox</h2>
            <input type="checkbox" id="chk_dis2" class="chkBx" disabled="" title="test title"  />

            <h2>TextArea</h2>
            <textarea rows="3"></textarea>

        <h2>Textbox</h2>
        <input type="text" />
<h2>combo box</h2>
     <select id="combobox">
        <option value="">Select one...</option>
        <option value="1">ActionScript</option>
        <option value="2">AppleScript</option>
        <option value="3">Asp</option>
        <option value="4">BASIC</option>
        <option value="5">C</option>
        <option value="6">C++</option>
        <option value="7">Clojure</option>
        <option value="8">COBOL</option>
        <option value="9">ColdFusion</option>
        <option value="10">Erlang</option>
        <option value="11">Fortran</option>
        <option value="12">Groovy</option>
        <option value="13">Haskell</option>
        <option value="14">Java</option>
        <option value="15">JavaScript</option>
        <option value="16">Lisp</option>
        <option value="17">Perl</option>
        <option value="18">PHP</option>
        <option value="19">Python</option>
        <option value="20">Ruby</option>
    </select>



<style>
    h2, h1
    {
        color:#555555!important;
    }

</style>

<!-- Accordion -->
<h2 class="demoHeaders">Accordion</h2>
<div id="raccordion">
	<h3>First</h3>
	<div>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</div>
	<h3>Second</h3>
	<div>Phasellus mattis tincidunt nibh.</div>
	<h3>Third</h3>
	<div>Nam dui erat, auctor a, dignissim quis.</div>
</div>



<!-- Autocomplete -->
<h2 class="demoHeaders">Autocomplete</h2>
<div>
	<input id="rautocomplete" title="type &quot;a&quot;">
</div>



<!-- Button -->
<h2 class="demoHeaders">Button</h2>
<button id="rbutton">Button</button>




<!-- Tabs -->
<h2 class="demoHeaders">Tabs</h2>
<div id="rtabs">
	<ul>
		<li><a href="#rtabs-1">First</a></li>
		<li><a href="#rtabs-2">Second</a></li>
		<li><a href="#rtabs-3">Third</a></li>
	</ul>
	<div id="rtabs-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
	<div id="rtabs-2">Phasellus mattis tincidunt nibh. Cras orci urna, blandit id, pretium vel, aliquet ornare, felis. Maecenas scelerisque sem non nisl. Fusce sed lorem in enim dictum bibendum.</div>
	<div id="rtabs-3">Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.</div>
</div>




<!-- ui-dialog -->
<div id="rdialog" title="Dialog Title">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<!-- Datepicker -->
<h2 class="demoHeaders">Datepicker</h2>
<div id="rdatepicker"></div>



<!-- Progressbar -->
<h2 class="demoHeaders">Progressbar</h2>
<div id="rprogressbar"></div>


<!-- Highlight / Error -->
<h2 class="demoHeaders">Highlight / Error</h2>
<div class="ui-widget">
	<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
		<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
		<strong>Hey!</strong> Sample ui-state-highlight style.</p>
	</div>
</div>
<br>
<div class="ui-widget">
	<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
		<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
		<strong>Alert:</strong> Sample ui-state-error style.</p>
	</div>
</div>

<h2>jqGrid</h2>       
<table id="list4"></table>
     

 


    </div>

</div>
@section scripts{

   @Scripts.Render("~/bundles/jqgrid")
    <script type="text/javascript">


        function localCallback(origObject) {
            alert(origObject);
        }
        /// <reference path="/Scripts/jmtCustom/jquery.jmttg-custom-helpers.js" />


        $(document).ready(function () {


            //$("input[type=checkbox]").checkbox();

            /* JQuery UI */

            jQuery("#list4").jqGrid({
                datatype: "local",
                height: 250,
                colNames: ['Inv No', 'Date', 'Client', 'Amount', 'Tax', 'Total', 'Notes'],
                colModel: [
                    { name: 'id', index: 'id', width: 90, sorttype: "int" },
                    { name: 'invdate', index: 'invdate', width: 90, sorttype: "date" },
                    { name: 'name', index: 'name', width: 100 },
                    { name: 'amount', index: 'amount', width: 80, align: "right", sorttype: "float" },
                    { name: 'tax', index: 'tax', width: 80, align: "right", sorttype: "float" },
                    { name: 'total', index: 'total', width: 80, align: "right", sorttype: "float" },
                    { name: 'note', index: 'note', width: 150, sortable: false }
                ],
                multiselect: false,
                gridComplete: function () {
                    $(".ui-jqgrid-sortable").each(function (index) {
                        var col = $(this).parent();
                        var wdth = col.css("width");
                        var shrtWdth = (parseInt(wdth) - 1) + "px";
                        /*this.style.cursor = "default";
                        this.style.color = "#000";
                        this.style.fontWeight = "bold";
                        */
                        //take 1 pixel off of column width
                        col.css("width", shrtWdth);
                        //cover 1st cell left border
                        if (index == 0) {
                            //var bkgrndClr = col.css("background-color");
                            col.css("border-left", "1px solid #879cc8");
                        }
                    });
                    $('#list4 tr:nth-child(odd)').removeClass("ui-widget-content");
                    //$('#list4 tr:nth-child(even)').addClass("evenTableRow");
                    $('#list4 tr:nth-child(odd)').addClass("oddTableRow");
                }
            });
            var mydata = [
                    { id: "1", invdate: "2007-10-01", name: "test", note: "note", amount: "200.00", tax: "10.00", total: "210.00" },
                    { id: "2", invdate: "2007-10-02", name: "test2", note: "note2", amount: "300.00", tax: "20.00", total: "320.00" },
                    { id: "3", invdate: "2007-09-01", name: "test3", note: "note3", amount: "400.00", tax: "30.00", total: "430.00" },
                    { id: "4", invdate: "2007-10-04", name: "test", note: "note", amount: "200.00", tax: "10.00", total: "210.00" },
                    { id: "5", invdate: "2007-10-05", name: "test2", note: "note2", amount: "300.00", tax: "20.00", total: "320.00" },
                    { id: "6", invdate: "2007-09-06", name: "test3", note: "note3", amount: "400.00", tax: "30.00", total: "430.00" },
                    { id: "7", invdate: "2007-10-04", name: "test", note: "note", amount: "200.00", tax: "10.00", total: "210.00" },
                    { id: "8", invdate: "2007-10-03", name: "test2", note: "note2", amount: "300.00", tax: "20.00", total: "320.00" },
                    { id: "9", invdate: "2007-09-01", name: "test3", note: "note3", amount: "400.00", tax: "30.00", total: "430.00" }
            ];
            for (var i = 0; i <= mydata.length; i++) {
                jQuery("#list4").jqGrid('addRowData', i + 1, mydata[i]);
            }


            /*
            var targetScrollDiv = $("#leftScrolling");
            targetScrollDiv.scrollbars("white");
            targetScrollDiv = $("#rightScrolling");
            targetScrollDiv.scrollbars("yellow");
            */

            /*********************************************************************
            /* combo box MUST COME AFTER CUSTOM SCROLL FOR CORRECT POSITIONING */
            //$.jmttgCustomComboBox().init($("#combobox"));
            //********************************************************************


            /* JQ UI Combobox */


            (function ($) {
                $.widget("ui.combobox", {
                    _create: function () {
                        var input,
                            that = this,
                            select = this.element.hide(),
                            selected = select.children(":selected"),
                            value = selected.val() ? selected.text() : "",
                            wrapper = this.wrapper = $("<span>")
                                .addClass("ui-combobox")
                                .insertAfter(select);

                        function removeIfInvalid(element) {
                            var value = $(element).val(),
                                matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(value) + "$", "i"),
                                valid = false;
                            select.children("option").each(function () {
                                if ($(this).text().match(matcher)) {
                                    this.selected = valid = true;
                                    return false;
                                }
                            });
                            if (!valid) {
                                // remove invalid value, as it didn't match anything
                                $(element)
                                    .val("")
                                    .attr("title", value + " didn't match any item")
                                    .tooltip("open");
                                select.val("");
                                setTimeout(function () {
                                    input.tooltip("close").attr("title", "");
                                }, 2500);
                                input.data("autocomplete").term = "";
                                return false;
                            }
                        }

                        input = $("<input>")
                            .appendTo(wrapper)
                            .val(value)
                            .attr("title", "")
                            .addClass("ui-state-default ui-combobox-input")
                            .autocomplete({
                                delay: 0,
                                minLength: 0,
                                source: function (request, response) {
                                    var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                                    response(select.children("option").map(function () {
                                        var text = $(this).text();
                                        if (this.value && (!request.term || matcher.test(text)))
                                            return {
                                                label: text.replace(
                                                    new RegExp(
                                                        "(?![^&;]+;)(?!<[^<>]*)(" +
                                                        $.ui.autocomplete.escapeRegex(request.term) +
                                                        ")(?![^<>]*>)(?![^&;]+;)", "gi"
                                                    ), "<strong>$1</strong>"),
                                                value: text,
                                                option: this
                                            };
                                    }));
                                },
                                select: function (event, ui) {
                                    ui.item.option.selected = true;
                                    that._trigger("selected", event, {
                                        item: ui.item.option
                                    });
                                },
                                change: function (event, ui) {
                                    if (!ui.item)
                                        return removeIfInvalid(this);
                                }
                            })
                            .addClass("ui-widget ui-widget-content ui-corner-left");

                        input.data("autocomplete")._renderItem = function (ul, item) {
                            return $("<li>")
                                .data("item.autocomplete", item)
                                .append("<a>" + item.label + "</a>")
                                .appendTo(ul);
                        };

                        $("<a>")
                            .attr("tabIndex", -1)
                            .tooltip()
                            .appendTo(wrapper)
                            .button({
                                icons: {
                                    primary: "ui-icon-triangle-1-s"
                                },
                                text: false
                            })
                            .removeClass("ui-corner-all")
                            .addClass("ui-corner-right ui-combobox-toggle")
                            .click(function () {
                                // close if already visible
                                if (input.autocomplete("widget").is(":visible")) {
                                    input.autocomplete("close");
                                    removeIfInvalid(input);
                                    return;
                                }

                                // work around a bug (likely same cause as #5265)
                                $(this).blur();

                                // pass empty string as value to search for, displaying all results
                                input.autocomplete("search", "");
                                input.focus();
                            });

                        input
                            .tooltip({
                                position: {
                                    of: this.button
                                },
                                tooltipClass: "ui-state-highlight"
                            });
                    },

                    destroy: function () {
                        this.wrapper.remove();
                        this.element.show();
                        $.Widget.prototype.destroy.call(this);
                    }
                });
            })(jQuery);

            $("#combobox").combobox();
            $("#comboboxl").combobox();

            /* < JQ UI Combobox */

                $("#accordion").accordion();
                $("#raccordion").accordion();


                var availableTags = [
                    "ActionScript",
                    "AppleScript",
                    "Asp",
                    "BASIC",
                    "C",
                    "C++",
                    "Clojure",
                    "COBOL",
                    "ColdFusion",
                    "Erlang",
                    "Fortran",
                    "Groovy",
                    "Haskell",
                    "Java",
                    "JavaScript",
                    "Lisp",
                    "Perl",
                    "PHP",
                    "Python",
                    "Ruby",
                    "Scala",
                    "Scheme"
                ];
                $("#autocomplete").autocomplete({
                    source: availableTags
                });
                $("#rautocomplete").autocomplete({
                    source: availableTags
                });


                $("#button").button();
                $("#radioset").buttonset();
                $("#rbutton").button();
                $("#rradioset").buttonset();


                $("#tabs").tabs();
                $("#rtabs").tabs();


                $("#dialog").dialog({
                    modal:true,
                    autoOpen: false,
                    width: 400,
                    buttons: [
                        {
                            text: "OK",
                            click: function () {
                                $(this).dialog("close");
                            }
                        },
                        {
                            text: "Cancel",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

                $("#rdialog").dialog({
                    modal:true,
                    autoOpen: false,
                    width: 400,
                    buttons: [
                        {
                            text: "OK",
                            click: function () {
                                $(this).dialog("close");
                            }
                        },
                        {
                            text: "Cancel",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

                // Link to open the dialog
                $("#dialog-link").click(function (event) {
                    $("#dialog").dialog("open");
                    event.preventDefault();
                });
                $("#rdialog-link").click(function (event) {
                    $("#dialog").dialog("open");
                    event.preventDefault();
                });


                $("#datepicker").datepicker({
                    inline: true
                });
                $("#rdatepicker").datepicker({
                    inline: true
                });


                $("#slider").slider({
                    range: true,
                    values: [17, 67]
                });
                $("#rslider").slider({
                    range: true,
                    values: [17, 67]
                });


                $("#progressbar").progressbar({
                    value: 20
                });
                $("#rprogressbar").progressbar({
                    value: 20
                });

                // Hover states on the static widgets
                $("#dialog-link, #icons li").hover(
                    function () {
                        $(this).addClass("ui-state-hover");
                    },
                    function () {
                        $(this).removeClass("ui-state-hover");
                    }
                );

                $("#rdialog-link, #ricons li").hover(
                    function () {
                        $(this).addClass("ui-state-hover");
                    },
                    function () {
                        $(this).removeClass("ui-state-hover");
                    }
                );



            });






    </script>
    }
