﻿
In typing my name below, I certify and affirm under penalty of perjury that all of the information I am providing 
on this date is complete, true and accurate to the best of my knowledge.  I am aware that submitting false, 
inaccurate or incomplete information may result in the denial or revocation of the permit, or be subject to 
any other sanctions allowed under Maryland Law.  



<style>
#affirmationDialog.ui-dialog-titlebar-close {
  visibility: hidden;
}
    </style>


<p>
Name:    @Html.TextBox("affirmationName")
</p>

<p>Date:
    <span id="affirmationDate"></span>
</p>

<p>
    <input type="button" value="Submit" id="affirmationButton" onclick="Affirmation.Submit()"/>
</p>
<div id="affirmationMsg"></div>

<div id="affirmationDialog" title="Message" style="display: none;">
</div>