﻿@model MDGov.MDE.WSIPS.Portal.ExternalWeb.Areas.Permitting.Models.Forms.ApplicationWizard
<div style="margin-bottom: 30px; text-align: center;">
    If you use a mobile unit to withdraw water from multiple locations, select YES under Water user and YES under Landowner
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">Are you the water user?</span>
    @Html.CheckBoxFor(form => form.IsWaterUser, new { @class = "yesNo" })
</div>

<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">Are you the land owner?</span>
    @Html.CheckBoxFor(form => form.IsLandOwner, new { @class = "yesNo" })

</div>

<div class="divVerticalBottomSpacer" id="consultant" style="display: none;">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">Are you the consultant for this permit application?</span>
    @Html.CheckBoxFor(form => form.IsConsultant, new { @class = "yesNo" })
</div>

<div class="divVerticalBottomSpacer" id="permitOwner" style="display: none;">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">This permit is being issued to
    </span>
    <select name="PermitIssuedto" id="PermitIssuedto">
    </select>
</div>
