﻿@model ApplicationWizard
<div id="contactSearchResultParent">
    <div id="searchTitle" style="margin-bottom: 10px;"></div>
    <div id="contactSearchResultContainer">
        <table id="contactGrid" style="top: 0px; bottom: 0px; left: 0px; right: 0px;">
        </table>
    </div>
    <div id="pager" class="scroll" style="text-align: center;"></div>
    <div style="text-align: center;" class="divVerticalTopSpacer">
        <input type="button" value="Create New Contact" onclick="ContactSearchResult.UserNotFound()" />
    </div>
</div>