﻿@{
    ViewBag.Title = "Permit Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input type="hidden" id="PermitId" value="@ViewBag.RefId" />
<input type="hidden" id="CurrentPermitStatusId" value="@ViewBag.PermitStatusId" />
<div id="permitPulldown" class="LNPulldown permitPulldown">
</div>
<div style="position: absolute; width: 300px;">
    <div class="sprite analyzeInMapIcon">
        <span class="analyzeInMapLabel">Analyze in Map</span>
    </div>
</div>
<!-- Navigation above renderbody left & right -->
<div class="appDetailsNavContainer" onclick="applicationDetailsHelper.hideAllMenus(null);" style="padding-left: 315px;">
    <span id="details" onclick="applicationDetailsHelper.navClick($(this));" class="grayTabLink  first active">Details</span>
    <span id="documents" onclick="applicationDetailsHelper.navClick($(this));" class="grayTabLink">Documents</span>
    @if (Request.IsAuthenticated)
    {
        if (ViewBag.CurrentlyLoggedinContactTypeId == 2 && ViewBag.PermitStatusId == 46)
        {
            <span id="complianceReporting" onclick="applicationDetailsHelper.navClick($(this));" class="grayTabLink">Compliance Reporting</span>
        }

        if (ViewBag.IsExternalAuthority == "true")
        {
            <span id="countyReviewAndApproval" onclick="applicationDetailsHelper.navClick($(this));" class="grayTabLink">County Review and Approval</span>
        }

        if (ViewBag.CurrentlyLoggedinContactTypeId == 10)
        {
            <span id="DNRReviewApproval" onclick="applicationDetailsHelper.navClick($(this));" class="grayTabLink">DNR Review and Approval</span>
        }
    }
</div>
<div id="mainContent" style="overflow: hidden; position: absolute; top: 35px; left: 0px; right: 0px; bottom: 0px;">
</div>
@*<div id="maincontentLoading"></div>*@
<div id="PendingPermitCreatedMessage" title="Confirmation">
</div>
<div id="WarningMessage" title="Message">
</div>

@section css{
    @Styles.Render("~/Content/jqgrid")
}

@section scripts{

    @Scripts.Render("~/Scripts/jquery.maskedinput-1.3.1.js")
    @Scripts.Render("~/bundles/esriarcgisapi")
    @Scripts.Render("~/Scripts/ViewScripts/Permit/PermitDetail/ApplicationSummary.js")
    @Scripts.Render("~/bundles/Library")
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/Scripts/jmtExtensions/jquery.jmttg-extension-jqGrid.js")
    @Scripts.Render("~/bundles/blockUI")
    @Scripts.Render("~/Scripts/Helper.js")
    @Scripts.Render("~/Scripts/ViewScripts/Permit/UploadDocument.js")
    @Scripts.Render("~/Scripts/ViewScripts/Permit/Details.js")
    @Scripts.Render("~/Scripts/ViewScripts/Permit/PublicComment.js")

    <script type="text/javascript">
        $.blockUI({ message: '<h4>Loading...</h4>' });

        $(document).ready(function () {
            // Bind Analyze Button
            $('.analyzeInMapIcon').click(function () {
                @if (Request.IsAuthenticated)
                {
                    <text>
                window.location.href = '@Url.Action(MVC.Permitting.Dashboard.Index())' + '?' + $.param({
                    mode: 'Analysis',
                    permitId: $('#PermitId').val()
                });
                </text>
                }
                else
                {
                    <text>
                window.location.href = '@Url.Action(MVC.Permitting.Dashboard.PublicSearch())' + '?' + $.param({
                    mode: 'Analysis',
                    permitId: $('#PermitId').val()
                });
                </text>
                }
            });

            loadDetails();
            loadPermitHistory();

            $(".grayTabLink").click(function (event) {
                $.blockUI({ message: '<h4>Loading...</h4>' });
            });

            //hide loading upon any ajax call
            $(document).ajaxComplete(function () {
                $.unblockUI();
            });

            applicationDetailsHelper.setPermitNumber("@ViewBag.PermitName");
        })

        function loadDetails() {
            var _url = Helper.GetBaseURL("Permit");

            _url += "Permit/LoadDetails";

            $.ajax({
                url: _url,
                type: 'Get',
                data: { id: $('#PermitId').val() },
                beforeSend: function () {
                },
                success: function (response) {
                    $("#mainContent").html(response);

                    $.validator.unobtrusive.parse("#wizardForm");
                    ApplicationWizard.Initialize();
                    //ApplicationWizard.LoadwaterUseCatagoryAndTypeView();
                    //ApplicationWizard.LoadwaterUseDetailView();
                    applicationDetailsHelper.handleScrollingAfterDynamicLoad();
                }
            })
        }

        function loadPermitHistory() {
            var _url = Helper.GetBaseURL("Permit");

            _url += "Permit/LoadPermitHistory";

            //load main content
            $.ajax({
                url: _url,
                type: 'Get',
                data: { id: $('#PermitId').val() },
                success: function (response) {
                    //clear old content, load new content into pulldown
                    $("#permitPulldown").html(response);
                    //make sure Permit History has custom scrollbar (not working using the doc.ready)
                    applicationDetailsHelper.handlePulldownScrollbars($("#permitPulldown"));
                }
            });
        }

        function loadDocumentsTab() {
            var _url = Helper.GetBaseURL("Permit");

            _url += "Permit/LoadDocuments";

            //load main content
            $.ajax({
                url: _url,
                type: 'Get',
                data: { id: $('#PermitId').val(), permitStatus: $('#CurrentPermitStatusId').val() },
                success: function (response) {
                    $("#mainContent").html(response);
                    //set grid to full width
                    $("#uploadDashboardGrid").jqGrid("fixGridWidthMainContent");
                    //create custom scrollbars
                    applicationDetailsHelper.handleScrollingAfterDynamicLoad();
                    //make sure scrollwrap is 100% width
                    applicationDetailsHelper.setScrollWrapWidth();
                }
            });
        }

        function loadComplianceTab() {
            var url = Helper.GetBaseURL("Permit") + "Permit/LoadComplianceTab";

            //load main content
            $.ajax({
                url: url,
                type: 'Get',
                data: { id: $('#PermitId').val() },
                success: function (response) {
                    $("#mainContent").html(response);
                    applicationDetailsHelper.handleScrollingAfterDynamicLoad();
                    //make sure scrollwrap is 100% width
                    applicationDetailsHelper.setScrollWrapWidth();
                }
            });
        }

        function loadCountyReviewAndApproval() {
            var _url = Helper.GetBaseURL("Permit");

            _url += "Permit/LoadCountyReviewAndApprovalTab";

            //load main content
            $.ajax({
                url: _url,
                type: 'Get',
                data: { permitid: $('#PermitId').val() },
                success: function (response) {
                    $("#mainContent").html(response);
                    //create custom scrollbars
                    applicationDetailsHelper.handleScrollingAfterDynamicLoad();
                    //make sure scrollwrap is 100% width
                    applicationDetailsHelper.setScrollWrapWidth();
                }
            });
        }

        function loadDNRReviewApprovaltab() {

            //load main content
            $.ajax({
                url: '@Url.Action(MVC.Permitting.Permit.LoadDNRReviewApproval())',
                type: 'Get',
                data: { permitid: $('#PermitId').val() },
                success: function (response) {
                    $("#mainContent").html(response);
                    //create custom scrollbars
                    applicationDetailsHelper.handleScrollingAfterDynamicLoad();
                    //make sure scrollwrap is 100% width
                    applicationDetailsHelper.setScrollWrapWidth();
                }
            });
        }
    </script>
}