﻿@model MDGov.MDE.WSIPS.Portal.ExternalWeb.Areas.Permitting.Models.Forms.ApplicationWizard
<div id="titleOne" style="display: none;">
    Please verify your information before proceeding
</div>
<div id="titleTwo" style="display: none;" class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">The permit is being requested for
    </span>
    <span>@Html.RadioButtonFor(m => m.Contact.IsBusiness, false) you</span>
    <span>@Html.RadioButtonFor(m => m.Contact.IsBusiness, true) a business you represent</span>
</div>

@Html.EditorFor(m => m.Contact)