﻿@{
    ViewBag.Title = "ListPermitApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="renderbodyRight" style="left:0px;">
    <h3>Pending Applications</h3>
    <table id="PendingApplications">
    </table>
      <div id="pager" class="scroll" style="text-align: center;"></div>
</div>
@section css{
    @Styles.Render("~/Content/jqgrid")
}

@section scripts{
    @Scripts.Render("~/Scripts/DateFormatter.js")
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/Scripts/jmtExtensions/jquery.jmttg-extension-jqGrid.js")
    @Scripts.Render("~/Permit/PendingApplication")
<script type="text/javascript">
    $(document).ready(function () {
        //$.jmttgCustomBrowser.setRenderbodyRightScrollWrap100Percent();
    });

    function localResize() {
        //reset scrolwrap width to full width
        //$.jmttgCustomBrowser.setRenderbodyRightScrollWrap100Percent();
        $("#PendingApplications").jqGrid("fixGridWidthWithoutParentScroll");
        $("#PendingApplications").jqGrid("fixGridHeightWithoutParentScroll");
    }
</script>

}

