﻿@using System.Linq;
@model ApplicationSummary
@helper SingleItem(string item, string value)
{
    if (!string.IsNullOrEmpty(value))
    {
        <div class="singleItem">@Html.Raw(item) @Html.Raw(value)</div>
    }
}
@helper Heading(string item)
{
    <div class="localNavigationBold divVerticalBottomSpacerDouble">@item</div>
}

@if (Model == null)
{
    <text>Error: No information could be found on this permit.</text>
}
else
{
    if (Model.Permit != null)
    {
        if (!string.IsNullOrEmpty(Model.Permit.Description))
        {
            <div class="divVerticalBottomSpacerDouble"><span class="localNavigationBold">Subscription Summary:</span> @Model.Permit.Description</div>
        }

        if (!string.IsNullOrEmpty(Model.Permit.SubmittedBy))
        {
            <div class="divVerticalBottomSpacerDouble"><span class="localNavigationBold">Submitted By:</span> @Model.Permit.SubmittedBy</div>
        }
        
        if (Model.AppWizard.PermitCategoryId == 1 && Model.Permit.SubmittedDate.HasValue)
        {
            <div class="divVerticalBottomSpacerDouble"><span class="localNavigationBold">Submitted On:</span> @Model.Permit.SubmittedDate.Value.ToShortDateString()</div>
        }
        else if (Model.AppWizard.PermitCategoryId == 2 || Model.AppWizard.PermitCategoryId == 3 || Model.AppWizard.PermitCategoryId == 4 || Model.AppWizard.PermitCategoryId == 5)
        {
            if (Model.Permit.ReceivedDate.HasValue)
            {
                <div class="divVerticalBottomSpacerDouble"><span class="localNavigationBold">Received On:</span> @Model.Permit.ReceivedDate.Value.ToShortDateString()</div>
            }
        }
        else if (Model.AppWizard.PermitCategoryId == 6)
        {
            if (Model.Permit.ReceivedDate.HasValue)
            {
                <div class="divVerticalBottomSpacerDouble"><span class="localNavigationBold">Received On:</span> @Model.Permit.ReceivedDate.Value.ToShortDateString()</div>
            }

            if (Model.Permit.DateOut.HasValue)
            {
                <div class="divVerticalBottomSpacerDouble"><span class="localNavigationBold">Issued Date:</span> @Model.Permit.DateOut.Value.ToShortDateString()</div>
            }

            if (Model.Permit.AppropriationDate.HasValue)
            {
                <div class="divVerticalBottomSpacerDouble"><span class="localNavigationBold">First Approriation Date:</span> @Model.Permit.AppropriationDate.Value.ToShortDateString()</div>
            }

            if (Model.Permit.EffectiveDate.HasValue)
            {
                <div class="divVerticalBottomSpacerDouble"><span class="localNavigationBold">Effective Date:</span> @Model.Permit.EffectiveDate.Value.ToShortDateString()</div>
            }

            if (Model.Permit.ExpirationDate.HasValue)
            {
                <div class="divVerticalBottomSpacerDouble"><span class="localNavigationBold">Expiration Date:</span> @Model.Permit.ExpirationDate.Value.ToShortDateString()</div>
            }
        }
        else if (Model.AppWizard.PermitCategoryId == 7)
        {
            if (Model.Permit.DateOut.HasValue)
            {
                <div class="divVerticalBottomSpacerDouble"><span class="localNavigationBold">Issued Date:</span> @Model.Permit.DateOut.Value.ToShortDateString()</div>
            }
        }

        <div class="divVerticalBottomSpacerDouble"><span class="localNavigationBold">Requires Withdrawal Reporting?</span> @Model.RequiresWithdrawalReporting</div>
    }

    <div id="contactsSection">
        @Heading("Applicant")

        <div class="divVerticalBottomSpacerDouble">
            @if (Model.Applicant != null)
            {
                if (!string.IsNullOrEmpty(Model.Applicant.BusinessName))
                {
                    @SingleItem("Business Name: ", Model.Applicant.BusinessName)
                }
                @SingleItem("Name: ", Model.Applicant.Name)
                <!--@SingleItem("Secondary Name: ", Model.Applicant.SecondaryName)-->
                @SingleItem("Address: ", Model.Applicant.Address)
                @SingleItem("Phone: ", Model.Applicant.Phone)
                @SingleItem("Email: ", string.Format("<a href=\"mailto:{0}\">{0}</a>", Model.Applicant.Email))
            }
            else
            {
                <text>Applicant information could not be found</text>
            }
        </div>

        @Heading("Water User")
        <div class="divVerticalBottomSpacerDouble">
            @if (Model.WaterUser != null)
            {
                if (Model.Applicant != null && (Model.Applicant.ContactId == Model.WaterUser.ContactId))
                {
                    <text>Same as Applicant</text>
                }
                else
                {
                    if (!string.IsNullOrEmpty(Model.WaterUser.BusinessName))
                    {
                        @SingleItem("Business Name: ", Model.WaterUser.BusinessName)
                    }

                    @SingleItem("Name: ", Model.WaterUser.Name)
                    <!--@SingleItem("Secondary Name: ", Model.WaterUser.SecondaryName)-->
                    @SingleItem("Address: ", Model.WaterUser.Address)
                    @SingleItem("Phone: ", Model.WaterUser.Phone)
                    @SingleItem("Email: ", string.Format("<a href=\"mailto:{0}\">{0}</a>", Model.WaterUser.Email))
                }
            }

            else
            {
                <text>Water User information could not be found</text>
            }
        </div>

        @Heading("Primary Land Owner")
        <div class="divVerticalBottomSpacerDouble">
            @if (Model.PrimaryLandOwner != null)
            {
                if (Model.Applicant != null && (Model.Applicant.ContactId == Model.PrimaryLandOwner.ContactId))
                {
                    <text>Same as Applicant</text>
                }
                else
                {
                    if (!string.IsNullOrEmpty(Model.PrimaryLandOwner.BusinessName))
                    {
                        @SingleItem("Business Name: ", Model.PrimaryLandOwner.BusinessName)
                    }

                    @SingleItem("Name: ", Model.PrimaryLandOwner.Name)
                    <!--@SingleItem("Secondary Name: ", Model.PrimaryLandOwner.SecondaryName)-->
                    @SingleItem("Address: ", Model.PrimaryLandOwner.Address)
                    @SingleItem("Phone: ", Model.PrimaryLandOwner.Phone)
                    @SingleItem("Email: ", string.Format("<a href=\"mailto:{0}\">{0}</a>", Model.PrimaryLandOwner.Email))
                }
            }

            else
            {
                <text>Land Owner information could not be found</text>
            }
        </div>

        @if (Model.AdditionalLandOwners != null && Model.AdditionalLandOwners.Count > 0)
        {
            @Heading("Additional Land Owners")
            foreach (var item in Model.AdditionalLandOwners)
            {
                <div class="divVerticalBottomSpacerDouble">
                    @if (!string.IsNullOrEmpty(Model.WaterUser.BusinessName))
                    {
                        @SingleItem("Business Name: ", item.BusinessName)
                    }

                    @SingleItem("Name: ", item.Name)
                    <!--@SingleItem("Secondary Name: ", item.SecondaryName)-->
                    @SingleItem("Address: ", item.Address)
                    @SingleItem("Phone: ", item.Phone)
                    @SingleItem("Email: ", string.Format("<a href=\"mailto:{0}\">{0}</a>", item.Email))
                </div>
            }
        }

        @Heading("Permittee")
        <div class="divVerticalBottomSpacerDouble">
            @if (!String.IsNullOrEmpty(Model.Permittee) && !String.IsNullOrEmpty(Model.Permittee.Trim()))
            {
                @Html.DisplayFor(model => model.Permittee)
            }
            else
            {
                <text>Permittee information could not be found</text>
            }
        </div>
    </div>

    @Heading("Water-Use Description")
    <div class="divVerticalBottomSpacerDouble">
        @Html.DisplayFor(model => model.AppWizard.UseDescription)
    </div>

    <div class="divVerticalBottomSpacerDouble">
        @if (Model.SelectedUseDetailCategories != null)
        {
            @Heading("Selected Water Use Details")
            foreach (var item in Model.SelectedUseDetailCategories.Where(cat => !string.IsNullOrEmpty(cat)))
            {
                <div class="singleItem">@item</div>
            }
        }
    </div>

        // begin water use detail form
        if (Model.AppWizard != null && Model.AppWizard.WaterUseDetailForm != null)
        {
            //Poultry Evaporative
            <div id="poultryEvaporativeSection">
                @if (Model.AppWizard.WaterUseDetailForm.PoultryWateringEvaporativeForm.PoultryWateringForms != null && Model.AppWizard.WaterUseDetailForm.PoultryWateringEvaporativeForm.PoultryWateringForms.Count > 0)
                {
                    @Heading("Poultry Evaporative")
                    foreach (var poultryWateringEvaporativeForm in Model.AppWizard.WaterUseDetailForm.PoultryWateringEvaporativeForm.PoultryWateringForms)
                    {
                        <div class="divVerticalBottomSpacerDouble">
                            @if (poultryWateringEvaporativeForm.PoultryId.HasValue)
                            {
                                @SingleItem("Poultry Type: ", poultryWateringEvaporativeForm.PoultryTypeList.FirstOrDefault(x => x.Value == poultryWateringEvaporativeForm.PoultryId.Value.ToString()).Text)
                            }

                            @if (poultryWateringEvaporativeForm.NumberOfHouses.HasValue)
                            {
                                @SingleItem("No. of Houses: ", poultryWateringEvaporativeForm.NumberOfHouses.Value.ToString())
                            }

                            @if (poultryWateringEvaporativeForm.NumberOfFlocksPerYear.HasValue)
                            {
                                @SingleItem("No. of Flocks per Year: ", poultryWateringEvaporativeForm.NumberOfFlocksPerYear.Value.ToString())
                            }

                            @if (poultryWateringEvaporativeForm.BirdsPerFlock.HasValue)
                            {
                                @SingleItem("No. of Birds per Flock: ", poultryWateringEvaporativeForm.BirdsPerFlock.Value.ToString())
                            }

                            @SingleItem("No. of days per year foggers used: ", poultryWateringEvaporativeForm.NumberOfDaysPerYearFoggersUsed.ToString())
                        </div>
                    }
                }
            </div>

                //Poultry Fogger
                <div id="poultryFoggerSection">
                    @if (Model.AppWizard.WaterUseDetailForm.PoultryWateringFoggerForm.PoultryWateringForms != null && Model.AppWizard.WaterUseDetailForm.PoultryWateringFoggerForm.PoultryWateringForms.Count > 0)
                    {
                        @Heading("Poultry Fogger")
                        foreach (var poultryWateringFoggerForm in Model.AppWizard.WaterUseDetailForm.PoultryWateringFoggerForm.PoultryWateringForms)
                        {
                            <div class="divVerticalBottomSpacerDouble">
                                @if (poultryWateringFoggerForm.PoultryId.HasValue)
                                {
                                    @SingleItem("Poultry Type: ", poultryWateringFoggerForm.PoultryTypeList.FirstOrDefault(x => x.Value == poultryWateringFoggerForm.PoultryId.Value.ToString()).Text)
                                }

                                @if (poultryWateringFoggerForm.NumberOfHouses.HasValue)
                                {
                                    @SingleItem("No. of Houses: ", poultryWateringFoggerForm.NumberOfHouses.Value.ToString())
                                }

                                @if (poultryWateringFoggerForm.NumberOfFlocksPerYear.HasValue)
                                {
                                    @SingleItem("No. of Flocks per Year: ", poultryWateringFoggerForm.NumberOfFlocksPerYear.Value.ToString())
                                }

                                @if (poultryWateringFoggerForm.BirdsPerFlock.HasValue)
                                {
                                    @SingleItem("No. of Birds per Flock: ", poultryWateringFoggerForm.BirdsPerFlock.Value.ToString())
                                }
                            </div>
                        }
                    }
                </div>

                    //Dairy Animal Watering
                    <div id="dairyAnimalWateringSection">
                        @if (Model.AppWizard.WaterUseDetailForm.DairyAnimalWateringForm.LivestockForms != null && Model.AppWizard.WaterUseDetailForm.DairyAnimalWateringForm.LivestockForms.Count > 0)
                        {
                            @Heading("Dairy Animal Watering")
                            foreach (var dairyAnimalWateringForm in Model.AppWizard.WaterUseDetailForm.DairyAnimalWateringForm.LivestockForms)
                            {
                                <div class="divVerticalBottomSpacerDouble">
                                    @if (!string.IsNullOrEmpty(dairyAnimalWateringForm.Livestock))
                                    {
                                        @SingleItem("Type of Dairy Animal: ", dairyAnimalWateringForm.Livestock)
                                    }

                                    @if (dairyAnimalWateringForm.NumberOfLivestock.HasValue)
                                    {
                                        @SingleItem("No. of Animals: ", dairyAnimalWateringForm.NumberOfLivestock.ToString())
                                    }
                                </div>
                            }
                        }
                    </div>

                        //Other Livestock Watering
                        <div id="otherLivestockWateringSection">
                            @if (Model.AppWizard.WaterUseDetailForm.OtherLivestockWateringForm.LivestockForms != null && Model.AppWizard.WaterUseDetailForm.OtherLivestockWateringForm.LivestockForms.Count > 0)
                            {
                                @Heading("Other Livestock Watering")
                                foreach (var otherLivestockWateringForm in Model.AppWizard.WaterUseDetailForm.OtherLivestockWateringForm.LivestockForms)
                                {
                                    <div class="divVerticalBottomSpacerDouble">
                                        @if (!string.IsNullOrEmpty(otherLivestockWateringForm.Livestock))
                                        {
                                            @SingleItem("Type of Livestock: ", otherLivestockWateringForm.Livestock)
                                        }

                                        @if (otherLivestockWateringForm.NumberOfLivestock.HasValue)
                                        {
                                            @SingleItem("No. of Animals: ", otherLivestockWateringForm.NumberOfLivestock.ToString())
                                        }
                                    </div>
                                }
                            }
                        </div>

                            //Farm Potable Supplies
                            <div id="farmPotableSuppliesSection">
                                @if (Model.AppWizard.WaterUseDetailForm.PermitWwFarmPotableSuppliesForm != null && Model.AppWizard.WaterUseDetailForm.PermitWwFarmPotableSuppliesForm.Id != 0)
                                {
                                    @Heading("Farm Potable Supplies")
                                    <div class="divVerticalBottomSpacerDouble">
                                        @SingleItem("No. of employees: ", Model.AppWizard.WaterUseDetailForm.PermitWwFarmPotableSuppliesForm.NoOfEmployees.ToString())
                                    </div>
                                }
                            </div>

                                //Crop Irrigation
                                <div id="cropIrrigationSection">
                                    @if (Model.AppWizard.WaterUseDetailForm.CropUseForm.TotalNumberOfAcres.HasValue && Model.AppWizard.WaterUseDetailForm.CropUseForm.TotalNumberOfAcres.Value > 0)
                                    {
                                        @Heading("Crop Irrigation")
                                        <div class="divVerticalBottomSpacerDouble">
                                            @SingleItem("Total Irrigated Acres: ", Model.AppWizard.WaterUseDetailForm.CropUseForm.TotalNumberOfAcres.Value.ToString())
                                        </div>
                                        if (Model.AppWizard.WaterUseDetailForm.CropUseForm.CropForms != null && Model.AppWizard.WaterUseDetailForm.CropUseForm.CropForms.Any())
                                        {
                                            foreach (var cropForm in Model.AppWizard.WaterUseDetailForm.CropUseForm.CropForms)
                                            {
                                                <div class="divVerticalBottomSpacerDouble">
                                                    @if (cropForm.CropId.HasValue && cropForm.CropTypeList != null)
                                                    {
                                                        @SingleItem("Type of Crop: ", cropForm.CropTypeList.FirstOrDefault(x => x.Value == cropForm.CropId.Value.ToString()).Text)
                                                    }

                                                    @if (cropForm.IrrigatedAcres.HasValue)
                                                    {
                                                        @SingleItem("No. of Irrigated Acres: ", cropForm.IrrigatedAcres.Value.ToString())
                                                    }

                                                    @if (cropForm.IrrigationSystemTypeId.HasValue && cropForm.IrrigationSystemTypeList != null)
                                                    {
                                                        var other = cropForm.IrrigationSystemTypeList.FirstOrDefault(x => x.Text == "Other");
                                                        int otherId = -1;
                                                        if (other != null)
                                                        {
                                                            otherId = Convert.ToInt32(other.Value);
                                                        }

                                                        if (cropForm.IrrigationSystemTypeId.Value == otherId)
                                                        {
                                                            @SingleItem("Irrigation System Used: ", cropForm.IrrigationSystemDescription)
                                                        }
                                                        else
                                                        {
                                                            @SingleItem("Irrigation System Used: ", cropForm.IrrigationSystemTypeList.FirstOrDefault(x => x.Value == cropForm.IrrigationSystemTypeId.Value.ToString()).Text)
                                                        }
                                                    }

                                                    @if (cropForm.CropYieldUnitId.HasValue && cropForm.CropYieldUnitList != null)
                                                    {
                                                        @SingleItem("Crop Yield Goal: ", cropForm.CropYieldGoal + " " +
                             cropForm.CropYieldUnitList.FirstOrDefault(x => x.Value == cropForm.CropYieldUnitId.Value.ToString()).Text)
                                                    }
                                                </div>
                                            }
                                        }
                                    }
                                </div>

                                    //Nursery Irrigation
                                    <div id="nurseryIrrigationSection">
                                        @if (Model.AppWizard.WaterUseDetailForm.NurseryStockIrrigationForm.IrrigationForms != null && Model.AppWizard.WaterUseDetailForm.NurseryStockIrrigationForm.IrrigationForms.Count > 0)
                                        {
                                            @Heading("Nursery Irrigation")
                                            foreach (var nurseryStockItem in Model.AppWizard.WaterUseDetailForm.NurseryStockIrrigationForm.IrrigationForms)
                                            {
                                                <div class="divVerticalBottomSpacerDouble">
                                                    @if (!string.IsNullOrEmpty(nurseryStockItem.PurposeDescription))
                                                    {
                                                        @SingleItem("Describe What is Being Irrigated: ", nurseryStockItem.PurposeDescription)
                                                    }

                                                    @if (nurseryStockItem.IrrigatedAcres.HasValue)
                                                    {
                                                        @SingleItem("No. of Irrigated Acres: ", nurseryStockItem.IrrigatedAcres.Value.ToString())
                                                    }

                                                    @if (nurseryStockItem.IrrigationSystemTypeId.HasValue && nurseryStockItem.IrrigationSystemTypeList != null)
                                                    {
                                                        var other = nurseryStockItem.IrrigationSystemTypeList.FirstOrDefault(x => x.Text == "Other");
                                                        int otherId = -1;
                                                        if (other != null)
                                                        {
                                                            otherId = Convert.ToInt32(other.Value);
                                                        }

                                                        if (nurseryStockItem.IrrigationSystemTypeId.Value == otherId)
                                                        {
                                                            @SingleItem("Irrigation System Used: ", nurseryStockItem.IrrigationSystemDescription)
                                                        }
                                                        else
                                                        {
                                                            @SingleItem("Irrigation System Used: ", nurseryStockItem.IrrigationSystemTypeList.FirstOrDefault(x => x.Value == nurseryStockItem.IrrigationSystemTypeId.ToString()).Text)
                                                        }
                                                    }
                                                </div>
                                            }
                                        }
                                    </div>

                                        //Sod Farm Irrigation
                                        <div id="sodFarmIrrigationSection">
                                            @if (Model.AppWizard.WaterUseDetailForm.SodIrrigationForm.IrrigationForms != null && Model.AppWizard.WaterUseDetailForm.SodIrrigationForm.IrrigationForms.Count > 0)
                                            {
                                                @Heading("Sod Farm Irrigation")
                                                foreach (var sodItem in Model.AppWizard.WaterUseDetailForm.SodIrrigationForm.IrrigationForms)
                                                {
                                                    <div class="divVerticalBottomSpacerDouble">
                                                        @if (!string.IsNullOrEmpty(sodItem.PurposeDescription))
                                                        {
                                                            @SingleItem("Describe What is Being Irrigated: ", sodItem.PurposeDescription)
                                                        }

                                                        @if (sodItem.IrrigatedAcres.HasValue)
                                                        {
                                                            @SingleItem("No. of Irrigated Acres: ", sodItem.IrrigatedAcres.Value.ToString())
                                                        }

                                                        @if (sodItem.IrrigationSystemTypeId != null && sodItem.IrrigationSystemTypeList != null)
                                                        {
                                                            var other = sodItem.IrrigationSystemTypeList.FirstOrDefault(x => x.Text == "Other");
                                                            int otherId = -1;
                                                            if (other != null)
                                                            {
                                                                otherId = Convert.ToInt32(other.Value);
                                                            }

                                                            if (sodItem.IrrigationSystemTypeId.Value == otherId)
                                                            {
                                                                @SingleItem("Irrigation System Used: ", sodItem.IrrigationSystemDescription)
                                                            }
                                                            else
                                                            {
                                                                @SingleItem("Irrigation System Used: ", sodItem.IrrigationSystemTypeList.FirstOrDefault(x => x.Value == sodItem.IrrigationSystemTypeId.Value.ToString()).Text)
                                                            }
                                                        }
                                                    </div>
                                                }
                                            }
                                        </div>

                                            //Food Processing (Onsite)
                                            <div id="foodProcessingSection">
                                                @if (Model.AppWizard.WaterUseDetailForm.PermitWwFoodProcessingForm != null && Model.AppWizard.WaterUseDetailForm.PermitWwFoodProcessingForm.Id != 0)
                                                {
                                                    @Heading("Food Processing (Onsite)")
                                                    <div class="divVerticalBottomSpacerDouble">
                                                        @SingleItem("For Groundwater, Average No. of Gallons per day to be withdrawn on an annual basis", Model.AppWizard.WaterUseDetailForm.PermitWwFoodProcessingForm.AverageGallonPerDayFromGroundWater.ToString())
                                                        @SingleItem("For Groundwater, Gallons per day to be withdrawn during month of maximum use", Model.AppWizard.WaterUseDetailForm.PermitWwFoodProcessingForm.MaximumGallonPerDayFromGroundWater.ToString())
                                                        @SingleItem("For Surface Water, Average No. of Gallons per day to be withdrawn on an annual basis", Model.AppWizard.WaterUseDetailForm.PermitWwFoodProcessingForm.AverageGallonPerDayFromSurfaceWater.ToString())
                                                        @SingleItem("For Surface Water, Maximum gallons per day to be withdrawn ", Model.AppWizard.WaterUseDetailForm.PermitWwFoodProcessingForm.MaximumGallonPerDayFromSurfaceWater.ToString())
                                                        @SingleItem("Describe how estimate was derived", Model.AppWizard.WaterUseDetailForm.PermitWwFoodProcessingForm.EstimateDescription.ToString())
                                                    </div>
                                                }
                                            </div>

                                                //Aquaculture/Aquariums
                                                <div id="aquacultureAndAquariumSection">
                                                    @if (Model.AppWizard.WaterUseDetailForm.PermitWwAquacultureAquariumForm != null && Model.AppWizard.WaterUseDetailForm.PermitWwAquacultureAquariumForm.Id != 0)
                                                    {
                                                        @Heading("Aquaculture/Aquariums")
                                                        <div class="divVerticalBottomSpacerDouble">
                                                            @SingleItem("Is the water recycled", Model.AppWizard.WaterUseDetailForm.PermitWwAquacultureAquariumForm.IsRecycledWater ? "Yes" : "No")
                                                            @SingleItem("For Groundwater, Average No. of Gallons per day to be withdrawn on an annual basis", Model.AppWizard.WaterUseDetailForm.PermitWwAquacultureAquariumForm.AverageGallonPerDayFromGroundWater.ToString())
                                                            @SingleItem("For Groundwater, Gallons per day to be withdrawn during month of maximum use", Model.AppWizard.WaterUseDetailForm.PermitWwAquacultureAquariumForm.MaximumGallonPerDayFromGroundWater.ToString())
                                                            @SingleItem("For Surface Water, Average No. of Gallons per day to be withdrawn on an annual basis", Model.AppWizard.WaterUseDetailForm.PermitWwAquacultureAquariumForm.AverageGallonPerDayFromSurfaceWater.ToString())
                                                            @SingleItem("For Surface Water, Maximum gallons per day to be withdrawn ", Model.AppWizard.WaterUseDetailForm.PermitWwAquacultureAquariumForm.MaximumGallonPerDayFromSurfaceWater.ToString())
                                                            @SingleItem("Describe how estimate was derived", Model.AppWizard.WaterUseDetailForm.PermitWwAquacultureAquariumForm.EstimateDescription.ToString())
                                                        </div>
                                                    }
                                                </div>

                                                    //Irrigation (Undefined)
                                                    <div id="irrigationUndefinedSection">
                                                        @if (Model.AppWizard.WaterUseDetailForm.IrrigationUndefinedForm != null && Model.AppWizard.WaterUseDetailForm.IrrigationUndefinedForm.Id != 0)
                                                        {
                                                            @Heading("Irrigation (Undefined)")
                                                            <div class="divVerticalBottomSpacerDouble">
                                                                @SingleItem("No of irrigated acres: ", Model.AppWizard.WaterUseDetailForm.IrrigationUndefinedForm.NoOfIrrigatedAcres.ToString())
                                                                @SingleItem("No of days per week irrigated: ", Model.AppWizard.WaterUseDetailForm.IrrigationUndefinedForm.NoOfDaysPerWeekIrrigated.ToString())
                                                                @SingleItem("Describe What is Being Irrigated: ", Model.AppWizard.WaterUseDetailForm.IrrigationUndefinedForm.PurposeDescription)
                                                                @SingleItem("For Groundwater, Average No. of Gallons per day to be withdrawn on an annual basis: ", Model.AppWizard.WaterUseDetailForm.IrrigationUndefinedForm.AverageGallonPerDayFromGroundWater.HasValue ? Model.AppWizard.WaterUseDetailForm.IrrigationUndefinedForm.AverageGallonPerDayFromGroundWater.ToString() : "")
                                                                @SingleItem("For Groundwater, Gallons per day to be withdrawn during month of maximum use : ", Model.AppWizard.WaterUseDetailForm.IrrigationUndefinedForm.MaximumGallonPerDayFromGroundWater.HasValue ? Model.AppWizard.WaterUseDetailForm.IrrigationUndefinedForm.MaximumGallonPerDayFromGroundWater.ToString() : "")
                                                                @SingleItem("For Surface Water, Average No. of Gallons per day to be withdrawn on an annual basis: ", Model.AppWizard.WaterUseDetailForm.IrrigationUndefinedForm.AverageGallonPerDayFromSurfaceWater.HasValue ? Model.AppWizard.WaterUseDetailForm.IrrigationUndefinedForm.AverageGallonPerDayFromSurfaceWater.ToString() : "")
                                                                @SingleItem("For Surface Water, Maximum gallons per day to be withdrawn : ", Model.AppWizard.WaterUseDetailForm.IrrigationUndefinedForm.MaximumGallonPerDayFromSurfaceWater.HasValue ? Model.AppWizard.WaterUseDetailForm.IrrigationUndefinedForm.MaximumGallonPerDayFromSurfaceWater.ToString() : "")
                                                                @SingleItem("Describe how estimate was derived: ", Model.AppWizard.WaterUseDetailForm.IrrigationUndefinedForm.EstimateDescription)
                                                            </div>
                                                        }
                                                    </div>

                                                        //Golf Course Irrigation
                                                        <div id="golfCourseIrrigation">
                                                            @if (Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm != null && Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.Id != 0)
                                                            {
                                                                @Heading("Golf Course Irrigation")
                                                                <div class="divVerticalBottomSpacerDouble">
                                                                    @if (Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.GolfIrrigationSystemTypeId.HasValue)
                                                                    {
                                                                        @SingleItem("Irrigation system: ", Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.GolfIrrigationSystemTypeList.FirstOrDefault(x => x.Value == Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.GolfIrrigationSystemTypeId.Value.ToString()).Text)
                                                                    }

                                                                    @if (Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.IrrigationLayoutTypeId.HasValue)
                                                                    {
                                                                        @SingleItem("Irrigation layout: ", Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.IrrigationLayoutTypeList.FirstOrDefault(x => x.Value == Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.IrrigationLayoutTypeId.Value.ToString()).Text)
                                                                    }

                                                                    @SingleItem("Is well water pumped into pond: ", Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.IsWellwaterPumpedIntoPond ? "Yes" : "No")
                                                                    @SingleItem("No. of irrigated acres – tees/greens: ", Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.NoOfIrrigatedAcres_teesOrGreens.HasValue ? Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.NoOfIrrigatedAcres_teesOrGreens.Value.ToString() : "")
                                                                    @SingleItem("No. of irrigated acres – fairways: ", Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.NoOfIrrigatedAcres_fairways.HasValue ? Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.NoOfIrrigatedAcres_fairways.Value.ToString() : "")
                                                                    @SingleItem("Type of grass – tees/greens: ", Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.TypeOfGrass_tees_greens == null ? Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.TypeOfGrass_tees_greens : "")
                                                                    @SingleItem("Type of grass – fairways: ", Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.TypeOfGrass_fairways == null ? Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.TypeOfGrass_fairways : "")

                                                                    @SingleItem("For Groundwater, Average No. of Gallons per day to be withdrawn on an annual basis: ", Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.AverageGallonPerDayFromGroundWater.HasValue ? Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.AverageGallonPerDayFromGroundWater.ToString() : "")
                                                                    @SingleItem("For Groundwater, Gallons per day to be withdrawn during month of maximum use : ", Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.MaximumGallonPerDayFromGroundWater.HasValue ? Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.MaximumGallonPerDayFromGroundWater.ToString() : "")
                                                                    @SingleItem("For Surface Water, Average No. of Gallons per day to be withdrawn on an annual basis: ", Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.AverageGallonPerDayFromSurfaceWater.HasValue ? Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.AverageGallonPerDayFromSurfaceWater.ToString() : "")
                                                                    @SingleItem("For Surface Water, Maximum gallons per day to be withdrawn : ", Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.MaximumGallonPerDayFromSurfaceWater.HasValue ? Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.MaximumGallonPerDayFromSurfaceWater.ToString() : "")
                                                                    @SingleItem("Describe how estimate was derived: ", Model.AppWizard.WaterUseDetailForm.GolfCourseIrrigationForm.EstimateDescription)
                                                                </div>
                                                            }
                                                        </div>

                                                            //Lawn and Park Irrigation
                                                            <div id="lawnAndParkIrrigation">
                                                                @if (Model.AppWizard.WaterUseDetailForm.LawnAndParkIrrigationForm != null && Model.AppWizard.WaterUseDetailForm.LawnAndParkIrrigationForm.Id != 0)
                                                                {
                                                                    @Heading("Lawn and Park Irrigation")
                                                                    <div class="divVerticalBottomSpacerDouble">
                                                                        @SingleItem("No of irrigated acres: ", Model.AppWizard.WaterUseDetailForm.LawnAndParkIrrigationForm.NoOfIrrigatedAcres.ToString())
                                                                        @SingleItem("No of days per week irrigated : ", Model.AppWizard.WaterUseDetailForm.LawnAndParkIrrigationForm.NoOfDaysPerWeekIrrigated.ToString())
                                                                        @SingleItem("Describe What is Being Irrigated: ", Model.AppWizard.WaterUseDetailForm.LawnAndParkIrrigationForm.PurposeDescription)
                                                                        @SingleItem("For Groundwater, Average No. of Gallons per day to be withdrawn on an annual basis: ", Model.AppWizard.WaterUseDetailForm.LawnAndParkIrrigationForm.AverageGallonPerDayFromGroundWater.HasValue ? Model.AppWizard.WaterUseDetailForm.LawnAndParkIrrigationForm.AverageGallonPerDayFromGroundWater.ToString() : "")
                                                                        @SingleItem("For Groundwater, Gallons per day to be withdrawn during month of maximum use : ", Model.AppWizard.WaterUseDetailForm.LawnAndParkIrrigationForm.MaximumGallonPerDayFromGroundWater.HasValue ? Model.AppWizard.WaterUseDetailForm.LawnAndParkIrrigationForm.MaximumGallonPerDayFromGroundWater.ToString() : "")
                                                                        @SingleItem("For Surface Water, Average No. of Gallons per day to be withdrawn on an annual basis: ", Model.AppWizard.WaterUseDetailForm.LawnAndParkIrrigationForm.AverageGallonPerDayFromSurfaceWater.HasValue ? Model.AppWizard.WaterUseDetailForm.LawnAndParkIrrigationForm.AverageGallonPerDayFromSurfaceWater.ToString() : "")
                                                                        @SingleItem("For Surface Water, Maximum gallons per day to be withdrawn : ", Model.AppWizard.WaterUseDetailForm.LawnAndParkIrrigationForm.MaximumGallonPerDayFromSurfaceWater.HasValue ? Model.AppWizard.WaterUseDetailForm.LawnAndParkIrrigationForm.MaximumGallonPerDayFromSurfaceWater.ToString() : "")
                                                                        @SingleItem("Describe how estimate was derived: ", Model.AppWizard.WaterUseDetailForm.LawnAndParkIrrigationForm.EstimateDescription)
                                                                    </div>
                                                                }
                                                            </div>

                                                                //Small Intermittent Irrigation
                                                                <div id="smallIntermittentIrrigationSection">
                                                                    @if (Model.AppWizard.WaterUseDetailForm.SmallIntermitentIrrigationForm != null && Model.AppWizard.WaterUseDetailForm.SmallIntermitentIrrigationForm.Id != 0)
                                                                    {
                                                                        @Heading("Small Intermittent Irrigation")
                                                                        <div class="divVerticalBottomSpacerDouble">
                                                                            @SingleItem("No of irrigated acres : ", Model.AppWizard.WaterUseDetailForm.SmallIntermitentIrrigationForm.NoOfIrrigatedAcres.ToString())
                                                                            @SingleItem("No of days per week irrigated: ", Model.AppWizard.WaterUseDetailForm.SmallIntermitentIrrigationForm.NoOfDaysPerWeekIrrigated.ToString())
                                                                            @SingleItem("Describe What is Being Irrigated: ", Model.AppWizard.WaterUseDetailForm.SmallIntermitentIrrigationForm.PurposeDescription)
                                                                            @SingleItem("For Groundwater, Average No. of Gallons per day to be withdrawn on an annual basis: ", Model.AppWizard.WaterUseDetailForm.SmallIntermitentIrrigationForm.AverageGallonPerDayFromGroundWater.HasValue ? Model.AppWizard.WaterUseDetailForm.SmallIntermitentIrrigationForm.AverageGallonPerDayFromGroundWater.ToString() : "")
                                                                            @SingleItem("For Groundwater, Gallons per day to be withdrawn during month of maximum use : ", Model.AppWizard.WaterUseDetailForm.SmallIntermitentIrrigationForm.MaximumGallonPerDayFromGroundWater.HasValue ? Model.AppWizard.WaterUseDetailForm.SmallIntermitentIrrigationForm.MaximumGallonPerDayFromGroundWater.ToString() : "")
                                                                            @SingleItem("For Surface Water, Average No. of Gallons per day to be withdrawn on an annual basis: ", Model.AppWizard.WaterUseDetailForm.SmallIntermitentIrrigationForm.AverageGallonPerDayFromSurfaceWater.HasValue ? Model.AppWizard.WaterUseDetailForm.SmallIntermitentIrrigationForm.AverageGallonPerDayFromSurfaceWater.ToString() : "")
                                                                            @SingleItem("For Surface Water, Maximum gallons per day to be withdrawn : ", Model.AppWizard.WaterUseDetailForm.SmallIntermitentIrrigationForm.MaximumGallonPerDayFromSurfaceWater.HasValue ? Model.AppWizard.WaterUseDetailForm.SmallIntermitentIrrigationForm.MaximumGallonPerDayFromSurfaceWater.ToString() : "")
                                                                            @SingleItem("Describe how estimate was derived: ", Model.AppWizard.WaterUseDetailForm.SmallIntermitentIrrigationForm.EstimateDescription)
                                                                        </div>
                                                                    }
                                                                </div>

                                                                    //Commercial drinking/sanitary
                                                                    <div id="commercialDringinkSanitarySection">
                                                                        @if (Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm != null && Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.Id != 0)
                                                                        {
                                                                            @Heading("Commercial drinking/sanitary")
                                                                            <div class="divVerticalBottomSpacerDouble">
                                                                                @{ var optionId = Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.TypeOfFacilityId; }
                                                                                @SingleItem("Type of facility: ", Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.FacilityList.FirstOrDefault(x => x.Value == optionId.ToString()).Text)

                                                                                @SingleItem("Area (Sq footage) : ", Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.AreaOrSquareFootage.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.AreaOrSquareFootage.ToString() : "")

                                                                                @SingleItem("No of employees : ", Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.NoOfEmployees.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.NoOfEmployees.ToString() : "")
                                                                                @SingleItem("Avg number of customers per day : ", Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.AvgNumberOfCustomersPerDay.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.AvgNumberOfCustomersPerDay.ToString() : "")
                                                                                @if (optionId == 1)
                                                                                {
                                                                                    var optionId2 = Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.RestaurantTypeId;
                                                                                    @SingleItem("Restaurant Type: ", Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.RestaurantTypeList.FirstOrDefault(x => x.Value == optionId.ToString()).Text)
                                                                                    @SingleItem("No. of seats: ", Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.NoOfSeats.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.NoOfSeats.ToString() : "")
                                                                                }
                                                                                else if (optionId == 5)
                                                                                {
                                                                                    @SingleItem("No. of slips: ", Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.NoOfSlips.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.NoOfSlips.ToString() : "")
                                                                                }

                                                                                @SingleItem("For Groundwater, Average No. of Gallons per day to be withdrawn on an annual basis: ", Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.AverageGallonPerDayFromGroundWater != null ? Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.AverageGallonPerDayFromGroundWater.ToString() : "")
                                                                                @SingleItem("For Groundwater, Gallons per day to be withdrawn during month of maximum use : ", Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.MaximumGallonPerDayFromGroundWater.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.MaximumGallonPerDayFromGroundWater.ToString() : "")
                                                                                @SingleItem("For Surface Water, Average No. of Gallons per day to be withdrawn on an annual basis: ", Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.AverageGallonPerDayFromSurfaceWater.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.AverageGallonPerDayFromSurfaceWater.ToString() : "")
                                                                                @SingleItem("For Surface Water, Maximum gallons per day to be withdrawn : ", Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.MaximumGallonPerDayFromSurfaceWater.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.MaximumGallonPerDayFromSurfaceWater.ToString() : "")
                                                                                @SingleItem("Describe how estimate was derived: ", Model.AppWizard.WaterUseDetailForm.PermitWwCommercialDrinkingOrSanitaryForm.EstimateDescription)
                                                                            </div>
                                                                        }
                                                                    </div>

                                                                        //Institutional Educational (drinking/sanitary)
                                                                        <div id="institutionalEducationalDrinkingSanitarySection">
                                                                            @if (Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm != null && Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.Id != 0)
                                                                            {
                                                                                @Heading("Institutional Educational (drinking/sanitary)")
                                                                                <div class="divVerticalBottomSpacerDouble">
                                                                                    @{ var facilityoptionId = Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.EducationInstituteTypeId; }
                                                                                    @SingleItem("Type of facility: ", Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.EducationInstituteTypeList.FirstOrDefault(x => x.Value == facilityoptionId.ToString()).Text)

                                                                                    @if (facilityoptionId == 1) //School
                                                                                    {
                                                                                        @SingleItem("No. of staff : ", Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStaff.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStaff.ToString() : "")
                                                                                        @SingleItem("No. of students : ", Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStudents.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStudents.ToString() : "")
                                                                                        @SingleItem("Athletic field irrigation : ", Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.IsAthleticFieldIrrigation ? "Yes" : "No")
                                                                                        if (Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.IsAthleticFieldIrrigation)
                                                                                        {
                                                                                            @SingleItem("No. of irrigated acres : ", Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfIrrigatedAcres.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfIrrigatedAcres.ToString() : "")
                                                                                        }
                                                                                        @SingleItem("Chillers : ", Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.Chillers ? "Yes" : "No")
                                                                                    }
                                                                                    else if (facilityoptionId == 2) //Daycare
                                                                                    {
                                                                                        @SingleItem("No. staff working more than 20 hrs per week : ", Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStaffWorkingMorethan20hrsPerWeek.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStaffWorkingMorethan20hrsPerWeek.ToString() : "")
                                                                                        @SingleItem("No. staff working less than 20 hrs per week : ", Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStaffWorkingLessthan20hrsPerWeek.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStaffWorkingLessthan20hrsPerWeek.ToString() : "")
                                                                                        @SingleItem("No. students attending more than 20 hrs per week : ", Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStudentsAttendingMorethan20hrsPerWeek.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStudentsAttendingMorethan20hrsPerWeek.ToString() : "")
                                                                                        @SingleItem("No. students attending less than 20 hrs per week : ", Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStudentsAttendingLessthan20hrsPerWeek.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.NoOfStudentsAttendingLessthan20hrsPerWeek.ToString() : "")
                                                                                    }

                                                                                    @SingleItem("For Groundwater, Average No. of Gallons per day to be withdrawn on an annual basis: ", Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.AverageGallonPerDayFromGroundWater != null ? Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.AverageGallonPerDayFromGroundWater.ToString() : "")
                                                                                    @SingleItem("For Groundwater, Gallons per day to be withdrawn during month of maximum use : ", Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.MaximumGallonPerDayFromGroundWater != null ? Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.MaximumGallonPerDayFromGroundWater.ToString() : "")
                                                                                    @SingleItem("For Surface Water, Average No. of Gallons per day to be withdrawn on an annual basis: ", Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.AverageGallonPerDayFromSurfaceWater != null ? Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.AverageGallonPerDayFromSurfaceWater.ToString() : "")
                                                                                    @SingleItem("For Surface Water, Maximum gallons per day to be withdrawn : ", Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.MaximumGallonPerDayFromSurfaceWater != null ? Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.MaximumGallonPerDayFromSurfaceWater.ToString() : "")
                                                                                    @SingleItem("Describe how estimate was derived: ", Model.AppWizard.WaterUseDetailForm.PermitWwEducationalDrinkingOrsanitaryForm.EstimateDescription)
                                                                                </div>
                                                                            }
                                                                        </div>

                                                                            //Institutional religious (drinking/sanitary)
                                                                            <div id="institutionalReligiousDrinkingSanitarySection">
                                                                                @if (Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm != null && Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.Id != 0)
                                                                                {
                                                                                    @Heading("Institutional religious (drinking/sanitary)")
                                                                                    <div class="divVerticalBottomSpacerDouble">
                                                                                        @SingleItem("No. of parishioners: ", Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfParishioners.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfParishioners.ToString() : "")
                                                                                        @SingleItem("No. of services per week: ", Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfServicesPerWeek.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfServicesPerWeek.ToString() : "")
                                                                                        @SingleItem("Athletic field irrigation: ", Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.Daycare ? "Yes" : "No")
                                                                                        @if (Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.Daycare)
                                                                                        {
                                                                                            @SingleItem("No. staff working more than 20 hrs per week: ", Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfStaffWorkingMorethan20hrsPerWeek.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfStaffWorkingMorethan20hrsPerWeek.ToString() : "")
                                                                                            @SingleItem("No. staff working less than 20 hrs per week: ", Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfStaffWorkingLessthan20hrsPerWeek.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfStaffWorkingLessthan20hrsPerWeek.ToString() : "")
                                                                                            @SingleItem("No. students attending more than 20 hrs per week: ", Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfStudentsAttendingMorethan20hrsPerWeek.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfStudentsAttendingMorethan20hrsPerWeek.ToString() : "")
                                                                                            @SingleItem("No. students attending less than 20 hrs per week: ", Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfStudentsAttendingLessthan20hrsPerWeek.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.NoOfStudentsAttendingLessthan20hrsPerWeek.ToString() : "")
                                                                                        }

                                                                                        @SingleItem("For Groundwater, Average No. of Gallons per day to be withdrawn on an annual basis: ", Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.AverageGallonPerDayFromGroundWater.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.AverageGallonPerDayFromGroundWater.ToString() : "")
                                                                                        @SingleItem("For Groundwater, Gallons per day to be withdrawn during month of maximum use: ", Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.MaximumGallonPerDayFromGroundWater.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.MaximumGallonPerDayFromGroundWater.ToString() : "")
                                                                                        @SingleItem("For Surface Water, Average No. of Gallons per day to be withdrawn on an annual basis: ", Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.AverageGallonPerDayFromSurfaceWater.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.AverageGallonPerDayFromSurfaceWater.ToString() : "")
                                                                                        @SingleItem("For Surface Water, Maximum gallons per day to be withdrawn: ", Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.MaximumGallonPerDayFromSurfaceWater.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.MaximumGallonPerDayFromSurfaceWater.ToString() : "")
                                                                                        @SingleItem("Describe how estimate was derived: ", Model.AppWizard.WaterUseDetailForm.PermitWwReligiousDringkingOrSanitaryForm.EstimateDescription)
                                                                                    </div>
                                                                                }
                                                                            </div>

                                                                                //Wildlife Ponds
                                                                                <div id="wildlifePondsSection">
                                                                                    @if (Model.AppWizard.WaterUseDetailForm.PermitWwWildlifePondForm != null && Model.AppWizard.WaterUseDetailForm.PermitWwWildlifePondForm.Id != 0)
                                                                                    {
                                                                                        @Heading("Wildlife Ponds")
                                                                                        <div class="divVerticalBottomSpacerDouble">
                                                                                            @SingleItem("No. of ponds: ", Model.AppWizard.WaterUseDetailForm.PermitWwWildlifePondForm.NoOfPonds.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwWildlifePondForm.NoOfPonds.ToString() : "")
                                                                                            @SingleItem("Area of pond(s) (in acres): ", Model.AppWizard.WaterUseDetailForm.PermitWwWildlifePondForm.AreaOfPonds_inAcres.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwWildlifePondForm.AreaOfPonds_inAcres.ToString() : "")
                                                                                            @SingleItem("Depth of pond(s) (in feet): ", Model.AppWizard.WaterUseDetailForm.PermitWwWildlifePondForm.DepthOfPonds_inFeet.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwWildlifePondForm.DepthOfPonds_inFeet.ToString() : "")
                                                                                            @SingleItem("No. of months per year that pond(s) contain water: ", Model.AppWizard.WaterUseDetailForm.PermitWwWildlifePondForm.NoOfMonthsPerYearPondContainWater.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwWildlifePondForm.NoOfMonthsPerYearPondContainWater.ToString() : "")

                                                                                            @SingleItem("For Groundwater, Average No. of Gallons per day to be withdrawn on an annual basis: ", Model.AppWizard.WaterUseDetailForm.PermitWwWildlifePondForm.AverageGallonPerDayFromGroundWater.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwWildlifePondForm.AverageGallonPerDayFromGroundWater.ToString() : "")
                                                                                            @SingleItem("For Groundwater, Gallons per day to be withdrawn during month of maximum use: ", Model.AppWizard.WaterUseDetailForm.PermitWwWildlifePondForm.MaximumGallonPerDayFromGroundWater.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwWildlifePondForm.MaximumGallonPerDayFromGroundWater.ToString() : "")
                                                                                            @SingleItem("For Surface Water, Average No. of Gallons per day to be withdrawn on an annual basis: ", Model.AppWizard.WaterUseDetailForm.PermitWwWildlifePondForm.AverageGallonPerDayFromSurfaceWater.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwWildlifePondForm.AverageGallonPerDayFromSurfaceWater.ToString() : "")
                                                                                            @SingleItem("For Surface Water, Maximum gallons per day to be withdrawn: ", Model.AppWizard.WaterUseDetailForm.PermitWwWildlifePondForm.MaximumGallonPerDayFromSurfaceWater.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwWildlifePondForm.MaximumGallonPerDayFromSurfaceWater.ToString() : "")
                                                                                            @SingleItem("Describe how estimate was derived: ", Model.AppWizard.WaterUseDetailForm.PermitWwWildlifePondForm.EstimateDescription)
                                                                                        </div>
                                                                                    }
                                                                                </div>

                                                                                    //Construction Dewatering
                                                                                    <div id="ConstructionDewateringSection">
                                                                                        @if (Model.AppWizard.WaterUseDetailForm.PermitWwConstructionDewateringForm != null && Model.AppWizard.WaterUseDetailForm.PermitWwConstructionDewateringForm.Id != 0)
                                                                                        {
                                                                                            @Heading("Construction Dewatering")
                                                                                            <div class="divVerticalBottomSpacerDouble">
                                                                                                @SingleItem("Area of excavation (in sq. ft): ", Model.AppWizard.WaterUseDetailForm.PermitWwConstructionDewateringForm.AreaOfExcavation.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwConstructionDewateringForm.AreaOfExcavation.ToString() : "")
                                                                                                @SingleItem("Depth of excavation (in feet): ", Model.AppWizard.WaterUseDetailForm.PermitWwConstructionDewateringForm.DepthOfExcavation.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwConstructionDewateringForm.DepthOfExcavation.ToString() : "")
                                                                                                @SingleItem("No. of pumps: ", Model.AppWizard.WaterUseDetailForm.PermitWwConstructionDewateringForm.NoOfPumps.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwConstructionDewateringForm.NoOfPumps.ToString() : "")
                                                                                                @SingleItem("Capacity of pumps: ", Model.AppWizard.WaterUseDetailForm.PermitWwConstructionDewateringForm.CapacityOfPumps.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwConstructionDewateringForm.CapacityOfPumps.ToString() : "")
                                                                                                @SingleItem("Hours of operation per day: ", Model.AppWizard.WaterUseDetailForm.PermitWwConstructionDewateringForm.HoursOfOperationPerDay.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwConstructionDewateringForm.HoursOfOperationPerDay.ToString() : "")

                                                                                                @{ var removalExcavationTypeId = Model.AppWizard.WaterUseDetailForm.PermitWwConstructionDewateringForm.WaterRemovalExcavationTypeId; }
                                                                                                @SingleItem("How is water removed from excavation? ", Model.AppWizard.WaterUseDetailForm.PermitWwConstructionDewateringForm.WaterRemovalExcavationTypeList.FirstOrDefault(x => x.Value == removalExcavationTypeId.ToString()).Text)

                                                                                                @SingleItem("For Groundwater, Average No. of Gallons per day to be withdrawn on an annual basis: ", Model.AppWizard.WaterUseDetailForm.PermitWwConstructionDewateringForm.AverageGallonPerDayFromGroundWater.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwConstructionDewateringForm.AverageGallonPerDayFromGroundWater.ToString() : "")
                                                                                                @SingleItem("For Groundwater, Gallons per day to be withdrawn during month of maximum use: ", Model.AppWizard.WaterUseDetailForm.PermitWwConstructionDewateringForm.MaximumGallonPerDayFromGroundWater.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwConstructionDewateringForm.MaximumGallonPerDayFromGroundWater.ToString() : "")
                                                                                                @SingleItem("For Surface Water, Average No. of Gallons per day to be withdrawn on an annual basis: ", Model.AppWizard.WaterUseDetailForm.PermitWwConstructionDewateringForm.AverageGallonPerDayFromSurfaceWater.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwConstructionDewateringForm.AverageGallonPerDayFromSurfaceWater.ToString() : "")
                                                                                                @SingleItem("For Surface Water, Maximum gallons per day to be withdrawn: ", Model.AppWizard.WaterUseDetailForm.PermitWwConstructionDewateringForm.MaximumGallonPerDayFromSurfaceWater.HasValue ? Model.AppWizard.WaterUseDetailForm.PermitWwConstructionDewateringForm.MaximumGallonPerDayFromSurfaceWater.ToString() : "")
                                                                                                @SingleItem("Describe how estimate was derived: ", Model.AppWizard.WaterUseDetailForm.PermitWwConstructionDewateringForm.EstimateDescription)
                                                                                            </div>
                                                                                        }
                                                                                    </div>

                                                                                        //Private Water Supplier
                                                                                        <div id="privateWaterSupplierSection">
                                                                                            @if (Model.AppWizard.WaterUseDetailForm.PrivateWaterSuppilerForm.PrivateWaterSupplierForms != null)
                                                                                            {
                                                                                                foreach (var privateWaterSupplier in Model.AppWizard.WaterUseDetailForm.PrivateWaterSuppilerForm.PrivateWaterSupplierForms)
                                                                                                {
                                                                                                    if (privateWaterSupplier.AverageGallonPerDayFromGroundWater.HasValue || privateWaterSupplier.MaximumGallonPerDayFromGroundWater.HasValue
                                                                                                        || privateWaterSupplier.AverageGallonPerDayFromSurfaceWater.HasValue || privateWaterSupplier.MaximumGallonPerDayFromSurfaceWater.HasValue || !string.IsNullOrEmpty(privateWaterSupplier.EstimateDescription))
                                                                                                    {
                                                                                                        @Heading(privateWaterSupplier.Title)
                                                                                                        <div class="divVerticalBottomSpacerDouble">
                                                                                                            @if (privateWaterSupplier.PermitWaterWithdrawalPurposeId == 16 || privateWaterSupplier.PermitWaterWithdrawalPurposeId == 17 || privateWaterSupplier.PermitWaterWithdrawalPurposeId == 23 || privateWaterSupplier.PermitWaterWithdrawalPurposeId == 24 || privateWaterSupplier.PermitWaterWithdrawalPurposeId == 45 || privateWaterSupplier.PermitWaterWithdrawalPurposeId == 46)
                                                                                                            {
                                                                                                                @SingleItem("No. of employees: ", privateWaterSupplier.NoOfEmployees.HasValue ? privateWaterSupplier.NoOfEmployees.ToString() : "")
                                                                                                            }

                                                                                                            @if (privateWaterSupplier.PermitWaterWithdrawalPurposeId == 46)
                                                                                                            {
                                                                                                                @SingleItem("No. of other regular users per day: ", privateWaterSupplier.NoOfRegularUsersPerDay.HasValue ? privateWaterSupplier.NoOfRegularUsersPerDay.ToString() : "")
                                                                                                            }

                                                                                                            @if (privateWaterSupplier.PermitWaterWithdrawalPurposeId == 39 || privateWaterSupplier.PermitWaterWithdrawalPurposeId == 54)
                                                                                                            {
                                                                                                                @SingleItem("No. of lots/Units: ", privateWaterSupplier.NoOfLotsOrUnits.HasValue ? privateWaterSupplier.NoOfLotsOrUnits.ToString() : "")
                                                                                                            }

                                                                                                            @if (privateWaterSupplier.PermitWaterWithdrawalPurposeId == 39)
                                                                                                            {
                                                                                                                @SingleItem("Swimming pool? ", privateWaterSupplier.SwimmingPool ? "Yes" : "No")
                                                                                                            }
                                                                                                            @SingleItem("For Groundwater, Average No. of Gallons per day to be withdrawn on an annual basis: ", privateWaterSupplier.AverageGallonPerDayFromGroundWater.HasValue ? privateWaterSupplier.AverageGallonPerDayFromGroundWater.ToString() : "")
                                                                                                            @SingleItem("For Groundwater, Gallons per day to be withdrawn during month of maximum use: ", privateWaterSupplier.MaximumGallonPerDayFromGroundWater.HasValue ? privateWaterSupplier.MaximumGallonPerDayFromGroundWater.ToString() : "")
                                                                                                            @SingleItem("For Surface Water, Average No. of Gallons per day to be withdrawn on an annual basis: ", privateWaterSupplier.AverageGallonPerDayFromSurfaceWater.HasValue ? privateWaterSupplier.AverageGallonPerDayFromSurfaceWater.ToString() : "")
                                                                                                            @SingleItem("For Surface Water, Maximum gallons per day to be withdrawn: ", privateWaterSupplier.MaximumGallonPerDayFromSurfaceWater.HasValue ? privateWaterSupplier.MaximumGallonPerDayFromSurfaceWater.ToString() : "")
                                                                                                            @SingleItem("Describe how estimate was derived: ", privateWaterSupplier.EstimateDescription)
                                                                                                        </div>
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        </div>
        }
        // end water use detail form

        if (Model.AppWizard != null && Model.AppWizard.WastewaterTreatmentDisposalForm != null)
        {
            foreach (var wasteWaterTreatmentDisposal in Model.AppWizard.WastewaterTreatmentDisposalForm)
            {
                if (wasteWaterTreatmentDisposal != null && wasteWaterTreatmentDisposal.Id > 0)
                {
                    @Heading(wasteWaterTreatmentDisposal.Title + " Water Treatment Disposal")
                    <div class="divVerticalBottomSpacerDouble">
                        @SingleItem("Will this water withdrawal result in any wastewater discharge: ", wasteWaterTreatmentDisposal.IsWastewaterDischarge ? "Yes" : "No")
                        @if (wasteWaterTreatmentDisposal.IsWastewaterDischarge)
                        {
                            if (wasteWaterTreatmentDisposal.WaterDispersementTypeId != null)
                            {
                                var tempID = wasteWaterTreatmentDisposal.WaterDispersementTypeId.ToString();
                                @SingleItem("Select the kind of wastewater treatment and disposal system that will be used: ", wasteWaterTreatmentDisposal.WaterDispersementTypeList.FirstOrDefault(x => x.Value == tempID).Text)
                            }

                            @SingleItem("Describe the nature of the groundwater discharge: ", wasteWaterTreatmentDisposal.GroundwaterDischargeDiscription)
                            @SingleItem("Enter the permit discharge number: ", wasteWaterTreatmentDisposal.PermitDischargeNumber)
                        }
                    </div>
                }
            }
        }

        if (Model.PermitWithdrawalGroundwater != null)
        {
            @Heading("Groundwater Details")
            <div class="divVerticalBottomSpacerDouble">
                @SingleItem("Average Gallon Per Day: ", Model.PermitWithdrawalGroundwater.AvgGalPerDay == 0 ? "To Be Determined" : String.Format("{0:n0}", Model.PermitWithdrawalGroundwater.AvgGalPerDay))
                @SingleItem("Maximum Gallon Per Day: ", Model.PermitWithdrawalGroundwater.MaxGalPerDay == 0 ? "To Be Determined" : String.Format("{0:n0}", Model.PermitWithdrawalGroundwater.MaxGalPerDay))
            </div>

            foreach (var item in Model.PermitWithdrawalGroundwater.PermitWithdrawalGroundwaterDetails)
            {
                <div class="divVerticalBottomSpacerDouble">
                    @SingleItem("Groundwater Type: ", item.LU_WaterWithdrawalType.Description)
                    @SingleItem("Is this an Existing Well? ", item.IsExisting.HasValue ? item.IsExisting.Value ? "Yes" : "No" : "")
                    @SingleItem("Well Depth (feet): ", item.WellDepthFeet.ToString())
                    @SingleItem("Well Diameter (inches): ", item.WellDiameterInches.HasValue ? item.WellDiameterInches.ToString() : "")
                    @SingleItem("Well Tag No.: ", item.WellTagNumber)
                    @SingleItem("Tax Map: ", item.TaxMapNumber)
                    @SingleItem("Grid: ", item.TaxMapBlockNumber)
                    @SingleItem("Parcel: ", item.TaxMapParcel)
                    @SingleItem("Block: ", item.TaxMapSubBlockNumber)
                    @SingleItem("Lot: ", item.LotNumber)
                    @SingleItem("Street: ", item.Street)
                    @SingleItem("City: ", item.City)
                    @SingleItem("State: ", item.State)
                    @SingleItem("Zip: ", item.Zip)
                    @SingleItem("Watershed: ", item.LU_Watershed != null ? item.LU_Watershed.Description + " | " + item.LU_Watershed.Key : "")
                    @SingleItem("Comment: ", item.Comment)

                    @if (Model.Permit.WaterWithdrawalLocationPurposes.Any(x => x.PermitWithdrawalId == item.Id))
                    {
                        var items = String.Join(", ", Model.Permit.WaterWithdrawalLocationPurposes.Where(x => x.PermitWithdrawalId == item.Id).Select(x => x.PermitWaterWithdrawalPurpose.LU_WaterWithdrawalPurpose.Description));
                        <div class="singleItem">
                            Associated Withdrawal Purposes: @items
                        </div>
                    }
                </div>
            }
        }

        if (Model.PermitWithdrawalSurfacewater != null)
        {
            @Heading("Surface Water Details")

            <div class="divVerticalBottomSpacerDouble">
                @SingleItem("Average Gallon Per Day: ", Model.PermitWithdrawalSurfacewater.AvgGalPerDay == 0 ? "To Be Determined" : String.Format("{0:n0}", Model.PermitWithdrawalSurfacewater.AvgGalPerDay))
                @SingleItem("Maximum Gallon Per Day: ", Model.PermitWithdrawalSurfacewater.MaxGalPerDay == 0 ? "To Be Determined" : String.Format("{0:n0}", Model.PermitWithdrawalSurfacewater.MaxGalPerDay))
            </div>

            foreach (var item in Model.PermitWithdrawalSurfacewater.PermitWithdrawalSurfacewaterDetails)
            {
                <div class="divVerticalBottomSpacerDouble">
                    @SingleItem("Surface Water Type: ", item.LU_WaterWithdrawalType.Description)
                    @SingleItem("Exact Location Of Intake: ", item.ExactLocationOfIntake)
                    @SingleItem("Water Source Name: ", item.LU_StateStream != null ? item.LU_StateStream.Description + " | " + item.LU_StateStream.Key : "")
                    @SingleItem("Tax Map: ", item.TaxMapNumber)
                    @SingleItem("Grid: ", item.TaxMapBlockNumber)
                    @SingleItem("Parcel: ", item.TaxMapParcel)
                    @SingleItem("Block: ", item.TaxMapSubBlockNumber)
                    @SingleItem("Lot: ", item.LotNumber)
                    @SingleItem("Street: ", item.Street)
                    @SingleItem("City: ", item.City)
                    @SingleItem("State: ", item.State)
                    @SingleItem("Zip: ", item.Zip)
                    @SingleItem("Watershed: ", item.LU_Watershed != null ? item.LU_Watershed.Description + " | " + item.LU_Watershed.Key : "")
                    @SingleItem("Comment: ", item.Comment)

                    @if (Model.Permit.WaterWithdrawalLocationPurposes.Any(x => x.PermitWithdrawalId == item.Id))
                    {
                        var items = String.Join(", ", Model.Permit.WaterWithdrawalLocationPurposes.Where(x => x.PermitWithdrawalId == item.Id).Select(x => x.PermitWaterWithdrawalPurpose.LU_WaterWithdrawalPurpose.Description));
                        <div class="singleItem">
                            Associated Withdrawal Purposes: @items
                        </div>
                    }

                </div>
            }
        }

        if (Model.Permit != null && (Model.Permit.IsInWMStrategyArea.HasValue || Model.Permit.IsInTier2Watershed.HasValue || Model.Permit.AquiferId.HasValue
                || Model.Permit.AquiferTest.HasValue || !string.IsNullOrEmpty(Model.Permit.SourceDescription) || !string.IsNullOrEmpty(Model.Permit.Location)))
        {
            @Heading("Location Information")
            <div class="divVerticalBottomSpacerDouble">
                @SingleItem("Water Management Strategy Area: ", Model.Permit.IsInWMStrategyArea.HasValue ? Model.Permit.IsInWMStrategyArea.Value ? "Yes" : "No" : "")
                @SingleItem("Tier II Watershed: ", Model.Permit.IsInTier2Watershed.HasValue ? Model.Permit.IsInTier2Watershed.Value ? "Yes" : "No" : "")
                @SingleItem("Aquifer: ", Model.Permit.AquiferId.HasValue && Model.Permit.LU_Aquifer != null ? Model.Permit.LU_Aquifer.Description + " | " + Model.Permit.LU_Aquifer.Key : "")
                @SingleItem("Aquifer Test Required: ", Model.Permit.AquiferTest.HasValue ? Model.Permit.AquiferTest.Value ? "Yes" : "No" : "")
                @SingleItem("Source Description: ", Model.Permit.SourceDescription)
                @SingleItem("Location: ", Model.Permit.Location)
                @SingleItem("ADC Map Page: ", Model.Permit.ADCPageLetterGrid + " Row: " + Model.Permit.ADCXCoord + " Column: " + Model.Permit.ADCYCoord)
                @SingleItem("County hydro map: ", Model.Permit.CountyHydroGeoMap)
                @SingleItem("USGS Topo map: ", Model.Permit.USGSTopoMap)
            </div>
        }

        @Heading("Easement Information")
        <div class="divVerticalBottomSpacerDouble">
            @SingleItem("Conservation Easement Value: ", Model.Permit.IsSubjectToEasement.HasValue ? Model.Permit.IsSubjectToEasement.Value ? "Yes" : "No" : "")
            @SingleItem("Notified Holder Value: ", Model.Permit.HaveNotifiedEasementHolder.HasValue ? Model.Permit.HaveNotifiedEasementHolder.Value ? "Yes" : "No" : "")
        </div>
}

<script>
    $("#applicationSummary").find(".divVerticalBottomSpacerDouble").each(
    function () {
        if ($.trim($(this).text()).length == 0) {
            $(this).detach()
        }
    }
)
</script>
