/* Edited by Steve 3/8/13 */
.customfile-input {right: 0;top: 0; position: absolute; height: 33px; cursor: pointer; background: transparent; border: 0; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); z-index: 999999;  }

.customfile { width: 505px; background: transparent; cursor: pointer; overflow: hidden; padding: 2px; border: 1px solid #aaaaaa; position: relative; max-height:33px;}
.customfile-disabled { opacity: .5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); cursor: default;  }
.customfile-feedback { display: block; margin: 4px 1px 1px 8px; font-size: 1em; color: #aaaaaa; font-style: italic; }
.customfile-feedback-populated { line-height: 20px; font-style: normal; font-weight: bold; padding-left: 20px; background: url(../images/icon-generic.gif) left 4px no-repeat; overflow:hidden; text-overflow: ellipsis; }
.customfile-button { border: 1px solid #aaaaaa; background-color:#dddddd;  color: #555555; font-weight: normal; float: right; width: 69px;height:27px; line-height:27px; vertical-align:middle;  text-align: center; text-decoration: none;  font-size: 1em; }
.customfile-hover .customfile-button, .customfile-focus .customfile-button  { border-color:#999999; color:#212121; background: none repeat-x scroll 0 0 #e4e4e4 }
.customfile-focus .customfile-button { outline: 1px dotted #ccc;  }

/*file type icons*/
.customfile-ext-jpg, .customfile-ext-gif, .customfile-ext-png, .customfile-ext-jpeg, .customfile-ext-bmp { background-image: url(../images/icon-image.gif);}
.customfile-ext-mp3, .customfile-ext-mp4, .customfile-ext-mov, .customfile-ext-swf, .customfile-ext-wav, .customfile-ext-m4v { background-image: url(../images/icon-media.gif);}
.customfile-ext-zip, .customfile-ext-tar, .customfile-ext-sit { background-image: url(../images/icon-zip.gif);}


