﻿@model AdvertisementFeesForm
<div class="permitDetailsRightHorizontalSeparator filterheader ui-state-default" onclick="handleSeparatorClick($(this));" title="Close"><span class="renderBLArrow">▲</span>Advertisement Fees</div>
<div id="advertisementFeesDiv" style="padding: 15px 5px 25px 15px;">
    <div id="advertisementFeesDeleteDialog" title="Delete" style="display: none;">
        Are you sure you want to delete this item?
    </div>
    <input id="advertisementFeesButton" type="button" value="Add Fee" />
    <table id="advertisementFeesGrid"></table>

    <div id="advertisementFeesFormContainer" title="Create Advertisement Fee" style="display: none">
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px; text-align: right;">Select Fee</span>

            @Html.DropDownListCustom("ProductsDropDown", new SelectList(Model.Products, "Id", "Description"), Model.Products, "Amount")

        </div>

        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 200px; text-align: right;">Override Price</span>
            <span id="violationsDiv" style="display: inline-block;">

                <input type="text" id="overrideAmount" />

            </span>
        </div>


    </div>

</div>


    @Scripts.Render("~/Scripts/ViewScripts/Permit/AdvertisementFees.js")
    @Scripts.Render("~/Scripts/jquery.maskMoney.js")
    <script>
        $(document).ready(function () {
            AdvertisementFees.Initialize(@ViewBag.Permitid)
        }
    )
    </script>

