﻿@model ContactSearchForm
@if (Model.SearchContext == SearchContext.ApplicationWizard)
{
    <div class="searchTitle waterUser" style="display: none;">
        <div style="margin-bottom: 10px;" class="wizardStepDescriptor divVerticalBottomSpacer divVerticalTopSpacer">
            Enter the first and last name, business name, or email address of the water user.
        </div>
    </div>
    <div class="searchTitle landOwner" style="display: none;">
        <div style="margin-bottom: 10px;" class="wizardStepDescriptor divVerticalBottomSpacer divVerticalTopSpacer">
            Enter the first and last name, business name, or email address of the land owner
        </div>
    </div>
    <div class="searchTitle consultant" style="display: none;">
        <div style="margin-bottom: 10px;" class="wizardStepDescriptor divVerticalBottomSpacer divVerticalTopSpacer">
            Enter the first and last name, business name, or email address of the consultant
        </div>
    </div>
}
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">First Name:
    </span>
    @Html.TextBoxFor(model => model.SearchFirstName)
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">Last Name:
    </span>
    @Html.TextBoxFor(model => model.SearchLastName)
</div>
<div class="divVerticalBottomSpacer" style="text-align: center;">
    Or
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">Business Name:
    </span>
    @Html.TextBoxFor(model => model.SearchBusinessName)
</div>
<div class="divVerticalBottomSpacer" style="text-align: center;">
    Or
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">Email Address:
    </span>
    @Html.TextBoxFor(model => model.SearchEmailAddress)
</div>

@if (Model.SearchContext == SearchContext.MergeContacts)
{
    <div class="divVerticalBottomSpacer" style="text-align: center;">
        Or
    </div>
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">Permit Number:
        </span>
        @Html.TextBoxFor(model => model.SearchPermitName)
    </div>
}