﻿@model PendingPermitForm
<div>
    @Html.HiddenFor(model => Model.ParentPermitNumber)
    <div id="confirmCreatePendingPermit" style="display: none;" title="Confirmation">
        Are you sure you want to create a new pending permit?
    </div>
    @if (Model.PermitStausId == 46)
    {
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">
                Pending Permit Type
            </span>
            @Html.DropDownListFor(model => model.PendingPermitTypeId, Model.PendingPermitTypeList)
            <span>*</span>
            @Html.ValidationMessageFor(model => model.PendingPermitTypeId)
        </div>
    }
    <div class="divVerticalBottomSpacer">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">
            Permit Type
        </span>
        @Html.DropDownListFor(model => model.PermitTypeId, Model.PermitTypeList)
        <span>*</span>
        @Html.ValidationMessageFor(model => model.PermitTypeId)
    </div>
    <div id="PermitNumberContainer" style="display: none;">
        <div class="divVerticalBottomSpacer">
            <span class="spanSetWidth spanSetWidthAlignRightPadded">
                Permit Number
            </span>
            @Html.TextBoxFor(model => model.PermitNumber)
            <span>*</span>
            @Html.ValidationMessageFor(model => model.PermitNumber)
        </div>
    </div>
    <div id="PermitNumberButtonContainer" class="divVerticalBottomSpacer" style="display: none;">
        <span class="spanSetWidth spanSetWidthAlignRightPadded"></span>
        <input value="Create" type="button" onclick="ApplicationWizard.ClonePermitVerify()" />
    </div>
    <div id="PendingPermitCreatedMessage" style="display: none;">
    </div>
</div>
