﻿@model ReviewTabForm
@Html.HiddenFor(m => m.HasPermissionToFinalizePermit)
@Html.HiddenFor(m => m.HasPermissionToFinalizeExemption)
<div id="setDatesDialog" title="Set Dates" style="display: none;">
    <p id="effetiveDateSpan">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">Effective Date </span>
        <input id="effectiveDateText" type="text">
    </p>
    <p id="expirationDateSpan">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">Expiration Date</span>
        <input id="expirationDateText" type="text">
    </p>
    <p id="appropriationDateSpan">
        <span class="spanSetWidth spanSetWidthAlignRightPadded">First Appropriation Date</span>
        <input id="appropriationDateText" type="text">
    </p>
    <p id="approvedMessage" style="display: none">The Permit has been approved and is now active</p>
</div>

@if (Model.PermitStatusDetail.PermitCategoryId == 5)
{
    <div id="approveDialog" title="Finalize Exemption" style="display: none; text-align: center;">
        Are you sure you want to finalize and approve this exemption?
    </div>
}
else
{
    <div id="approveDialog" title="Finalize Permit" style="display: none; text-align: center;">
        Are you sure you want to finalize and approve this permit?
    </div>
}

<div id="approveMsgDialog" title="Finalize Permit" style="display: none; text-align: center;">
    Thank You. This permit is now Active.
</div>
<div id="ExemptionApproveMsgDialog" title="Finalize Exemption" style="display: none; text-align: center;">
    Thank You. This exemption is now Active.
</div>

<div id="denyPermitDialog" title="Deny Permit" style="display: none;">
    Denying the permit will set its status to "Denied" and terminate this review.
    <br>
    <br>
    Do you wish to proceed?
</div>
<script>
    var _FinalizePermit = {
        PermitCategory: '@Model.PermitStatusDetail.PermitCategoryId',

        Initialize: function () {
            if (($('#HasPermissionToFinalizePermit').val().toLowerCase() == 'true') || (_FinalizePermit.PermitCategory == 5 && $('#HasPermissionToFinalizeExemption').val().toLowerCase() == 'true')) {
                // if current logged in user is in Permit Contacts, a Supervisor or Division Chief and if Current Status is 59
                // set the click events
                _FinalizePermit.ClickEventApproveButton('@Model.PermitId');
                _FinalizePermit.ClickEventDenyPermitButton('@Model.PermitId');
            }
        },

        ChangeAppropriationDate: function (date) {
            $("#appropriationDateText").val(date);
        },

        EnableDisableFinalizeButtons: function (show, isExemption) {
            if (show && (($('#HasPermissionToFinalizePermit').val().toLowerCase() == 'true') || (_FinalizePermit.PermitCategory == 5 && $('#HasPermissionToFinalizeExemption').val().toLowerCase() == 'true'))) {
                $(".finalizebutton").removeClass('disabled').prop('disabled', false);
            } else {
                $(".finalizebutton").addClass('disabled').prop('disabled', true);
            }

            if (isExemption) {
                $('#approvePermitButton').attr('value', 'Approve Exemption');
                $('#denyPermitButton').attr('value', 'Deny Exemption');
            }
        },

        ToggleApproveDenyButtons: function (show) {
            if (show) {
                //show 'approve' 'deny' buttons, hide mark complete stuff
                $("#approvePermitButton").show();
                $("#denyPermitButton").show();
            } else {
                //hide 'approve' 'deny' buttons, show mark complete stuff
                $("#approvePermitButton").hide();
                $("#denyPermitButton").hide();
            }
        },

        ChangeExpiratonDate: function (date) {
            $.ajax({
                url: '@Url.Action(MVC.Permitting.Permit.DateElevenMonthsElevenYears())',
                type: 'GET',
                data: { date: date },
                async: false,
                success: function (response) {
                    $("#expirationDateText").val(response)
                    $("#expirationDateText").datepicker("option", { maxDate: response });
                }
            });
        },

        ClickEventDenyPermitButton: function (permitId) {
            $("#denyPermitButton").click(function () {
                $("#denyPermitDialog").dialog({
                    modal: true,
                    position: "center",
                    width: 500,
                    close: function () {
                        $(this).dialog("destroy");

                        //$(newForm).detach()
                    },
                    buttons: {
                        "Proceed": function () {
                            //load main content
                            $.ajax({
                                url: '@Url.Action(MVC.Permitting.Permit.DenyPermit())',
                                type: 'GET',
                                data: { PermitId: permitId },
                                async: false,
                                success: function (response) {
                                    if (response.success == true) {
                                        window.location.reload();
                                    }
                                    else {
                                        alert("There was an error in denying the exemption. Please try later.");
                                    }
                                }
                            });
                        },
                        "Cancel": function () {
                            $(this).dialog("close");
                        },
                    }
                });
            });
        },

        ClickEventApproveButton: function (permitId) {
            $("#approvePermitButton").click(function () {
                var success = false;
                 
                $("#approveDialog").dialog({
                    modal: true,
                    position: "center",
                    width: 500,
                    buttons: {
                        "Finalize": function () {
                            $("#approveDialog").dialog("close");
 
                            if ($('#SelectedStatusId').val() == 45) {
                                success = true;
                            }
                            else {
                                $.ajax({
                                    url: '@Url.Action(MVC.Permitting.Permit.GenerateComplianceReports())',
                                    type: 'POST',
                                    data: { permitId: permitId },
                                    async: false
                                });

                                $.ajax({
                                    url: '@Url.Action(MVC.Permitting.Document.GenerateFinalPermit())',
                                    type: 'POST',
                                    data: { permitId: permitId, tableId: '70' /*changed from 67 to 70*/, permitStatusId: $('#SelectedStatusId').val(), approved: true },
                                    async: false,
                                    success: function (result) {
                                        if (result.IsSuccess) { 
                                            success = true;
                                        } else {
                                            alert(result.Error);
                                        }
                                    },
                                    error: function (result) {
                                        alert(result.Error);
                                    }
                                });
                            }

                            if (success) { 
                                $.ajax({
                                    url: '@Url.Action(MVC.Permitting.Permit.ApprovePermit())',
                                    type: 'POST',
                                    data: { PermitId: permitId },
                                    cache: false,
                                    success: function (response) {
                                        $("#approveDialog").dialog("close");
                                        if (response.success == true) {
                                            if ($('#SelectedStatusId').val() == 45) {
                                                var _$this = $('#ExemptionApproveMsgDialog');
                                            }
                                            else {
                                                var _$this = $('#approveMsgDialog');
                                            }

                                            _$this.dialog({
                                                modal: true,
                                                position: "center",
                                                width: 500,
                                                close: function () {
                                                    window.location.reload();
                                                }
                                            }); 
                                            $('#uploadDashboardGrid').trigger("reloadGrid");
                                        }
                                        else {
                                            alert("There was an error in approving the exemption. Please try later.");
                                        }
                                    }
                                });
                            } else {
                                // Error occurred while generating final approved permit. Remove created compliance reports.
                                $.ajax({
                                    url: '@Url.Action(MVC.Permitting.Permit.DeleteComplianceReports())',
                                    type: 'DELETE',
                                    data: { permitId: permitId },
                                    async: false,
                                    success: function (response) {
                                        if (!response.IsSuccess) {
                                            // error
                                        } else {
                                            // success
                                        }
                                    }
                                });
                            }

                            //UploadDocument.fileUploadPermit('@Url.Action(MVC.Upload.Upload())', "", PermitId, 67, $('#SelectedStatusId').val());
                        },
                        "Cancel": function () { 
                            $(this).dialog("close");
                        },
                    }
                });
            });
        }
    }

    _FinalizePermit.Initialize();
</script>
