﻿@model ContactForm
<div style="margin-bottom: 0px; font-weight: bold; padding-top: 15px;">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">This contact is</span>
    <span>@Html.RadioButtonFor(m => m.IsBusiness, "false", new { Id = "r1" })<label for="r1">an individual</label></span>
    <span>@Html.RadioButtonFor(m => m.IsBusiness, "true", new { Id = "r2" })<label for="r2">a business</label></span>
</div>
@Html.EditorForModel()