﻿@using MDGov.MDE.Common.Configuration
@model PermitStatusDetailForm
<style>
    .renderbodyLeft input {
        width: auto;
    }

    .buttonComment {
        font-style: italic;
        font-size: .8em;
        color: #666666;
        margin-bottom: 5px;
    }

    .statusOptionContainer {
        text-align: center;
        margin-bottom: 8px;
        position: relative;
        background-color: #efefef;
        padding: 10px;
    }

    .statusOptionContainer input[type=button] {
        font-size: 12px;
    }

    .statusLabel {
        font-weight: bold;
        cursor: help;
    }

    .statusDescription {
        color: #607e2f;
        font-weight: bold;
    }
</style>
<div id="statusChangeDialog" style="display: none;" title="Confirmation">
    <div id="statusChangeMessage"></div>
</div>
<div class="statusOptionContainer" data-setstatusaction="@Url.Action(MVC.Permitting.Permit.SetPermitStatus())" data-setpreviousstatusaction="@Url.Action(MVC.Permitting.Permit.SetPreviousPermitStatus())">
    @if (!Model.HasPendingPermit && Model.PermitStatusId == 3)
    {
        if (Model.HasPermissionToWithdrawActivateReinstate)
        {
            <input type="button" class="changeStatusButton" value="Withdraw" data-permitstatusid="2" />
        }
    }
    else if (Model.PermitStatusId == 2)
    {
        if (Model.HasPermissionToWithdrawActivateReinstate)
        {
            <input type="button" class="changeStatusButton" value="Reinstate" data-permitstatusid="3" />
        }
        if (Model.PermitStatusLastChangedDate != null)
        {
            <div class="buttonComment">Withdrawn by @Model.PermitStatusLastChangedBy on @Model.PermitStatusLastChangedDate.ToShortDateString()</div>
        }
    }
    else if (Model.PermitCategoryId == 2 && (Model.PermitStatusId != 60 && Model.PermitStatusId != 61))
    {
        if (Model.HasPermissionToWithdrawActivateReinstate)
        {
            <input type="button" class="changeStatusButton showconfirmationmodal" msg="Are you sure you want to withdraw this application pending review?" value="Withdraw" data-permitstatusid="51" />
        }
    }
    else if (Model.PermitStatusId == 46)
    {
        if (Model.HasPermissionToWithdrawActivateReinstate)
        {
            <input type="button" class="changeStatusButton showconfirmationmodal" msg="Are you sure you want to deactivate this permit?" value="Deactivate" data-permitstatusid="49" />
        }
        if (SessionHandler.GetSessionVar<List<string>>(SessionVariables.AuthenticatedUserRoles).Any(r => r == Constants.ADMINISTRATIVE_SPECIALIST || r == Constants.COMPLIANCE_MANAGER))
        {
            <input type="button" class="changeStatusButton showconfirmationmodal" msg="Are you sure you want to convert this active permit to an exemption?" value="Exempt" data-permitstatusid="52" />
        }
        if (SessionHandler.GetSessionVar<List<string>>(SessionVariables.AuthenticatedUserRoles).Contains(Constants.DIVISION_CHIEF) && Model.PreviousPermitStatusId.HasValue && (new[] { 59, 62, 65 }).Contains(Model.PreviousPermitStatusId.Value))
        {
            <input type="button" class="changeStatusButton showconfirmationmodal" msg="Are you sure you want to revert this active permit to pending status?" value="Make Pending" data-permitstatusid="@Model.PreviousPermitStatusId" />
        }
        if (Model.PermitStatusLastChangedDate != null)
        {
            <div class="buttonComment">Approved by @Model.PermitStatusLastChangedBy on @Model.PermitStatusLastChangedDate.ToShortDateString()</div>
        }
    }
    else if (Model.PermitStatusId == 49)
    {
        if (Model.HasPermissionToWithdrawActivateReinstate)
        {
            <input type="button" class="changeStatusButton" value="Activate" data-permitstatusid="46" />
        }
        if (Model.PermitStatusLastChangedDate != null)
        {
            <div class="buttonComment">Deactivated by @Model.PermitStatusLastChangedBy on @Model.PermitStatusLastChangedDate.ToShortDateString()</div>
        }
    }
    else if (Model.PermitStatusId == 51)
    {
        if (Model.HasPermissionToWithdrawActivateReinstate)
        {
            <input type="button" class="previousStatusButton" value="Reinstate" data-permitstatusid="51" />
        }
        if (Model.PermitStatusLastChangedDate != null)
        {
            <div class="buttonComment">Withdrawn by @Model.PermitStatusLastChangedBy on @Model.PermitStatusLastChangedDate.ToShortDateString()</div>
        }
    }
    else if (Model.PermitStatusId == 52)
    {
        if (Model.HasPermissionToWithdrawActivateReinstate)
        {
            <input type="button" class="changeStatusButton" value="Activate" data-permitstatusid="46" />
        }
        if (Model.PermitStatusLastChangedDate != null)
        {
            <div class="buttonComment">Converted to Exemption by @Model.PermitStatusLastChangedBy on @Model.PermitStatusLastChangedDate.ToShortDateString()</div>
        }
    }
    else if (Model.PermitStatusId == 61)
    {
        if (Model.HasPermissionToWithdrawActivateReinstate)
        {
            <input type="button" class="changeStatusButton" value="Reinstate" data-permitstatusid="59" />
        }
        if (Model.PermitStatusLastChangedDate != null)
        {
            <div class="buttonComment">Denied by @Model.PermitStatusLastChangedBy on @Model.PermitStatusLastChangedDate.ToShortDateString()</div>
        }
    }
    else if (Model.PermitCategoryId == 3 && (Model.PermitStatusId != 63 && Model.PermitStatusId != 64))
    {
        if (Model.HasPermissionToWithdrawActivateReinstate)
        {
            <input type="button" class="changeStatusButton showconfirmationmodal" msg="Are you sure you want to withdraw this modification pending review?" value="Withdraw" data-permitstatusid="51" />
        }
    }
    else if (Model.PermitStatusId == 64)
    {
        if (Model.HasPermissionToWithdrawActivateReinstate)
        {
            <input type="button" class="changeStatusButton" value="Reinstate" data-permitstatusid="62" />
        }
        if (Model.PermitStatusLastChangedDate != null)
        {
            <div class="buttonComment">Denied by @Model.PermitStatusLastChangedBy on @Model.PermitStatusLastChangedDate.ToShortDateString()</div>
        }
    }
    else if (Model.PermitCategoryId == 4 && (Model.PermitStatusId != 66 && Model.PermitStatusId != 67))
    {
        if (Model.HasPermissionToWithdrawActivateReinstate)
        {
            <input type="button" class="changeStatusButton showconfirmationmodal" msg="Are you sure you want to withdraw this renewal pending review?" value="Withdraw" data-permitstatusid="51" />
        }
    }
    else if (Model.PermitStatusId == 67)
    {
        if (Model.HasPermissionToWithdrawActivateReinstate)
        {
            <input type="button" class="changeStatusButton" value="Reinstate" data-permitstatusid="65" />
        }
        if (Model.PermitStatusLastChangedDate != null)
        {
            <div class="buttonComment">Denied by @Model.PermitStatusLastChangedBy on @Model.PermitStatusLastChangedDate.ToShortDateString()</div>
        }
    }
</div>