﻿@using AutoMapper;
@using MDGov.MDE.Permitting.Model;

@if (ViewBag.PermitStatusId == 20 || ViewBag.PermitStatusId == 21 || ViewBag.PermitStatusId == 80 || ViewBag.PermitStatusId == 81)
{
    <div class="permitDetailsRightHorizontalSeparator filterheader ui-state-default" onclick="handleSeparatorClick($(this));" title="Close"><span class="renderBLArrow">▲</span>Hearing Information</div>
    <div id="hearingDiv" style="padding: 15px 5px 25px 15px;">
        <div id="permitHearingFormContainer" style="display: none">
            @Html.Partial("~/Areas/Permitting/Views/Permit/PermtHearingForm.cshtml", Mapper.Map<PermitHearing, PermitHearingForm>(new PermitHearing()))
        </div>
        <input id="scheduleHearingButton" type="button" value="Schedule a Hearing" />
        <table id="permitHearingGrid"></table>
        <div id="permitHearingDeleteDialog" title="Delete" style="display: none;">
            Are you sure you want to delete this item?
        </div>
    </div>
    <script src="~/Scripts/ViewScripts/Permit/PermitHearing.js"></script>
    <script type="text/javascript">
        $.requireScript('@Url.Content("~/Scripts/jquery-ui-timepicker-addon.js")');
        $.requireScript('@Url.Content("~/Scripts/ViewScripts/Permit/PermitHearing.js")');

        PermitHearing.Initialize(@ViewBag.Permitid)
    </script>
}