﻿@using MDGov.MDE.Permitting.Model
@if (ViewBag.ProjectManagers != null)
{
    <div id="projectManagerPulldown" class="LNPulldown projectManagerPulldown">
        <div class="LNPulldownTopMessageContainer">Select the new Manager:</div>
        <div class="LNPulldownScrollContentContainer">
            <div class="LNPulldownScrollContent">
                @foreach (var item in (List<Contact>)ViewBag.ProjectManagers)
                {
                    <div class="LNPulldownClickableItem" managerId="@item.Id" permitId="@ViewBag.RefId" onclick="applicationDetailsHelper.managerHighlightClick($(this))">@item.FirstName&nbsp;@item.LastName</div>
                }
            </div>
        </div>
        <div class="LNPulldownBottomLinksContainer">
            <span class="LNPulldownBottomLink" title="Save selected manager" onclick="applicationDetailsHelper.managerSaveClick($(this))">Save</span>
            <span class="LNPulldownBottomLinkSpearator"></span>
            <span class="LNPulldownBottomLink" title="Close menu" onclick="applicationDetailsHelper.closeManagerPulldown()">Close</span>
        </div>
    </div>
}