﻿@model PublicCommentForm
<div id="publicCommentContainer" style="display: none;">
    <form id="addPublicCommentForm">
        @Html.EditorForModel()
        <div style="text-align: center; margin-top: 10px;">
            <input id='SavePublicCommentButton' type="button" value='Save' />
            <input id='CancelPublicCommentButton' type='button' value='Cancel' />
        </div>
    </form>
</div>
<div id="publicCommentDeleteDialog" title="Delete" style="display: none;">
    Are you sure you want to delete this item?
</div>
