﻿@using MDGov.MDE.Permitting.Model
@if (ViewBag.Supervisor != null)
{
    <div id="supervisorPulldown" class="LNPulldown supervisorPulldown">
        <div class="LNPulldownTopMessageContainer">Select the new Supervisor:</div>
        <div class="LNPulldownScrollContentContainer">
            <div class="LNPulldownScrollContent">
                @foreach (var item in (List<Contact>)ViewBag.Supervisor)
                {
                    <div class="LNPulldownClickableItem" supervisiorId="@item.Id" permitId="@ViewBag.RefId" onclick="applicationDetailsHelper.supervisorHighlightClick($(this))">@item.FirstName&nbsp;@item.LastName</div>
                }

            </div>
        </div>
        <div class="LNPulldownBottomLinksContainer">
            <span class="LNPulldownBottomLink" title="Save selected supervisor" onclick="applicationDetailsHelper.supervisorSaveClick($(this))">Save</span>
            <span class="LNPulldownBottomLinkSpearator"></span>
            <span class="LNPulldownBottomLink" title="Close menu" onclick="applicationDetailsHelper.closeSupervisorPulldown()">Close</span>
        </div>
    </div>
}