﻿@model GroundwaterAllocationForm
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.DailyAverage)</span>
    <span>@(Model.DailyAverage ?? 0) gallons</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.DailyAverageForMonthOfMaximumUse)</span>
    <span>@(Model.DailyAverageForMonthOfMaximumUse ?? 0) gallons</span>
</div>
