﻿@model PermitParcelForm
@Html.LabelFor(form => form.TaxMapNumber): @Html.DisplayFor(form => form.TaxMapNumber)<br />
@Html.LabelFor(form => form.TaxMapBlockNumber): @Html.DisplayFor(form => form.TaxMapBlockNumber)<br />
@Html.LabelFor(form => form.TaxMapParcel): @Html.DisplayFor(form => form.TaxMapParcel)<br />
@Html.LabelFor(form => form.TaxMapSubBlockNumber): @Html.DisplayFor(form => form.TaxMapSubBlockNumber)<br />
@Html.LabelFor(form => form.LotNumber): @Html.DisplayFor(form => form.LotNumber)
