﻿@model SurfacewaterAllocationForm
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.DailyAverage)</span>
    <span>@(Model.DailyAverage ?? 0) gallons</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded">@Html.LabelFor(form => form.MaximumDailyWithdrawal)</span>
    <span>@(Model.MaximumDailyWithdrawal ?? 0) gallons</span>
</div>
