﻿<div id="intrnl" class="wizardStep wizardStepClickable" onclick="document.location.href='@Url.Action(MVC.Administration.Users.SearchInternal())'">Create Internal User</div>
<div id="pblc" class="wizardStep wizardStepClickable" onclick="document.location.href='@Url.Action(MVC.Administration.Users.CreatePublic())'">Create Applicant/Permittee</div>
<div id="extrnl" class="wizardStep wizardStepClickable"onclick="document.location.href='@Url.Action(MVC.Administration.Users.CreateExternal())'">Create External Authority</div>



<script type="text/javascript">
    function setActiveLink(type) {
        //remove the active link
        removeActive();
        //set active link
        switch (type) {
            case "internal":
                $("#intrnl").addClass("wizardStepActive");
                break;
            case "public":
                $("#pblc").addClass("wizardStepActive");
                break;
            case "external":
                $("#extrnl").addClass("wizardStepActive");
                break;
            default:
                alert("missed case in setActiveLink");
        }
    }
    function removeActive() {
        $(".wizardStep").removeClass("wizardStepActive");
    }

 </script>