﻿@using MDGov.MDE.WSIPS.Portal.InternalWeb.Areas.Administration.Models
@model ExternalContact
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 100px">@Html.LabelFor(model => model.UserTypeId)</span>
    @Html.DropDownListFor(model => model.UserTypeId, new SelectList(ViewBag.UserTypes, "Id", "Description"), "Select")&nbsp;*
</div>
<div class="divVerticalBottomSpacer" id="countyOuter" style="@(Model.UserTypeId == 9 ? null : "display: none;")">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 100px">@Html.LabelFor(model => model.CountyId)</span>
    @Html.DropDownListFor(model => model.CountyId, new SelectList(ViewBag.Counties, "Id", "Description"), "Select")&nbsp;*
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 100px">@Html.LabelFor(model => model.EmailAddress)</span>
    @Html.TextBoxFor(model => model.EmailAddress)&nbsp;*
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 100px">@Html.LabelFor(model => model.FirstName)</span>
    @Html.TextBoxFor(model => model.FirstName)&nbsp;*
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 100px">@Html.LabelFor(model => model.LastName)</span>
    @Html.TextBoxFor(model => model.LastName)&nbsp;*
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 100px">@Html.LabelFor(model => model.DaytimePhone)</span>
    @Html.TextBoxFor(model => model.DaytimePhone)&nbsp;*
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 100px">@Html.LabelFor(model => model.Organization)</span>
    @Html.TextBoxFor(model => model.Organization)&nbsp;*
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 100px">@Html.LabelFor(model => model.TitleId)</span>
    @Html.DropDownListFor(model => model.TitleId, new SelectList(ViewBag.Titles, "Id", "Description"), "Select")&nbsp;*
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 100px">@Html.LabelFor(model => model.Active)</span>
    @Html.CheckBoxFor(model => model.Active, new { @class="yesNo" })
</div>

@Html.ValidationSummary("",new{style="left:90px;position:relative"})