﻿@using MDGov.MDE.WSIPS.Portal.InternalWeb.Areas.Administration.Models
@model PublicContact

            

<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 100px">@Html.LabelFor(model => model.EmailAddress, "Email Address")</span>
    @Html.TextBoxFor(model => model.EmailAddress)&nbsp;*  
               @* <div class="val-message">@Html.ValidationMessageFor(model => model.EmailAddress)</div>*@
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 100px">@Html.LabelFor(model => model.FirstName, "First Name")</span>
    @Html.TextBoxFor(model => model.FirstName)&nbsp;*
                @*<div class="val-message">@Html.ValidationMessageFor(model => model.FirstName)</div>*@
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 100px">@Html.LabelFor(model => model.LastName, "Last Name")</span>
    @Html.TextBoxFor(model => model.LastName)&nbsp;*    
                @*<div class="val-message">@Html.ValidationMessageFor(model => model.LastName)</div>*@
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 100px">@Html.LabelFor(model => model.DaytimePhone, "Daytime Phone")</span>
    @Html.TextBoxFor(model => model.DaytimePhone)&nbsp;*
                @*<div class="val-message">@Html.ValidationMessageFor(model => model.DaytimePhone)</div>*@
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 100px">@Html.LabelFor(model => model.BusinessName, "Business Name")</span>
    @Html.TextBoxFor(model => model.BusinessName)
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 100px">@Html.LabelFor(model => model.Street, "Street")</span>
    @Html.TextBoxFor(model => model.Street)&nbsp;*    
                @*<div class="val-message">@Html.ValidationMessageFor(model => model.Street)</div>*@
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 100px">@Html.LabelFor(model => model.City, "City")</span>
    @Html.TextBoxFor(model => model.City)&nbsp;*   
                @*<div class="val-message">@Html.ValidationMessageFor(model => model.City)</div>*@
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 100px">@Html.LabelFor(model => model.StateId, "State")</span>
    @Html.DropDownListFor(model => model.StateId, new SelectList(ViewBag.States, "Id", "Description"), "Select")<span style="margin-left: 32px;">*</span>
    @*<div class="val-message">@Html.ValidationMessageFor(model => model.StateId)</div>*@
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 100px">@Html.LabelFor(model => model.ZipCode, "Zip Code")</span>
    @Html.TextBoxFor(model => model.ZipCode)&nbsp;* 
                @*<div class="val-message">@Html.ValidationMessageFor(model => model.ZipCode)</div>*@
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 100px">@Html.LabelFor(model => model.Active, "Active")</span>
        @Html.CheckBoxFor(model => model.Active, new { id = "Active", name = "Active", @class = "yesNo" })
</div>
@Html.ValidationSummary("",new{style="left:90px;position:relative"})
