﻿@using MDGov.MDE.WSIPS.Portal.InternalWeb.Areas.Administration.Models
@model InternalContact

<style>
    .rightSpanContainer
    {
        display:inline-block;
        white-space:nowrap;
    }
    .val-message
    {
        float:none!important;
        margin-left:103px;
    }

</style>

<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 90px;">Username</span>
    <span class="rightSpanContainer">@Html.DisplayTextFor(model => model.UserName)</span>
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 90px;">First Name</span>
    <span class="rightSpanContainer">@Html.TextBoxFor(model => model.FirstName)&nbsp;*</span>
    
    @*<div class="val-message">@Html.ValidationMessageFor(model => model.FirstName)</div>*@
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 90px;">Last Name</span>
    <span class="rightSpanContainer">@Html.TextBoxFor(model => model.LastName)&nbsp;*</span>
    @*<div class="val-message">@Html.ValidationMessageFor(model => model.LastName)</div>*@
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 90px;">Email Address</span>
    <span class="rightSpanContainer">@Html.TextBoxFor(model => model.EmailAddress)&nbsp;*</span>
    @*<div class="val-message">@Html.ValidationMessageFor(model => model.EmailAddress)</div>*@
</div>
<div class="divVerticalBottomSpacer">
    <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 90px;">Active</span>
    <span class="rightSpanContainer">@Html.CheckBoxFor(model => model.Active, new { id = "Active", name="Active", @class="yesNo" })</span>
</div>

@*@Html.ValidationSummary("",new{style="left:80px;position:relative"})*@