﻿@using MDGov.MDE.WSIPS.Portal.InternalWeb.Areas.Administration.Models
@model InternalContact
<div class="userPermissions" style="overflow: visible">
    <h3 style="width: 220px; text-align: right">User Permissions</h3>
    @if (ViewBag.Roles.Count > 0)
    {
        <div id="defaultRole">
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 220px;">MDE Staff Read Only</span>
                @Html.CheckBox((string)ViewBag.DefaultRole, (bool)ViewBag.HasDefaultRole, new { @class = "yesNo" })
            </div>
        </div>
        <div class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 220px;">
            <h3>OR</h3>
        </div>
        <div id="additionalRoles">
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 220px;">Administrative Specialist</span>
                @Html.CheckBoxFor(model => Model.AdministrativeSpecialist, new { @class = "yesNo" })
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 220px;">Compliance / Enforcement Manager</span>
                @Html.CheckBoxFor(model => Model.ComplianceManager, new { @class = "yesNo" })
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 220px;">Compliance / Enforcement Staff</span>
                @Html.CheckBoxFor(model => Model.ComplianceStaff, new { @class = "yesNo" })
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 220px;">Division Chief</span>
                @Html.CheckBoxFor(model => Model.DivisionChief, new { @class = "yesNo" })
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 220px;">IT Administrator</span>
                @Html.CheckBoxFor(model => Model.ITAdministrator, new { @class = "yesNo" })
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 220px;">Operational Administrator</span>
                @Html.CheckBoxFor(model => Model.OperationalAdministrator, new { @class = "yesNo" })
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 220px;">Permit Supervisor</span>
                @Html.CheckBoxFor(model => Model.PermitSupervisor, new { @class = "yesNo" })
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 220px;">Project Manager</span>
                @Html.CheckBoxFor(model => Model.ProjectManager, new { @class = "yesNo" })
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 220px;">Secretary</span>
                @Html.CheckBoxFor(model => Model.Secretary, new { @class = "yesNo" })
            </div>
            <div class="divVerticalBottomSpacer">
                <span class="spanSetWidth spanSetWidthAlignRightPadded" style="width: 220px;">WSIPS eCommerce Member</span>
                @Html.CheckBoxFor(model => Model.ECommerceMember, new { @class = "yesNo" })
            </div>
        </div>
    }
</div>
