﻿.renderbodyRight .scrollwrap {
    padding-top: 0px;
    min-width: 0px;
}

.ui-autocomplete {
    min-width: 258px;
}

.filtercontainer {
    margin-bottom: 5px;
    width: 264px;
}

.filterheader {
    cursor: pointer;
    padding: 2px 3px 3px 5px;
    min-width: 254px;
}

    .filterheader label {
        cursor: pointer;
        font-weight: normal;
    }

.renderbodyLeft input[type="text"] {
    width: 202px;
}

.renderbodyLeft input[type="button"].go {
    height: 28px;
    margin-left: 5px;
    margin-right: 0;
    vertical-align: top;
    width: 45px;
    padding: 0 0.5em 0.2em;
}

.renderbodyLeft input[type="text"].date {
    width: 108px;
}

#dashboardGrid tr.greenHighlight {
    color: #5E8423;
}