﻿
/* compensate for IE width calc difference with js scroller */
.renderbodyLeft, .leftColumn
{

    /*max-width:283px;*/

}
/*ie does not need scroll padding!*/
.scrollContentPadding
{
    /*padding:0px;*/
}
/* IE 8 puts border & white background around radio button inputs*/
input[type="radio"]
{
    border:none;
    background-color:transparent;
}


/* now in site.css as per Jeff's request 2/18/13
.nav-section a
{
    font-weight:bold;
}
*/

.nav-section h2
{
    font-weight:bold!important;
}


/* make sure a ui button is the same size as a text box, also buts up against textbox  */
.buttonNextToTextbox
{
   top: 0px!important;
}

/* Make sure IE displays these separators as regular browsers  */
.localNavContainer .localNavigationSeparator
{
    bottom:0px!important;
}

