﻿#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#printcontrol {
    position: absolute;
    right: 66px;
    width: 120px;
    max-width: 80px;
}

#printbutton {
    position: absolute;
    background-image: url('Images/printer.png');
    background-repeat: no-repeat;
    top: 10px;
    right: 77px;
    width: 32px;
    height: 32px;
}

    #printbutton:hover {
        cursor: pointer;
    }

#printtemplates {
    height: 27px;
    top: 10px;
    background-color: white;
    position: absolute;
    left: 10px;
    min-width: 86px;
}

.selectBox {
    left: 7px;
    top: 36px;
    border: 1px solid #1F1F1F;
    list-style-type: none;
    margin: 0;
    padding: 2px;
    position: absolute;
    width: 80px;
    display: none;
    background-color: white;
}

.toggler {
    overflow: visible;
}

.default {
    border: 1px solid #1f1f1f;
    width: 200px;
    height: 20px;
    padding: 3px;
    position: absolute;
}

.selectBox li:hover {
    cursor: pointer;
    background: #ddd;
}

#basemapswitcher {
    position: absolute;
    top: 10px;
    right: 230px;
    width: 80px;
    max-width: 80px;
}

    #basemapswitcher .ui-combobox input {
        width: 80px;
    }

#searchcontrols {
    position: absolute;
    top: 10px;
    left: 10px;
    min-width: 500px;
}

#map_zoom_slider {
    left: auto !important;
    right: 10px !important;
    top: 10px !important;
}

#searchcontrols .ui-combobox input {
    width: 80px;
}

#searchcontrols #search {
    padding: 5px 5px 4px;
    width: 190px;
}

#mapMessages {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    background-color: #EDEDED;
    font-weight: bold;
    color: red;
}

.esriPopup td.infoWindowLeftLabel {
    width: 100px;
    font-weight: bold;
}

.esriPopup td.infoWindowRightLabel {
}

#overlaycontrols {
    position: absolute;
    top: 48px;
    right: 54px;
}

    #overlaycontrols .ui-autocomplete-input {
        width: 215px;
    }
