﻿<input id="addCommentButton" type="button" value="Add Comment" class="buttonOverGrid commentsTab" />
<input id="addPublicCommentButton" type="button" value="Add Public Comment" class="commentsTab" style="display: none;" />
<div id="commentDashboardGridContainer" style="display: none;">
    <table id="commentDashboardGrid"></table>
</div>
<div id="dialog" title="Add New Comment" style="display: none;">
</div>
<div id="dialog2" title="Delete" style="display: none;">
    Are you sure you want to delete this item?
</div>
@{
    var id = ViewBag.RefId;
    var permitStatus = ViewBag.PermitStatusId;
    var refTableId = ViewBag.RefTableId;
    var userName = ViewContext.HttpContext.User.Identity.Name.Replace(@"\", "\\\\");                
}

@Styles.Render("~/Content/jquery.jqGrid/ui.jqgrid.css")

<script type="text/javascript">
    $.requireScript('@Url.Content("~/Scripts/Helper.js")');
    $.requireScript('@Url.Content("~/Scripts/DateFormatter.js")');
    $.requireScript('@Url.Content("~/Scripts/ViewScripts/Permit/Comment.js")');
    $.requireScript('@Url.Content("~/Scripts/ViewScripts/Permit/PublicComment.js")');

    $(document).ready(function () {
        Comment.Initialize(@id,@permitStatus, @refTableId,'@userName');
    });
</script>
