﻿@model DashboardFilterForm
<div class="filterheader ui-state-default">
    @Html.LabelFor(form => form.AquiferFilter.SelectedAquiferIds)
</div>
<div>
    @Html.ListBoxFor(form => form.AquiferFilter.SelectedAquiferIds, Model.AquiferFilter.AquiferList, new { autocomplete = "off", size = "4", style = "width: 100%" })
</div>
