﻿@model DashboardFilterForm
@Html.HiddenFor(form => form.SelectedFilterTemplate)
@if (Model.AssociatedWithMe.HasValue)
{
    <div style="margin-bottom: 10px;">
        @Html.CheckBox("AssociatedWithMe", Model.AssociatedWithMe.Value) @Html.LabelFor(form => form.AssociatedWithMe)
    </div>
}
@*<div style="margin-bottom: 10px;">
    @Html.CheckBoxFor(form => form.MostRecentVersion) @Html.LabelFor(form => form.MostRecentVersion)
</div>*@
@{
    var properties = Model.GetType().GetProperties()
        .Where(prop => prop.PropertyType.GetInterface(typeof(IDashboardFilter).Name, false) != null && prop.GetValue(Model) != null);
}
@foreach (var prop in properties)
{
    <div id="@prop.PropertyType.Name" class="filtercontainer">
        @Html.Partial(prop.PropertyType.Name, Model)
    </div>
}