﻿@model DashboardSpatialFilterForm
@using (Ajax.BeginForm(MVC.Permitting.Dashboard.SpatialFilter(), new AjaxOptions { OnSuccess = "onFilterSuccess" }, new { id = "DashboardSpatialFilterForm", style = "display:inline-block;margin:0;padding:0;position: absolute; right: 5px;" }))
{
    <div id="distanceFilterButton" class="spatialFilterButtonOuter">
        @if (Model.PermitDistanceFilter != null && Model.PermitDistanceFilter.IsApplied)
        {
            <div class="spatialFilterButtonText active">
                <span class="spatialFilterButtonTextInnerSpan">Distance Filter</span>
            </div>
            <div class="divUIButton spatialFilterIconButton" title="Remove">
                <div class="sprite spatialFilterIcons spatialFilterX"></div>
            </div>
        }
        else
        {
            <div class="spatialFilterButtonText">
                <span class="spatialFilterButtonTextInnerSpan">Distance Filter</span>
            </div>
            <div class="divUIButton spatialFilterIconButton" title="Add">
                <div class="sprite spatialFilterIcons spatialFilterPlus"></div>
            </div>
        }
        @Html.HiddenFor(form => form.PermitDistanceFilter.IsApplied)
        @Html.HiddenFor(form => form.PermitDistanceFilter.PointX)
        @Html.HiddenFor(form => form.PermitDistanceFilter.PointY)
        @Html.HiddenFor(form => form.PermitDistanceFilter.SRID)
        @Html.HiddenFor(form => form.PermitDistanceFilter.Distance)
    </div>
    <div id="featureFilterButton" class="spatialFilterButtonOuter">
        @if (Model.PermitFeatureFilter != null && Model.PermitFeatureFilter.IsApplied)
        {
            <div class="spatialFilterButtonText active">
                <span class="spatialFilterButtonTextInnerSpan">Feature Filter</span>
            </div>
            <div class="divUIButton spatialFilterIconButton" title="Remove">
                <div class="sprite spatialFilterIcons spatialFilterX"></div>
            </div>
        }
        else
        {
            <div class="spatialFilterButtonText">
                <span class="spatialFilterButtonTextInnerSpan">Feature Filter</span>
            </div>
            <div class="divUIButton spatialFilterIconButton" title="Add">
                <div class="sprite spatialFilterIcons spatialFilterPlus"></div>
            </div>
        }
        @Html.HiddenFor(form => form.PermitFeatureFilter.IsApplied)
        @Html.HiddenFor(form => form.PermitFeatureFilter.PointX)
        @Html.HiddenFor(form => form.PermitFeatureFilter.PointY)
        @Html.HiddenFor(form => form.PermitFeatureFilter.SRID)
        @Html.HiddenFor(form => form.PermitFeatureFilter.FeatureType)
    </div>
    <div id="mapExtentFilterButton" class="spatialFilterButtonOuter">
        @if (Model.MapExtentFilter != null && Model.MapExtentFilter.IsApplied)
        {
            <div class="spatialFilterButtonText active">
                <span class="spatialFilterButtonTextInnerSpan">Map Filter</span>
            </div>
            <div class="divUIButton spatialFilterIconButton" title="Remove">
                <div class="sprite spatialFilterIcons spatialFilterX"></div>
            </div>
        }
        else
        {
            <div class="spatialFilterButtonText">
                <span class="spatialFilterButtonTextInnerSpan">Map Filter</span>
            </div>
            <div class="divUIButton spatialFilterIconButton" title="Add">
                <div class="sprite spatialFilterIcons spatialFilterPlus"></div>
            </div>
        }
        @Html.HiddenFor(form => form.MapExtentFilter.IsApplied)
        @Html.HiddenFor(form => form.MapExtentFilter.XMin)
        @Html.HiddenFor(form => form.MapExtentFilter.YMin)
        @Html.HiddenFor(form => form.MapExtentFilter.XMax)
        @Html.HiddenFor(form => form.MapExtentFilter.YMax)
        @Html.HiddenFor(form => form.MapExtentFilter.SRID)
    </div>
}