﻿@model DashboardFilterForm
<div class="filterheader ui-state-default">
    <label>Enforcement Action</label>
</div>
<div>
    @Html.CheckBoxFor(form => form.EnforcementActionFilter.HasResponseDateElapsed)@Html.LabelFor(form => form.EnforcementActionFilter.HasResponseDateElapsed)
</div>
