﻿@model DashboardFilterForm
<div class="filterheader ui-state-default">
    <label>Permit Conditions</label>
</div>
<div>
    <div>
        @Html.LabelFor(form => form.PermitConditionFilter.SelectedStandardConditionTypeIds)<br />
        @Html.ListBoxFor(form => form.PermitConditionFilter.SelectedStandardConditionTypeIds, Model.PermitConditionFilter.StandardConditionTypeList, new { autocomplete = "off", size = "4", style = "width: 100%" })
    </div>
    <div>
        @Html.LabelFor(form => form.PermitConditionFilter.DaysOverdue)<br />
        @Html.TextBoxFor(form => form.PermitConditionFilter.DaysOverdue)<input type="button" class="go" value="Go" />
    </div>
</div>