﻿@model DashboardFilterForm
<div class="filterheader ui-state-default">
    <label>Reporting</label>
</div>
<div>
    <div>
        @Html.CheckBoxFor(form => form.PermitReportingFilter.FailedToReportTwoPeriods)@Html.LabelFor(form => form.PermitReportingFilter.FailedToReportTwoPeriods)
    </div>
</div>