﻿@model DashboardFilterForm
@if (Model.SelectedFilterTemplate == FilterTemplate.Compliance)
{
    for (int i = 0; i < Model.PermitCategoryFilter.SelectedPermitCategoryIds.Count; i++)
    {
    <input type="hidden" name="PermitCategoryFilter.SelectedPermitCategoryIds[@i]" value="@Model.PermitCategoryFilter.SelectedPermitCategoryIds[i]">
    }
}
else
{
    <div class="filterheader ui-state-default">
        @Html.LabelFor(form => form.PermitCategoryFilter.SelectedPermitCategoryIds)
    </div>
    <div>
        @Html.ListBoxFor(form => form.PermitCategoryFilter.SelectedPermitCategoryIds, Model.PermitCategoryFilter.PermitCategoryList, new { autocomplete = "off", size = "4", style = "width: 100%" })
    </div>
}