﻿@model DashboardFilterForm
<div class="filterheader ui-state-default">
    @Html.LabelFor(form => form.PermitComplianceStatusFilter.SelectedPermitComplianceStatusId)
</div>
<div>
    @Html.DropDownListFor(form => form.PermitComplianceStatusFilter.SelectedPermitComplianceStatusId, Model.PermitComplianceStatusFilter.PermitComplianceStatusList, new { autocomplete = "off", size = "4", style = "width: 100%" })
</div>