﻿@model DashboardFilterForm
@if (Model.SelectedFilterTemplate == FilterTemplate.Compliance)
{
    <input type="hidden" name="PermitStatusFilter.SelectedPermitStatusId" value="@Model.PermitStatusFilter.SelectedPermitStatusId">
}
else
{
    <div class="filterheader ui-state-default">
        @Html.LabelFor(form => form.PermitStatusFilter.SelectedPermitStatusId)
    </div>
    <div>
        @Html.DropDownListFor(form => form.PermitStatusFilter.SelectedPermitStatusId, Model.PermitStatusFilter.PermitStatusList, new { autocomplete = "off", size = "4", style = "width: 100%" })
    </div>
    <script>
        var selectedPermitStatusId = '@Model.PermitStatusFilter.SelectedPermitStatusId';
    </script>
}