﻿@model DashboardFilterForm
<div class="filterheader ui-state-default">
    <label>Date of Issuance</label>
</div>
<div>
    @Html.DatePickerFor(form => form.PermitIssuanceDateFilter.StartDate, new { style = "width: 50px;" }) To @Html.DatePickerFor(form => form.PermitIssuanceDateFilter.EndDate, new { style = "width: 50px;" })
</div>
