﻿@model DashboardFilterForm
<div class="filterheader ui-state-default">
    @Html.LabelFor(form => form.PermitTypeFilter.SelectedPermitTypeIds)
</div>
<div>
    @Html.ListBoxFor(form => form.PermitTypeFilter.SelectedPermitTypeIds, Model.PermitTypeFilter.PermitTypeList, new { autocomplete = "off", size = "4", style = "width: 100%" })
</div>