﻿@model DashboardFilterForm
<div class="filterheader ui-state-default">
    <label>Expiration date</label>
</div>
<div>
    @Html.DatePickerFor(form => form.PermitExpirationDateFilter.StartDate, new { style = "width: 50px;" }) To @Html.DatePickerFor(form => form.PermitExpirationDateFilter.EndDate, new { style = "width: 50px;" })
</div>
