﻿@model DashboardFilterForm
<div class="filterheader ui-state-default">
    @Html.LabelFor(form => form.StandardConditionTypeFilter.SelectedStandardConditionTypeIds)
</div>
<div>
    @Html.ListBoxFor(form => form.StandardConditionTypeFilter.SelectedStandardConditionTypeIds, Model.StandardConditionTypeFilter.StandardConditionTypeList, new { autocomplete = "off", size = "4", style = "width: 100%" })
</div>