﻿@model DashboardFilterForm
<div class="filterheader ui-state-default">
    @Html.LabelFor(form => form.PermitViolationTypeFilter.SelectedViolationTypeIds)
</div>
<div>
    @Html.ListBoxFor(form => form.PermitViolationTypeFilter.SelectedViolationTypeIds, Model.PermitViolationTypeFilter.ViolationTypeList, new { autocomplete = "off", size = "4", style = "width: 100%" })
</div>
