﻿@model DashboardFilterForm
<div class="filterheader ui-state-default">
    @Html.LabelFor(form => form.WaterWithdrawalSourceFilter.WaterWithdrawalSourceId)
</div>
<div>
    @Html.DropDownListFor(form => form.WaterWithdrawalSourceFilter.WaterWithdrawalSourceId, Model.WaterWithdrawalSourceFilter.WaterWithdrawalSourceList, new { autocomplete = "off", size = "4", style = "width: 100%" })
</div>
