﻿@model DashboardFilterForm
<div class="filterheader ui-state-default">
    <label>Water Usage</label>
</div>
<div>
    <div>
        @Html.LabelFor(form => form.WaterUsageFilter.WaterUsageAmount)<br />
        @Html.TextBoxFor(form => form.WaterUsageFilter.WaterUsageAmount)<input type="button" class="go" value="Go" />
    </div>
    <div>
        @Html.LabelFor(form => form.WaterUsageFilter.AnnualAverageOverusePercent)<br />
        @Html.TextBoxFor(form => form.WaterUsageFilter.AnnualAverageOverusePercent)<input type="button" class="go" value="Go" />
    </div>
    <div>
        @Html.LabelFor(form => form.WaterUsageFilter.MonthlyMaxOverusePercent)<br />
        @Html.TextBoxFor(form => form.WaterUsageFilter.MonthlyMaxOverusePercent)<input type="button" class="go" value="Go" />
    </div>
</div>
