﻿<p>Thank you for registering with the Water Supply Information and Permitting System.</p>
<p>Please use the following information to log into your account:</p>
<p>
    Username: {username}<br />
</p>
