﻿<p>Thank you for registering with the Water Supply Information and Permitting System</p>
<p>Please confirm your registration by clicking the following link:</p>
<p>{confirmationLink}</p>
<p>
    Your account username is {username}
</p>
<p>
    Once you have confirmed your account, please proceed to the login screen. If you don't know the
    account password, follow the “Reset Password” procedure to create a new password.
</p>
