﻿@model WithdrawalLocationForm
@using (Ajax.BeginForm(MVC.Permitting.Permit.AddWaterWithdrawalLocation(), new AjaxOptions { OnSuccess = "OnAddWithdrawalLocationComplete" }, new { id = "AddWaterWithdrawalLocationForm", style = "width: 620px;" }))
{
    @Html.EditorForModel()
    <div style="display: table; margin: 0 auto; text-align: left;">
        @Html.ValidationSummary()
    </div>
    <div style="text-align: center; margin-top: 15px;">
        <input id="submitbutton" type="submit" value="Add" />
        <input id="closebutton" type="button" value="Cancel" />
    </div>
}

<script type="text/javascript">
    var $withdrawalTypes = $('#WithdrawalTypeId > option:not(:first)').remove();

    $(FilterWaterWithdrawalTypes);

    function FilterWaterWithdrawalTypes() {
        $('#WithdrawalTypeId > option:not(:first)').remove();
        $.each($withdrawalTypes, function (idx) {
            if ($(this).attr('waterwithdrawalsourceid') == $('#WithdrawalSourceId').val()) {
                $('#WithdrawalTypeId').append($(this));
            }
        });
    }

    $('#WithdrawalSourceId').change(function () {
        FilterWaterWithdrawalTypes();
        $('#WithdrawalTypeId').val('').change();
        if ($(this).val() == 1) {
            // Groundwater
            $('#surfacewatercontainer').hide();
            $('#groundwatercontainer').show();
        }
        else {
            // Surface Water
            $('#groundwatercontainer').hide();
            $('#surfacewatercontainer').show();
        }
    });

    $('#WithdrawalTypeId').change(function () {
        if (!$(this).val()) {
            $('#wellInfoContainer').hide();

            $('#SelectedStateStreamId').val('').change();
            $('#stateStreamInput').hide();
        }
        else if ($(this).val() == 1) {
            // Well
            $('#WellTagNo').mask("aa-99-9999");
            $('#wellInfoContainer').show();
        }
        else if ($(this).val() == 4) {
            $('#stateStreamInput').show();
            $('#SelectedStateStreamId').val('').change();
        }
        else {
            // Anything else
            $('#wellInfoContainer').hide();

            $('#SelectedStateStreamId').val(-1).change();
            $('#stateStreamInput').hide();
        }
    });

    $('#IsExistingWell').change(function () {
        if ($(this).is(':checked')) {
            // WellremoveAttr('disabled')
            $('#WellTagNo').removeAttr('disabled');

        }
        else {
            // Anything else
            $('#WellTagNo').attr('disabled', 'disabled');
        }
    });

    $('#SelectedStateStreamId').change(function () {
        if ($(this).val() == -1) {
            $('#OtherStreamContainer').show();
        }
        else {
            $('#OtherStreamContainer').hide();
        }
    });

    function OnAddWithdrawalLocationComplete(data) {
        $('#AddWaterWithdrawalLocationForm').closest('.ui-dialog-content').dialog('close');

        if (data.Success) {
            ApplicationWizard.IdentifyLocation.RefreshMap();
        }
    }

    $('#closebutton').click(function () {
        $(this).closest('.ui-dialog-content').dialog('close');
    });
</script>
