﻿@model FeeForm
@using (Ajax.BeginForm(MVC.Ecommerce.Fee.Create(), new AjaxOptions { OnSuccess = "onCreateFeeSuccess" }))
{
    @Html.EditorForModel()
    @Html.ValidationSummary(true)
    <div style="text-align: center; margin-top: 20px;">
        <span>
            <input type="submit" value="Create" />
            <input type="button" value="Cancel" id="CreateFeeCancelButton" />
        </span>
    </div>
}