﻿@model GraduatedFeeForm
@using (Ajax.BeginForm(MVC.Ecommerce.Fee.CreateGraduated(), new AjaxOptions { OnSuccess = "onCreateGraduatedFeeSuccess" }))
{
    @Html.EditorForModel()
    @Html.ValidationSummary(true)
    <div style="text-align: center; margin-top: 20px;">
        <span>
            <input type="submit" value="Create" id="CreateGraduatedFeeSubmitButton" />
            <input type="button" value="Cancel" id="CreateGraduatedFeeCancelButton" />
        </span>
    </div>
}