﻿@model FeeForm
@using (Ajax.BeginForm(MVC.Ecommerce.Fee.Edit(), new AjaxOptions { OnSuccess = "onEditFeeSuccess" }))
{
    @Html.EditorForModel()
    @Html.ValidationSummary(true)
    <div style="text-align: center; margin-top: 20px;">
        <span>
            <input type="submit" value="Save" />
            <input type="button" value="Cancel" id="EditFeeCancelButton" />
        </span>
    </div>
}