﻿@model GraduatedFeeForm
@using (Ajax.BeginForm(MVC.Ecommerce.Fee.EditGraduated(), new AjaxOptions { OnSuccess = "onEditGraduatedFeeSuccess" }))
{
    @Html.EditorForModel()
    @Html.ValidationSummary(true)
    <div style="text-align: center; margin-top: 20px;">
        <span>
            <input type="submit" value="Save" />
            <input type="button" value="Close" id="EditGraduatedFeeCancelButton" />
        </span>
    </div>
}