﻿@model ManageFeesForm
@{
    ViewBag.Title = "Manage Fees";
}
@Styles.Render("~/Content/jqgrid")
<div style="padding: 20px;">
    <h2>Manage Fees</h2>
    <div id="gridcontainer" style="padding: 0px 20px;">
        <div style="position: relative; margin-bottom: 10px;">
            <span>@Html.LabelFor(form => form.FeeCategoryId)</span>
            <span class="spanRightInlineBlock">@Html.DropDownListFor(form => form.FeeCategoryId, Model.FeeCategoryList, new { autocomplete = "off" })</span>
            <div style="position: absolute; right: 0; top: 0px;">
                <span id="CreateFeeLink" class="spanLink" @if (Model.FeeCategoryId == 2)
                                                          { <text>style="display: none;"</text> } data-modalcontenturl="@Url.Action(MVC.Ecommerce.Fee.Create())">Create New Flat Fee</span>
                <span id="CreateGraduatedFeeLink" class="spanLink" @if (Model.FeeCategoryId == 1)
                                                                   { <text>style="display: none;"</text> } data-modalcontenturl="@Url.Action(MVC.Ecommerce.Fee.CreateGraduated())">Create New Graduated Fee</span>
            </div>
        </div>
        <div id="FlatFees" @if (Model.FeeCategoryId == 2)
                           { <text>style="display: none;"</text> }>
            <table id="feesGrid"></table>
            <div id="feesGridPager"></div>
        </div>
        <div id="GraduatedFees" @if (Model.FeeCategoryId == 1)
                                { <text>style="display: none;"</text> }>
            <table id="graduatedFeesGrid"></table>
            <div id="graduatedFeesGridPager"></div>
        </div>
    </div>
</div>
<div id="Modal" style="display: none;"></div>
@section scripts
{
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/Scripts/jmtExtensions/jquery.jmttg-extension-jqGrid.js")
    @Scripts.Render("~/Scripts/jquery.maskedinput-1.3.1.js")
    @Scripts.Render("~/Scripts/jquery.formatCurrency-1.4.0.min.js")
    <script type="text/javascript">
        var feeGridDataAction = '@Url.Action(MVC.Ecommerce.Fee.Data())';
        var graduatedFeeGridDataAction = '@Url.Action(MVC.Ecommerce.Fee.GraduatedData())';
        var editFeeAction = '@Url.Action(MVC.Ecommerce.Fee.Edit())';
        var editGraduatedFeeAction = '@Url.Action(MVC.Ecommerce.Fee.EditGraduated())';
        var activateFeeAction = '@Url.Action(MVC.Ecommerce.Fee.Activate())';
        var deactivateFeeAction = '@Url.Action(MVC.Ecommerce.Fee.Deactivate())';

        $('#FeeCategoryId').change(function () {
            $('#CreateFeeLink').hide();
            $('#CreateGraduatedFeeLink').hide();
            $('#FlatFees').hide();
            $('#GraduatedFees').hide();

            switch ($(this).val()) {
                case '1':
                    $('#CreateFeeLink').show();
                    $('#FlatFees').show();
                    $('#feesGrid').jqGrid("fixGridWidthWithoutParentScroll");
                    break;
                case '2':
                    $('#CreateGraduatedFeeLink').show();
                    $('#GraduatedFees').show();
                    $('#graduatedFeesGrid').jqGrid("fixGridWidthWithoutParentScroll");
                    break;
                default:
                    break;
            }
        });

        function localResize() {
            $("#feesGrid,#graduatedFeesGrid").jqGrid("fixGridWidthWithoutParentScroll");
        }

        $('#Modal').dialog({
            modal: true,
            height: 'auto',
            width: 'auto',
            position: 'center',
            draggable: false,
            resizable: false,
            autoOpen: false
        });

        $('#feesGrid').jqGrid({
            colModel: [
                { name: 'ProductType', index: 'producttype', width: 300, resizable: false },
                { name: 'Description', index: 'description', width: 400, resizable: false },
                { name: 'Amount', index: 'amount', width: 60, resizable: false, formatter: 'currency', formatoptions: { prefix: '$', thousandsSeparator: ',' } },
                { name: 'EffectiveDate', index: 'effectivedate', width: 80, resizable: false },
                { name: 'LastModified', index: 'lastmodified', width: 80, resizable: false },
                { name: 'EditLink', width: 50, align: 'center', resizable: false, sortable: false, formatter: editLinkFormatter },
                { name: 'StatusLink', width: 70, align: 'center', resizable: false, sortable: false, formatter: statusLinkFormatter }
            ],
            colNames: ['Fee Type', 'Description', 'Amount', 'Effective Date', 'Last Modified', '', ''],
            height: 400,
            pager: '#feesGridPager',
            rowNum: 50,
            sortname: 'producttype',
            sortorder: 'asc',
            url: feeGridDataAction
        });

        $('#graduatedFeesGrid').jqGrid({
            colModel: [
                { name: 'ProductType', index: 'producttype', width: 150, resizable: false },
                { name: 'Description', index: 'description', width: 300, resizable: false },
                { name: 'Amount', index: 'amount', width: 80, resizable: false, formatter: 'currency', formatoptions: { prefix: '$', thousandsSeparator: ',' } },
                { name: 'EffectiveDate', index: 'effectivedate', width: 100, resizable: false },
                { name: 'LastModified', index: 'lastmodified', width: 100, resizable: false },
                { name: 'EditLink', width: 50, align: 'center', resizable: false, sortable: false, formatter: editLinkFormatter },
                { name: 'StatusLink', width: 70, align: 'center', resizable: false, sortable: false, formatter: statusLinkFormatter }
            ],
            colNames: ['Fee Type', 'Description', 'Amount', 'Effective Date',  'Last Modified', '', ''],
            height: 400,
            pager: '#graduatedFeesGridPager',
            rowNum: 50,
            sortname: 'producttype',
            sortorder: 'asc',
            url: graduatedFeeGridDataAction
        });

        function editLinkFormatter(cellvalue, options, rowObject) {
            return '<span class="spanLink editLink" data-feeid="' + rowObject.Id + '">Edit</span>';
        }

        function statusLinkFormatter(cellvalue, options, rowObject) {
            if (rowObject.Active) {
                return '<span class="spanLink deactivateLink" data-feeid="' + rowObject.Id + '">Deactivate</span>';
            }
            else {
                if (rowObject.CanBeActivated) {
                    return '<span class="spanLink activateLink" data-feeid="' + rowObject.Id + '">Activate</span>';
                }
                else {
                    return 'No Rules';
                }
            }
        }

        $('#feesGrid').on('click', '.editLink', function () {
            $.ajax({
                url: editFeeAction,
                type: 'GET',
                data: { id: $(this).attr('data-feeid') },
                success: function (result) {
                    BindModalContent(result);

                    $('#Modal #FeeAmount').formatCurrency().blur(function () {
                        $(this).formatCurrency();
                    });

                    $('#EditFeeCancelButton').unbind();
                    $('#EditFeeCancelButton').click(function () {
                        $('#Modal').dialog('close');
                    });

                    $('#Modal').dialog('close');
                    $('#Modal').dialog('option',
                        {
                            title: 'Edit Fee',
                            width: 400,
                            close: function () {
                                $('#feesGrid').trigger('reloadGrid');
                            }
                        }).dialog('open');
                }
            });
        });

        $('#graduatedFeesGrid').on('click', '.editLink', function () {
            OpenEditGraduatedFeeModal($(this).attr('data-feeid'));
        });

        $('#feesGrid,#graduatedFeesGrid').on('click', '.activateLink', function () {
            var $grid = $(this);
            $.ajax({
                url: activateFeeAction,
                type: 'POST',
                data: { id: $(this).attr('data-feeid') },
                success: function (result) {
                    if (result.Success) {
                        $grid.trigger('reloadGrid');
                    }
                }
            });
        });

        $('#feesGrid,#graduatedFeesGrid').on('click', '.deactivateLink', function () {
            if (confirm('Are you sure you want to deactivate this fee?')) {
                var $grid = $(this);
                $.ajax({
                    url: deactivateFeeAction,
                    type: 'POST',
                    data: { id: $(this).attr('data-feeid') },
                    success: function (result) {
                        if (result.Success) {
                            $grid.trigger('reloadGrid');
                        }
                    }
                });
            }
        });

        $('#CreateFeeLink').click(function () {
            $.ajax({
                url: $(this).attr('data-modalcontenturl'),
                type: 'GET',
                success: function (result) {
                    BindModalContent(result);

                    $('#Modal #FeeAmount').blur(function () {
                        $(this).formatCurrency();
                    });

                    $('#CreateFeeCancelButton').unbind();
                    $('#CreateFeeCancelButton').click(function () {
                        $('#Modal').dialog('close');
                    });

                    $('#Modal').dialog('close');
                    $('#Modal').dialog('option',
                        {
                            title: 'Create New Fee',
                            width: 400,
                            close: function () {
                                $('#feesGrid').trigger('reloadGrid');
                            }
                        }).dialog('open');
                }
            });
        });

        $('#CreateGraduatedFeeLink').click(function () {
            $.ajax({
                url: $(this).attr('data-modalcontenturl'),
                type: 'GET',
                success: function (result) {
                    BindModalContent(result);

                    $('#CreateGraduatedFeeCancelButton').unbind();
                    $('#CreateGraduatedFeeCancelButton').click(function () {
                        $('#Modal').dialog('close');
                    });

                    $('#Modal').dialog('close');
                    $('#Modal').dialog('option',
                        {
                            title: 'Create New Graduated Fee',
                            width: 400,
                            close: function () {
                                $('#graduatedFeesGrid').trigger('reloadGrid');
                            }
                        }).dialog('open');
                }
            });
        });

        function onCreateFeeSuccess(result) {
            $('#Modal').dialog('close');
        }

        function onCreateGraduatedFeeSuccess(result) {
            if (result.Success) {
                OpenEditGraduatedFeeModal(result.Id);
            }
        }

        function OpenEditGraduatedFeeModal(id) {
            $.ajax({
                url: editGraduatedFeeAction,
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    BindModalContent(result);

                    $('#EditGraduatedFeeCancelButton').unbind();
                    $('#EditGraduatedFeeCancelButton').click(function () {
                        $('#Modal').dialog('close');
                    });

                    $('#Modal').dialog('close');
                    $('#Modal').dialog('option',
                        {
                            title: 'Edit Graduated Fee',
                            width: 400,
                            close: function () {
                                $('#graduatedFeesGrid').trigger('reloadGrid');
                            }
                        }).dialog('open');
                }
            });
        }

        function onEditFeeSuccess(result) {
            $('#Modal').dialog('close');
        }

        function onEditGraduatedFeeSuccess(result) {
            $('#Modal').dialog('close');
        }

        function BindModalContent(content) {
            $('#Modal').html(content);

            $.validator.unobtrusive.parse($('#Modal'));

            $('#Modal input[type="checkbox"]').checkbox();
            $('#Modal input[type=button],input[type=submit],button').button();

            $('#Modal .date').datepicker({ changeYear: true, changeMonth: true });
            $('#Modal .date').mask("99/99/9999");
        }

        $(document).resize(function () {
            $('#Modal').dialog('option', 'position', 'center');
        });
    </script>
}