﻿<style>
.spanSetWidth {
    display: inline-block;
    width: 50%;
}
</style>

<div class="contactContainer" style="padding: 10px; display: none">
    <div class="">
        <span class=" spanSetWidth spanSetWidthAlignRightPadded">First Name: </span>
        <span class="firstname"></span>
    </div>
    <div class="">
        <span class=" spanSetWidth spanSetWidthAlignRightPadded">Middle Initial: </span>
        <span class="middleInitial"></span>
    </div>
    <div>
        <span class=" spanSetWidth spanSetWidthAlignRightPadded">Last Name: </span>
        <span class="lastName"></span>
    </div>
    <div>
        <span class=" spanSetWidth spanSetWidthAlignRightPadded">Business Name: </span>
        <span class="businessName"></span>
    </div>
    <div>
        <span class=" spanSetWidth spanSetWidthAlignRightPadded">Address 1: </span>
        <span class="address1"></span>
    </div>
    <div>
        <span class=" spanSetWidth spanSetWidthAlignRightPadded">Address 2: </span>
        <span class="address2"></span>
    </div>
    <!--<div class="">
        <span class=" spanSetWidth spanSetWidthAlignRightPadded">Secondary Name: </span>
        <span class="secondaryName"></span>
    </div>-->
    <div>
        <span class=" spanSetWidth spanSetWidthAlignRightPadded">City: </span>
        <span class="city"></span>
    </div>
    <div>
        <span class=" spanSetWidth spanSetWidthAlignRightPadded">ZipCode: </span>
        <span class="zipCode"></span>
    </div>
    <div>
        <span class=" spanSetWidth spanSetWidthAlignRightPadded">Telephone Number: </span>
        <span class="telephoneNumber"></span>
    </div>
    <div>
        <span class=" spanSetWidth spanSetWidthAlignRightPadded">Email Address: </span>
        <span class="emailAddress"></span>
    </div>
</div>
