﻿@using MDGov.MDE.WSIPS.Portal.InternalWeb.Areas.Permitting.Models.Forms
@{
    ViewBag.Title = "Merge Contacts";
}

@section css {
    @Styles.Render("~/Content/jqgrid")

    <style>
        .disabled
        {
            opacity: 0.5;
            cursor: default;
            border: 1px solid #AAAAAA;
        }
    </style>
}
<div style="padding: 20px">
    <h2>Merge Contacts</h2>
    <div style="padding-bottom: 20px">To merge contacts you must search for and select two contacts and choose which one to "keep" by clicking "Keep this One" beneath the appropriate contact. Any permits that were formerly associated with the contact not kept will now be associated with the contact that was kept.</div>

    <div id="contactSearchResult" style="display: none">
        @Html.Partial(MVC.Permitting.Permit.Views.ContactSearchResult)
    </div>
    <div id="contactSearch" style="display: none">
        @Html.Partial(MVC.Permitting.Permit.Views.DetailsPartials._ContactSearch, new ContactSearchForm { SearchContext = SearchContext.MergeContacts })
    </div>

    <div id="MergedSuccessfullyDialog" title="Merge Complete" style="display: none; text-align: center;">
        Contacts Successfully Merged
    </div>

    <div id="first" style="border-right: 1px solid #93bf5b; width: 49%; float: left; bottom: 0px;">
        <span class="spanLink searchForContact" style="text-align: center" onclick="Search('first')">Search For Contact</span>
        @Html.Partial(MVC.Contact.Views.MergeContactPartial)
        <div style="text-align: center">
            <input class="keepbutton disabled" disabled="disabled" style="display: none;" type="button" value="Keep This One" onclick='ContactSearchResult.DoMerge($(this))' />
        </div>
    </div>

    <div id="second" style="width: 49%; float: right; bottom: 0px">
        <span class="spanLink searchForContact" style="text-align: center" onclick="Search('second')">Search For Contact</span>
        @Html.Partial(MVC.Contact.Views.MergeContactPartial)
        <div style="text-align: center">
            <input class="keepbutton disabled" disabled="disabled" style="display: none;" type="button" value="Keep This One" onclick='ContactSearchResult.DoMerge($(this))' />
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/Scripts/jmtExtensions/jquery.jmttg-extension-jqGrid.js")
    @Scripts.Render("~/Scripts/Helper.js")
    @Scripts.Render("~/Scripts/underscore.js")
    @Scripts.Render("~/Scripts/ViewScripts/Permit/Base/BaseContactSearch.js")
    @Scripts.Render("~/Scripts/ViewScripts/Permit/Base/BaseContactSearchResult.js")
    @Scripts.Render("~/Scripts/ViewScripts/Contact/MergeContacts.js")

    <script type="text/javascript">
        var global = {
            currentStep: 0,
            CurrentlySearching: ""
        };

        var Steps = {
            ContactSearchResult: ""
        };

        var ContactType = {
            WaterUser: "",
            LandOwner: "",
            Consultant: ""
        };

        var urls = {
            getContactAction: '@Url.Action(MVC.Contact.GetContact())',
            mergeContactsAction: '@Url.Action(MVC.Contact.MergeContacts())'
        };

        ContactSearch.GridDataUrl = '@Url.Action(MVC.Permitting.Permit.SearchContact())';
        ContactSearch.CallBack = ContactSearchResult.DisplayContact;

        function Search(divId) {
            ContactSearchResult.BeginSearch(divId);
        }
    </script>
}